@using System.Globalization;
@using NBZGM.XTBG.CustomModels;
@using NBZGM.XTBG.Models;
@{
    ViewBag.Title = "智慧钟公庙协同办公系统";
    UserInfo UserEntity = ViewBag.UserEntity;
    List<SYS_FUNCTIONS> FunctionEntities = ViewBag.FunctionEntities;
}
<div class="header">
    <div class="pull-left">
        <img src="/Images/images/logo_login.png" style="" />
    </div>
    @if (ViewBag.Weather != null)
    {
        DateTime nowDt = DateTime.Now;
        <div class="pull-right">
            <div style="font-size: 2em;">
                <span id="week">@CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(nowDt.DayOfWeek)</span>
                @if (string.IsNullOrEmpty(ViewBag.Weather.weather1))
                {
                    <big id="weather" class="@ViewBag.Weather.weather1"></big>
                }
                else
                {
                    <big id="weather" class="@ViewBag.Weather.weather2"></big>
                }
                @if (!string.IsNullOrEmpty(ViewBag.Weather.currentTemperature1))
                {
                    <span id="currentTemperature">@ViewBag.Weather.currentTemperature1℃</span>
                }
                else
                {
                    <span id="currentTemperature">@ViewBag.Weather.currentTemperature2℃</span>
                }
            </div>
            <div>
                <span id="date">@nowDt.ToShortDateString()</span>
                <span id="city">宁波</span>
                <span id="temperature">
                    @if (!string.IsNullOrEmpty(ViewBag.Weather.currentTemperature1))
                    {
                        <span>@ViewBag.Weather.currentTemperature1℃~</span>
                    }
                    @ViewBag.Weather.currentTemperature2℃</span>
            </div>
        </div>
    }
</div>

<div class="tool">
    <div id="tool-left" class="pull-left">
        <ul class="nav nav-tabs" role="tablist">
        </ul>
    </div>
    <div id="tool-right" class="pull-right">
        <a href="http://www.baidu.com" target="_blank"><i class="icon-search" title="百度一下"></i></a>
        <a href="http://www.baidu.com" target="_blank"><i class="icon-question-sign" title="帮助信息"></i></a>
        <i class="icon-double-angle-up" id="angle-up" title="折叠/展开"></i>
        <a href="/Home/Login"><i class="icon-signout" aria-hidden="true" title="退出"></i></a>
        <span class="topright">
            <span class="imageDiv">
                <img src="/Images/城管执法1.jpg" class="userImage">
            </span>
            <span>
                <span>@UserEntity.UnitName</span>
                <span>@UserEntity.UserName</span>
            </span>
        </span>
    </div>
</div>

<div id="center">
    <div id="center-left" class="pull-left text-center">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" id="li-angle-left">
                <a title="折叠/展开">
                    <img src="/Images/icon/icon_左侧导航_收起.png" id="i-angle-left" />
                </a>
            </li>
            @foreach (SYS_FUNCTIONS function in FunctionEntities)
            {
                <li role="presentation">
                    <a role="tab" data-toggle="tab" aria-controls="@function.CODE" data-url="@function.CODE" href="#@function.CODE">
                        <img src="~/Images/icon/@function.ICONPATH" />
                        <span>@function.NAME</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <div id="center-right" class="pull-right tab-content">
    </div>
</div>
<div class="clear"></div>
<div id="footer">
    <div class="pull-left">
        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
        杭州天尊信息技术有限公司
    </div>
    智慧钟公庙管理平台
    <div class="pull-right">
        <span class="glyphicon glyphicon-volume-up" aria-hidden="true" id="volume"></span>
    </div>
</div>

<div id="modal-lg" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="modal-sm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="modalUnread" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@section css{
    <link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />
    <link href="~/Scripts/Weather.css" rel="stylesheet" />
    <style type="text/css">
        .topright {
            float: right;
            line-height: 2em;
        }

            .topright > span > span {
                position: relative;
                top: 4px;
            }

            .topright span {
                margin-right: 0.25em;
            }

        .imageDiv {
            background-color: #FFFFFF;
            border-radius: 2em;
            float: left;
            padding: 2px;
        }

        .userImage {
            border-radius: 50%;
            height: 2em;
            width: 2em;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">
        function showLgModel(src) {
            $('#modal-lg .modal-content').html('');
            $('#modal-lg .modal-content').load(src);
            $('#modal-lg').modal('show');
        }
        function showSmModel(src) {
            $('#modal-sm .modal-content').html('');
            $('#modal-sm .modal-content').load(src);
            $('#modal-sm').modal('show');
        }
        function showModel(src) {
            $('#modal .modal-content').html('');
            $('#modal .modal-content').load(src);
            $('#modal').modal('show');
        }
        function showUnreadModel(src) {
            $('#modalUnread .modal-content').html('');
            $('#modalUnread .modal-content').load(src);
            $('#modalUnread').modal('show');
        }
        function IsUnread() {
            var reUnreadDate = $.cookie('IsUnread');
            if (reUnreadDate != '' || reUnreadDate != null) {
                var d = new Date(reUnreadDate);
                if (d > new Date()) {
                    return;
                }
            }
            try {
                $.post('/Common/IsUnread', function (data) {
                    if (data.Status = 'success' && data.count > 0) {
                        showUnreadModel('/Common/Unread');
                    }
                }, 'json');
            } catch (err) {
                console.log(err);
            }
        }
        $(document).ready(function () {
            setInterval('IsUnread()', 1000 * 60 * 5);
            $('#modalUnread').on('show.bs.modal', function () {
                var $this = $(this);
                var $modal_dialog = $this.find('.modal-dialog');
                $this.css('display', 'block');
                $modal_dialog.css({ 'margin-top': Math.max(0, ($(window).height() - 250) / 2) });
            });
            $('#volume').on('click', function () {
                showUnreadModel('/Common/Unread');
            });
            $('#center-left').on('click', 'a', function () {
                var $dataUrl = $(this).attr('data-url');
                var $tabPane = $($(this).attr('href'));
                if ($dataUrl != undefined) {
                    if ($tabPane.length == 0) {
                        $('#tool-left ul').append(
                            '<li class="" role="presentation">\
                                <a role="tab" data-toggle="tab" aria-controls="' + $dataUrl + '" data-url="' + $dataUrl + '" href="#' + $dataUrl + '">\
                                    <span>' + $(this).find("span").text() + '</span>\
                                    <span aria-hidden="true" class="closeTab" data-url="' + $dataUrl + '">&times;</span>\
                                </a>\
                            </li>'
                        );
                        $('.tab-content').append(
                            '<div role="tabpanel" class="tab-pane active" id="' + $dataUrl + '">\
                                <iframe name="ifr' + $dataUrl + '" id="ifr' + $dataUrl + '" src="/' + $dataUrl + '"></iframe>\
                            </div>'
                        );
                    }
                }
                $('#tool-left ul li a[data-url="' + $dataUrl + '"]').tab('show');
            });
            if ($('#center-left a').length != 1) {
                $('#center-left a:eq(1)').trigger('click');
            }
            $('#tool-left').on('click', '.closeTab', function () {
                var $dataUrl = $(this).attr('data-url');
                $('#' + $dataUrl).remove();
                var li = $(this).parents('li');
                var li2 = li.prev();
                if (li2.length == 0) {
                    li2 = li.next();
                }
                li2.find('a').tab('show');
                li.remove();
            });
            var isHiden = false;
            $('#angle-up').click(function () {
                $('.header').toggle('fast');
                if (isHiden) {
                    $('#center-left,#center-right').animate({ height: '-=78px' });
                    $('#angle-up').removeClass('icon-double-angle-down').addClass('icon-double-angle-up');
                } else {
                    $('#center-left,#center-right').animate({ height: '+=78px' });
                    $('#angle-up').removeClass('icon-double-angle-up').addClass('icon-double-angle-down');
                }
                isHiden = !isHiden;
            });
            var isHiden2 = false;
            $('#li-angle-left').click(function () {
                if (isHiden2) {
                    $('#tool-left').removeClass('tool-left');
                    $('#center-left').removeClass('center-left');
                    $('#center-right').removeClass('center-right');
                    $('#i-angle-left').attr('src', '/Images/icon/icon_左侧导航_收起.png');//removeClass('icon-double-angle-right').addClass('icon-double-angle-left');
                } else {
                    $('#tool-left').addClass('tool-left');
                    $('#center-left').addClass('center-left');
                    $('#center-right').addClass('center-right');
                    $('#i-angle-left').attr('src', '/Images/icon/icon_左侧导航_展开.png');//removeClass('icon-double-angle-left').addClass('icon-double-angle-right');
                }
                isHiden2 = !isHiden2;
            });
        });
    </script>
}