@model Taizhou.PLE.Model.ZFSJModels.EventReport
@{
    ViewBag.Title = "EnforceLaw";
    Layout = "~/Views/IntegratedService/EnforceLawEventManagement/_LayoutEnforceLawEventManagement.cshtml";
}

@section HeadStyles_EnforceLawEventManage
    {
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Content/workflowCommonForm.css" rel="stylesheet" />
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />
    <style type="text/css">
        table th {
            width: 80px;
        }

        table tr input.large {
            width: 98%;
        }

        table tr input.small {
            width: 94%;
        }

        .fontStyle * {
            font-family: 宋体 !important;
        }

        #docItems {
            display: table;
        }

            #docItems .grid {
                margin: 5px;
                width: 200px;
                float: left;
                cursor: pointer;
                border: 1px solid #fff;
            }

                #docItems .grid .grid-content .c_avatar {
                    width: 48px;
                    float: left;
                }

                    #docItems .grid .grid-content .c_avatar img {
                        height: 48px;
                        width: auto;
                        border: 0px;
                    }

                #docItems .grid .grid-content .conversation-info {
                    float: left;
                    margin-left: 8px;
                    width: 122px;
                    margin-top: 0px;
                }

                    #docItems .grid .grid-content .conversation-info .conversation-title {
                        margin-left: 0px;
                        margin-top: 0px;
                        font-size: 12px;
                        width: 122px;
                        height: 30px;
                        line-height: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                        #docItems .grid .grid-content .conversation-info .conversation-title SPAN {
                            font-weight: normal;
                        }

                    #docItems .grid .grid-content .conversation-info .conversation-date-status {
                        height: 14px;
                        line-height: 14px;
                        margin-top: 2px;
                    }

        .selectItem {
            border-color: rgb(78,169,236) !important;
            background-color: rgb(216,234,255);
        }

        #docItems .grid:hover {
            border-color: rgb(185,215,252);
            background-color: rgb(246,250,255);
        }

        .docBtn {
            /*font-weight: bold;*/
            font-size: 13px;
            width: 150px;
            margin: 5px 0px;
            text-align: left;
        }

        .inf_link {
            margin-left: -16px;
            margin-top: -4px;
        }

        .ui-xbox-shadow {
            overflow: hidden;
            position: absolute;
            visibility: visible;
            left: 0px;
            top: 0px;
            z-index: 997;
            filter: alpha(opacity=20);
            background-image: none;
            background-attachment: scroll;
            background-repeat: repeat;
            background-position-x: 0%;
            background-position-y: 0%;
            background-color: rgb(0,0,0);
        }

        .ui-xbox {
            position: absolute;
            z-index: 998;
            width: 220px;
            height: 100px;
            visibility: visible;
            text-align: center;
        }

        .leftbar-search {
            width: 250px;
            float: left;
            border: 1px solid gray;
        }

        .content-search {
            border: 1px solid gray;
        }
    </style>
}
@section FootScripts_EnforceLawEventManage{
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>
    <script src="~/Scripts/js/IntegratedService/CaseManagement/Workflow/workflow.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[name=FXSJ]").datetimepicker();
            $("#QuestionDLID").change(function () {
                var questionDLID = $(this).val();

                $.get("/EnforceLaw/GetQuestionXL", { questionDLID: questionDLID },
                    function (data) {
                        $("#QuestionXLID").empty();
                        $("#QuestionXLID").append("<option value=''>请选择小类</option>");
                        $.each(data, function (i, item) {
                            $("#QuestionXLID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                    });
            });

            $("#veto").click(function () {
                $("#bc").val("1");
                $("#EventReport")[0].submit();
            });
        });

        //地图描点
        var geometry = "";
        function mapInited() {
            setTimeout(function () {
                var DTMD = $("input[name=DTWZ]")[0].value;
                if (DTMD) {
                    var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                    mapCtrl.AddMarker(DTMD);
                }
            }, 1000)
        }
        //地图坐标点
        function mapDraw(s) {
            geometry = s;
            document.getElementById("DTWZ").value = geometry;
        }

        function goback() {
            window.location.href = "/EnforceLaw/TaskList/";
        }

        function FormSubmit() {
            $("#btn-success").attr("disabled", "disabled");

            return true;
        }

        //地图描点
        var geometry = "";
        function mapInited() {
            setTimeout(function () {
                var DTMD = $("input[name=DTWZ]")[0].value;
                if (DTMD) {
                    var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                    mapCtrl.AddMarker(DTMD);
                }
            }, 1000)
        }
        //地图坐标点
        function mapDraw(s) {
            geometry = s;
            document.getElementById("DTWZ").value = geometry;
        }

        $("#confirm").click(function () {
            document.getElementById("DTWZShow").value = geometry;
            document.getElementById("DTWZ").value = geometry;
            $("#mapDepicting").modal('hide');
        });

        $("#back").click(function () {
            $("#mapDepicting").modal('hide');
        });


        //大队下拉列表改变
        $("#SSQJID").change(function () {
            $.ajax({
                type: "POST",
                url: "/Approval/GetZD",
                data: { DDID: $(this).val() },
                cache: false,
                success: function (data) {
                    $("#SSZDID").empty();
                    $("#SSZDID").append("<option value=''>请选择</option>");
                    $.each(data, function (i, item) {
                        $("#SSZDID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });
                }
            });
        })

        function changeEventSourceID() {
            var EventSourceID = $("#EventSourceID").val();
            if (EventSourceID == 4) {
                $("#EventSource").css("display", "none");
            } else {
                $("#EventSource").css("display", "");
            }
        }
    </script>
}
@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">执法事件</a></li>
            <li>></li>
            <li class="active">队员上报</li>
        </ul>
    </div>
}

<div class="row-fluid">
    <div class="span12" id="tabledata">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>队员上报               
            </div>
            <div class="box-content">

                <div class="tab-content">
                    <div class="tab-pane active" id="detail">
                        <form method="post" enctype="multipart/form-data" action="/EnforceLaw/Commit" id="EventReport">
                            <div class="title" style="margin-bottom: 30px;">
                                队员上报
                            </div>
                            <table class="table table-bordered">
                                <tr>
                                    <th style="text-align: center; line-height: 30px;">事件标题
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <input type="text" name="EventTitle" id="EventTitle" class="small" />
                                            </div>
                                        </div>
                                    </td>
                                    <th style="text-align: center; line-height: 30px;">事件来源
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.DropDownList("EventSourceID", ViewBag.EventSource as IEnumerable<SelectListItem>, new { onchange = "changeEventSourceID()" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px">相关联系人
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.TextBoxFor(model => model.XGLXR, new { @class = "small" })
                                            </div>
                                        </div>
                                    </td>
                                    <th style="text-align: center; line-height: 30px">相关联系人电话
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.TextBoxFor(model => model.XGLXRDH, new { @class = "small" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px;">事件地址
                                    </th>
                                    <td colspan="3">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <input type="text" id="EventAddress" name="EventAddress" class="large" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px;">事件内容
                                    </th>
                                    <td colspan="3">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.TextArea("Content", new { @style = "width:98%" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px;">问题大类
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.DropDownList("QuestionDLID", ViewBag.QuestionDL as IEnumerable<SelectListItem>, "请选择大类")
                                            </div>
                                        </div>
                                    </td>
                                    <th style="text-align: center; line-height: 30px;">问题小类
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <select id="QuestionXLID" name="QuestionXLID">
                                                    <option value="">请选择小类</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="EventSource">
                                    <th style="text-align: center; line-height: 30px;">指挥中心
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.DropDownList("SSQJID", ViewBag.ZSYDD as IEnumerable<SelectListItem>)
                                            </div>
                                        </div>
                                    </td>
                                   @* <th style="text-align: center; line-height: 30px;">所属中队
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.DropDownList("SSZDID", ViewBag.ZSYDDYZD as IEnumerable<SelectListItem>)
                                            </div>
                                        </div>
                                    </td>*@
                               
                                    <th style="text-align: center; line-height: 30px;">发现时间
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <input type="text" id="FXSJ" name="FXSJ" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" class="small"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px">地图位置</th>
                                    <td colspan="3">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                            </div>
                                            @Html.HiddenFor(model => model.DTWZ)
                                            <div id="silverlightControlHost" style="width: 100%; height: 320px;">
                                                <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="320px" width="100%">
                                                    <param name="source" value="/ClientBin/MapCtrl.xap" />
                                                    <param name="background" value="white" />
                                                    <param name="minRuntimeVersion" value="5.0.61118.0" />
                                                    <param name="autoUpgrade" value="true" />
                                                    @*<param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://www.arcgisonline.cn/ArcGIS/rest/services/ChinaOnlineCommunity/MapServer,X1=13518954.8851951,Y1=3485438.4251543,X2=13541927.6179195,Y2=3475859.38899982,Mode=2,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />*@
                                                    <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://172.16.2.118/arcgis/rest/services/zhcg/MapServer,X1=354726.449142387,Y1=3304158.51172767,X2=362321.356817933,Y2=3301334.4558673,Mode=2,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />
                                                    <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                                        <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                                    </a>
                                                </object>
                                                <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <th style="text-align: center; line-height: 30px;">附件上传</th>

                                    <td style="line-height: 30px" colspan="3">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <div>
                                                    <input type="text" name="material1Text" style="width: 200px;" value="事件照片一">
                                                    <input type="file" name="material1" id="material1" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" />
                                                </div>
                                                <div style="margin-top: 5px; width: 100%">
                                                    <input type="text" name="material2Text" style="width: 200px;" value="事件照片二" />
                                                    <input type="file" name="material2" id="material2" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" />
                                                </div>
                                                <div style="margin-top: 5px;">
                                                    <input type="text" name="material3Text" style="width: 200px;" value="事件照片三" />
                                                    <input type="file" name="material3" id="material3" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" />
                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                            </table>
                            <div class="form-group" style="margin-bottom: 5px; margin-left: 130px;">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="submit" class="btn btn-success" value="提　交" onsubmit="return FormSubmit();">
                                    @*<input id="veto" type="button" class="btn btn-primary" value="暂　存">*@
                                    <a style="margin-left: 5px;" href="javascript:void(0)" class="btn goBack" onclick="goback();">返　回</a>
                                </div>
                            </div>
                            @Html.Hidden("bc")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
