@model Taizhou.PLE.Model.MESSAGE
@using Taizhou.PLE.BLL.MessageBLLs
<form class="form-horizontal">
                <table class="table table-bordered">
                    <tr>
                        <th style="padding-left:50px!important">
                            发件人
                        </th>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" style="margin-left: 10px;">
                                  @MessageBLL.GetFromUserNamebyFromUserID(Model.FROMUSERID)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left:50px!important">                      
                              收件人                    
                        </th>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" style="margin-left: 10px;">
                                @MessageBLL.GetToUserNamebyToUserID(Model.TOUSERID)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left:50px!important">
                            消息标题
                        </th>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" style="margin-left: 10px;">
                                   @Model.TITLE
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left:50px!important">
                            消息类型
                        </th>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" style="margin-left: 10px;">
                                @MessageBLL.GetMessageTypeNameByTypeID((decimal)Model.TYPEID)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left:50px!important">
                            提醒方式
                        </th>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" style="margin-left: 10px;">
                                    @MessageBLL.GetMessageSendChannels(Model.SENDCHANNELS)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left:50px!important">
                            消息内容
                        </th>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" style="margin-left: 10px;">
                                    @Model.CONTENT
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left:50px!important">
                            创建时间
                        </th>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" style="margin-left: 10px;">            
                                    @string.Format("{0:yyyy-MM-dd HH:mm:ss}",Model.CREATEDTIME)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left:50px!important">
                            阅读时间
                        </th>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" style="margin-left: 10px;">
                                      @string.Format("{0:yyyy-MM-dd HH:mm:ss}",Model.READTIME)
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button id="checkMessage" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</button>
                </div>
            </form>
