@{
    Layout = null;
}
@model ZGM.Model.QWGL_AREAS
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>区域管理</title>
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>

    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <link href="~/Content/css/OA.css" rel="stylesheet" />

    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>

    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });
            $("#AddAreaType").css("width", "150px");
            $("#selectUser").click(function () {
                $("#tip1").fadeIn(200);
            });
            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $("#SetUser").click(function () {
                $("#tip2").fadeIn(200);
            });
            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });
            $("#pageback").click(function () {
                location.href = "/RegionalManagement/Index";
            })
            $("#usual1 ul").idTabs();
            $('.tablelist tbody tr:odd').addClass('odd');
            GetDataTable();

            $("#AddAreaType").change(function(){
                if ($("#AddAreaType option:selected").val() == 0)
                    $(".resttype-1,.resttype-2").show();
                if ($("#AddAreaType option:selected").val() == 1) {
                    $(".resttype-1").show();
                    $(".resttype-2").hide();
                }
                if ($("#AddAreaType option:selected").val() == 2) {
                    $(".resttype-2").show();
                    $(".resttype-1").hide();
                }
            })
        });

        var oTable;
        //填充区域列表
        function GetDataTable() {
            oTable = $('#RegionalTableContent').dataTable({
                sServerMethod: "POST",
                sAjaxSource: "/RegionalManagement/RegionalManagement_Grid",
                fnServerParams: function (aoData) {
                    aoData.push(
                        { "name": "AreaName", "value": $("#AreaName").val() }
                        );
                },
                aoColumns: [

                    { mDataProp: "AREANAME" },
                    { mDataProp: "AREADESCRIPTION" },
                    {
                        mDataProp: function (data) {
                            var parentUnitID = $("#ParentUnitID").val();
                            var edit = "<a class='btn_ico_a_edit'  href='#' onclick=\"EditAreaShow('" + data.AREAID + "')\"><img src='/Images/btnimage/edit.png' class='btn_ico_image' />编辑</a>";
                            var del = "<a class='btn_ico_a_delete' href='#' onclick=\"Delete('" + data.AREAID + "')\"><img src='/Images/btnimage/delete.png' class='btn_ico_image' />删除</a>";
                            return edit + "  " + del;
                        }, "sClass": "center"
                    }
                ],
                aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                fnDrawCallback: function (oSettings) {
                    var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                    var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                    $currentPager.attr("style", "font-weight :bold;!important");
                }
            });
        }



        function mapInited() {
            setTimeout(function () {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                var Geometry = $("#Geometry").val();
                var Color = $("#Color").val();
                mapCtrl.AddPolygon(Color, Geometry);
            }, 1000)
        }

        function mapDraw(color,s) {
            var a = $("#Geometry").val();
            a = s;
            $("#Geometry").val(s);
            $("#Color").val(color);

        }

        function mapClear() {
            var a = "";
            $("#Geometry").val(a);
        }


        //查询
        function Search() {
            oTable.fnPageChange('first', true);
            oTable.fnClearTable(false);
        }

        //提交保存
        function Submit() {
            $("#ShowOrHide").hide();
            if ($("#AddAreaType").val() == 0) {
                layer.alert('请选择区域类型!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });

                return false;
            }
            if ($("#AddAreaName").val() == "") {
                layer.alert('请填写区域名称!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });

                return false;
            }
            if ($("#AddAreaDescription").val() == "") {
                layer.alert('请填写区域描述!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });

                return false;
            }
            if ($("#Geometry").val() == "") {
                layer.alert('请选择地图位置!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });

                return false;
            }

            var restlist = new Array();
            $('input:checkbox[name=RESTID]:checked').each(function () {
                restlist.push($(this).val());
            });

            $.ajax({
                type: "POST",
                url: "/RegionalManagement/SubmitAddArea",
                async: false,
                data: {
                    restlist: "" + restlist + "",
                    AreaTypeID: $("#AddAreaType").val(),
                    AreaName: $("#AddAreaName").val(),
                    AreaDescription: $("#AddAreaDescription").val(),
                    Geometry: $("#Geometry").val(),
                    Color: $("#Color").val(),
                },
                success: function (data) {
                    if (data == "添加成功") {
                        layer.alert(data, { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/RegionalManagement/Index";
                        });
                    }
                    else {
                        layer.alert(data, { icon: 11, skin: 'layer-ext-seaning' });
                    }
                }
            })
        }

        //提交修改
        function Edit(areaid) {
            $("#ShowOrHide").hide();
            if ($("#AddAreaName").val() == "") {
                layer.alert('请填写区域名称!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }
            if ($("#AddAreaDescription").val() == "") {
                layer.alert('请填写区域描述!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }
            if ($("#Geometry").val() == "") {
                layer.alert('请选择地图位置!', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                }, function (index) { $("#ShowOrHide").show(); layer.close(index); });
                return false;
            }
            var restlist = new Array();
            $('input:checkbox[name=RESTID]:checked').each(function () {
                restlist.push($(this).val());
            });


            $.ajax({
                type: "POST",
                url: "/RegionalManagement/SubmitEditArea",
                data: {
                    restlist: "" + restlist + "",
                    AreaId: $("#editbtn").text(),
                    AreaTypeID: $("#AddAreaType").val(),
                    AreaName: $("#AddAreaName").val(),
                    AreaDescription: $("#AddAreaDescription").val(),
                    Geometry: $("#Geometry").val(),
                    Color:$("#Color").val()
                },
                success: function (date) {
                    if (date == "修改成功") {
                        layer.alert(date, { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/RegionalManagement/Index";
                        });
                    }
                    else {
                        layer.alert(date, { icon: 11, skin: 'layer-ext-seaning' });
                    }
                }
            })
        }

        //删除区域
        function Delete(areaid) {
            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "/RegionalManagement/DeleteArea?AreaId=" + areaid,
                    async: false,
                    success: function (data) {
                        if (data == "1") {
                            layer.alert("删除成功", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/RegionalManagement/Index";
                            });
                        } else {
                            layer.alert("删除失败", { icon: 0, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/RegionalManagement/Index";
                            });
                        }
                    }
                })
            }, function () {
                layer.close();
            });
        }

        //区域编辑显示
        function EditAreaShow(areaid) {
            $.ajax(
                {
                    type: 'GET',
                    url: '/RegionalManagement/EditAreaShow?random=' + Math.random(),
                    data: { AreaID: areaid },
                    success: function (data) {
                        $(".itab a:eq(1)").click();
                        $(".itab a:eq(1)").text("区域编辑");
                        $("#addbtn").hide();
                        $("#editbtn").show();
                        $("#editbtn").text(areaid);
                        $("#AddAreaName").val(data.modelc.AREANAME);
                        $("#AddAreaDescription").val(data.modelc.AREADESCRIPTION);
                        $("#AddAreaType").val(data.modelc.AREAOWNERTYPE).prop("selected", true);
                        $("#Geometry").val(data.modelc.GEOMETRY);
                        $("#Color").val(data.modelc.COLOR);

                        $('input:checkbox[name=RESTID]').each(function (i, item) {
                            $.each(data.modelc.list, function (n, value) {
                                if (item.value == value.RESTID) {
                                    item.checked = true;
                                }
                            })
                        });
                    }
                });
        }

    </script>

</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>区域管理</li>
        </ul>
    </div>
    <div class="formbody">
        <div id="usual1" class="usual">
            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">区域列表</a></li>
                    <li><a href="#tab2">添加区域</a></li>
                </ul>
            </div>
            <div id="tab1" class="tabson">
                <table>
                    <tr>
                        <td>区域名称:</td>
                        <td>
                            <input id="AreaName" type="text" class="dfinputs" />
                        </td>

                        <td>
                            <input name="" type="button" class="sure" onclick="Search()" value="查询" style="margin-top: 0px;" />
                        </td>
                    </tr>
                </table>



                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="RegionalTableContent" style="text-align: center">
                        <thead>
                            <tr>

                                <th style="text-align: center">区域名称</th>
                                <th style="text-align: center">区域说明</th>
                                <th style="text-align: center;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="tab2" class="tabson">
                <ul class="forminfo">
                    <li>
                        <label>区域类型<b>*</b></label>
                        <select id="AddAreaType" class="dfinputs">
                            <option value="0">请选择</option>
                            <option value="1">队员区域</option>
                            <option value="2">车辆区域</option>
                        </select>
                    </li>

                    <li>
                        <label>区域名称<b>*</b></label>
                        <input id="AddAreaName" type="text" class="dfinputs" placeholder="请输入区域名称" />
                    </li>
                    <li>
                        <label>休&nbsp&nbsp息&nbsp&nbsp点</label>
                        @foreach (var i in @ViewBag.restlist)
                        {
                            <input type="checkbox" style="vertical-align: -2px;" name="RESTID" value="@(i.RESTID)" class="resttype-@(i.RESTOWNERTYPE)" /><strong class="resttype-@(i.RESTOWNERTYPE)" style="margin-left:5px;">@(i.RESTNAME)</strong>
                        }
                    </li>
                    <li>
                        <label>区域说明<b>*</b></label>
                        <textarea id="AddAreaDescription" class="dfinputs" style="height: 120px; width: 600px" placeholder="请输入区域说明"></textarea>
                    </li>

                    <li>
                        <label>地图位置<b>*</b></label>
                        <div class="form-group" id="ShowOrHide" style="margin-bottom: 5px;">
                            <div class="col-sm-9 col-lg-10 controls">
                            </div>
                            @Html.HiddenFor(model => model.GEOMETRY, new { @name = "Geometry", @id = "Geometry" })
                            @Html.HiddenFor(model => model.COLOR, new { @name = "Color", @id = "Color" })
                            <div class="form-group" style="width: 90%; height: 350px; margin-left: 85px;">
                                <div id="silverlightControlHost" style="height: 322px;">
                                    <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=@ZGM.Web.ConfigManager.MapUrl,X1=@ZGM.Web.ConfigManager.MapLonX1,Y1=@ZGM.Web.ConfigManager.MapLatY1,X2=@ZGM.Web.ConfigManager.MapLonX2,Y2=@ZGM.Web.ConfigManager.MapLatY2,Mode=4,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48,fileUrl=" />
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                    <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <label>&nbsp;</label>
                        <input id="addbtn" type="button" class="sure" style="margin-top: 30px;" onclick="Submit()" value="保存" />
                        <input id="editbtn" type="button" style="display: none; margin-top: 30px;" class="sure" onclick="Edit()" value="修改" />
                        <input id="pageback" type="button" class="sure" value="返回">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>



</html>
