@{
    ViewBag.Title = "GHZFChart";
    Layout = "~/Views/AidDecisionMaking/_LayoutStatisticeManagement.cshtml";
}

<link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<link href="~/Content/workflowCommonForm.css" rel="stylesheet" />
<link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        var ContentMes = $("#ContentMesHidden").val();
        $("#ContentMesHtml").html(ContentMes);
    });

    function ChangeMonth() {
        var choseChangeYear = $("#choseChangeYear").val();
        var choseChangeMonth = $("#choseChangeMonth").val();
        var data = choseChangeYear + "-" + choseChangeMonth + "-1";
        location.href = "/Statistics/GHZFChart?data=" + data;
    }

    $(document).ready(function () {
        var hidGHZFYear = $("#hidGHZFYear").val();
        var hidGHZFMonth = $("#hidGHZFMonth").val();
        $("#choseChangeYear").val(hidGHZFYear);
        $("#choseChangeMonth").val(hidGHZFMonth);
    });

    //点击打印按钮时
    function printme() {
        //document.body.innerHTML = document.getElementById("PrintmeTable").innerHTML;
        //alert(window.location.href);
        //window.print();
        //window.open(window.location.href);
        //this.close();
        var choseChangeYear = $("#choseChangeYear").val();
        var choseChangeMonth = $("#choseChangeMonth").val();
        var data = choseChangeYear + "-" + choseChangeMonth + "-1";
        //location.href = "/Statistics/XZZFPrintMe?data=" + data;
        window.open("/Statistics/GHZFPrintMe?data=" + data);
    }

</script>


@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>辅助决策</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">报表统计</a></li>
            <li>></li>
            <li class="active">规划执法统计</li>
        </ul>
    </div>
}
<input type="hidden" id="ContentMesHidden" value="@ViewBag.CXGHGLZFTJ" />
<input type="hidden" id="UpdateUnitId" value="@ViewBag.UNITID" />
<input type="hidden" id="UpdateTJTime" value="@ViewBag.TJTIME" />
<table style="width: 100%">
    <tr>
        <td style="padding-left: 10px;">查询统计结果:
            <select id="choseChangeYear" style="width: 80px">
                <option value="2014">2014年</option>
                <option value="2015">2015年</option>
                <option value="2016">2016年</option>
            </select>
            <select id="choseChangeMonth" onchange="ChangeMonth()" style="width: 75px">
                <option value="1">一月</option>
                <option value="2">二月</option>
                <option value="3">三月</option>
                <option value="4">四月</option>
                <option value="5">五月</option>
                <option value="6">六月</option>
                <option value="7">七月</option>
                <option value="8">八月</option>
                <option value="9">九月</option>
                <option value="10">十月</option>
                <option value="11">十一月</option>
                <option value="12">十二月</option>
            </select>
            <input type="hidden" id="hidGHZFYear" value="@ViewBag.GHZFYear" />
            <input type="hidden" id="hidGHZFMonth" value="@ViewBag.GHZFMonth" />
        </td>
        <td colspan="3" style="line-height: 25px; text-align: right">
            <button type="button" class="btn btn-primary" onclick="printme()">打印</button>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center; font-size: 18px;">城乡规划管理执法情况统计表（@ViewBag.TJTIME）</td>
    </tr>
</table>
<div style="margin-top: 10px;"></div>
<table border="1">
    <thead>
        <tr style="text-align: center">
            <td rowspan="3" style="width: 100px">单位内容</td>
            <td colspan="2">案源</td>
            <td rowspan="3">立案数</td>
            <td rowspan="3">办结数</td>
            <td rowspan="3">罚款（元）</td>
            <td rowspan="3">违法面积（平方米）</td>
            <td rowspan="3">没收实物（平方米）</td>
            <td rowspan="3">没收违法收入（元）</td>
            <td colspan="9">其他</td>
        </tr>
        <tr style="text-align: center">
            <td rowspan="2" style="width: 50px;">巡查发现数</td>
            <td rowspan="2" style="width: 50px;">其他</td>
            <td rowspan="2">责令停止建设（件）</td>
            <td rowspan="2">订单放样（件）</td>
            <td rowspan="2">验收（件）</td>
            <td rowspan="2">组织听证（件）</td>
            <td colspan="2">申请法院执行</td>
            <td colspan="2">报请市政府责成</td>
            <td rowspan="2">行政复议或诉讼（件）</td>
        </tr>
        <tr style="text-align: center">
            <td>申请（件）</td>
            <td>执结（件）</td>
            <td>总数（件）</td>
            <td>执结（件）</td>
        </tr>
    </thead>
    <tbody id="ContentMesHtml">
    </tbody>
</table>
