@{
    Layout = null;
}
@using ZGM.Model
@using ZGM.Common
@using ZGM.BLL.WORKFLOWManagerBLLs
@using ZGM.BLL.UserBLLs
@model ZGM.Model.XTGL_ZFSJS
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>事件审核</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/bootstrap/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>

    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
     <script type="text/javascript">
         layer.config({
             skin: 'layer-ext-seaning',
             offset: ['100px', '33%'],
             title: '提示',
             moveOut: true,
             closeBtn: false,
             extend: 'skin/seaning/style.css'
         });

    </script>
    <style type="text/css">
        table td {
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 10px 0px;
            text-align: left;
            line-height: 30px;
        }

            table td label {
                margin-left: 20px;
            }

        table th {
            width: 170px;
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 10px 0px;
            text-align: center;
            line-height: 30px;
        }

        table tr input.small {
            width: 94%;
        }

        table {
            width: 100%;
            border: solid #b9aeae;
            border-width: 1px 0px 0px 1px;
        }
        a, a:focus {
            text-decoration:none;
            color:#000;
        }
    </style>
    <script>
        window.onload = function hidediv() {
            document.getElementById("CXPQDY").style.display = "none";
            document.getElementById("CXPQSJ").style.display = "none";
            document.getElementById("UserName").style.display = "none";
        }

        function goback() {
            window.history.back(-1);
        }

        $(function () {
            $("input[type='radio']").click(function () {
                var id = $(this).attr("value");
                if (id == "满意") {
                    $("#ISTimeOut").attr("disabled", true);
                    document.getElementById("TH").style.display = "none";
                    document.getElementById("TJ").style.display = "";
                    document.getElementById("CXPQDY").style.display = "none";
                    document.getElementById("CXPQSJ").style.display = "none";
                    document.getElementById("UserName").style.display = "none";
                } else {
                    $("#ISTimeOut").attr("disabled", false);
                    document.getElementById("TH").style.display = "";
                    document.getElementById("TJ").style.display = "none";

                }
            });
        });
        $(document).ready(function (e) {
            $("#FOUNDTIME").datetimepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });

            $("#BCLASSID").change(function () {

                var BCLASSID = $(this).val();

                $.get("/XTGL/GetUserByDeptName", { BCLASSID: BCLASSID },
                    function (data) {
                        $("#SCLASSID").empty();
                        $("#SCLASSID").append("<option value=''>请选择队员</option>");
                        $.each(data, function (i, item) {
                            $("#SCLASSID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                    });
            });
            var wfdid = $("#hid_wfdid").val();
            if (wfdid != null && wfdid != "") {
                if (wfdid == "20160407132010004" || wfdid == "20160407132010005") {
                    $("#p_sjsb").append(' <p style=" margin: 5px;"><a href="javascript:void(0)" style="font-size: 18px" onclick="GetAttr(2)">事件处理</a></p>')
                }
            }
            GetAttr(1);
        });

        function gradeChange() {
            var objS = document.getElementById("ISTimeOut").value;
            if (objS == "1") {
                document.getElementById("CXPQDY").style.display = "";
                document.getElementById("CXPQSJ").style.display = "";
                document.getElementById("UserName").style.display = "none";
            } else if (objS == "2") {
                document.getElementById("CXPQDY").style.display = "none";
                document.getElementById("CXPQSJ").style.display = "none";
                document.getElementById("UserName").style.display = "";
            } else {
                document.getElementById("CXPQDY").style.display = "none";
                document.getElementById("CXPQSJ").style.display = "none";
                document.getElementById("UserName").style.display = "none";
            }
        }
        function button_TJ() {
            document.getElementById("XSDT").value = "显示地图";
            document.getElementById("XSDT").setAttribute("onclick", "GetShowOrHide(this,'show')");
            document.getElementById("ShowOrHide").style.display = 'none';
            var SHYJ = $("#AuditOpinion").val();
            var ZFSJID = $("#ZFSJID").val();
            var WFSAID = $("#WFSAIDS").val();
            var MYD = $('input[name="ISsatisfied"]:checked').val();
            $.ajax({
                type: "POST",
                url: "/XTGL/AuditEventReporting",
                data: {
                    SHYJ: SHYJ, ZFSJID: ZFSJID, WFSAID: WFSAID, MYD: MYD
                },
                cache: false,
                success: function (data) {
                    if (data == 1) {
                        layer.alert('审核成功!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/XTGL/PendingEvents";
                        });
                        //alert("审核成功！");
                        // window.location.href = "/XTGL/PendingEvents/";
                    }
                },
                error: function () {
                    layer.alert('网络异常，请重试！', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //alert("网络异常，请重试！");
                }
            });
        }
        function button_TH() {
            document.getElementById("XSDT").value = "显示地图";
            document.getElementById("XSDT").setAttribute("onclick", "GetShowOrHide(this,'show')");
            document.getElementById("ShowOrHide").style.display = 'none';
            var objS = $("#ISTimeOut").val();
            var SendComments = $("#AuditOpinion").val();
            var Id = $("#ZFSJID").val();
            var WFSAID = $("#WFSAIDS").val();
            var SCLASSID = $("#SCLASSID").val();
            var DISPOSELIMIT = $("#DISPOSELIMIT").val();
            var userId = $("#userid").val();
            if (objS == 1) {
                if (SCLASSID == "" || SCLASSID == null) {
                    layer.alert('请选择队员！', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //alert("请选择队员！");
                    return false;
                }
                if (SendComments == "" || SendComments == null) {
                    layer.alert('请添加意见！', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //alert("请添加意见！");
                    return false;
                }

                if ($("#Notification").attr("checked") == "checked") {
                    var Notification = 1;
                }
                else {
                    var Notification = 2;
                }
                $.ajax({
                    type: "POST",
                    url: "/XTGL/send",
                    data: {
                        Id: Id, SendComments: SendComments, SCLASSID: SCLASSID, CLQXTIME: DISPOSELIMIT, Notification: Notification, WFSAID: WFSAID,SelectLink:1
                    },
                    cache: false,
                    success: function (data) {
                        if (data == 1) {

                            layer.alert('重新派遣成功!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/XTGL/PendingEvents";
                            });
                            //alert("重新派遣成功！");
                            //window.location.href = "/XTGL/UpcomingEvents/";
                        }
                    },
                    error: function () {
                        layer.alert('网络异常，请重试！', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        });
                    }
                });
            } else if (objS == 2) {
                if ($("#ISNotification").attr("checked") == "checked") {
                    var Notification = 1;
                }
                else {
                    var Notification = 2;
                }

                $.ajax({
                    type: "POST",
                    url: "/XTGL/send",
                    data: {
                        Id: Id, SendComments: SendComments, SCLASSID: userId, Notification: Notification, WFSAID: WFSAID, SelectLink: 1
                    },
                    cache: false,
                    success: function (data) {
                        if (data == 1) {
                            layer.alert('重新派遣成功!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/XTGL/PendingEvents";
                            });
                            //alert("已派遣重新处理！");
                            //window.location.href = "/XTGL/UpcomingEvents/";
                        }
                    },
                    error: function () {
                        layer.alert('网络异常，请重试！', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        });
                    }
                });

            }
        }
        //获取事件图片
        function GetAttr(did) {
            var ZFSJID = $("#ZFSJID").val();
            $.ajax({
                type: "POST",
                url: "/XTGL/GetAttachItems",
                data: {
                    ZFSJID: ZFSJID, WFDID: did
                },
                cache: false,
                success: function (data) {
                    $("#div_piclist").empty();
                    $("#showBig").empty();
                    //遍历附件
                    $.each(data, function (i, item) {
                        var name = "";
                        if (item.FILENAME.length > 10) {
                            name = item.FILENAME.substring(0, 10) + "...";
                        }
                        else {
                            name = item.FILENAME;
                        }

                        var html = "<div style='width:80px;height:100px;border:1px soild #f00;float:left;margin-left: 15px'><a href='javascript:void(0)'  onclick='showPic(\"" + item.FILEPATH + "\")'><div style='width:80px;height:80px;border:1px soild #f00;'><img src='/Images/20076110836311.png'></div><div style='width:80px;height:20px;border:1px soild #f00;margin-top:20px;text-align:center;'>" + name + "</div></a></div>";
                        $("#div_piclist").append(html);

                        if (i == 0) {
                            showPic(item.FILEPATH);
                        }

                    });
                },
                error: function () {
                    layer.alert('网络异常，请重试！', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }
            });
        }
        function showPic(picPath) {

            picPath = "/GetZFSJPicByPath.ashx?PicPath=" + picPath
            var htmlStr = "<img src='" + picPath + "' style='width:auto;height:auto;'/>";
            $("#showBig").css("text-align", "center");
            $("#showBig").html(htmlStr);
        }

        //显示隐藏地图
        function GetShowOrHide(o, otype) {
            if (otype == "show") {
                o.value = "隐藏地图";
                o.setAttribute("onclick", "GetShowOrHide(this,'hide')");
                document.getElementById("ShowOrHide").style.display = 'block';

            } else if (otype == 'hide') {
                o.value = "显示地图";
                o.setAttribute("onclick", "GetShowOrHide(this,'show')");
                document.getElementById("ShowOrHide").style.display = 'none';
            }
        }
        //初始化地图
        function mapInited() {
            setTimeout(function () {
                var DTMD = $("#GEOMETRY").val();
                if (DTMD) {
                    var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                    mapCtrl.AddMarker(DTMD);
                }
            }, 1000)
        }
    </script>
</head>
<body>
    <div class="place" style="background-image: url(/Images/images/righttop.gif)">
        <span>位置：</span>
        <ul class="placeul">
            <li id="path_name"><a href="/XTGL/PendingEvents">待审核列表</a></li>
            <li>事件审核</li>
        </ul>
    </div>
    <div class="formbody">
           <div style="margin-bottom: 10px">
            <h6 style="font-size: 32px; text-align: center; margin-bottom: 20px; margin-top: 10px;">事件审核</h6>
        </div>
        <div id="usual1" class="usual">
            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">事件基本信息</a></li>
                    <li><a href="#tab2">相关附件</a></li>
                    <li><a href="#tab3">历史记录</a></li>
                </ul>
            </div>
            <div id="tab1" class="tabson" style="display: none">
                <div>
                    <table style="margin-bottom: 20px;">
                        <tr>
                            <th>事件标题 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.EVENTTITLE</label>
                            </td>
                            <th>事件来源 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.SOURCENAME</label>
                            </td>
                        </tr>
                        <tr>
                            <th>相关联系人 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.CONTACT </label>
                            </td>
                            <th>相关联系人电话 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.CONTACTPHONE</label>

                            </td>
                        </tr>
                        <tr>
                            <th>事件地址 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.EVENTADDRESS</label>
                            </td>
                            <th>事件片区 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.ZONENAME</label>
                            </td>
                        </tr>
                        <tr>
                            <th>事件内容 </th>
                            <td colspan="3">
                                <label class="lablestyle">@ViewBag.EVENTCONTENT</label>
                            </td>
                        </tr>
                        <tr>
                            <th>问题大类 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.BCLASSNAME</label>
                            </td>
                            <th>问题小类 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.SCLASSNAME</label>
                            </td>
                        </tr>
                        <tr>
                            <th>发现时间 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.FOUNDTIME</label>
                            </td>
                            @* <th>处理期限 </th>
                            <td colspan="3">
                                <label>@ViewBag.DISPOSELIMIT</label>
                            </td>*@
                            <th>是否超期 </th>
                            <td colspan="3">
                                <label class="lablestyle">@ViewBag.ISOVERDUE</label>
                            </td>
                        </tr>
                        <tr>
                            <th>超期时间 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.OVERTIME</label>
                            </td>
                            <th>超期时长 </th>
                            <td>
                                <label class="lablestyle">@ViewBag.OVERDUELONG </label>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px">地图位置
                            </th>
                            <td colspan="3">
                                <input type="button" id="XSDT" value="显示地图" onclick="GetShowOrHide(this, 'show')" />
                                <div class="form-group" id="ShowOrHide" style="margin-bottom: 5px; display: none">
                                    <div class="col-sm-9 col-lg-10 controls">
                                    </div>
                                    <input type="hidden"  id="GEOMETRY" value="@ViewBag.X2000,@ViewBag.Y2000" />
                                    <div id="silverlightControlHost" style="width: 100%; height: 350px;">
                                       <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="350px" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=@ZGM.Web.ConfigManager.MapUrl,X1=@ZGM.Web.ConfigManager.MapLonX1,Y1=@ZGM.Web.ConfigManager.MapLatY1,X2=@ZGM.Web.ConfigManager.MapLonX2,Y2=@ZGM.Web.ConfigManager.MapLatY2,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48,fileUrl=" />
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table style="margin-bottom: 20px;">
                        <tr>
                            <th style="text-align: left;" colspan="4">事件审核</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">审核结果
                            </th>
                            <td>
                                <input type="radio" name="ISsatisfied" id="OK" value="满意" checked="checked" style="height: 32px; margin: 0 0 0 20px" />
                                满意
                                <input type="radio" name="ISsatisfied" id="NO" value="不满意" style="height: 32px; margin: 0 0 0 20px" />
                                不满意
                            </td>
                            <th style="text-align: center; line-height: 30px;">回退环节
                            </th>
                            <td style="width: 440px;">
                                <select id="ISTimeOut" class="dfinputs" onchange="gradeChange()" style="width: 40%" disabled="disabled">
                                    <option selected="selected">请选择</option>
                                    <option value="1">事件派遣</option>
                                    <option value="2">事件处理</option>
                                </select>
                                <span id="UserName" style="height:32px; display:inline-block; float:left; line-height:32px; margin-top:4px;">@*@ViewBag.UserName*@
                                    @*<input id="ISNotification" type="checkbox" style="float: left" />短信提醒*@
                                 <input id="ISNotification" type="checkbox" style="float: left; margin-left: 5px; height: 32px; line-height:32px; display:inline-block; margin:2px 0 0;" />
                                 <span style="display:inline-block; line-height:32px; height:32px;">短信提醒</span>
                                </span>

                            </td>
                        </tr>
                                                 <tr id="CXPQDY" style="text-align: center; line-height: 30px;">
                            <th style="text-align: center; line-height: 30px;">选择分队 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div style="float: left">
                                    @Html.DropDownList("BCLASSID", ViewBag.QuestionDL as IEnumerable<SelectListItem>, "请选择分队", new { @id = "BCLASSID", @style = "margin-left: 20px; float: left;", @class = "large" })
                                </div>

                            </td>
                            <th style="text-align: center; line-height: 30px;">选择队员
                            </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <select id="SCLASSID" name="SCLASSID" class="large" style="margin-left: 20px; float: left;">
                                            <option value="">请选择队员</option>
                                        </select>
                                    </div>
                                    <input id="Notification" type="checkbox" style="float: left; margin-left: 5px; height: 22px" />
                                    &nbsp;短信提醒
                                </div>
                            </td>
                        </tr>
                        <tr id="CXPQSJ">
                            <th>处理期限 </th>
                            <td colspan="3">
                                <div style="float: left">
                                  <input name="page" type="text" class="large" maxlength="14" style="margin-left: 20px; height: 22px; width: 32px; float: left; margin-right: 5px" id="DISPOSELIMIT" /><b>单位（小时）</b> 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">意见
                            </th>
                            <td colspan="3">

                                <textarea style="resize: none; width: 95%; margin-left: 20px; height: 95px" id="AuditOpinion" name="AuditOpinion"></textarea>

                            </td>
                        </tr>

                    @*    <tr id="CXPQDY">
                            <th>派遣队员 </th>
                            <td>
                                <div style="float: left">
                                    @Html.DropDownList("BCLASSID", ViewBag.QuestionDL as IEnumerable<SelectListItem>, "请选择分队", new { @id = "BCLASSID", @style = "width:200px;" })
                                </div>

                            </td>
                            <th style="text-align: center; line-height: 30px;">选择队员
                            </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <select id="SCLASSID" name="SCLASSID" style="width: 200px;">
                                            <option value="">请选择队员</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="float: left; margin-left: 10px">
                                    <input id="Notification" type="checkbox" style="float: left" />短信提醒
                                </div>
                            </td>

                        </tr>*@



                    </table>



                    <div style="margin-bottom: 5px; margin-top: 20px">
                        <div style="text-align:center;">
                            <input type="button" class="btn btn-success" id="TJ" onclick="button_TJ();" value="提　交" />
                            <input type="button" style="display: none" id="TH" class="btn btn-success" onclick="button_TH();" value="退　回" />
                            <input type="button" class="btn goBack" onclick="goback();" value="返　回" />
                        </div>
                    </div>

                </div>
            </div>

            <div id="tab2" class="tabson">
                <div style="width: 15%; float: left; margin-left: 20px; border: 1px solid #808080; text-align: center;border-radius: 10px;">
                    <p style="text-align: center; font-size: 24px; margin-top: 15px;">环节名称</p>
                    <hr />
                    <p id="p_sjsb" style=" margin: 5px;"><a href="javascript:void(0)" style="font-size: 18px" onclick="GetAttr(1)">事件上报</a></p>

                </div>
                <div style="width: 75%; float: left; margin-left: 20px">
                    <div id="div_piclist" style="width: 100%">
                    </div>
                    <p style="clear: both"></p>
                    <hr />
                    <div style="margin-top: 10px" id="showBig">
                    </div>
                </div>
            </div>

            <div id="tab3" class="tabson">

                @{
                    IList<WF_WORKFLOWSPECIFICACTIVITYS> list = (IList<WF_WORKFLOWSPECIFICACTIVITYS>)ViewBag.WFSAList;
                    list = list.OrderBy(a => a.CREATETIME).OrderBy(a => a.DEALTIME).ToList();
                    int count = list.Count();
                    int countLast = count - 1;
                    if (list != null && count > 0)
                    {
                        for (int i = 0; i < count; i++)
                        {
                            if (list.Last().WFDID != "20160407132010005")
                            {
                                count = countLast;
                            }
                            string WFDName = list[i].WF_WORKFLOWDETAILS.WFDNAME;
                            if (list[i].WFDID == "20160407132010006")
                            {
                                WFDName = "重新处理";
                            }
                    <table style="margin-bottom: 20px">
                        <tr>
                            <th colspan="4" >@WFDName</th>
                        </tr>
                        @{
                            string WFSAID = list[i].WFSAID;

                            List<WF_WORKFLOWSPECIFICUSERS> wfsuList = new WF_WORKFLOWSPECIFICUSERSBLL()
                                .GetList(WFSAID).ToList();

                            WF_WORKFLOWSPECIFICUSERS wfsu = wfsuList
                                .Where(a => a.USERID == list[i].DEALUSERID).FirstOrDefault();
                            int remark = 0;//处理期限
                            string UserName = "";
                            string UserUnit = "";
                            string contentMes = "";
                            string overTime = "";
                            string IsOver = "否";
                            string DealUserNama = "";//结案时的处理人
                            SYS_USERS overmodel = UserBLL.GetUserByUserID(Convert.ToDecimal(list[i].DEALUSERID));
                            if (overmodel != null)
                            {
                                DealUserNama = overmodel.USERNAME;
                            }
                            DateTime dtOVer = DateTime.Now;
                            SYS_USERS sysUser = new SYS_USERS();
                            if (wfsu != null)
                            {
                                int.TryParse(wfsu.REMARK, out remark);
                                contentMes = wfsu.CONTENT;
                                dtOVer = Convert.ToDateTime(list[i].DEALTIME);
                            }
                            if (list[i].WFDID == "20160407132010001")
                            {
                            <tr>
                                <th>上报人 </th>
                                <td>
                                    <label class="lablestyle">@DealUserNama</label>
                                </td>
                                <th>上报时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            }
                            if (list[i].WFDID == "20160407132010002")//指挥中心派遣
                            {
                                string WFSAIDS = list[i+1].WFSAID;
                                List<WF_WORKFLOWSPECIFICUSERS> wfsuLists = new WF_WORKFLOWSPECIFICUSERSBLL()
                                    .GetList(WFSAIDS).ToList();

                                if (wfsuLists != null)
                                {
                                    int.TryParse(wfsuLists[0].REMARK, out remark);
                                }
                                sysUser = UserBLL.GetUserByUserID(Convert.ToDecimal(wfsuLists[0].USERID));
                                if (sysUser != null)
                                {
                                    UserName = sysUser.USERNAME;
                                    UserUnit = sysUser.SYS_UNITS != null ? sysUser.SYS_UNITS.UNITNAME : "";
                                }
                                DateTime overTimeStr = Convert.ToDateTime(wfsuLists[0].CREATETIME).AddHours(remark);
                                overTime = overTimeStr.ToString("yyyy-MM-dd HH:mm:ss");

                                if (list[i + 1].DEALTIME != null)
                                {
                                    dtOVer = Convert.ToDateTime(list[i + 1].DEALTIME); ;
                                }

                                if (dtOVer > overTimeStr)
                                {
                                    IsOver = "是";
                                }
                                if (list[i + 1].WFDID == "20160407132010003")
                                {
                            <tr>
                                <th>选择环节 </th>
                                <td>
                                    <label class="lablestyle">@list[i + 1].WF_WORKFLOWDETAILS.WFDNAME</label>
                                </td>
                                <th>处理期限 </th>
                                <td>
                                    <label class="lablestyle">@remark 小时</label>
                                </td>
                            </tr>
                            <tr>
                                <th>超期时间 </th>
                                <td>
                                    <label class="lablestyle">@overTime</label>
                                </td>
                                <th>是否超期</th>
                                <td>
                                    <label class="lablestyle"> @ViewBag.ISOVERDUE</label>
                                </td>
                            </tr>
                            <tr>
                                <th>选择分队</th>
                                <td>
                                    <label class="lablestyle">@UserUnit</label>
                                </td>
                                <th>选择队员</th>
                                <td>
                                    <label class="lablestyle">@UserName</label>
                                </td>
                            </tr>
                            <tr>
                                <th>派遣意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                                }
                                else if (list[i + 1].WFDID == "20160407132010006")
                                {
                            <tr>
                                <th>选择环节 </th>
                                <td>
                                    <label class="lablestyle">@list[i + 1].WF_WORKFLOWDETAILS.WFDNAME</label>
                                </td>
                                <th>挂起时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            <tr>
                                <th>挂起意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                                }
                                else if (list[i + 1].WFDID == "20160407132010007")
                                {
                            <tr>
                                <th>选择环节 </th>
                                <td>
                                    <label class="lablestyle">@list[i + 1].WF_WORKFLOWDETAILS.WFDNAME</label>
                                </td>
                                <th>作废时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            <tr>
                                <th>作废意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                                }

                            }
                            if (list[i].WFDID == "20160407132010003")//队员处理环节
                            {
                            <tr>
                                <th>处理人 </th>
                                <td>
                                    <label class="lablestyle">@DealUserNama</label>
                                </td>
                                <th>处理时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            <tr>
                                <th>处理意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                            }
                            if (list[i].WFDID == "20160407132010004")//指挥中心审核
                            {
                            <tr>
                                <th>审核人 </th>
                                <td>
                                    <label class="lablestyle">@DealUserNama</label>
                                </td>
                                <th>审核时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            <tr>
                                <th>审核意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                                  
                            }
                            if (list[i].WFDID == "20160407132010005")//结案
                            {
                            <tr>
                                <th>结案人</th>
                                <td>
                                    <label class="lablestyle">@DealUserNama</label>
                                </td>
                                <th>结案时间 </th>
                                <td>
                                    <label class="lablestyle">@list[i].DEALTIME.Value.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                               
                               
                            }
                            if (list[i].WFDID == "20160407132010006")//挂起
                            {
                                string WFSAIDS = list[i + 1].WFSAID;
                                List<WF_WORKFLOWSPECIFICUSERS> wfsuLists = new WF_WORKFLOWSPECIFICUSERSBLL()
                                    .GetList(WFSAIDS).ToList();
                                sysUser = UserBLL.GetUserByUserID(Convert.ToDecimal(wfsuLists[0].USERID));

                                if (sysUser != null)
                                {
                                    UserName = sysUser.USERNAME;
                                    UserUnit = sysUser.SYS_UNITS != null ? sysUser.SYS_UNITS.UNITNAME : "";
                                }
                            <tr>
                                <th>选择分队</th>
                                <td>
                                    <label class="lablestyle">@UserUnit</label>
                                </td>
                                <th>选择队员</th>
                                <td>
                                    <label class="lablestyle">@UserName</label>
                                </td>
                            </tr>
                            <tr>
                                <th>处理期限 </th>
                                <td>
                                    <label class="lablestyle">@ViewBag.DISPOSELIMIT </label>
                                </td>
                                <th>超期时间 </th>
                                <td>
                                    <label class="lablestyle">@ViewBag.OVERTIME</label>
                                </td>
                            </tr>
                            <tr>
                                <th>派遣意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                               
                            }
                            if (list[i].WFDID == "20160407132010007")//作废
                            {

                            }


                        }
                    </table>
                        }
                    }
                      
                }

            </div>
        </div>
    </div>

    <input id="userid" style="display:none" value="@ViewBag.userid"/>
    <input id="ZFSJID" style="display:none" value="@ViewBag.ZFSJID"/>
    <input id="WFSAIDS" style="display:none" value="@ViewBag.WFSAID"/>
    <input id="hid_wfdid" type="hidden" value="@ViewBag.WFDID" />
    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>

</body>
</html>

