@{
    Layout = null;
}
@using ZGM.Model
@using ZGM.Common
@using ZGM.BLL.WORKFLOWManagerBLLs
@using ZGM.BLL.UserBLLs
@model ZGM.Model.XTGL_ZFSJS
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>执法事件派遣</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/bootstrap/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>

    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        table td {
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 10px 0px;
            text-align: left;
            line-height: 30px;
        }

            table td label {
                margin-left: 20px;
            }

        table th {
            width: 170px;
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 8px;
            text-align: center;
            line-height: 30px;
        }

        table tr input.large {
            width: 98%;
            height: 30px;
        }

        table tr input.small {
            width: 94%;
        }

        table {
            width: 100%;
            border: solid #b9aeae;
            border-width: 1px 0px 0px 1px;
        }
    </style>
    <style type="text/css">
        table tr input.large {
            width: 98%;
            height: 30px;
        }

        table tr input.small {
            width: 94%;
            height: 30px;
        }

        .fontStyle * {
            font-family: 宋体 !important;
        }

        .docBtn {
            /*font-weight: bold;*/
            font-size: 13px;
            width: 150px;
            margin: 5px 0px;
            text-align: left;
        }

        .inf_link {
            margin-left: -16px;
            margin-top: -4px;
        }

        .ui-xbox {
            position: absolute;
            z-index: 998;
            width: 220px;
            height: 100px;
            visibility: visible;
            text-align: center;
        }

        .leftbar-search {
            width: 250px;
            float: left;
            border: 1px solid gray;
        }

        .content-search {
            border: 1px solid gray;
        }

        a, a:focus {
            text-decoration: none;
            color: #000;
        }
    </style>
    <script type="text/javascript">

        /*
        *   功能:实现VBScript的DateAdd功能.
        *   参数:interval,字符串表达式，表示要添加的时间间隔.
        *   参数:number,数值表达式，表示要添加的时间间隔的个数.
        *   参数:date,时间对象.
        *   返回:新的时间对象.
        *   var now = new Date();
        *   var newDate = DateAdd( "d", 5, now);
        *---------------   DateAdd(interval,number,date)   -----------------
        */
        function DateAdd(interval, number, date) {
            number = parseFloat(number);
            switch (interval) {
                case "y ": {
                    date.setFullYear(date.getFullYear() + number);
                    return date;
                    break;
                }
                case "q ": {
                    date.setMonth(date.getMonth() + number * 3);
                    return date;
                    break;
                }
                case "w ": {
                    date.setDate(date.getDate() + number * 7);
                    return date;
                    break;
                }
                case "d ": {
                    date.setDate(date.getDate() + number);
                    return date;
                    break;
                }
                case "h ": {
                    date.setHours(date.getHours() + number);
                    return date;
                    break;
                }
                case "m ": {
                    date.setMinutes(date.getMinutes() + number);
                    return date;
                    break;
                }
                case "s ": {
                    date.setSeconds(date.getSeconds() + number);
                    return date;
                    break;
                }
                default: {
                    date.setDate(d.getDate() + number);
                    return date;
                    break;
                }
            }
        }

        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }
        ////月日时分秒为单位时前面补零

        function fillZero(v) {
            if (v < 10) { v = '0' + v; }
            return v;
        }

        function nowTime(d) {
            ///*
            // * ev:显示时间的元素
            // */
            ////年月日时分秒
            var Y, M, D, H, I, S;

            Y = d.getFullYear();
            M = fillZero(d.getMonth() + 1);
            D = fillZero(d.getDate());
            H = fillZero(d.getHours());
            I = fillZero(d.getMinutes());
            S = fillZero(d.getSeconds());
            var time = Y + '/' + M + '/' + D + ' ' + H + ':' + I;
            return time;
        }

        //计算时间差
        function diffTime(startDate, endDate) {
            var diff = endDate.getTime() - startDate.getTime();//时间差的毫秒数  
            //计算出相差天数  
            var days = parseFloat(diff / (24 * 3600 * 1000));

            //计算出小时数  
            var leave1 = diff % (24 * 3600 * 1000);    //计算天数后剩余的毫秒数  
            var hours = parseFloat(leave1 / (3600 * 1000));
            //计算相差分钟数  
            var leave2 = leave1 % (3600 * 1000);        //计算小时数后剩余的毫秒数  
            var minutes = parseFloat(leave2 / (60 * 1000));

            //计算相差秒数  
            var leave3 = leave2 % (60 * 1000);      //计算分钟数后剩余的毫秒数  
            var seconds = parseFloat(leave3 / 1000);

            var returnStr = "0";//seconds + "秒";
            if (hours > 0) {
                minutes = minutes / 60;

                returnStr = parseFloat((days * 24)) + parseFloat(hours) + parseFloat(minutes);
            }
            returnStr = returnStr.toFixed(2);
            return returnStr;
        }



        $(document).ready(function (e) {



            $('#DISPOSELIMIT').on('keyup', function (obj) {
                var num = $("#DISPOSELIMIT").val();
                if (num == "")
                    num = 0.0;
                var i = num.length - 1;
                var t = num.substring(i);
                var arr1 = this.value.match(/\./g);
                num = parseFloat(num);
                var now = new Date();
                if (arr1 == ".") {
                    if (i == 0) {
                        $("#DISPOSELIMIT").val(0);
                    } else {
                        if (t == ".")
                            $("#DISPOSELIMIT").val(num + ".");
                        else
                            $("#DISPOSELIMIT").val(num);
                    }
                }
                else {
                    if (!isNaN(num)) { $("#DISPOSELIMIT").val(num); } else { $("#DISPOSELIMIT").val(0); }
                }
                var newDate = DateAdd("m ", parseFloat(num) * 60, now);
                $("#DEALENDTIME").val(nowTime(newDate));
            });

            $('#DEALENDTIME').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 0,
                forceParse: 0,
                format: 'yyyy-mm-dd hh:ii',changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true 
            }).on('change', function (ev) {
                var b = new Date();
                var str = $("#DEALENDTIME").val();
                str = str.replace(/-/g, "/");
                var date = new Date(str);
                $("#DISPOSELIMIT").val(diffTime(b, date));

            });

            $("#BCLASSID").change(function () {
                var BCLASSID = $(this).val();
                $.get("/XTGL/GetUserByDeptName", { BCLASSID: BCLASSID },
                    function (data) {
                        $("#SCLASSID").empty();
                        $("#SCLASSID").append("<option value=''>请选择队员</option>");
                        $.each(data, function (i, item) {
                            $("#SCLASSID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                        });
                    });
            });
            var wfdid = $("#hid_wfdid").val();
            if (wfdid != null && wfdid != "") {
                if (wfdid == "20160407132010004" || wfdid == "20160407132010005") {
                    $("#p_sjsb").append(' <p style=" margin: 5px;"><a href="javascript:void(0)" style="font-size: 18px" onclick="GetAttr(2)">事件处理</a></p>')
                }
            }
            GetAttr(1);
        });
        //显示隐藏地图
        function GetShowOrHide(o, otype) {
            if (otype == "show") {
                o.value = "隐藏地图";
                o.setAttribute("onclick", "GetShowOrHide(this,'hide')");
                document.getElementById("ShowOrHide").style.display = 'block';

            } else if (otype == 'hide') {
                o.value = "显示地图";
                o.setAttribute("onclick", "GetShowOrHide(this,'show')");
                document.getElementById("ShowOrHide").style.display = 'none';
            }
        }
        //初始化地图
        function mapInited() {
            setTimeout(function () {
                var DTMD = $("#GEOMETRY").val();
                if (DTMD) {
                    var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                    mapCtrl.AddMarker(DTMD);
                }
            }, 1000)
        }
        function Go_OK() {
            document.getElementById("XSDT").value = "显示地图";
            document.getElementById("XSDT").setAttribute("onclick", "GetShowOrHide(this,'show')");
            document.getElementById("ShowOrHide").style.display = 'none';
            var SelectLink = $("#SelectLink").val();
            var SendComments = $("#SendComments").val();
            var Id = $("#ZFSJID").val();
            var SCLASSID = $("#SCLASSID").val();

            if (SelectLink == 1) {

                var DEALENDTIME = $("#DEALENDTIME").val();
                var CLQXTIME = $("#DISPOSELIMIT").val();
                if (SCLASSID == "" || SCLASSID == null) {
                    layer.alert('请选择队员！', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //alert("请选择队员！");
                    return false;
                }
                var TIME = /^(\d*\.)?\d+$/.test(CLQXTIME);
                if (TIME == true) {
                    if ($("#Notification").attr("checked") == "checked") {
                        var Notification = 1;
                    }
                    else {
                        var Notification = 2;
                    }
                    $.ajax({
                        type: "POST",
                        url: "/XTGL/send",
                        data: {
                            Id: Id,
                            SendComments: SendComments,
                            SCLASSID: SCLASSID,
                            CLQXTIME: CLQXTIME,
                            DEALENDTIME: DEALENDTIME,
                            Notification: Notification,
                            WFSAID: $("#WFSAID").val(),
                            SelectLink: SelectLink
                        },
                        cache: false,
                        success: function (data) {
                            if (data == 1) {
                                layer.alert('派遣成功!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                    layer.close(index);
                                    location.href = "/XTGL/UpcomingEvents";
                                });
                                //alert("派遣成功！");
                                //window.location.href = "/XTGL/UpcomingEvents/";
                            } else if (data == 2) {
                                layer.alert('该事件已经派遣!', { icon: 0, skin: 'layer-ext-seaning' }, function (index) {
                                    layer.close(index);
                                    location.href = "/XTGL/UpcomingEvents";
                                });
                            }
                        },
                        error: function () {
                            layer.alert('网络异常，请重试！', {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            });
                            // alert("网络异常，请重试！");
                        }
                    });
                } else {
                    layer.alert('请输入正确的期限！', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }

            } else if (SelectLink == 2) {
                $.ajax({
                    type: "POST",
                    url: "/XTGL/send",
                    data: {
                        Id: Id, SendComments: SendComments, Notification: Notification, WFSAID: $("#WFSAID").val(), SelectLink: SelectLink
                    },
                    cache: false,
                    success: function (data) {
                        if (data == 1) {
                            layer.alert('挂起成功!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/XTGL/UpcomingEvents";
                            });
                            //alert("挂起成功！");
                            //window.location.href = "/XTGL/UpcomingEvents/";
                        }
                    },
                    error: function () {
                        layer.alert('网络异常，请重试！', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        });
                        // alert("网络异常，请重试！");
                    }
                });
            } else if (SelectLink == 3) {
                $.ajax({
                    type: "POST",
                    url: "/XTGL/send",
                    data: {
                        Id: Id, SendComments: SendComments, Notification: Notification, WFSAID: $("#WFSAID").val(), SelectLink: SelectLink
                    },
                    cache: false,
                    success: function (data) {
                        if (data == 1) {
                            layer.alert('作废成功!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                layer.close(index);
                                location.href = "/XTGL/UpcomingEvents";
                            });
                            //alert("作废成功！");
                            //window.location.href = "/XTGL/UpcomingEvents/";
                        }
                    },
                    error: function () {
                        layer.alert('网络异常，请重试！', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        });
                        //alert("网络异常，请重试！");
                    }
                });
            }

        }
        function goback() {
            window.location.href = "/XTGL/UpcomingEvents/";
        }

        //获取事件图片
        function GetAttr(did) {
            var ZFSJID = $("#ZFSJID").val();
            $.ajax({
                type: "POST",
                url: "/XTGL/GetAttachItems",
                data: {
                    ZFSJID: ZFSJID, WFDID: did
                },
                cache: false,
                success: function (data) {
                    $("#div_piclist").empty();
                    //遍历附件
                    $.each(data, function (i, item) {
                        var name = "";
                        if (item.FILENAME.length > 10) {
                            name = item.FILENAME.substring(0, 10) + "...";
                        }
                        else {
                            name = item.FILENAME;
                        }

                        var html = "<div style='width:80px;height:100px;border:1px soild #f00;float:left;margin-left: 15px'><a href='javascript:void(0)'  onclick='showPic(\"" + item.FILEPATH + "\")'><div style='width:80px;height:80px;border:1px soild #f00;'><img src='/Images/20076110836311.png'></div><div style='width:80px;height:20px;border:1px soild #f00;margin-top:20px;text-align:center;'>" + name + "</div></a></div>";
                        $("#div_piclist").append(html);

                        if (i == 0) {
                            showPic(item.FILEPATH);
                        }

                    });
                },
                error: function () {
                    alert("网络异常，请重试！");
                }
            });
        }
        function showPic(picPath) {

            picPath = "/GetZFSJPicByPath.ashx?PicPath=" + picPath
            var htmlStr = "<img src='" + picPath + "' style='width:auto;height:auto;'/>";
            $("#showBig").css("text-align", "center");
            $("#showBig").html(htmlStr);
        }



        $(function () {
            $("#SelectLink").change(function () {
                var SelectLink = $("#SelectLink").val();
                if (SelectLink == 1) {
                    document.getElementById("SendComments").style.width = "95%";
                    //document.getElementById("JBSJTH").style.display = "";
                    //document.getElementById("JBSJTD").style.display = "";
                    document.getElementById("PQDY").style.display = "";

                    $("#JBSJTH").css("visibility", "visible");
                    $("#JBSJTD").css("visibility", "visible");
                    //$("#PQDY").css("visibility", "visible");
                } else if (SelectLink == 2) {
                    document.getElementById("SendComments").style.width = "95%";
                    //document.getElementById("JBSJTH").style.display = "none";
                    //document.getElementById("JBSJTD").style.display = "none";
                    document.getElementById("PQDY").style.display = "none";

                    $("#JBSJTH").css("visibility", "hidden");
                    $("#JBSJTD").css("visibility", "hidden");
                    $("#JBSJTH").css("border-width", "0px 0px 1px");
                    // $("#PQDY").css("visibility", "hidden");
                } else if (SelectLink == 3) {
                    document.getElementById("SendComments").style.width = "95%";
                    //document.getElementById("JBSJTH").style.display = "none";
                    //document.getElementById("JBSJTD").style.display = "none";
                    document.getElementById("PQDY").style.display = "none";
                    $("#JBSJTH").css("visibility", "hidden");
                    $("#JBSJTD").css("visibility", "hidden");
                    $("#JBSJTH").css("border-width", "0px 0px 1px");
                    //$("#PQDY").css("visibility", "hidden");
                }

            });
        });



    </script>
</head>

<body>
    <div class="place" style="background-image: url(/Images/images/righttop.gif)">
        <span>位置：</span>
        <ul class="placeul">
            <li id="path_name"><a href="/XTGL/UpcomingEvents">待派遣事件</a></li>
            <li>事件派遣</li>
        </ul>
    </div>
    <div class="formbody">
        <div style="margin-bottom: 10px">
            <h6 style="font-size: 32px; text-align: center">事件派遣</h6>
        </div>
        <div id="usual1" class="usual">
            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">事件基本信息</a></li>
                    <li><a href="#tab2">相关附件</a></li>
                    <li><a href="#tab3">历史记录</a></li>
                </ul>
            </div>
            <div id="tab1" class="tabson">
                <div>
                    <table style="margin-bottom: 15px;">
                        <tr>
                            <th style="text-align: center; line-height: 30px;">事件标题 </th>
                            <td style="width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.EVENTTITLE</label>
                                    </div>
                                </div>
                            </td>
                            <th style="text-align: center; line-height: 30px;">事件来源 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.SOURCENAME</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">相关联系人 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.CONTACT </label>
                                    </div>
                                </div>
                            </td>
                            <th style="text-align: center; line-height: 30px;">相关联系人电话 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.CONTACTPHONE</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">事件地址 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.EVENTADDRESS</label>
                                    </div>
                                </div>
                            </td>
                            <th style="text-align: center; line-height: 30px;">事件片区 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.ZONENAME</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">事件内容 </th>
                            <td colspan="3" style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.EVENTCONTENT</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">问题大类 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.BCLASSNAME</label>
                                    </div>
                                </div>
                            </td>
                            <th style="text-align: center; line-height: 30px;">问题小类 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.SCLASSNAME</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">发现时间 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.FOUNDTIME</label>
                                    </div>
                                </div>

                            </td>
                            <th style="text-align: center; line-height: 30px;">紧急级别 </th>
                            <td colspan="3" style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.LEVELNAME</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">上报人 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.ReportUserName</label>
                                    </div>
                                </div>

                            </td>
                            <th style="text-align: center; line-height: 30px;">上报时间 </th>
                            <td colspan="3" style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label class="lablestyle">@ViewBag.ReportTime</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px">地图位置
                            </th>
                            <td colspan="3" style="line-height: 30px; width: 40%">
                                <input type="button" id="XSDT" value="显示地图" style="margin-left: 20px;" onclick="GetShowOrHide(this, 'show')" />
                                <div class="form-group" id="ShowOrHide" style="margin-bottom: 5px; display: none">
                                    <div class="col-sm-9 col-lg-10 controls">
                                    </div>
                                    <input type="hidden"  id="GEOMETRY" value=" @ViewBag.X2000,@ViewBag.Y2000" />
                                    <div id="silverlightControlHost" style="width: 100%; height: 350px;">
                                        <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="350px" width="100%">
                                            <param name="source" value="/ClientBin/MapCtrl.xap" />
                                            <param name="background" value="white" />
                                            <param name="minRuntimeVersion" value="5.0.61118.0" />
                                            <param name="autoUpgrade" value="true" />
                                            <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=@ZGM.Web.ConfigManager.MapUrl,X1=@ZGM.Web.ConfigManager.MapLonX1,Y1=@ZGM.Web.ConfigManager.MapLatY1,X2=@ZGM.Web.ConfigManager.MapLonX2,Y2=@ZGM.Web.ConfigManager.MapLatY2,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48,fileUrl=" />
                                            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                            </a>
                                        </object>
                                        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <table style="margin-bottom: 20px;">
                        <tr>
                            <th style="text-align: left;" colspan="4">事件派遣</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">选择环节
                            </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <select id="SelectLink" name="SelectLink" class="large" style="margin-left: 20px;">
                                            <option value="1">事件派遣</option>
                                            <option value="2">事件挂起</option>
                                            <option value="3">作废</option>
                                        </select>
                                    </div>
                                </div>
                            </td>

                            <th id="JBSJTH" style="text-align: center; line-height: 30px;">处理期限 </th>
                            <td id="JBSJTD" style="line-height: 30px; width: 40%">
                                <div style="float: left">

                                    @if (@ViewBag.ASSIGNTIME != null && @ViewBag.ASSIGNTIME != "")
                                    {
                                        <input name="page" type="text" size="14" maxlength="14" disabled="disabled" />
                                      
                                    }
                                    else
                                    {
                                        
@* <input name="page" type="text" class="large" maxlength="14" style="margin-left: 20px; height: 22px; width: 32px; float: left; margin-right: 5px" id="DISPOSELIMIT" /><b>单位（小时）</b> *@
                                        <input name="DISPOSELIMIT" type="text" class="large" maxlength="14" style="margin-left: 20px; height: 22px; width: 50px; float: left; margin-right: 5px" id="DISPOSELIMIT" value="4" onblur="if(parseFloat(this.value) == 0){this.value=''}"; /><b>单位（小时）</b> <label style="margin-left: 200px; margin-top: -24px; cursor: text"><b>处置截止时间:</b><input type="text" style="margin-left:5px; margin-top:-5px; height: 22px;width: 140px;"   name="DEALENDTIME" id="DEALENDTIME" value="@DateTime.Now.AddHours(4).ToString("yyyy-MM-dd HH:mm")"/></label>
                                    }


                                </div>
                            </td>
                        </tr>
                        <tr id="PQDY" style="text-align: center; line-height: 30px;">
                            <th style="text-align: center; line-height: 30px;">选择分队 </th>
                            <td style="line-height: 30px; width: 40%">
                                <div style="float: left">
                                    @Html.DropDownList("BCLASSID", ViewBag.QuestionDL as IEnumerable<SelectListItem>, "请选择分队", new { @id = "BCLASSID", @style = "margin-left: 20px; float: left;", @class = "large" })
                                </div>

                            </td>
                            <th style="text-align: center; line-height: 30px;">选择队员
                            </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <select id="SCLASSID" name="SCLASSID" class="large" style="margin-left: 20px; float: left;">
                                            <option value="">请选择队员</option>
                                        </select>
                                    </div>
                                    <input id="Notification" type="checkbox" style="float: left; margin-left: 5px; height: 22px" />
                                    &nbsp;短信提醒
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px; margin-left: 20px;">意见 </th>
                            <td colspan="3" style="line-height: 30px; width: 40%">
                                <textarea id="SendComments" style="resize: none; margin-left: 20px; width: 95%; height: 100px" class="dtablefinputs">请尽快处理！</textarea>
                            </td>
                        </tr>
                    </table>


                    <div style="margin-bottom: 5px; margin-top: 20px">
                        <div style="text-align: center;">
                            <input type="button" id="Go_OK" onclick="Go_OK()" class="btn btn-success" value="提　交" />
                            <input type="button" class="btn goBack" onclick="goback();" value="返　回" />
                        </div>
                    </div>

                </div>
            </div>


            <div id="tab2" class="tabson">
                <div style="width: 15%; float: left; margin-left: 20px; border: 1px solid #808080; text-align: center; border-radius: 10px;">
                    <p style="text-align: center; font-size: 24px; margin-top: 15px;">环节名称</p>
                    <hr />
                    <p id="p_sjsb" style="margin: 5px;"><a href="javascript:void(0)" style="font-size: 18px" onclick="GetAttr(1)">事件上报</a></p>

                </div>
                <div style="width: 75%; float: left; margin-left: 20px">
                    <div id="div_piclist" style="width: 100%">
                    </div>
                    <p style="clear: both"></p>
                    <hr />
                    <div style="margin-top: 10px" id="showBig">
                    </div>
                </div>
            </div>
            <div id="tab3" class="tabson">

                @{
                    IList<WF_WORKFLOWSPECIFICACTIVITYS> list = (IList<WF_WORKFLOWSPECIFICACTIVITYS>)ViewBag.WFSAList;
                    list = list.OrderBy(a => a.CREATETIME).OrderBy(a => a.DEALTIME).ToList();
                    int count = list.Count();
                    int countLast = count - 1;
                    if (list != null && count > 0)
                    {
                        for (int i = 0; i < count; i++)
                        {
                            if (list.Last().WFDID != "20160407132010005")
                            {
                                count = countLast;
                            }
                            string WFDName = list[i].WF_WORKFLOWDETAILS.WFDNAME;
                            if (list[i].WFDID == "20160407132010006")
                            {
                                WFDName = "重新处理";
                            }
                    <table style="margin-bottom: 20px">
                        <tr>
                            <th colspan="4">@WFDName</th>
                        </tr>
                        @{
                            string WFSAID = list[i].WFSAID;

                            List<WF_WORKFLOWSPECIFICUSERS> wfsuList = new WF_WORKFLOWSPECIFICUSERSBLL()
                                .GetList(WFSAID).ToList();

                            WF_WORKFLOWSPECIFICUSERS wfsu = wfsuList
                                .Where(a => a.USERID == list[i].DEALUSERID).FirstOrDefault();
                            int remark = 0;//处理期限
                            string UserName = "";
                            string UserUnit = "";
                            string contentMes = "";
                            string overTime = "";
                            string IsOver = "否";
                            string DealUserNama = "";//结案时的处理人
                            SYS_USERS overmodel = UserBLL.GetUserByUserID(Convert.ToDecimal(list[i].DEALUSERID));
                            if (overmodel != null)
                            {
                                DealUserNama = overmodel.USERNAME;
                            }
                            DateTime dtOVer = DateTime.Now;
                            SYS_USERS sysUser = new SYS_USERS();
                            if (wfsu != null)
                            {
                                int.TryParse(wfsu.REMARK, out remark);
                                contentMes = wfsu.CONTENT;
                                dtOVer = Convert.ToDateTime(list[i].DEALTIME);
                            }
                            if (list[i].WFDID == "20160407132010001")
                            {
                            <tr>
                                <th>上报人 </th>
                                <td>
                                    <label class="lablestyle">@DealUserNama</label>
                                </td>
                                <th>上报时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            }
                            if (list[i].WFDID == "20160407132010002")//指挥中心派遣
                            {
                                string WFSAIDS = list[i + 1].WFSAID;
                                List<WF_WORKFLOWSPECIFICUSERS> wfsuLists = new WF_WORKFLOWSPECIFICUSERSBLL()
                                    .GetList(WFSAIDS).ToList();

                                if (wfsuLists != null)
                                {
                                    int.TryParse(wfsuLists[0].REMARK, out remark);
                                }
                                sysUser = UserBLL.GetUserByUserID(Convert.ToDecimal(wfsuLists[0].USERID));
                                if (sysUser != null)
                                {
                                    UserName = sysUser.USERNAME;
                                    UserUnit = sysUser.SYS_UNITS != null ? sysUser.SYS_UNITS.UNITNAME : "";
                                }
                                DateTime overTimeStr = Convert.ToDateTime(wfsuLists[0].CREATETIME).AddHours(remark);
                                overTime = overTimeStr.ToString("yyyy-MM-dd HH:mm:ss");

                                if (list[i + 1].DEALTIME != null)
                                {
                                    dtOVer = Convert.ToDateTime(list[i + 1].DEALTIME); ;
                                }

                                if (dtOVer > overTimeStr)
                                {
                                    IsOver = "是";
                                }
                                if (list[i + 1].WFDID == "20160407132010003")
                                {
                            <tr>
                                <th>选择环节 </th>
                                <td>
                                    <label class="lablestyle">@list[i + 1].WF_WORKFLOWDETAILS.WFDNAME</label>
                                </td>
                                <th>处理期限 </th>
                                <td>
                                    <label class="lablestyle">@remark 小时</label>
                                </td>
                            </tr>
                            <tr>
                                <th>超期时间 </th>
                                <td>
                                    <label class="lablestyle">@overTime</label>
                                </td>
                                <th>是否超期</th>
                                <td>
                                    <label class="lablestyle">@ViewBag.ISOVERDUE</label>
                                </td>
                            </tr>
                            <tr>
                                <th>选择分队</th>
                                <td>
                                    <label class="lablestyle">@UserUnit</label>
                                </td>
                                <th>选择队员</th>
                                <td>
                                    <label class="lablestyle">@UserName</label>
                                </td>
                            </tr>
                            <tr>
                                <th>派遣意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                                }
                                else if (list[i + 1].WFDID == "20160407132010006")
                                {
                            <tr>
                                <th>选择环节 </th>
                                <td>
                                    <label class="lablestyle">@list[i + 1].WF_WORKFLOWDETAILS.WFDNAME</label>
                                </td>
                                <th>挂起时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            <tr>
                                <th>挂起意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                                }
                                else if (list[i + 1].WFDID == "20160407132010007")
                                {
                            <tr>
                                <th>选择环节 </th>
                                <td>
                                    <label class="lablestyle">@list[i + 1].WF_WORKFLOWDETAILS.WFDNAME</label>
                                </td>
                                <th>作废时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            <tr>
                                <th>作废意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                                }

                            }
                            if (list[i].WFDID == "20160407132010003")//队员处理环节
                            {
                            <tr>
                                <th>处理人 </th>
                                <td>
                                    <label class="lablestyle">@DealUserNama</label>
                                </td>
                                <th>处理时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            <tr>
                                <th>处理意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                            }
                            if (list[i].WFDID == "20160407132010004")//指挥中心审核
                            {
                            <tr>
                                <th>审核人 </th>
                                <td>
                                    <label class="lablestyle">@DealUserNama</label>
                                </td>
                                <th>审核时间 </th>
                                <td>
                                    <label class="lablestyle">@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                            <tr>
                                <th>审核意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                                  
                            }
                            if (list[i].WFDID == "20160407132010005")//结案
                            {
                            <tr>
                                <th>结案人</th>
                                <td>
                                    <label class="lablestyle">@DealUserNama</label>
                                </td>
                                <th>结案时间 </th>
                                <td>
                                    <label class="lablestyle">@list[i].DEALTIME.Value.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                </td>
                            </tr>
                               
                               
                            }
                            if (list[i].WFDID == "20160407132010006")//挂起
                            {
                                string WFSAIDS = list[i + 1].WFSAID;
                                List<WF_WORKFLOWSPECIFICUSERS> wfsuLists = new WF_WORKFLOWSPECIFICUSERSBLL()
                                    .GetList(WFSAIDS).ToList();
                                sysUser = UserBLL.GetUserByUserID(Convert.ToDecimal(wfsuLists[0].USERID));

                                if (sysUser != null)
                                {
                                    UserName = sysUser.USERNAME;
                                    UserUnit = sysUser.SYS_UNITS != null ? sysUser.SYS_UNITS.UNITNAME : "";
                                }
                            <tr>
                                <th>选择分队</th>
                                <td>
                                    <label class="lablestyle">@UserUnit</label>
                                </td>
                                <th>选择队员</th>
                                <td>
                                    <label class="lablestyle">@UserName</label>
                                </td>
                            </tr>
                            <tr>
                                <th>处理期限 </th>
                                <td>
                                    <label class="lablestyle">@ViewBag.DISPOSELIMIT</label>
                                </td>
                                <th>超期时间 </th>
                                <td>
                                    <label class="lablestyle">@ViewBag.OVERTIME</label>
                                </td>
                            </tr>
                            <tr>
                                <th>派遣意见</th>
                                <td colspan="3">
                                    <label class="lablestyle">@contentMes</label>
                                </td>
                            </tr>
                               
                            }
                            if (list[i].WFDID == "20160407132010007")//作废
                            {

                            }


                        }
                    </table>
                        }
                    }
                      
                }

            </div>


        </div>
        <input id="ZFSJID" style="display:none" value="@ViewBag.ZFSJID"/>
        <input id="WFSAID" style="display:none" value="@ViewBag.WFSAID"/>
        <input id="hid_wfdid" type="hidden" value="@ViewBag.WFDID" />
        <script type="text/javascript">
            $("#usual1 ul").idTabs();
        </script>
</body>
</html>
