@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新建住宅拆迁</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>

    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: center;
            font: 75% Verdana, Arial, Helvetica, sans-serif;
        }

        h1 {
            font: 125% Arial, Helvetica, sans-serif;
            text-align: left;
            font-weight: bolder;
            background: url(/Images/images/btnbg1.png) repeat-x;
            padding: 3px;
            display: block;
            color: white;
        }

        .clear {
            clear:both;
        }

        .class1 {
            width: 95%;
            position: relative;
            margin: 0 auto;
            padding: 5px;
        }

        .CQAddspan {
            position: absolute;
            right: 10px;
            top: 8px;
            cursor: pointer;
            color: white;
        }

        #contentclass1, #contentclass2, #contentclass3, #contentclass4, #contentclass5 {
            margin-top: 5px;
            height: 50px;
            overflow: hidden;
            display: none;
        }

        .div_content {
            float: left;
            margin: 20px 20px 0px 20px;
        }

        b {
            color: red;
        }

        .select2 {
            width: 140px;
            height: 32px;
            line-height: 32px;
            border-top: solid 1px #a7b5bc;
            border-left: solid 1px #a7b5bc;
            border-right: solid 1px #ced9df;
            border-bottom: solid 1px #ced9df;
            background: url(../images/inputbg.gif) repeat-x;
            text-indent: 10px;
            float: left;
            margin: 5px;
        }

        .dfinputs {
            width: 97%
        }

        .zdgc_table {
         width:100%;
        }

        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 70%;
            height: 60%;
          
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }
        .addfilebtn {
            width: 40px;
            height: 22px;
            line-height: 22px;
            display: inline-block;
            margin-top: 6px;
            color: rgb(255, 255, 255);
            background: transparent url("/Images/images/btnbg1.png") repeat-x scroll 0% 0%;
            font-size: 15px;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
        }
        .tabson td {
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 10px 0px;
            text-align: left;
            line-height: 30px;
            width: 40%;
        }

            .tabson td label {
                margin-left: 20px;
            }

        .tabson th {
            width: 170px;
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 8px;
            text-align: center;
            line-height: 30px;
        }

        .tabson tr input.large {
            width: 98%;
            height: 30px;
        }

        .tabson tr input.small {
            width: 94%;
        }

        .tabson {
            width: 100%;
            border: solid #b9aeae;
            border-width: 1px 0px 0px 1px;
        }
        .leftblue {
        width: 100px;
        float: left;
        margin-top: 60px;
        }
        .mp {
            width: 100px; float: left; margin-top: 20px;
            background-color:#d1dde4;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            layer.config({
                skin: 'layer-ext-seaning',
                offset: ['100px', '33%'],
                title: '提示',
                moveOut: true,
                closeBtn: false,
                extend: 'skin/seaning/style.css'
            });

            $("#usual1 ul").idTabs();
            $("#usual2 ul").idTabs();
            $('.tablelist tbody tr:odd').addClass('odd');
            $("input[name='SIGNTIME']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='STARTTIME']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='DRAWTIME']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='CHTIME']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='EMPTYTIME']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });

            var EditHouseId = getQueryString("EditHouseId");
            if (EditHouseId != null)
                EditShow(EditHouseId);

            $("input[name='HOUSEAREA'],input[name='WAREHOUSEAREA'],input[name='WIPEIN'],input[name='WIPEOUT']").change(function () {
                if ($("input[name='HOUSEAREA']").val() != "" && $("input[name='WAREHOUSEAREA']").val() != "" &&
                    $("input[name='WIPEIN']").val() != "" && $("input[name='WIPEOUT']").val() != "") {
                    calculator_first();
                }else
                    $("#MoveArea").val("");
            })

            $("input[name='EXPANSIONAREA'],input[name='HOUSEHOLDEXPANSIONAREA'],input[name='REWARDAREA'],input[name='MARRIAGEAREA']").change(function () {
                if ($("input[name='EXPANSIONAREA']").val() != "" && $("input[name='HOUSEHOLDEXPANSIONAREA']").val() != "" &&
                    $("input[name='REWARDAREA']").val() != "" && $("input[name='MARRIAGEAREA']").val() != "") {
                        calculator_second();
                    }else
                        $("#ArrangeArea").val("");
            })

            $("input[name='TERM'],input[name='STANDARDMONEY']").change(function () {
                if ($("input[name='TERM']").val() != "" && $("input[name='STANDARDMONEY']").val() != "") {
                    var total = parseFloat($("input[name='TERM']").val()) * parseFloat($("input[name='STANDARDMONEY']").val());
                    $("input[name='MONEY']").eq(0).val(total.toFixed(2));
                } else
                    $("input[name='MONEY']").eq(0).val("");
            })
            
            $("input[name='HOUSECOUNT']").change(function () {
                var count = parseInt($("input[name='HOUSECOUNT']").val());
                $("input[name='RESIDENTIAL'],input[name='HOUSENUMBER'],input[name='AREA']").removeAttr("disabled").css("background", "#FFF");
                if(count == 0)
                    $("input[name='RESIDENTIAL'],input[name='HOUSENUMBER'],input[name='AREA']").attr("disabled", "disabled").css("background","#EEE");
                if (count == 1)
                    $("input[name='RESIDENTIAL']:gt(0),input[name='HOUSENUMBER']:gt(0),input[name='AREA']:gt(0)").attr("disabled", "disabled").css("background", "#EEE");
                if (count == 2)
                    $("input[name='RESIDENTIAL']:eq(2),input[name='HOUSENUMBER']:eq(2),input[name='AREA']:eq(2)").attr("disabled", "disabled").css("background", "#EEE");
                if (count > 3)
                {
                    layer.alert("最大套数三套！", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    })
                    $("input[name='HOUSECOUNT']").val("");
                }
            })

            //控制流程样式
            $("#mp1").css("pointer-events", "all").css("background","white");
            $("#SaveBtn1").show();
        })

        //后台回调js函数
        function AddCallBack(flag, whichbtnid, EditHouseId, IsHiddenEdit, whichstage) {
            if (flag == 1) {
                layer.alert("操作成功!", {
                    icon: 1,
                    skin: 'layer-ext-seaning'
                });
            }
            if (flag == 2) {
                layer.alert("操作失败!", {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
            }
            if (flag == 3) {
                var str = WhichStage(whichstage);
                layer.alert(str, {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
            }
            $("#EditBtn" + (whichbtnid - 1)).hide();
            if (EditHouseId != null)
                EditShow(EditHouseId);
        }

        //操作哪个阶段
        function selectsave(id) {
            $("input[name='hidden-whichbtn']").val(id);
        }

        function DivShowEdit(id) {
            var i = parseInt(id) - 1;
            $("#divshowedit" + id).hide();
            $("#EditBtn" + id).show();
            $(".zdgc_table:eq(" + i + ") input").removeAttr("disabled");
            if (id == 4)
            {
                var count = parseInt($("input[name='HOUSECOUNT']").val());
                if (count == 0)
                    $("input[name='RESIDENTIAL'],input[name='HOUSENUMBER'],input[name='AREA']").attr("disabled", "disabled").css("background", "#EEE");
                if (count == 1)
                    $("input[name='RESIDENTIAL']:gt(0),input[name='HOUSENUMBER']:gt(0),input[name='AREA']:gt(0)").attr("disabled", "disabled").css("background", "#EEE");
                if (count == 2)
                    $("input[name='RESIDENTIAL']:eq(2),input[name='HOUSENUMBER']:eq(2),input[name='AREA']:eq(2)").attr("disabled", "disabled").css("background", "#EEE");
            }
        }

        //是否编辑
        function selectedit(id) {
            $("input[name='hidden-isedit']").val(1);
            $("input[name='hidden-whichbtn']").val(id);
        }

        //处于流程的哪个阶段
        function WhichStage(id) {
            var result = "";
            switch (parseInt(id)+1)
            {
                case 1: result = "丈量摸底阶段未完成！"; break;
                case 2: result = "签协阶段未完成！"; break;
                case 3: result = "过渡阶段未完成！"; break;
                case 4: result = "抽签安置阶段未完成！"; break;
            }
            return result;
        }

        //验证表单
        function validate_form(thisform) {
            with (thisform){
                if ($("#SelectProject option:selected").val() > 0) {
                    if ($("input[name='hidden-whichbtn']").val() == 1) {
                        if (validate_required(HOUSEHOLDER, "户主不能为空!") == false)
                        { HOUSEHOLDER.focus(); return false }
                        if (validate_required(HOLDERPHONE, "户主联系方式不能为空!") == false)
                        { HOLDERPHONE.focus(); return false }
                        if (validate_required_float(WARRANTAREA, "权证记载面积不能为空!","权证记载面积格式不正确!") == false)
                        { WARRANTAREA.focus(); return false }
                        if (validate_required_float(MEASUREMENTAREA,  "丈量面积不能为空!","丈量面积格式不正确!") == false)
                        { MEASUREMENTAREA.focus(); return false }
                        if (validate_required_float(WITHOUTAREA, "无证建筑面积不能为空!","无证建筑面积格式不正确!") == false)
                        { WITHOUTAREA.focus(); return false }
                    }
                    if ($("input[name='hidden-whichbtn']").val() == 2) {
                        if (validate_required_float(HOUSEAREA, "可调产房屋面积不能为空!", "可调产房屋面积格式不正确!") == false)
                        { HOUSEAREA.focus(); return false }
                        if (validate_required_float(WAREHOUSEAREA, "仓库面积不能为空!", "仓库面积格式不正确!") == false)
                        { WAREHOUSEAREA.focus(); return false }
                        if (validate_required_float(WIPEIN, "划入不能为空!", "划入格式不正确!") == false)
                        { WIPEIN.focus(); return false }
                        if (validate_required_float(WIPEOUT, "划出不能为空!", "划出格式不正确!") == false)
                        { WIPEOUT.focus(); return false }
                        if (validate_required_float(EXPANSIONAREA, "扩户面积不能为空!", "扩户面积格式不正确!") == false)
                        { EXPANSIONAREA.focus(); return false }
                        if (validate_required_float(HOUSEHOLDEXPANSIONAREA, "分户扩户不能为空!", "分户扩户面积格式不正确!") == false)
                        { HOUSEHOLDEXPANSIONAREA.focus(); return false }
                        if (validate_required_float(REWARDAREA, "可奖励面积不能为空!", "可奖励面积格式不正确!") == false)
                        { REWARDAREA.focus(); return false }
                        if (validate_required_float(MARRIAGEAREA, "婚领优购不能为空!", "婚领优购面积格式不正确!") == false)
                        { MARRIAGEAREA.focus(); return false }
                        if (validate_required_float(HOUSEMONEY, "原房补偿款不能为空!", "原房补偿款格式不正确!") == false)
                        { HOUSEMONEY.focus(); return false }
                        if (validate_required_float(REWARDMONEY, "奖励费不能为空!", "奖励费格式不正确!") == false)
                        { REWARDMONEY.focus(); return false }
                    }
                    if ($("input[name='hidden-whichbtn']").val() == 3) {
                        if (validate_required_float(TERM, "期限不能为空!", "期限格式不正确!") == false)
                        { TERM.focus(); return false }
                        if (validate_required_float(STANDARDMONEY, "每月过渡费初始标准不能为空!", "每月过渡费初始标准格式不正确!") == false)
                        { STANDARDMONEY.focus(); return false }
                        if (validate_required_float(PLACEAREA, "不计发过渡费可安置面积不能为空!", "不计发过渡费可安置面积格式不正确!") == false)
                        { PLACEAREA.focus(); return false }
                    }
                    if ($("input[name='hidden-whichbtn']").val() == 4) {
                        if (validate_required_float(HOUSECOUNT, "套数不能为空!", "套数格式不正确!") == false)
                        { HOUSECOUNT.focus(); return false }
                        if (validate_required_float(OVERAREA, "实际剩余面积不能为空!", "实际剩余面积格式不正确!") == false)
                        { OVERAREA.focus(); return false }
                    }
                    if ($("input[name='hidden-whichbtn']").val() == 5) {
                        if (validate_required(CHUSER, "结算人不能为空!") == false)
                        { CHUSER.focus(); return false }
                        if (validate_required(ACCOUNTUSER, "核算人不能为空!") == false)
                        { ACCOUNTUSER.focus(); return false }
                        if ($("input[name='MONEY']").eq(1).val() == null || $("input[name='MONEY']").eq(1).val() == "")
                        {
                            $("input[name='MONEY']").eq(1).focus();
                            layer.alert("资金结算不能为空", {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            });
                            return false;
                        }
                        var intregex = /^[0-9]+(.[0-9]{1,5})?$/;
                        if (!intregex.test($("input[name='MONEY']").eq(1).val()))
                        {
                            $("input[name='MONEY']").eq(1).focus();
                            layer.alert("资金结算格式不正确", {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            });
                            return false;
                        }
                    } else {
                        return true;
                    }
                } else {
                    layer.alert("选择项目不能为空!", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                }
            }
        }

        //验证是否为空
        function validate_required(field, alerttxt) {
            with (field) {
                if (value == null || value == "")
                {
                    layer.alert(alerttxt, {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false
                }
                else { return true }
            }
        }

        //验证是否为空并且为数字
        function validate_required_float(field, alertnulltxt,alerterrortxt) {
            var intregex = /^[0-9]+(.[0-9]{1,5})?$/;
            with (field) {
                if (value == null || value == "")
                {
                    layer.alert(alertnulltxt, {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false
                }
                if (value != null && value != "" && !intregex.test(value))
                {
                    layer.alert(alerterrortxt, {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false
                }
                if (value != null && value != "" && intregex.test(value))
                { return true }
            }
        }

        //收缩展开
        function OpenDiv(id) {
            if ($("#contentclass" + id).css("display") == "block") {
                var h = $("#contentclass" + id).outerHeight();
                var maxh = 100;
                function dmove() {
                    if (h <= 0) {
                        $("#contentclass" + id).css("display", "none");
                        clearInterval(iIntervalId);
                    } else {
                        h -= 50;//设置层收缩的速度
                        $("#contentclass" + id).css("height", h + "px");
                    }
                }
                iIntervalId = setInterval(dmove, 2);
                $("#contentclass" + id).css("display", "none");
                $("#stateBut" + id).text("展开");
                
            } else {
                var p = document.getElementsByName("div_p");
                var span = document.getElementsByName("div_span");
                var h = $("#contentclass" + id).outerHeight();
                var maxh = 100;
                function dmove() {
                    if (h >= maxh) {
                        $("#contentclass" + id).css("height", "auto");
                        clearInterval(iIntervalId);
                    } else {
                        h += 50; //设置层展开的速度
                        $("#contentclass" + id).css("display", "block");
                        $("#contentclass" + id).css("height", h + "px");
                    }
                }
                iIntervalId = setInterval(dmove, 2);
                $("#contentclass" + id).css("display", "block");
                $("#stateBut" + id).text("收缩");
            }

        }

        //获取url参数
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }

        function calculator_first() {
            var total = parseFloat($("input[name='HOUSEAREA']").val()) + parseFloat($("input[name='WAREHOUSEAREA']").val()) +
                        parseFloat($("input[name='WIPEIN']").val()) - parseFloat($("input[name='WIPEOUT']").val());
            $("#MoveArea").val(total.toFixed(2));
        }

        function calculator_second() {
            var total = parseFloat($("#MoveArea").val()) + parseFloat($("input[name='EXPANSIONAREA']").val()) +
                            parseFloat($("input[name='HOUSEHOLDEXPANSIONAREA']").val()) + parseFloat($("input[name='REWARDAREA']").val()) +
                            parseFloat($("input[name='MARRIAGEAREA']").val());
            $("#ArrangeArea").val(total.toFixed(2));
        }

        //添加文件按钮
        function AddAfterFile(id) {
            $("#AddAfterFile" + id).after("<div style='margin: 20px 0px;text-align: left;'><input name='AddFile" + Math.random(10000, 99999) + "' type='file'  value='' /><b style='color:black;cursor:pointer;' onclick='DeleteFile(this);'>删除</b></div>");
        }

        //删除文件按钮
        function DeleteFile(obj) {
            $(obj).parent().remove();
        }

        //拆迁住宅编辑展示
        function EditShow(Id) {
            $("input[name='hidden-houseid']").val(Id);
            $.ajax({
                type: "GET",
                url: "/CQGLManagement/ShowCQHouse?HouseId=" + Id,
                success: function (data) {
                    AllDataShow(data);
                }
            });
        }

        //展示页面填充
        function AllDataShow(data) {
            if ($(".placeul li").length == 1) {
                $(".placeul li:eq(0)").text("住宅拆迁详情");
                $(".placeul li:eq(0)").before("<li><a href='/CQGLManagement/HouseList'>住宅拆迁列表</a></li>");
            }
            $("#SelectProject option[value='" + data.hmodel.PROJECTID + "']").prop("selected", "selected");
            $("#SelectProject").attr("disabled", "disabled");
            $("input[name='hidden-projectid']").val(data.hmodel.PROJECTID);
            if (data.hmodel.HOUSEID > 0)
            {
                $("#SaveBtn1").hide();
                $("#divshowedit1").show();
                //$("#mp2").css("pointer-events", "all").css("background", "white");
                //$("#leftblue2 img").attr("src", "/Images/MajorProjects/left-green.png");
                $("#OpenDivimg1,#SaveBtn2").show();
                $(".zdgc_table:eq(0) input").attr("disabled", "disabled");
                $("input[name='HOUSEHOLDER']").val(data.hmodel.HOUSEHOLDER);
                $("input[name='HOLDERPHONE']").val(data.hmodel.HOLDERPHONE);
                $("input[name='WARRANTAREA']").val(data.hmodel.WARRANTAREA);
                $("input[name='MEASUREMENTAREA']").val(data.hmodel.MEASUREMENTAREA);
                $("input[name='WITHOUTAREA']").val(data.hmodel.WITHOUTAREA);
                FileShow(data.hstr, 1);
            }
            if (data.smodel.SIGNID > 0) {
                $("#SaveBtn2").hide();
                $("#divshowedit2").show();
                $("#mp2").css("pointer-events", "all").css("background", "white");
                $("#leftblue2 img").attr("src", "/Images/MajorProjects/left-green.png");
                $("#OpenDivimg2,#SaveBtn3").show();
                $(".zdgc_table:eq(1) input").attr("disabled", "disabled");
                $("input[name='SIGNTIME']").val(ChangeDateFormat(data.smodel.SIGNTIME));
                $("input[name='HOUSEAREA']").val(data.smodel.HOUSEAREA);
                $("input[name='WAREHOUSEAREA']").val(data.smodel.WAREHOUSEAREA);
                $("input[name='WIPEIN']").val(data.smodel.WIPEIN);
                $("input[name='WIPEOUT']").val(data.smodel.WIPEOUT);
                $("input[name='EXPANSIONAREA']").val(data.smodel.EXPANSIONAREA);
                $("input[name='HOUSEHOLDEXPANSIONAREA']").val(data.smodel.HOUSEHOLDEXPANSIONAREA);
                $("input[name='REWARDAREA']").val(data.smodel.REWARDAREA);
                $("input[name='MARRIAGEAREA']").val(data.smodel.MARRIAGEAREA);
                $("input[name='HOUSEMONEY']").val(data.smodel.HOUSEMONEY);
                $("input[name='REWARDMONEY']").val(data.smodel.REWARDMONEY);
                $("input[name='EMPTYTIME']").val(ChangeDateFormat(data.smodel.EMPTYTIME));
                calculator_first();
                calculator_second();
                FileShow(data.sstr, 2);
            }
            if (data.tmodel.TRANSITIONID > 0) {
                $("#SaveBtn3").hide();
                $("#divshowedit3").show();
                $("#mp3").css("pointer-events", "all").css("background", "white");
                $("#leftblue3 img").attr("src", "/Images/MajorProjects/left-green.png");
                $("#OpenDivimg3,,#SaveBtn4").show();
                $(".zdgc_table:eq(2) input").attr("disabled", "disabled");
                $("input[name='STARTTIME']").val(ChangeDateFormat(data.tmodel.STARTTIME));
                $("input[name='TERM']").val(data.tmodel.TERM);
                $("input[name='STANDARDMONEY']").val(data.tmodel.STANDARDMONEY);
                $("input[name='MONEY']").eq(0).val(data.tmodel.MONEY);
                $("input[name='PLACEAREA']").val(data.tmodel.PLACEAREA);
                FileShow(data.tstr, 3);
            }
            if (data.dmodel.DRAWID > 0) {
                $("#SaveBtn4").hide();
                $("#divshowedit4").show();
                $("#mp4").css("pointer-events", "all").css("background", "white");
                $("#leftblue4 img").attr("src", "/Images/MajorProjects/left-green.png");
                $("#OpenDivimg4,#SaveBtn5").show();
                $(".zdgc_table:eq(3) input").attr("disabled", "disabled");
                $("input[name='DRAWTIME']").val(ChangeDateFormat(data.dmodel.DRAWTIME));
                $("input[name='HOUSECOUNT']").val(data.dmodel.HOUSECOUNT);
                $("input[name='OVERAREA']").val(data.dmodel.OVERAREA);
                for (var i = 0; i < data.dhmodel.length ; i++)
                {
                    $("input[name='RESIDENTIAL']").eq(i).val(data.dhmodel[i].RESIDENTIAL);
                    $("input[name='HOUSENUMBER']").eq(i).val(data.dhmodel[i].HOUSENUMBER);
                    $("input[name='AREA']").eq(i).val(data.dhmodel[i].AREA);
                }
                FileShow(data.dstr, 4);
            }
            if (data.cmodel.CHID > 0) {
                $("#SaveBtn5").hide();
                $("#divshowedit5").show();
                $("#mp5").css("pointer-events", "all").css("background", "white");
                $("#leftblue5 img").attr("src", "/Images/MajorProjects/left-green.png");
                $("#OpenDivimg5").show();
                $(".zdgc_table:eq(4) input").attr("disabled", "disabled");
                $("input[name='CHTIME']").val(ChangeDateFormat(data.cmodel.CHTIME));
                $("input[name='CHUSER']").val(data.cmodel.CHUSER);
                $("input[name='ACCOUNTUSER']").val(data.cmodel.ACCOUNTUSER);
                $("input[name='MONEY']").eq(1).val(data.cmodel.MONEY);
                FileShow(data.cstr, 5);
            }
        }

        function ChangeDateFormat(val) {
            if (val != null) {
                var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
                //月份为0-11，所以+1，月份小于10时补个0
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "-" + month + "-" + currentDate;
            }
            return "";
        }
        
        //文件信息展示
        function FileShow(file, id) {
            if (file.FILENAME != null && file.FILENAME != "") {
                var fileid = new Array();
                fileid = file.FileIdStr.split('|');
                var filestring = new Array();
                filestring = file.FILENAME.split('|');
                var filepath = new Array();
                filepath = file.FILEPATH.split('|');
                var strhtml = "";
                var hidefilepath = $("#hidden-filepath").val();
                for (var i = 0; i < filestring.length; i++) {
                    strhtml += "<br /><div style='float:left;'><a href='/DownFile/DownLoadOAWorkFlow?path=" + hidefilepath
                        + filepath[i] + "&&fileName=" + filestring[i] + "'>" + filestring[i] + "</a><span id=" + fileid[i] +
                                " onclick='DeleteDBFile(this,"+id+");' style='margin-left:50px;cursor:pointer;' >删除</span></div>";
                }
                $("#showfile" + id).html("<input id='AddAfterFile" + id + "' class='addfilebtn' disabled='disabled' onclick='AddAfterFile(" + id + ");' style='text-align:center;float:left;' value='添加' />" + strhtml);
            } else
                $("#showfile" + id).html("<input id='AddAfterFile" + id + "' class='addfilebtn' disabled='disabled' onclick='AddAfterFile(" + id + ");' style='text-align:center;float:left;' value='添加' />");
        }

        //删除数据库附件
        function DeleteDBFile(obj, id) {
            if ($("#divshowedit" + id).css("display") == "none") {
                layer.confirm('是否确认删除?', {
                    btn: ['是', '否'],
                    icon: 4,
                    //按钮
                }, function () {
                    $.ajax({
                        type: 'GET',
                        url: '/CQGLManagement/DeleteDBFile?random=' + Math.random(),
                        data: { AttrachId: obj.id },
                        success: function (data) {
                            if (data == "删除成功") {
                                var oobj = $(obj).parent().parent();
                                var btid = oobj.prop("id").substr(-1, 1);
                                $(obj).parent().remove();
                                if (oobj.html() == "")
                                    $("#showfile" + btid).html("<div id='AddAfterFile" + btid + "' class='addfilebtn' style='float:left;' onclick='AddAfterFile(" + btid + ");'>添加</div>");
                                layer.alert(data, {
                                    icon: 1,
                                    skin: 'layer-ext-seaning'
                                });
                            } else {
                                layer.alert(data, {
                                    icon: 0,
                                    skin: 'layer-ext-seaning'
                                });
                            }
                        }
                    })
                }, function () {
                    layer.close();
                });
            }
        }

        //拆迁流程点击事件
        function CQLC(a) {
            OpenDiv(a);
        }

    </script>
</head>
<body>
    

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>新建住宅拆迁</li>
        </ul>
    </div>

    <div style="float: none; margin-top: 20px; margin:0 auto; width: 1000px; height: 160px; ">
        <div style="width: 100%;">
            <div id="leftblue1" class="leftblue" style="display:none">
               <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp1" class="mp" style="pointer-events:none;">
                <a  onclick='CQLC(1)'>
                <img src="~/Images/MajorProjects/cq-02-v4.png" style="width: 96px;height: 96px;" /><br />
                <span>丈量摸底阶段</span>

                </a>
            </div>
            <div id="leftblue2" class="leftblue">
               <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp2" class="mp" style="pointer-events:none;">
                 <a onclick="CQLC(2)">
                <img src="~/Images/MajorProjects/cq-05-v4.png" style="width: 96px;height: 96px;" /><br />
                <span>签协阶段</span>
                     </a>
            </div>
            <div id="leftblue3" class="leftblue">
                 <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp3" class="mp" style="pointer-events:none;">
                 <a onclick="CQLC(3)">
                <img src="~/Images/MajorProjects/cq-07-v4.png" style="width: 96px;height: 96px;" /><br />
                <span>过渡阶段</span>
                     </a>
            </div>
            <div id="leftblue4" class="leftblue">
                <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp4" class="mp" style="pointer-events:none;">
                <a onclick="CQLC(4)">
                    <img src="~/Images/MajorProjects/cq-06-v4.png" style="width: 96px;height: 96px;" /><br />
                    <span>抽签安置阶段</span></a>
            </div>
            <div id="leftblue5" class="leftblue">
                <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp5" class="mp" style="pointer-events:none;">
                <a onclick="CQLC(5)">
                    <img src="~/Images/MajorProjects/cq-04-v4.png" style="width: 96px;height: 96px;" /><br />
                    <span>结账阶段</span></a>
            </div>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" action="/CQGLManagement/NewHouseCommit" target="hidden_frame" onsubmit="return validate_form(this)">

        <div style="margin-left: 40px; margin-top: 10px; text-align: center;" >
            <label style="float: left; margin-top: 13px">选择拆迁项目:<b>*</b></label>
            @Html.DropDownList("SelectProject",ViewBag.project as IEnumerable<SelectListItem>,"请选择", new {@class="dfinputs", @style = "width: auto;padding-right: 30px;"})
        </div>
        <div class="clear" style="width: 100%; height:10px"></div>

        <div class="class1">
            <h1>丈量摸底阶段</h1>
            <div class="CQAddspan" style="margin-right: 30px;display:none;" id="OpenDivimg1">
                <img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png">
            </div>
            <span class="CQAddspan" id="stateBut1" onclick="OpenDiv(1);">展开</span>
            <div id="contentclass1">
                <div>
                    <input id="divshowedit1" class="sure" style="float: right;display:none;text-align:center;" onclick="DivShowEdit(1);" value="编  辑" />
                    <input id="EditBtn1" type="submit" class="sure" style="float: right;display:none;" onclick="selectedit(1);" value="保  存" />
                    <input id="SaveBtn1" type="submit" class="sure" style="float: right;display:none;" onclick="selectsave(1);" value="保  存" />
                </div>
                  <table class="zdgc_table">
                    <tr>
                        <td>户主</td>
                        <td colspan="2">
                            <input name="HOUSEHOLDER" type="text" class="dfinputs" /></td>
                        <td>联系方式</td>
                        <td>
                            <input name="HOLDERPHONE" type="text" class="dfinputs" /></td>
                    </tr>
                    <tr>
                        <td rowspan="2">有证面积</td>
                        <td style="width:100px;">权证记载面积</td>
                        <td>
                            <input name="WARRANTAREA" type="text" class="dfinputs" style="width:96%;" /></td>
                        <td rowspan="2">无证面积</td>
                        <td rowspan="2">
                            <input name="WITHOUTAREA" type="text" class="dfinputs" /></td>
                    </tr>
                    <tr>
                        <td>丈量面积</td>
                        <td>
                            <input name="MEASUREMENTAREA" type="text" class="dfinputs" style="width:96%;" /></td>
                    </tr>
                    <tr>
                        <td>附件上传</td>
                        <td colspan="4">
                            <div id="showfile1" style="float:left;"><div id="AddAfterFile1" class="addfilebtn" onclick="AddAfterFile(1);" style="float:left;">添加</div></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="class1">
            <h1>签协阶段</h1>
            <div class="CQAddspan" style="margin-right: 30px;display:none;" id="OpenDivimg2">
                <img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png">
            </div>
            <span class="CQAddspan" id="stateBut2" onclick="OpenDiv(2);">展开</span>
            <div id="contentclass2">
               <div>
                   <input id="divshowedit2" class="sure" style="float: right;display:none;text-align:center;" onclick="DivShowEdit(2);" value="编  辑" />
                   <input id="EditBtn2" type="submit" class="sure" style="float: right;display:none;" onclick="selectedit(2);" value="保  存" />
                   <input id="SaveBtn2" type="submit" class="sure" style="float: right;display:none;" onclick="selectsave(2);" value="保  存" />
               </div>
               <table class="zdgc_table">
                    <tr>
                        <td>签协时间:</td>
                        <td>
                            <input name="SIGNTIME" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)"  style="height:32px"/>
                        </td>
                        <td>可调产房屋面积:</td>
                        <td>

                            <input name="HOUSEAREA" type="text" class="dfinputs" />

                        </td>
                        <td>仓库面积:</td>
                        <td>

                            <input name="WAREHOUSEAREA" type="text" class="dfinputs" />

                        </td>
                    </tr>
                    <tr>
                        <td>划入:</td>
                        <td>
                            <input name="WIPEIN" type="text" class="dfinputs" />
                        </td>
                        <td>划出:</td>
                        <td>
                            <input name="WIPEOUT" type="text" class="dfinputs" />

                        </td>
                        <td>扩户面积:</td>
                        <td>
                            <input name="EXPANSIONAREA" type="text" class="dfinputs" />
                        </td>
                    </tr>
                    <tr>
                        <td>分户扩户面积:</td>
                        <td>
                            <input name="HOUSEHOLDEXPANSIONAREA" type="text" class="dfinputs" />
                        </td>
                        <td>可奖励面积:</td>
                        <td>
                            <input name="REWARDAREA" type="text" class="dfinputs" />

                        </td>
                        <td>婚领优购:</td>
                        <td>
                            <input name="MARRIAGEAREA" type="text" class="dfinputs" />
                        </td>
                    </tr>
                    <tr>
                        <td>原房补偿款:</td>
                        <td>
                            <input name="HOUSEMONEY" type="text" class="dfinputs" />
                        </td>
                        <td>奖励费:</td>
                        <td>
                            <input name="REWARDMONEY" type="text" class="dfinputs" />
                        </td>
                        <td>腾空时间</td>
                        <td>
                            <input name="EMPTYTIME" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)"  style=height:32px"/>
                        </td>
                    </tr>
                    <tr>
                        <td>总可调产面积:</td>
                        <td>
                            <input id="MoveArea" class="dfinputs" placeholder="可调产房屋面积+仓库面积+划入-划出" readonly="readonly" style="cursor: not-allowed;" />
                        </td>
                        <td>可安置面积:</td>
                        <td>
                            <input id="ArrangeArea" class="dfinputs" placeholder="总可调产面积+扩户面积+分户扩户面积+可奖励面积+婚领优购"
                            title="总可调产面积+扩户面积+分户扩户面积+可奖励面积+婚领优购" readonly="readonly" style="width:150%;cursor: not-allowed;" />
                        </td>
                    </tr>
                    <tr>

                        <td>附件上传</td>
                        <td colspan="5">
                            <div id="showfile2" style="float:left;"><div id="AddAfterFile2" class="addfilebtn" onclick="AddAfterFile(2);" style="float:left;">添加</div></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="class1">
            <h1>过渡阶段</h1>
            <div class="CQAddspan" style="margin-right: 30px;display:none;" id="OpenDivimg3">
                <img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png">
            </div>
            <span class="CQAddspan" id="stateBut3" onclick="OpenDiv(3);">展开</span>
            <div id="contentclass3">

                <div id="usual1" class="usual">
                    <div class="itab">
                        <ul>
                            <li><a href="#tab1" class="selected" onclick="$('.tabson').hide();$('#tab1').show();">首次过渡费情况</a></li>
                            <li><a href="#tab2" onclick="$('.tabson').show();$('#tab1').hide();">历史过渡费清单</a></li>                        
                        </ul>
                        <input id="divshowedit3" class="sure" style="float: right;display:none;text-align:center;" onclick="DivShowEdit(3);" value="编  辑" />
                        <input id="EditBtn3" type="submit" class="sure" style="float: right;display:none;" onclick="selectedit(3);" value="保  存" />
                        <input id="SaveBtn3" type="submit" class="sure" style="float: right;display:none;" onclick="selectsave(3);" value="保  存" />          
                    </div>
                    <div id="tab1">
                         <table class="zdgc_table">
                            <tr>
                                <td style="width: 110px">过渡费发放时间</td>
                                <td>
                                    <input name="STARTTIME" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)"  style="height:32px"/>
                                <td style="width: 120px">发放期限（月数）</td>
                                <td>
                                    <input name="TERM" type="text" class="dfinputs" placeholder="请输入发放期限" /></td>
                            </tr>
                            <tr>
                                <td style="width: 110px">每月过渡费初始标准</td>
                                <td>
                                    <input name="STANDARDMONEY" type="text" class="dfinputs" placeholder="请输入每月过渡费初始标准" /></td>
                                <td style="width: 110px">过渡费</td>
                                <td colspan="2">
                                    <input name="MONEY" type="text" class="dfinputs" placeholder="发放期限*每月过渡费初始标准" readonly="readonly" style="cursor: not-allowed;" /></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 165px">不计发过渡费可安置面积</td>
                                <td>
                                    <input name="PLACEAREA" type="text" class="dfinputs" placeholder="请输入面积" /></td>
                            </tr>
                            <tr>
                                <td>上传附件</td>
                                <td colspan="4">
                                    <div id="showfile3" style="float:left;"><div id="AddAfterFile3" class="addfilebtn" onclick="AddAfterFile(3);" style="float:left;">添加</div></div></td>
                            </tr>
                        </table>
                    </div>

                    @if (ViewBag.TList != null){
                        foreach (var item in ViewBag.TList)
                        {
                            <div id="tab2" class="tabson" style="margin-top:30px;display:none;width: 99%;">
                                <table style="margin-bottom: 20px;" class="table table-bordered">
                                <tr>
                                    <th>创建时间</th>
                                    <td>
                                        <label class="lablestyle">@item.CREATTIME</label>
                                    </td>
                                    <th>发放时间 </th>
                                    <td>
                                        <label class="lablestyle">@item.STARTTIME</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>过渡费发放标准 </th>
                                    <td>
                                        <label class="lablestyle">@item.STANDARDMONEY</label>
                                    </td>
                                    <th>发放期限 </th>
                                    <td>
                                        <label class="lablestyle">@item.TERM</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>发放金额 </th>
                                    <td>
                                        <label class="lablestyle">@item.MONEY</label>
                                    </td>
                                    <th>不计发过渡费可安置面积</th>
                                    <td>
                                        <label class="lablestyle">@item.PLACEAREA</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>审核附件 </th>
                                    <td colspan="3">
                                        @if (item.FILENAME != null && item.FILENAME != "")
                                        {
                                            string[] filestring = item.FILENAME.Split('|');
                                            string[] filepath = item.FILEPATH.Split('|');
                                            for (var i = 0; i < filestring.Length; i++)
                                            {
                                                <div class="lablestyle" style="margin-left: 20px;"><a href='/DownFile/DownLoadOAWorkFlow?path=C://ZGMFile/ProjectFilesPath/@filepath[i]&&fileName=@filestring[i]'>@filestring[i]</a></div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </table>
                            </div>
                        }
                    }                    

                </div>
            </div>
        </div>

        <div class="class1">
            <h1>抽签安置阶段</h1>
            <div class="CQAddspan" style="margin-right: 30px;display:none;" id="OpenDivimg4">
                <img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png">
            </div>
            <span class="CQAddspan" id="stateBut4" onclick="OpenDiv(4);">展开</span>
            <div id="contentclass4">
                <div>
                    <input id="divshowedit4" class="sure" style="float: right;display:none;text-align:center;" onclick="DivShowEdit(4);" value="编  辑" />
                    <input id="EditBtn4" type="submit" class="sure" style="float: right;display:none;" onclick="selectedit(4);" value="保  存" />
                    <input id="SaveBtn4" type="submit" class="sure" style="float: right;display:none;" onclick="selectsave(4);" value="保  存" />
                </div>
                 <table class="zdgc_table">
                    <tr>
                        <td >抽签时间</td>
                        <td colspan="2">
                            <input name="DRAWTIME" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)"  style="width:180px;height:32px"/></td>
                        <td>套数</td>
                        <td colspan="2">
                            <input name="HOUSECOUNT" type="text" class="dfinputs" />
                        </td>
                           
                    </tr>
                    <tr id="HouseCount1">
                        <td rowspan="3">安置情况</td>
                        <td>套型1</td>
                        <td>小区</td>
                        <td> <input name="RESIDENTIAL" type="text" class="dfinputs" /></td>
                        <td>房号</td>
                        <td> <input name="HOUSENUMBER" type="text" class="dfinputs" /></td>
                        <td>面积</td>
                        <td> <input name="AREA" type="text" class="dfinputs" /></td>
                    </tr>
                    <tr id="HouseCount2">
                        <td>套型2</td>
                        <td>小区</td>
                        <td> <input name="RESIDENTIAL" type="text" class="dfinputs" /></td>
                        <td>房号</td>
                        <td> <input name="HOUSENUMBER" type="text" class="dfinputs" /></td>
                        <td>面积</td>
                        <td> <input name="AREA" type="text" class="dfinputs" /></td>
                    </tr>
                    <tr id="HouseCount3">
                        <td>套型3</td>
                        <td>小区</td>
                        <td> <input name="RESIDENTIAL" type="text" class="dfinputs" /></td>
                        <td>房号</td>
                        <td> <input name="HOUSENUMBER" type="text" class="dfinputs" /></td>
                        <td>面积</td>
                        <td> <input name="AREA" type="text" class="dfinputs" /></td>
                    </tr>
                    <tr>
                        <td>实际剩余面积</td>
                        <td > <input name="OVERAREA" class="dfinputs" /></td>
                    </tr>
                    <tr>
                        <td colspan="8"></td>
                    </tr>

                    <tr>
                        <td>附件上传</td>
                        <td style="line-height: 30px" colspan="3">
                            <div id="showfile4" style="float:left;"><div id="AddAfterFile4" class="addfilebtn" onclick="AddAfterFile(4);" style="float:left;">添加</div></div></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="class1">
            <h1>结账阶段</h1>
            <div class="CQAddspan" style="margin-right: 30px;display:none;" id="OpenDivimg5">
                <img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png">
            </div>
            <span class="CQAddspan" id="stateBut5" onclick="OpenDiv(5);">展开</span>
            <div id="contentclass5">
                <div>
                    <input id="divshowedit5" class="sure" style="float: right;display:none;text-align:center;" onclick="DivShowEdit(5);" value="编  辑" />
                    <input id="EditBtn5" type="submit" class="sure" style="float: right;display:none;" onclick="selectedit(5);" value="保  存" />
                    <input id="SaveBtn5" type="submit" class="sure" style="float: right;display:none;" onclick="selectsave(5);" value="保  存" />
                </div>
               <table class="zdgc_table">
                    <tr>
                        <td >结账时间:</td>
                        <td>
                            <input name="CHTIME" type="text" class="dfinputs" readonly="readonly" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)"  style="height:32px"/>
                        </td>
                        <td >结账人:</td>
                        <td>
                            <input name="CHUSER" type="text" id="Text6" class="dfinputs" />
                        </td>
                    </tr>
                    <tr>
                        <td >核算人:</td>
                        <td>
                            <input name="ACCOUNTUSER" type="text" id="Text7" class="dfinputs" />
                        </td>
                        <td >资金结算:</td>
                        <td><input name="MONEY" type="text" id="Text8" class="dfinputs" />
                        </td>
                    </tr>

                    <tr>
                        <td >附件上传</td>
                        <td >
                            <div id="showfile5" style="float:left;"><div id="AddAfterFile5" class="addfilebtn" onclick="AddAfterFile(5);" style="float:left;" >添加</div></div></td>
                    </tr>
                </table>

            </div>
        </div>

        <input type="hidden" name="hidden-whichbtn" value="0" />
        <input type="hidden" name="hidden-projectid" value="0" />
        <input type="hidden" name="hidden-houseid" value="0" />
        <input type="hidden" name="hidden-isedit" value="0" />
        <input type="hidden" id="hidden-filepath"  value="@System.Configuration.ConfigurationManager.AppSettings["ProjectPath"].Replace("\\","/")"/>
    </form>

    <iframe name='hidden_frame' id="hidden_frame" style="display:none"></iframe> 
</body>
</html>
