@{
    Layout = null;
}
@model ZGM.Model.CQGL_PROJECTS
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>项目详情</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 630px;
            height: 270px;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }

        .btn_ico_a_delete {
            margin-left: -10px;
        }

        .tabson td {
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 10px 0px;
            text-align: left;
            line-height: 30px;
            width: 40%;
        }

            .tabson td label {
                margin-left: 20px;
            }

        .tabson th {
            width: 170px;
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 8px;
            text-align: center;
            line-height: 30px;
        }

        .tabson tr input.large {
            width: 98%;
            height: 30px;
        }

        .tabson tr input.small {
            width: 94%;
        }

        .tabson {
            width: 100%;
            border: solid #b9aeae;
            border-width: 1px 0px 0px 1px;
        }
    </style>
    <script type="text/javascript">
        function goback() {
            location.href = "/CQGLManagement/Index";
        }

        function mapInited() {
            setTimeout(function () {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                var Geometry = $("#GEOMETRY").val();
                mapCtrl.AddPolygon("Green", Geometry);
            }, 1000)
        }

        function mapDraw(s) {
            var a = $("#GEOMETRY").val();
            a = s;
            $("#GEOMETRY").val(a);
        }

        function mapClear() {
            var a = "";
            $("#GEOMETRY").val(a);
        }
    </script>
</head>
<body>
    
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/CQGLManagement/Index">项目列表</a></li>
            <li>项目详情</li>
        </ul>
    </div>
    <div class="formbody">
        <div id="tab1" class="tabson">
            <div>
                <table style="margin-bottom: 20px;" class="table table-bordered">
                    <tr>
                        <th>项目名称 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.PROJECTNAME</label>
                        </td>
                        <th>负责人 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.PROJECTUSER</label>
                        </td>
                    </tr>
                    <tr>
                        <th>项目启动时间  </th>
                        <td>
                            <label class="lablestyle">@ViewBag.STARTTIME </label>
                        </td>
                        <th>项目完结时间 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.ENDTIME</label>

                        </td>
                    </tr>
                    <tr>
                        <th>备注 </th>
                        <td colspan="3">
                            <label class="lablestyle">@ViewBag.REMARKS</label>
                        </td>
                    </tr>
                    <tr>
                        <th>地图位置 </th>
                        <td colspan="3" class="form-group" id="ShowOrHide" style="margin-bottom: 5px;">
                            @Html.HiddenFor(model => model.GEOMETRY, new { @name = "GEOMETRY", @id = "GEOMETRY",@Value = @ViewBag.GEOMETRY})
                            <div class="form-group" style="width: 90%; height: 350px;margin-left: 20px;">
                                <div id="silverlightControlHost" style="height: 340px;">
                                    <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=@ZGM.Web.ConfigManager.MapUrl,X1=@ZGM.Web.ConfigManager.MapLonX1,Y1=@ZGM.Web.ConfigManager.MapLatY1,X2=@ZGM.Web.ConfigManager.MapLonX2,Y2=@ZGM.Web.ConfigManager.MapLatY2,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48,fileUrl=" />
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                    <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>项目附件 </th>
                        <td colspan="3">
                            @if (ViewBag.FILENAME != null && ViewBag.FILENAME != "")
                            {
                                string[] filestring = ViewBag.FILENAME.Split('|');
                                string[] filepath = ViewBag.FILEPATH.Split('|');
                                for (var i = 0; i < filestring.Length; i++)
                                {
                                <div class="lablestyle" style="margin-left: 20px;"><a href='/DownFile/DownLoadOAWorkFlow?path=@System.Configuration.ConfigurationManager.AppSettings["ProjectPath"].Replace("\\","/")@filepath[i]&&fileName=@filestring[i]'>@filestring[i]</a></div>
                                }
                            }
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div style="clear: both"></div>
        <div style="margin-top: 10px; margin-left: 5%">
            <div>
                <input type="button" class="sure" onclick="goback();" value="返　回" />
            </div>
        </div>

    </div>

</body>
</html>
