@{
    Taizhou.PLE.Model.CaseWorkflowModels.TotalForm wmCaseForm = ViewBag.TotalForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form101 wmForm1 = wmCaseForm.Form101;
}

<div class="form">
    <div class="title">
        立案审批表
    </div>
    <div class="code">
        @*@wmForm1.AJBH*@
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">案　　由</th>
            <td colspan="9">
                @Html.TextBox("ay", wmForm1.AY, new { disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th colspan="2">发案地点</th>
            <td colspan="9">
                @Html.TextBox("fadd", wmForm1.FADD, new { disabled = "disabled" })

            </td>
        </tr>
        <tr>

            <th colspan="2">发案时间</th>
            <td colspan="3" class="control-group" id="td_FASJ">
                @Html.TextBox("fasj", wmForm1.FASJ, new { disabled = "disabled" })
            </td>

            <th colspan="2">案件来源</th>
            <th colspan="4" class="control-group" id="td_AJLYID">
                <select disabled="disabled">
                    <option value="@wmForm1.AJLYID">@wmForm1.AJLYName</option>
                </select>
            </th>
        </tr>
        <tr>
            <th colspan="2">是否立案</th>
            <td colspan="3">
                @{
                    string laChecked1 = wmForm1.SFLA == "la" ? "checked=\"checked\"" : "";
                    string zfChecked1 = wmForm1.SFLA == "zf" ? "checked=\"checked\"" : "";
                }
                <input type="radio" @laChecked1 value="la" disabled="disabled" />立案
                <input type="radio" @zfChecked1 value="zf" disabled="disabled" />作废
            </td>
            <th colspan="2">承办单位</th>
            <th colspan="4" id="td_CBDWID" class="control-group">
                <select disabled="disabled">
                    <option value="@wmForm1.CBDWID">@wmForm1.CBDWName</option>
                </select>)
            </th>
        </tr>
        <tr>
            <th colspan="2">是否为重大案件</th>
            @{
                string SWZDAN1 = wmForm1.SFWZDAN == "s" ? "checked=\"checked\"" : "";
                string FWZDAN1 = wmForm1.SFWZDAN == "f" ? "checked=\"checked\"" : "";
            }
            <td colspan="9">
                <input type="radio" @SWZDAN1 value="la" disabled="disabled" />是
                <input type="radio" @FWZDAN1 value="la" disabled="disabled" />否
            </td>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="6">当事<br />
                人基<br />
                本情<br />
                况</th>
            <th colspan="2">当事人类型</th>
            @{
                string dw1 = wmForm1.DSRLX == "dw" ? "checked=\"checked\"" : "";
                string gr1 = wmForm1.DSRLX == "gr" ? "checked=\"checked\"" : "";
            }
            <td colspan="8">
                <input type="radio" @dw1 value="la" disabled="disabled" />单位
                <input type="radio" @gr1 value="la" disabled="disabled" />个人
            </td>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="2">单位</th>
            <th style="width: 42px;">名称</th>
            <td colspan="4">
                @Html.TextBox("mc", wmForm1.OrgForm.MC, new { @class = "dw", disabled = "disabled" })
            </td>
            <th colspan="2">组织机构<br />
                代码证编号</th>
            <td colspan="2">
                @Html.TextBox("zzjgdmzbh", wmForm1.OrgForm.ZZJGDMZBH, new { @class = "dw", disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th colspan="2">法定代表人<br />
                （负责人）姓名</th>
            <td colspan="3">
                @Html.TextBox("fddbrxm", wmForm1.OrgForm.FDDBRXM, new { @class = "dw", disabled = "disabled" })
            </td>
            <th colspan="2">职务</th>
            <td colspan="2">
                @Html.TextBox("zw", wmForm1.OrgForm.ZW, new { @class = "dw", disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="2">个人</th>
            <th style="width: 42px;">姓名</th>
            <td style="width: 92px;">
                @Html.TextBox("xm", wmForm1.PersonForm.XM, new { @class = "gr", disabled = "disabled" })
            </td>
            <th style="width: 42px;">性别</th>
            <td style="width: 72px;">
                <select disabled="disabled">
                    <option value="@wmForm1.PersonForm.XB">@wmForm1.PersonForm.XB</option>
                </select>
            </td>
            <th style="width: 52px;">出生<br />
                年月</th>
            <td style="width: 102px;" colspan="2">
                @Html.TextBox("csny", wmForm1.PersonForm.CSNY, new { @class = "gr", disabled = "disabled" })
            </td>
            <th style="width: 42px;">民族</th>
            <td style="width: 92px;">
                @Html.TextBox("mz", wmForm1.PersonForm.MZ, new { @class = "gr", disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th style="width: 42px;">身份<br />
                证号</th>
            <td colspan="2">
                @Html.TextBox("sfzh", wmForm1.PersonForm.SFZH, new { @class = "gr", disabled = "disabled" })
            </td>
            <th style="width: 72px;">工作单位</th>
            <td colspan="5">
                @Html.TextBox("gzdw", wmForm1.PersonForm.GZDW, new { @class = "gr", disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th colspan="2">住所地<br />
                （住址）</th>
            <td colspan="5">
                <input type="text" disabled="disabled" value="@wmForm1.ZSD" /></td>
            <th style="width: 42px;">联系<br />
                电话</th>
            <td colspan="2">
                <input type="text" disabled="disabled" value="@wmForm1.LXDH" /></td>
        </tr>
        <tr>
            <th style="width: 42px;">案情<br />
                摘要</th>
            <td colspan="10">
                @Html.TextArea("aqzy", wmForm1.AQZY, new { disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th style="width: 42px;">违法<br />
                行为</th>
            <td colspan="10" id="wfxw">
                <div>
                    违法行为代码：@wmForm1.IllegalForm.Code
                </div>

                <div>
                    违法行为:@wmForm1.IllegalForm.Name
                </div>
                <div>
                    适用的违则：@wmForm1.IllegalForm.WeiZe
                </div>
                <div>
                    适用的罚则：@wmForm1.IllegalForm.FaZe
                </div>
                <div>
                    适用的处罚：@wmForm1.IllegalForm.ChuFa
                </div>

            </td>
        </tr>
        <tr>
            <th style="width: 42px;">立案<br />
                理由</th>
            <td colspan="10">
                @Html.TextArea("laly", wmForm1.LALY, new { disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th style="width: 42px;">拟办<br />
                意见</th>
            <td colspan="10">
                @Html.TextArea("lbyj", wmForm1.NBYJ, new { disabled = "disabled" })
            </td>
        </tr>
        @if (!string.IsNullOrWhiteSpace(wmForm1.THYJ))
        {
            <tr>
                <th style="width: 42px;">退回<br />
                    意见</th>
                <td colspan="10">
                    @Html.TextArea("thyj", wmForm1.THYJ, new { disabled = "disabled" })
                </td>
            </tr>
        }
         <tr>
            <th style="width: 42px;">拟办<br />
                队员</th>
            <td colspan="5">
                <select name="NBDYID1" id="NBDYID1" disabled="disabled">
                    <option value="@wmForm1.NBDYID1">@wmForm1.NBDYNAME1</option>
                </select>
            </td>
            <td colspan="5">
                <select name="NBDYID2" id="NBDYID2" disabled="disabled">
                    <option value="@wmForm1.NBDYID2">@wmForm1.NBDYNAME2</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>处理人</th>
            <td colspan="4">@Html.TextBox("clr", wmForm1.ProcessUser.UserName, new { disabled = "disabled" })</td>
            <th colspan="2">处理时间</th>
            <td colspan="4">@Html.TextBox("clsj", wmForm1.ProcessTime != null ? wmForm1.ProcessTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "", new { disabled = "disabled" })</td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
</div>
