@{
    Taizhou.PLE.Model.CaseWorkflowModels.TotalForm wmCaseForm = ViewBag.TotalForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form101 wmForm1 = wmCaseForm.Form101;
    Taizhou.PLE.Model.CaseWorkflowModels.Form102 wmForm2 = wmCaseForm.Form102;
    Taizhou.PLE.Model.CaseWorkflowModels.Form103 wmForm3 = wmCaseForm.Form103;
    Taizhou.PLE.Model.CaseWorkflowModels.Form104 wmForm4 = wmCaseForm.Form104;
    Taizhou.PLE.Model.CaseWorkflowModels.Form105 wmForm5 = wmCaseForm.Form105;
    Taizhou.PLE.Model.CaseWorkflowModels.Form106 wmForm6 = wmCaseForm.Form106;
    Taizhou.PLE.Model.CaseWorkflowModels.Form107 wmForm7 = wmCaseForm.Form107;
    Taizhou.PLE.Model.CaseWorkflowModels.Form108 wmForm8 = wmCaseForm.Form108;
    Taizhou.PLE.Model.CaseWorkflowModels.Form109 wmForm9 = wmCaseForm.Form109;
    Taizhou.PLE.Model.CaseWorkflowModels.Form110 wmForm10 = wmCaseForm.Form110;
    Taizhou.PLE.Model.CaseWorkflowModels.Form111 wmForm11 = wmCaseForm.Form111;
    Taizhou.PLE.Model.CaseWorkflowModels.Form112 wmForm12 = wmCaseForm.Form112;
    Taizhou.PLE.Model.CaseWorkflowModels.Form113 wmForm13 = wmCaseForm.Form113;
}

<div class="form">
    <div class="title">
         行政处罚告知书
    </div>
<table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto;">
        <tr>
            <th colspan="2">违法事实</th>
            <td colspan="9">
                @Html.TextArea(model => model.WFSS)
            </td>
        </tr>
        <tr>
            <th colspan="2">行政处罚理由</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.XZCFLY)
            </td>
        </tr>
        <tr>
            <th colspan="2">是否符合听证条件</th>
            <td colspan="2">
                <input type="radio" name="SFFHTZTJ" checked="checked" style="width: 20px;" value="true" />是
                <input type="radio" name="SFFHTZTJ" style="width: 20px;" value="false" />否               
            </td>
            <th>告知日期</th>
            <td colspan="6">
                @Html.TextBoxFor(model => model.GZRQ, "{0:yyyy-MM-dd HH:mm}")
            </td>
        </tr>
        <tr>
            <th colspan="2">执法机关地址</th>
            <td colspan="6">
                @Html.TextBoxFor(model => model.ZFJGDZ)
            </td>
            <th>邮编</th>
            <td colspan="2">
                @Html.TextBoxFor(model => model.YB)
            </td>
        </tr>
        <tr>
            <th colspan="2">联系人</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.LXR)
            </td>
            <th colspan="2">联系电话</th>
            <td colspan="4">
                @Html.TextBoxFor(model => model.LXDH)
            </td>
        </tr>
        <tr>
            <td style="width: 42px; border: none;"></td>
            <td colspan="10" style="border: none; padding-top: 10px;">
                <input type="submit" class="btn btn-success" value="提　交">
                <a style="margin-left: 10px;" href="javascript:void(0)" class="btn goBack">取　消</a>
            </td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <div class="clear"></div>
</div>





