@{
    Taizhou.PLE.Model.CaseWorkflowModels.TotalForm wmCaseForm = ViewBag.TotalForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form101 wmForm1 = wmCaseForm.Form101;
    Taizhou.PLE.Model.CaseWorkflowModels.Form122 wmForm22 = wmCaseForm.Form122;
    Taizhou.PLE.Model.CaseWorkflowModels.Form123 wmForm23 = wmCaseForm.Form123;
    Taizhou.PLE.Model.CaseWorkflowModels.Form124 wmForm24 = wmCaseForm.Form124;
    Taizhou.PLE.Model.CaseWorkflowModels.Form125 wmForm25 = wmCaseForm.Form125;
}

<div class="form">
    <div class="title">
        行政处罚案件结案报告 
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">案　　由</th>
            <td colspan="9">
                <input type="text" value="@wmForm1.AY" name="AY" id="AY" disabled="disabled"/></td>
        </tr>
        <tr>
            <th colspan="2">发案地点</th>
            <td colspan="9">
                <input type="text" value="@wmForm1.FADD" name="FADD" id="FADD" disabled="disabled"/></td>
        </tr>
        <tr>
            <th colspan="2">发案时间</th>
            <td colspan="3">
                <input type="text" value="@wmForm1.FASJ" name="FASJ" id="FASJ" disabled="disabled"/></td>
            <th colspan="2">案件来源</th>
            <td colspan="4">
                <input type="text" id="ajly" name="ajly" disabled="disabled" value="@wmForm1.AJLYName"/></td>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="5">当事<br />
                人基<br />
                本情<br />
                况</th>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="2">单位</th>
            <th style="width: 42px;">名称</th>
            <td colspan="4">
                <input type="text" id="mc" name="mc" value="@wmForm1.OrgForm.MC" disabled="disabled"/></td>
            <th colspan="2">组织机构<br />
                代码证编号</th>
            <td colspan="2">
                <input type="text" id="zzjgdmzbh" name="zzjgdmzbh" value="@wmForm1.OrgForm.ZZJGDMZBH" disabled="disabled"/></td>
        </tr>
        <tr>
            <th colspan="2">法定代表人<br />
                （负责人）姓名</th>
            <td colspan="3">
                <input type="text" id="fddbrxm" name="fddbrxm" value="@wmForm1.OrgForm.FDDBRXM" disabled="disabled"/></td>
            <th colspan="2">职务</th>
            <td colspan="2">
                <input type="text" id="zw" name="zw" value="@wmForm1.OrgForm.ZW" disabled="disabled"/></td>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="2">个人</th>
            <th style="width: 42px;">姓名</th>
            <td style="width: 92px;">
                <input type="text" id="xm" name="xm" value="@wmForm1.PersonForm.XM" disabled="disabled"/></td>
            <th style="width: 42px;">性别</th>
            <td style="width: 72px;">
                <input type="text" id="xb" name="xb" value="@wmForm1.PersonForm.XB" disabled="disabled"/></td>
            <th style="width: 52px;">出生<br />
                年月</th>
            <td style="width: 102px;" colspan="2">
                <input type="text" id="csny" name="csny" value="@wmForm1.PersonForm.CSNY" disabled="disabled"/></td>
            <th style="width: 42px;">民族</th>
            <td style="width: 92px;">
                <input type="text" id="mz" name="mz" value="@wmForm1.PersonForm.MZ" disabled="disabled"/></td>
        </tr>
        <tr>
            <th style="width: 42px;">身份<br />
                证号</th>
            <td colspan="2">
                <input type="text" id="sfzh" name="sfzh" value="@wmForm1.PersonForm.SFZH" disabled="disabled"/></td>
            <th style="width: 72px;">工作单位</th>
            <td colspan="5">
                <input type="text" id="gzdw" name="gzdw" value="@wmForm1.PersonForm.GZDW"  disabled="disabled"/></td>
        </tr>
        <tr>
            <th colspan="2">住所地<br />
                （住址）</th>
            <td colspan="5">
                <input type="text" id="zsd" name="zsd" value="@wmForm1.ZSD" disabled="disabled"/></td>
            <th style="width: 42px;">联系<br />
                电话</th>
            <td colspan="3">
                <input type="text" id="lxdh" name="lxdh" value="@wmForm1.LXDH" disabled="disabled"/></td>
        </tr>
        <tr>
            <th colspan="2">行政处罚<br />
                决定书文号</th>
            <td colspan="9">
                <textarea id="xzcfjdswh" name="xzcfjdswh" disabled="disabled">@wmForm22.XZCFJDSWH</textarea></td>
        </tr>
        <tr>
            <th colspan="2">行政处罚内容</th>
            <td colspan="9">
                <textarea id="xzcfnr" name="xzcfnr" disabled="disabled">@wmForm22.XZCFNR</textarea>
            </td>
        </tr>
        <tr>
            <th colspan="2">处罚执行<br />
                方式及罚没<br />
                财务的处置</th>
            <td colspan="9">
                <textarea id="cfzxfsjfmcwdcz" name="cfzxfsjfmcwdcz" disabled="disabled">@wmForm22.CFZXFSJFMCWDCZ</textarea>
            </td>
        </tr>
        <tr>
            <th colspan="2">主办队员意见</th>
            <td colspan="9">
                <textarea id="zbdyyj" name="zbdyyj" disabled="disabled">@wmForm22.ZBDYYJ</textarea>
            </td>
        </tr>
        <tr>
            <th colspan="2">协办队员意见</th>
            <td colspan="9">
                <textarea id="xbdyyj" name="xbdyyj" disabled="disabled">@wmForm23.XBDYYJ</textarea>
            </td>
        </tr>
        <tr>
            <th colspan="2">办案单位意见</th>
            <td colspan="9">
                <textarea id="badwyj" name="badwyj" disabled="disabled">@wmForm24.BADWYJ</textarea>
            </td>
        </tr>
        <tr>
            <th colspan="2">法制处意见</th>
            <td colspan="9">
                @Html.TextArea("fzcyj", wmForm25.FZCYJ, new { disabled = "disabled" })
            </td>
        </tr>
        <tr>
            <th colspan="2">处理人</th>
            <td colspan="3">@Html.TextBox("clr", wmForm25.ProcessUser.UserName, new { disabled = "disabled" })</td>
            <th colspan="2">处理时间</th>
            <td colspan="4">@Html.TextBox("clsj", wmForm25.ProcessTime != null ? wmForm25.ProcessTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "", new { disabled = "disabled" })</td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <div class="clear"></div>
</div>














