@model Web.ViewModels.RelevantItemViewModels.ViewModel203
@using Taizhou.PLE.Model.RelevantItemWorkflowModels;
@{
    RelevantItemForm RIForm = ViewBag.RelevantItemForm;
    RelevantItemForm1 RIForm1 = RIForm.RelevantItemForm1;
    RelevantItemForm2 RIForm2 = RIForm.RelevantItemForm2;
}
<style>
    .workflow td {
        text-align: center;
    }
</style>
<div class="box" style="margin-top: 5px;">
    <div class="box-title">
        <span><i class="icon-folder-close"></i>承办机构审核相关事项审批</span>
        <ul class="nav nav-tabs">
            @{
                string display = "display:none;";
                string docName = "";
                string docSrc = "";
                if (RIForm.SPSXForm != null)
                {
                    display = "";
                    docName = RIForm.SPSXForm.SPSXDIName;
                    docSrc = RIForm.SPSXForm.SPSXDISrc;
                }
            }
            <li><a id="hrefQTSXNBSPBDoc" href="#divQTSXNBSPBDocContainer" data-toggle="tab" style="@display">@docName</a></li>
            <li class="active"><a id="hrefQTSXNBSPForm" href="#divQTSXNBSPBFormContainer" data-toggle="tab">相关事项审批表</a></li>
        </ul>
    </div>
    <div class="box-content">
        <div class="tab-content">
            <div class="tab-pane active" id="divQTSXNBSPBFormContainer">
                <div class="title">
                    相关事项内部审批表
                </div>
                <form action="/Workflow203/Commit" method="post" enctype="multipart/form-data">
                    @Html.HiddenFor(model => model.AJBH)
                    @Html.HiddenFor(model => model.ParentWIID)
                    @Html.HiddenFor(model => model.WIID)
                    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
                        <tr>
                            <td colspan="2">申请事项</td>
                            <td colspan="4">@Html.TextBox("SQSX", RIForm1.SQSX, new { disabled = "disabled" })</td>
                            <td colspan="2">文书编号</td>
                            <td colspan="5">@Html.TextBox("WSBH", RIForm1.WSBH, new { disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td colspan="2">案  由</td>
                            <td colspan="4">@Html.TextBox("AY", RIForm1.AY, new { disabled = "disabled" })</td>
                            <td colspan="2">立案日期</td>
                            <td colspan="5">@Html.TextBox("LARQ", RIForm1.LARQ, "{0:yyyy-MM-dd}", new { disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td rowspan="5">当事人情况</td>
                            <th>姓名</th>
                            <td colspan="2">@Html.TextBox("XM", RIForm1.XM, new { disabled = "disabled" })</td>
                            <th>性别</th>
                            <td colspan="2">
                                <select name="XB" id="XB" style="width: 80px;" class="gr" disabled="disabled">
                                    @{
                                        string mSelected = RIForm1.XB == "男" ? "selected=\"selected\"" : "";
                                        string wmSelected = RIForm1.XB == "女" ? "selected=\"selected\"" : "";
                                    }
                                    <option value="男" @mSelected>男</option>
                                    <option value="女" @wmSelected>女</option>
                                </select></td>

                            <th colspan="2">身份证号码</th>
                            <td colspan="4">@Html.TextBox("SFZH", RIForm1.SFZH, new { disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <th>职业</th>
                            <td colspan="3">@Html.TextBox("ZY", RIForm1.ZY, new { disabled = "disabled" })</td>
                            <th>民族</th>
                            <td colspan="2">@Html.TextBox("MZ", RIForm1.MZ, new { disabled = "disabled" })</td>
                            <th>职务</th>
                            <td colspan="4">@Html.TextBox("ZW", RIForm1.ZW, new { disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <th>名称</th>
                            <td colspan="4">@Html.TextBox("MC", RIForm1.MC, new { disabled = "disabled" })</td>
                            <th colspan="2">法定代表人
                (负责人)</th>
                            <td colspan="5">@Html.TextBox("FDDBR", RIForm1.FDDBR, new { disabled = "disabled" })</td>

                        </tr>
                        <tr>
                            <th>工作<br />
                                单位</th>
                            <td colspan="5">@Html.TextBox("GZDW", RIForm1.GZDW, new { disabled = "disabled" })</td>
                            <th>电  话</th>
                            <td colspan="5">@Html.TextBox("DH", RIForm1.DH, new { disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <th>住址<br />
                                (住所)</th>
                            <td colspan="5">@Html.TextBox("ZZ", RIForm1.ZZ, new { disabled = "disabled" })</td>
                            <th>邮政<br />
                                编码</th>
                            <td colspan="5">@Html.TextBox("YZBM", RIForm1.YZBM, new { disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td>简要案情及申请理由依据和内容</td>
                            <td colspan="12">@Html.TextArea("JYAQ", RIForm1.JYAQ, new { style = "height:150px;", disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td>承办人意见</td>
                            <td colspan="12">@Html.TextArea("CBRYJ", RIForm1.CBRYJ, new { style = "height:80px;", disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td>承办机构审核意见</td>
                            <td colspan="12">@Html.TextArea("CBJGSHYJ", RIForm2.CBJGSHYJ, new { style = "height:80px;", disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td>行政机关负责人审批意见</td>
                            <td colspan="12">@Html.TextArea("XZJGFZRSPYJ", new { style = "height:110px;" })</td>
                        </tr>

                        <tr class="notHideTD">
                            <td style="width: 42px; border: none;"></td>
                            <td colspan="11" style="border: none; padding-top: 10px; text-align: left!important;">
                                <input type="submit" class="btn btn-success" value="提　交" />
                            </td>
                        </tr>
                        <tr class="notHideTD">
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="width: 52px; border: none;"></td>
                            <td style="border: none;">&nbsp;</td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="tab-pane" id="divQTSXNBSPBDocContainer">
                <iframe src="/Document/GetPDFFile?DocPath=@docSrc" width="100%" height="800px" id="ifm" marginheight="0" marginwidth="0" scrolling="0" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

