@using NBZGM.XTBG.Models;
@{
    ViewBag.Title = "会议详情";
    Layout = null;
    List<XTBG_ATTACHMENT> NoticeEntities = ViewBag.AttachmentEntities as List<XTBG_ATTACHMENT>;
    XTBG_MEETING MeetingEntity = ViewBag.MeetingEntity;
}


<style type="text/css">
    .panel {
        margin-bottom: 0;
    }
</style>

<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">会议详情</h4>
</div>

<div class="modal-body">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center"><b>@MeetingEntity.MEETINGNAME</b></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-right">
                <b>发件部门：</b><span>@MeetingEntity.CREATEUNITNAME</span>
                <b>发件人：</b><span>@MeetingEntity.CREATEUSERNAME</span>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <p style="text-indent: 2em; padding: 0px; margin: 0px;">@MeetingEntity.MEETINGCONTENT</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
                @foreach (XTBG_ATTACHMENT Attachment in NoticeEntities)
                {
                    <li role="presentation" style="width: 20%;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img class="pull-left" src="/Images/fileIoc.png" style="height: 3em; width: 2em; margin-right: 0.5em;" />
                                <div style="width: 7em; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">@Attachment.ATTACHMENTNAME</div>
                                <div>
                                    <div class="pull-left">@Math.Round((Convert.ToDouble(Attachment.ATTACHMENTSIZE) / 1024 / 1024), 2).ToString()M</div>
                                    <div class="pull-right">
                                        <a href="/Common/DownloadFile?filepath=@Attachment.ATTACHMENTPATH&filename=@Attachment.ATTACHMENTNAME">下载</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
