@model Web.ViewModels.CaseViewModels.ViewModel15
@using Taizhou.PLE.Model.CaseWorkflowModels

@{
    Taizhou.PLE.Model.CaseWorkflowModels.CaseForm wmCaseForm = ViewBag.CaseForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form101 wmForm1 = wmCaseForm.FinalForm.Form101;
    Taizhou.PLE.Model.CaseWorkflowModels.Form102 wmForm2 = wmCaseForm.FinalForm.Form102;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=GZRQ]").datetimepicker();
    });
</script>
<form id="workflow15Form" class="workflowForm" method="post" enctype="multipart/form-data" action="/Workflow115/Commit">
    <div class="title">
        当事人意见反馈  
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">友情提醒</th>
            <td colspan="9">请先在左侧操作面板中填写完《行政处罚事先告知书回执》或者《文书送达回证》后再提交此流程环节。
            </td>
        </tr>
        <tr>
            <th colspan="2">当事人意见</th>
            <td colspan="9">
                <input type="radio" name="DSRYJ" value="0" dsryjname="放弃陈述申辩或听证" checked="true" />放弃陈述申辩或听证
                    <input type="radio" name="DSRYJ" value="1" dsryjname="要求陈述申辩" />要求陈述申辩
                    <input type="radio" name="DSRYJ" value="2" dsryjname="符合听证条件，当事人提出听证申请" />符合听证条件，当事人提出听证申请
                @*                @Html.Hidden("DSRYJID", 0)
                @Html.Hidden("DSRYJName", "放弃陈述申辩或听证")*@
            </td>
        </tr>
        <tr>
            <th colspan="2">备注说明</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.FKNR)
            </td>
        </tr>
        <tr>
            <th colspan="2">短信提醒</th>
            <td colspan="10">
                <input type="checkbox" id="FSDX" name="FSDX" value="" />
                <label id="SMSNameAndSMSNum">@wmForm2.ZBDY.UserName 手机号：</label>
                <label id="SMSUserNameAndNum"></label>
                @Html.Hidden("ZBDYID", wmForm2.ZBDY.UserID)
                @Html.Hidden("ZBDYNAME", wmForm2.ZBDY.UserName)
            </td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <div class="clear"></div>
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
</form>
