@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会议请假</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    @*<link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />*@
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>

    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/js/PageNotBack.js"></script>


    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>

        <style type="text/css">
        .tabson td {
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 10px 0px;
            text-align: left;
            line-height: 30px;
            width: 40%;
        }

            .tabson td label {
                margin-left: 20px;
            }

        .tabson th {
            width: 170px;
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 8px;
            text-align: center;
            line-height: 30px;
        }

        .tabson tr input.large {
            width: 98%;
            height: 30px;
        }

        .tabson tr input.small {
            width: 94%;
        }

        .tabson {
            width: 100%;
            border: solid #b9aeae;
            border-width: 1px 0px 0px 1px;
        }
    </style>


    <script type="text/javascript">
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }

        var MeetingID = getQueryString("MeetingID");
        var oTable;
        $(document).ready(function (e) {
            UserMeetingtableList(MeetingID);
            var pagenum = getQueryString("PageNum");
            if (pagenum != null && pagenum != "" && pagenum != undefined) {
                $(".itab a:eq(" + pagenum + ")").click();
            }
        });
        function UserMeetingtableList(MeetingID) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = "/Meeting/UserTableList";
                oTable.fnDraw(true);
            } else {
                oTable = $('#UserMeetingTableList').dataTable({
                    sAjaxSource: "/Meeting/UserTableList",
                    fnServerParams: function (aoData) {
                        aoData.push(
                              { "name": "MeetingID", "value": MeetingID }

                            );
                    },
                    aoColumns: [
                        { mDataProp: "USERNAME" },
                        {
                            mDataProp: function (data) {

                                var ISLEAVE;
                                if (data.ISLEAVE == "2") {
                                    ISLEAVE = "请假";
                                } else {
                                    ISLEAVE = "未请假";
                                }
                                return ISLEAVE;
                            }
                        },
                        { mDataProp: "LEAVECONTENT" },
                        { mDataProp: "LEAVETIME" },
                        {
                            mDataProp: function (data) {

                                var ISPARTIN;
                                if (data.ISPARTIN == "2") {
                                    ISPARTIN = "已同意";
                                } else {
                                    ISPARTIN = "未同意";
                                }
                                return ISPARTIN;
                            }
                        },
                         { mDataProp: "APPROVECONTENT" }
                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }

        function Button_AskForLeave() {
            var MEETINGID = $("#MEETINGID").val();
            var LEAVEAUDITUSER = $("#LEAVEAUDITUSER").val();
            var LEAVECONTENT = $("#LEAVECONTENT").val();
            if (LEAVECONTENT == "" && LEAVECONTENT == null) {
                layer.alert('请添加请假意见！', {
                    icon: 0,
                    skin: 'layer-ext-seaning'
                });
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/Meeting/LeaveToSubmitInformation",
                data: {
                    MEETINGID: MEETINGID, LEAVEAUDITUSER: LEAVEAUDITUSER, LEAVECONTENT: LEAVECONTENT
                },
                cache: false,
                success: function (data) {
                    if (data == 1) {
                        layer.alert('请假信息已提交!', { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/Meeting/Index?PageNum=1";
                        });
                    }
                },
                error: function () {
                    layer.alert('网络异常，请重试！', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }

            })

        }

    </script>

</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/Meeting/Index">会议</a></li>
            <li>请假</li>
        </ul>
    </div>
    <div class="formbody">
   
        <input name="" type="hidden"  value="@ViewBag.LEAVEAUDITUSER" id="LEAVEAUDITUSER" name="LEAVEAUDITUSER" />
        <input name="" type="hidden"  value="@ViewBag.MEETINGID" id="MEETINGID" name="MEETINGID" />
          <div id="tab1" class="tabson">
                <table style="margin-bottom: 20px;" class="table table-bordered">
                    <tr>
                        <th>会议名称 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.MEETINGTITLE</label>
                        </td>
                        <th>会议地点 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.ADDRESSNAME</label>
                        </td>
                    </tr>
                    <tr>
                        <th>会议开始时间 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.STIME </label>
                        </td>
                        <th>会议结束时间 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.ETIME</label>

                        </td>
                    </tr>
                    <tr>
                        <th>会议内容 </th>
                        <td colspan="3">
                            <label class="lablestyle">@ViewBag.CONTENT</label>
                        </td>
                    </tr>
                    <tr>
                        <th>请假审核人员 </th>
                        <td colspan="3">
                            <label class="lablestyle">@ViewBag.LEAVEAUDITUSERNAME</label>
                        </td>
                    </tr>
                    <tr>
                        <th>请假原因 </th>
                        <td colspan="3">
                            <textarea class="" id="LEAVECONTENT" name="LEAVECONTENT" style="width:95%; height: 80px ;margin-left:20px;"></textarea>
                        </td>
                    </tr>
                </table>
              </div>
                <div id="tab3" class="">
                     <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                <table id="UserMeetingTableList" class="tablelist">
                    <thead>
                        <tr>
                            <th style="width: 80px;">姓名</th>
                            <th style="width: 80px;">是否请假</th>
                            <th style="width: 80px;">请假原因</th>
                            <th style="width: 130px;">请假时间</th>
                            <th style="width: 80px;">是否同意</th>
                            <th style="width: 130px;">审核内容</th>
                        </tr>
                    </thead>
                </table>
                         </div>
            </div>
            <div style="clear: both"></div>
            <div style="margin-top: 10px; margin-left: 5%">
                <div>
                    <input name="" type="button" class="sure" onclick="Button_AskForLeave();" value="请 假" />
                </div>
            </div>



    </div>
</body>
</html>
