@using Taizhou.PLE.Model.CaseWorkflowModels
@{
    Layout = "~/Views/IntegratedService/CaseManagement/_LayoutCaseManagement.cshtml";

    CaseForm caseForm = ViewBag.CaseForm;
    List<Taizhou.PLE.Model.CaseWorkflowModels.TotalForm> ProcessForms =
        new List<Taizhou.PLE.Model.CaseWorkflowModels.TotalForm>();

    if (caseForm != null)
    {
        ProcessForms = caseForm.ProcessForms;
    }

}

@section HeadStyles_CaseManage{
    <link href="~/Scripts/assets/zTree/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Content/workflowCommonForm.css" rel="stylesheet" />
    <link href="~/Content/WorkflowProcess.css" rel="stylesheet" />
    <link href="~/Content/WorkflowProcess.css" rel="stylesheet" />
}
@section FootScripts_CaseManage{
    <script src="~/Scripts/plugins/timepicker/jquery-ui-sliderAccess.js"></script>
    <script src="~/Scripts/plugins/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/plugins/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/js/IntegratedService/CaseManagement/Workflow/WorkflowStepView1.js"></script>
}
@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">案件管理</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">案件中心</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">一般案件</a></li>
            <li>></li>
            <li class="active">处理环节</li>
        </ul>
    </div>
}
<div style="min-height: 500px; width: 100%">
    <div style="float: left; width: 21%; margin-left: 5px;">
        <div class="grid" style="margin-top: 0px; height: 100px;">
            <div class="grid-title">
                <div class="pull-left">概要信息</div>
                <div class="pull-right"></div>
                <div class="clear"></div>
            </div>
            <div class="grid-content" style="overflow: auto;">
                案件编号：@caseForm.WICode<br />
                案由：@caseForm.WIName
            </div>
        </div>
        <div class="grid">
            <div class="grid-title">
                <div class="pull-left">处理过程</div>
                <div class="pull-right"></div>
                <div class="clear"></div>
            </div>
            <div class="grid-content niceScroll">
                <table id="table_workflow" class="table table-striped table-mod-2 archives">
                    <tbody>
                        @{  
                            for (int i = 0; i < ProcessForms.Count(); i++)
                            {
                                if (i == 0)
                                {
                            <tr>
                                <td><a href="#" style="font-weight: normal;" class="historyForm" aiid="@ProcessForms[i].CurrentForm.ID"><i class="icon-play"></i>@ProcessForms[i].CurrentForm.ADName</a></td>
                            </tr>
                                }
                                else
                                {
                                    if (ViewBag.AIID == ProcessForms[i].CurrentForm.ID && i == ProcessForms.Count() - 1)
                                    {
                            <tr>
                                <td><a href="#" style="color: green" class="historyForm" aiid="@ProcessForms[i].CurrentForm.ID"><i class="icon-stop"></i>@ProcessForms[i].CurrentForm.ADName</a></td>
                            </tr>
                                    }
                                    else if (ViewBag.AIID == ProcessForms[i].CurrentForm.ID && i != ProcessForms.Count() - 1)
                                    {
                            <tr>
                                <td><a href="#" style="color: green" class="historyForm" aiid="@ProcessForms[i].CurrentForm.ID"><i class="icon-circle-arrow-down"></i>@ProcessForms[i].CurrentForm.ADName</a></td>
                            </tr>
                                    }
                                    else if (ViewBag.AIID != ProcessForms[i].CurrentForm.ID && i == ProcessForms.Count() - 1)
                                    {
                            <tr>
                                <td><a href="#" style="font-weight: normal;" class="historyForm" aiid="@ProcessForms[i].CurrentForm.ID"><i class="icon-stop"></i>@ProcessForms[i].CurrentForm.ADName</a></td>
                            </tr>
                                    }
                                    else
                                    {
                            <tr>
                                <td><a href="#" style="font-weight: normal;" class="historyForm" aiid="@ProcessForms[i].CurrentForm.ID"><i class="icon-circle-arrow-down"></i>@ProcessForms[i].CurrentForm.ADName</a></td>
                            </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*文书列表*@
    <div id="docItemsPanel" class="grid tabPanel" style="min-height: 100px; margin-left: 23%">
        <div id="docItemsContainer" class="grid-content">
        </div>
    </div>
    @*流程*@
    <div id="workFlowPanel" style="margin-left: 23%; width: 76%">
        @for (int i = 0; i < ProcessForms.Count(); i++)
        {
            var totalForm = ProcessForms[i];
            string historyFormDivID = "historyFormDiv" + totalForm.CurrentForm.ID;
            string isDisplay = i == 0 ? "" : "display:none;";
            
            <div id="@historyFormDivID" class="historyFormDiv grid" style="@isDisplay">
                <div class="grid-title">
                    <div class="pull-left">@totalForm.CurrentForm.ADName</div>
                    <div class="pull-right"></div>
                    <div class="clear"></div>
                </div>

                <div class="grid-content">
                    @Html.Action("FormGo", "FormView", new
               {
                   ADID = totalForm.CurrentForm.ADID,
                   TotalForm = totalForm
               })
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>
    @*文书详情*@
    <div id="docPanel" class="grid tabPanel" style="display: none; margin-top: 5px; float: right; width: 77%">
        <iframe id="ifrmViewDoc" src="" width="100%" height="800px" id="ifm" marginheight="0"
            marginwidth="0" scrolling="0" frameborder="0"></iframe>
    </div>
</div>

<div class="content" style="padding-top: 0px;">
    <div class="row-fluid">
    </div>
</div>
