@{
    Layout = null;
}
@using ZGM.Model
@model ZGM.Model.XTBGModels.SMSMessageModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>短信详情</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/bootstrap/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>


    <style type="text/css">
        table td {
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 10px 0px;
            text-align: left;
            line-height: 30px;
            
        }

            table td label {
                margin-left: 20px;
            }

        table th {
            width: 170px;
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 8px;
            text-align: center;
            line-height: 30px;
        }

        table tr input.large {
            width: 98%;
            height: 30px;
        }

        table tr input.small {
            width: 94%;
        }

        table {
            width: 100%;
            border: solid #b9aeae;
            border-width: 1px 0px 0px 1px;
        }
        a, a:focus {
            text-decoration:none;
            color:#000;
        }
    </style>
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
        $(document).ready(function (e) {
            var Isdefault = GetQueryString("Isdefault");
            if (Isdefault != null && Isdefault != "" && Isdefault != undefined) {
                $("#hid_default").val(Isdefault);
            }
        });
        function goback() {
            if ($("#hid_default").val() != "") {
                location.href = "/SMSMessage/Index?PageNum=" + $("#hid_default").val();
            } else {
                location.href = "/SMSMessage/Index";
            }
            
        }
    </script>
</head>
<body>
    <div class="place" style="background-image: url(/Images/images/righttop.gif)">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/SMSMessage/Index">短信息</a></li>
            <li>详情</li>
        </ul>
    </div>
    <div class="formbody">
        <div style="margin-bottom: 10px">
            <h6 style="font-size: 32px; text-align: center; margin-bottom: 20px; margin-top: 10px;">详情</h6>
        </div>
        <div id="tab1" class="tabson">
            <div>
                <table style="margin-bottom: 20px;">
                    <tr>
                        <th>发送人 </th>
                        <td>
                            <label class="lablestyle">@Model.UserName</label>
                        </td>
                         <th>来源 </th>
                        <td>
                            <label class="lablestyle">@Model.SOURCE</label>
                        </td>
                    </tr>
                    <tr >
                        <th>接收人 </th>
                        <td colspan="3">
                            <label class="lablestyle">@Model.RECEIVEUSERSNAME</label>
                        </td>
                    </tr>
                    <tr>
                        <th>发送时间 </th>
                        <td colspan="3">
                            <label class="lablestyle">@Model.SENDTIME</label>
                        </td>
                    </tr>
                    <tr>
                        <th>事件内容 </th>
                        <td colspan="3">
                            <label class="lablestyle">@Model.CONTENT</label>
                        </td>
                    </tr>
                    <tr>
                        <th>反馈信息</th>
                        <td colspan="3">
                            <label class="lablestyle">@Model.REMARK</label>
                        </td>
                    </tr>
                </table>

                <div style="clear: both"></div>
                <div style="margin-top: 10px;">
                    <div style="text-align: center;">
                        <input type="submit" class="btn goBack" onclick="goback();" value="返　回" />
                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" id="hid_default" />
</body>
</html>
