@model Web.ViewModels.VMArea
@{
    Layout = "~/Views/IntegratedService/ScheduleManagement/_LayoutScheduleManagement.cshtml";
}

@section FootScripts_ScheduleManage{
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[readOnly]").keydown(function (e) {
                e.preventDefault();
            });
            $("textarea[readOnly]").keydown(function (e) {
                e.preventDefault();
            });
            $("#AreaName").click(function () {
                $("#areaNameDiv").removeClass("error").addClass("success");
                $("#areaName").text("");
            });

            $("form").submit(function () {
                var areaName = $("#AreaName").val();

                if (areaName == null || areaName == "") {
                    $("#areaNameDiv").removeClass("success").addClass("error");
                    $("#areaName").text("必填字段");
                    return false;
                }
            });
        });

        function mapInited() {
            setTimeout(function () {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                var Geometry = $("#Geometry").val();
                mapCtrl.AddPolygon("" + Geometry + "");
            }, 1000)
        }

        function mapDraw(s) {
            var a = $("#Geometry").val();
            a = s;
            $("#Geometry").val(a);
        }

        function mapClear() {
            var a = "";
            $("#Geometry").val(a);
        }
        $("#xcTime").datepicker();
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">巡查监管</a></li>
            <li>></li>
            <li class="active">队员巡查区域管理</li>
        </ul>
    </div>
}

<div class="box box-black" style="margin-top: 0px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>修改区域
    </div>
    <div class="box-content">
        <form id="EditAreaForm" name="EditAreaForm" class="validation-form form-horizontal form-bordered form-row-stripped" method="post" action="/MemberPatrolArea/CommitEditArea" enctype="multipart/form-data">


            <table class="table table-bordered">
                <tr>
                    <th style="text-align: center; padding-top: 15px; width: 10%;">区域名称</th>
                    <td>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="line-height: 0px;">
                                <input type="text" name="AreaName" id="AreaName" placeholder="Text input" class="input-xlarge" style="width:97%;"  value="@Model.AreaName">
                                <label class="help-inline" for="AreaName" id="areaName"></label>
                            </div>
                        </div>
                    </td>
                    <th style="text-align: center; width: 10%; vertical-align: middle;" rowspan="3">地理位置</th>
                    <td rowspan="3" style="width: 50%;">
                        <input type="hidden" name="Geometry" id="Geometry" value="@Model.Geometry" >
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div id="silverlightControlHost" style="height: 322px;">
                                <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                                    <param name="source" value="/ClientBin/MapCtrl.xap" />
                                    <param name="background" value="white" />
                                    <param name="minRuntimeVersion" value="5.0.61118.0" />
                                    <param name="autoUpgrade" value="true" />
                                    @*<param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://www.arcgisonline.cn/ArcGIS/rest/services/ChinaOnlineCommunity/MapServer,X1=13518954.8851951,Y1=3485438.4251543,X2=13541927.6179195,Y2=3475859.38899982,Mode=4,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />*@
                                    <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://172.16.2.118/arcgis/rest/services/zhcg/MapServer,X1=354726.449142387,Y1=3304158.51172767,X2=362321.356817933,Y2=3301334.4558673,Mode=4,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />
                                    <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                        <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                    </a>
                                </object>
                                <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">区域说明</th>
                    <td>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div>
                                <textarea class="input-xlarge" style="height: 220px; width: 97%;" name="AreaDescription" id="AreaDescription">@Model.AreaDescription</textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">巡查时间</th>
                    <td>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div>
                                <input type="text" name="xcTime" id="xcTime" class="input-xlarge" style="width: 97%;" value="@Convert.ToDateTime(Model.XCTIME).ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; padding-top: 15px;">执勤人员</th>
                    <td colspan="3">
                        @foreach (var item in ViewBag.userList as IList<Taizhou.PLE.Model.USER>)
                        {
                            if (Model.USERIDS != null && Model.USERIDS.Contains("," + item.USERID + ","))
                            {
                            <div style="float: left; margin-left: 10px; vertical-align: middle;">
                                <input type="checkbox" checked="checked" value="@item.USERID" name="USERIDS_Name" id="user_@item.USERID" style="margin-top:0px;margin-right:2px;" /><span>@item.USERNAME</span>
                            </div>
                            }
                            else
                            {
                            <div style="float: left; margin-left: 10px; vertical-align: middle;">
                                <input type="checkbox" value="@item.USERID" name="USERIDS_Name" id="user_@item.USERID" style="margin-top:0px;margin-right:2px;" /><span>@item.USERNAME</span>
                            </div>
                            }
                        }
                        <div style="clear: both;"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="height: 80px;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="margin-left: 10%;">
                                <button type="submit" class="btn btn-primary">确定</button>
                                <a style=" margin-left:2px;" href="@Url.Content("~/MemberPatrolArea/Index")" class="btn">返 回</a>
                            </div>
                        </div>
                        <input type="hidden" id="AreaID" name="AreaID" value="@Model.AreaID" />
                    </td>
                </tr>

            </table>

        </form>
    </div>
</div>
