@model Taizhou.PLE.Model.ILLEGALITEM
<script type="text/javascript">
    $(function () {
        var a = function (e) { $(e).closest(".control-group").removeClass("success") };
        $(".validation-form").validate({
            errorElement: "span", errorClass: "help-inline",
            focusInvalid: false, ignore: "",
            invalidHandler: function (e, t) { },
            highlight: function (e) {
                $(e).closest(".control-group").removeClass("success").addClass("error")
            },
            unhighlight: function (e) {
                $(e).closest(".control-group").removeClass("error"); setTimeout(function () { a(e) }, 3e3)
            }, success: function (e) {
                e.closest(".control-group").removeClass("error").addClass("success")
            }
        });
    });

    function goback()
    {
        var ID = "@ViewBag.ID";
        var type = "@ViewBag.type";
        window.location.href = "/IllegalManagement/IllegalItem?ID=" + ID + "&&Type=" + type;       
    };
</script>
<div class="box box-black" style="margin-top: 0px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">

        <i class="icon-reorder" style="margin-right: 5px;"></i>编辑违法事项
    </div>
    <div class="box-content">
        <form id="EditIllegalItemForm" name="EditIllegalItemForm" class="validation-form form-horizontal form-bordered form-row-stripped" method="post" action="/IllegalManagement/CommitEditIllegalItem" enctype="multipart/form-data">
            <div class="control-group">
                <label for="ssdl" class="control-label">所属大类</label>
                <div class="controls">
                    <input type="text" name="" id="" placeholder="Text input" class="input-xlarge" data-rule-required="true" value="@ViewBag.ssdlName" disabled="disabled">
                </div>
            </div>
            <div class="control-group">
                <label for="ssxl" class="control-label">所属小类</label>
                <div class="controls">
                   <input type="text" name="" id="" placeholder="Text input" class="input-xlarge" data-rule-required="true" value="@ViewBag.ssxlName" disabled="disabled"> 
                </div>
            </div> <div class="control-group">
                <label for="ILLEGALCLASSID" class="control-label">所属子类</label>
                <div class="controls">
                     <input type="text" name="" id="" placeholder="Text input" class="input-xlarge" data-rule-required="true" value="@ViewBag.sszlName" disabled="disabled">
                </div>
            </div>
            <div class="control-group">
                <label for="ILLEGALCODE" class="control-label">代码</label>
                <div class="controls">
                    <input type="text" name="ILLEGALCODE" id="ILLEGALCODE" placeholder="Text input" class="input-xlarge" data-rule-required="true" value="@Model.ILLEGALCODE">
                    <span class="help-inline" for="ILLEGALCODE"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="ILLEGALITEMNAME" class="control-label">名称</label>
                <div class="controls">
                    <input type="text" name="ILLEGALITEMNAME" id="ILLEGALITEMNAME" placeholder="Text input" class="input-xlarge" data-rule-required="true" value="@Model.ILLEGALITEMNAME">
                    <span class="help-inline" for="ILLEGALITEMNAME"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="WEIZE" class="control-label">违则</label>
                <div class="controls">
                    <input type="text" name="WEIZE" id="WEIZE" placeholder="Text input" class="input-xlarge"  value="@Model.WEIZE">
                    <span class="help-inline" for="WEIZE"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="FZZE" class="control-label">罚则</label>
                <div class="controls">
                    <input type="text" name="FZZE" id="FZZE" placeholder="Text input" class="input-xlarge"  value="@Model.FZZE">
                    <span class="help-inline" for="FZZE"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="PENALTYCONTENT" class="control-label">处罚</label>
                <div class="controls">
                    <input type="text" name="PENALTYCONTENT" id="PENALTYCONTENT" placeholder="Text input" class="input-xlarge" value="@Model.PENALTYCONTENT">
                    <span class="help-inline" for="PENALTYCONTENT"></span>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>确定</button>
                <button type="button" class="btn goback" onclick="goback();">返回</button>
            </div>
            @Html.Hidden("illegalItemID",Model.ILLEGALITEMID)
            @Html.Hidden("illegalClassID",Model.ILLEGALCLASSID)
        </form>
    </div>
</div>



