@model Taizhou.PLE.Model.ILLEGALCLASS
<script type="text/javascript">
    $(function () {
        var a = function (e) { $(e).closest(".control-group").removeClass("success") };
        $(".validation-form").validate({
            errorElement: "span", errorClass: "help-inline",
            focusInvalid: false, ignore: "",
            invalidHandler: function (e, t) { },
            highlight: function (e) {
                $(e).closest(".control-group").removeClass("success").addClass("error")
            },
            unhighlight: function (e) {
                $(e).closest(".control-group").removeClass("error"); setTimeout(function () { a(e) }, 3e3)
            }, success: function (e) {
                e.closest(".control-group").removeClass("error").addClass("success")
            }
        });
    });

    function goback() {
        var ID = "@ViewBag.ID";
        var type = "@ViewBag.type";

        window.location.href = "/IllegalManagement/Index?ID=" + ID + "&&Type=" + type;

    };
</script>
<div class="box box-black" style="margin-top: 0px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">

        <i class="icon-reorder" style="margin-right: 5px;"></i>修改小类
    </div>
    <div class="box-content">
        <form id="EditIllegalXLForm" name="EditIllegalXLForm" class="validation-form form-horizontal form-bordered form-row-stripped" method="post" action="/IllegalManagement/CommitEditIllegalXL" enctype="multipart/form-data">
             <div class="control-group">
                <label for="PARENTID" class="control-label">所属大类</label>
                <div class="controls">
                   <input type="text" name="ssdl" id="ssdl" placeholder="Text input" class="input-xlarge" data-rule-required="true" value="@ViewBag.ssdl" disabled="disabled">
                </div>
            </div>
            <div class="control-group">
                <label for="ILLEGALCODE" class="control-label">代码</label>
                <div class="controls">
                    <input type="text" name="ILLEGALCODE" id="ILLEGALCODE" placeholder="Text input" class="input-xlarge" data-rule-required="true" value="@Model.ILLEGALCODE">
                    <span class="help-inline" for="ILLEGALCODE"></span>
                </div>
            </div>
            <div class="control-group">
                <label for="ILLEGALCLASSNAME" class="control-label">名称</label>
                <div class="controls">
                    <input type="text" name="ILLEGALCLASSNAME" id="ILLEGALCLASSNAME" placeholder="Text input" class="input-xlarge" data-rule-required="true" value="@Model.ILLEGALCLASSNAME">
                    <span class="help-inline" for="ILLEGALCLASSNAME"></span>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>确定</button>
                <button type="button" class="btn goback" onclick="goback();">返回</button>
            </div>
            @Html.Hidden("illegalClassID",Model.ILLEGALCLASSID)
        </form>
    </div>
</div>


