@model Web.ViewModels.CaseViewModels.ViewModel21
@using Taizhou.PLE.Model.CaseWorkflowModels

@{
    Taizhou.PLE.Model.CaseWorkflowModels.CaseForm wmCaseForm = ViewBag.CaseForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form101 wmForm1 = wmCaseForm.FinalForm.Form101;
    Taizhou.PLE.Model.CaseWorkflowModels.Form102 wmForm2 = wmCaseForm.FinalForm.Form102;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=GZRQ]").datepicker();
    });
</script>
<form id="workflow21Form" class="workflowForm" method="post" enctype="multipart/form-data" action="/Workflow121/Commit">
    <div class="title">
        送达处罚决定书  
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">送达时间</th>
            <td colspan="9">
                @Html.TextBoxFor(t => t.SDSJ, string.Format("{0:yyyy-MM-dd}", DateTime.Now))
            </td>
        </tr>
        <tr>
            <th colspan="2">当事人执行方式</th>
            <td colspan="9">
                <input type="radio" name="DSRZXFS" value="1" dsryjname="当事人自己履行" checked="checked" />当事人自己履行
                    <input type="radio" name="DSRZXFS" value="2" dsryjname="当事人提起行政复议或者行政诉讼" />当事人提起行政复议或者行政诉讼
                    <input type="radio" name="DSRZXFS" value="3" dsryjname="行政强制执行" />行政强制执行
                <input type="radio" name="DSRZXFS" value="4" dsryjname="申请法院强制执行" />申请法院强制执行
                @Html.Hidden("DSRYJID", 0)
                @Html.Hidden("DSRZXFS", "1")
            </td>
        </tr>
        <tr>
            <th colspan="2">送达备注</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.SDBZ)
            </td>
        </tr>
        <tr>
            <th colspan="2">短信提醒</th>
            <td colspan="10">
                <input type="checkbox" id="FSDX" name="FSDX" value="" />
                <label id="SMSNameAndSMSNum">@wmForm2.ZBDY.UserName 手机号：</label>
                <label id="SMSUserNameAndNum"></label>
                @Html.Hidden("ZBDYID", wmForm2.ZBDY.UserID)
                @Html.Hidden("ZBDYNAME", wmForm2.ZBDY.UserName)
            </td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <div class="clear"></div>
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
</form>
