@{
    Layout = null;
}
@using ZGM.Model
@using ZGM.Common
@using ZGM.BLL.WORKFLOWManagerBLLs
@using ZGM.BLL.UserBLLs
@model ZGM.Model.GCGL_SIMPLES
<!DOCTYPE html>

<html>
<head id="headcss">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>全部工程打印</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/lodop/LodopFuncs.js"></script>

    <script type="text/javascript" src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 630px;
            height: 270px;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }

        .lablestyle {
            text-align: center; 
        }

        .btn_ico_a_delete {
            margin-left: -10px;
        }
        .jygc_table {
           margin:auto;
            width:700px;
            border: 1px solid #b9aeae;
            table-layout: fixed;
            border-collapse: collapse;
        }

            .jygc_table th {
                border: 1px solid #b9aeae;
            }
            .jygc_table td {
            border: 1px solid #b9aeae;
            height:30px;
            }
    </style>
</head>
<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/GCGL/FinishList">简易工程全部列表</a></li>
            <li>简易工程打印</li>
        </ul>
    </div>
    <div id="printinfo"></div>
    <div class="formbody">
        <div style="margin-left: 45%;">
            <input type="button" class="sure" onclick="printWindow();" value="打印预览" />
            <input type="button" class="sure" onclick="goback();" value="返　回" />
        </div>
        <div id="printdiv">
           
            <div id="tab1" >
                <div style="text-align:center;">
                     <h3 style="margin-top:40px;">工程审批表</h3>
                    <table  class="jygc_table" style="margin-top:20px;margin-bottom:40px;">
                        <tr>
                            <td style="text-align: center; width: 20%;">工程编号</td>
                            <td style="text-align: center;">@ViewBag.GCNUMBER</td>
                            <td style="text-align: center; width: 20%;">工程名称 </td>
                            <td style="text-align: center;">@ViewBag.GCNAME</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 20%;">计划开工日期 </td>
                            <td style="text-align: center;">@ViewBag.STARTTIME</td>
                            <td style="text-align: center; width: 20%;">计划竣工日期 </td>
                            <td style="text-align: center;">@ViewBag.ENDTIME</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 20%;">工作计划 </td>
                            <td style="text-align: center;">@ViewBag.WORKPLAN</td>
                            <td style="text-align: center; width: 20%;">预算资金 </td>
                            <td style="text-align: center;">@ViewBag.MONEY</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 20%;">工程内容 </td>
                            <td colspan="3" style="text-align: center;">@ViewBag.CONTENT</td>
                        </tr>
                        <tr>
                            <th id="HiddenTD">工程附件</th>
                        </tr>
                    </table>
                </div>
            </div>

            
            <div class="printtab2" >
                @{
                    IList<WF_WORKFLOWSPECIFICACTIVITYS> list = (IList<WF_WORKFLOWSPECIFICACTIVITYS>)ViewBag.WFSAList;
                    if (list !=null){
                        list = list.ToList();
                        List<GCGL_SIMPLEFILES> flist = (List<GCGL_SIMPLEFILES>)ViewBag.SEList;
                        int fcount = flist.ToList().Count();
                        int fj = 0;
                        int count = list.Count();
                        int countLast = count - 1;
                        if (list != null && count > 0)
                        {
                            for (int i = 0; i < count; i++)
                            {
                                string WFDName = list[i].WF_WORKFLOWDETAILS.WFDNAME;
                                if (i < count - 1 && decimal.Parse(list[i].WF_WORKFLOWDETAILS.WFDID) > decimal.Parse(list[i + 1].WF_WORKFLOWDETAILS.WFDID))
                                {
                                    WFDName += "退回";
                                }
                                <table class="jygc_table" style="margin-bottom: 20px">
                                    <tr>
                                        <th colspan="4" >@WFDName</th>
                                    </tr>
                            @{
                                string WFSAID = list[i].WFSAID;

                                List<WF_WORKFLOWSPECIFICUSERS> wfsuList = new WF_WORKFLOWSPECIFICUSERSBLL()
                                    .GetList(WFSAID).ToList();

                                WF_WORKFLOWSPECIFICUSERS wfsu = wfsuList
                                    .Where(a => a.USERID == list[i].DEALUSERID).FirstOrDefault();
                                int remark = 0;//处理期限
                                string contentMes = "";
                                string DealUserNama = "";//结案时的处理人
                                SYS_USERS overmodel = UserBLL.GetUserByUserID(Convert.ToDecimal(list[i].DEALUSERID));
                                if (overmodel != null)
                                {
                                    DealUserNama = overmodel.USERNAME;
                                }
                                DateTime dtOVer = DateTime.Now;
                                SYS_USERS sysUser = new SYS_USERS();
                                if (wfsu != null)
                                {
                                    int.TryParse(wfsu.REMARK, out remark);
                                    contentMes = wfsu.CONTENT;
                                    dtOVer = Convert.ToDateTime(list[i].DEALTIME);
                                }
                                //上报工程
                                if (list[i].WFDID == "20160922160010001")
                                {
                                    <tr>
                                        <th>上报人 </th>
                                        <td class="lablestyle">
                                            <label>@DealUserNama</label>
                                        </td>
                                        <th>上报时间 </th>
                                        <td class="lablestyle">
                                            <label >@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                        </td>
                                    </tr>
                                    <tr id="HiddenInfo" style="display:none;">
                                        <td colspan="3">
                                            @if (!string.IsNullOrEmpty(flist[fj].ATTRACHNAME) && fj < fcount)
                                            {
                                                string[] filestring = flist[fj].ATTRACHNAME.Split('|');
                                                string[] filepath = flist[fj].ATTRACHPATH.Split('|');
                                                for (var j = 0; j < filestring.Length; j++)
                                                {
                                                    <div  class="lablestyle" style="margin-left: 20px;"><a href='/DownFile/DownLoadOAWorkFlow?path=@System.Configuration.ConfigurationManager.AppSettings["SimpleEngineeringPath"].Replace("\\", "/")@filepath[j]&&fileName=@filestring[j]'>@filestring[j]</a></div>
                                                }

                                                fj++;
                                            }
                                            else
                                            {
                                                fj++;
                                            }
                                        </td>
                                    </tr>        
                                }
                                //科长审核
                                if (list[i].WFDID == "20160922160010002")
                                {
                                    <tr>
                                    <th>审核人</th>
                                    <td class="lablestyle">
                                        <label>@DealUserNama</label>
                                    </td>
                                    <th>审核时间 </th>
                                    <td class="lablestyle">
                                        <label>@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>审核意见</th>
                                    <td colspan="3" class="lablestyle">
                                        <label>@contentMes</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>审核附件</th>
                                    <td colspan="3">
                                        @if (!string.IsNullOrEmpty(flist[fj].ATTRACHNAME) && fj < fcount)
                                        {
                                            string[] filestring = flist[i].ATTRACHNAME.Split('|');
                                            string[] filepath = flist[i].ATTRACHPATH.Split('|');
                                            for (var j = 0; j < filestring.Length; j++)
                                            {
                                    <div class="lablestyle"><a href='/DownFile/DownLoadOAWorkFlow?path=@System.Configuration.ConfigurationManager.AppSettings["SimpleEngineeringPath"].Replace("\\", "/")@filepath[j]&&fileName=@filestring[j]'>@filestring[j]</a></div>
                                            }
                                            fj++;
                                        }
                                        else
                                        {
                                            fj++;
                                        }
                                    </td>
                                </tr>

                                }
                                //分管主任审核
                                if (list[i].WFDID == "20160922160010003")
                                {
                                    <tr>
                                        <th>审核人</th>
                                        <td class="lablestyle">
                                            <label>@DealUserNama</label>
                                        </td>
                                        <th>审核时间 </th>
                                        <td class="lablestyle">
                                            <label>@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>审核意见</th>
                                        <td colspan="3" class="lablestyle">
                                            <label>@contentMes</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>审核附件</th>
                                        <td colspan="3">
                                            @if (!string.IsNullOrEmpty(flist[fj].ATTRACHNAME) && fj < fcount){
                                                string[] filestring = flist[fj].ATTRACHNAME.Split('|');
                                                string[] filepath = flist[fj].ATTRACHPATH.Split('|');
                                                for (var j = 0; j < filestring.Length; j++)
                                                {
                                        <div class="lablestyle"><a href='/DownFile/DownLoadOAWorkFlow?path=@System.Configuration.ConfigurationManager.AppSettings["SimpleEngineeringPath"].Replace("\\", "/")@filepath[j]&&fileName=@filestring[j]'>@filestring[j]</a></div>
                                                }
                                                fj++;
                                            }
                                            else
                                            {
                                                fj++;
                                            }
                                        </td>
                                    </tr>
                                }
                                //街道主任审核
                                if (list[i].WFDID == "20160922160010004")
                                {
                                    <tr>
                                        <th>审核人</th>
                                        <td class="lablestyle">
                                            <label>@DealUserNama</label>
                                        </td>
                                        <th>审核时间 </th>
                                        <td class="lablestyle">
                                            <label>@dtOVer.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>审核意见</th>
                                        <td colspan="3" class="lablestyle">
                                            <label>@contentMes</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>审核附件</th>
                                        <td colspan="3">
                                            @if (!string.IsNullOrEmpty(flist[fj].ATTRACHNAME) && fj < fcount)
                                            {
                                                string[] filestring = flist[fj].ATTRACHNAME.Split('|');
                                                string[] filepath = flist[fj].ATTRACHPATH.Split('|');
                                                for (var j = 0; j < filestring.Length; j++)
                                                {
                                        <div class="lablestyle"><a href='/DownFile/DownLoadOAWorkFlow?path=@System.Configuration.ConfigurationManager.AppSettings["SimpleEngineeringPath"].Replace("\\", "/")@filepath[j]&&fileName=@filestring[j]'>@filestring[j]</a></div>
                                                }
                                                fj++;
                                            }
                                            else
                                            {
                                                fj++;
                                            }
                                        </td>
                                    </tr>                       
                                }
                                //工程完结
                                if (list[i].WFDID == "20160922160010005")
                                {
                                    <tr>
                                        <th>完结人</th>
                                        <td class="lablestyle">
                                            <label>@DealUserNama</label>
                                        </td>
                                        <th>完结时间 </th>
                                        <td class="lablestyle">
                                            <label>@list[i].DEALTIME.Value.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                        </td>
                                    </tr>
                                }
                                //工程作废
                                if (list[i].WFDID == "20160922160010006")
                                {
                                    <tr>
                                        <th>作废人</th>
                                        <td class="lablestyle">
                                            <label >@DealUserNama</label>
                                        </td>
                                        <th>作废时间 </th>
                                        <td class="lablestyle">
                                            <label >@list[i].DEALTIME.Value.ToString("yyyy-MM-dd HH:mm:ss")</label>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                            }
                        }
                    }
                }
            </div>   


            <object id="LODOP" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width="0" height="0"></object>
        </div>
        @if (ViewBag.Type == 1)
        {
            <div style="clear: both"></div>
            <div style="margin-top: 10px; margin-left: 5%">
                <div>
                    <input type="button" class="sure" onclick="goback();" value="返　回" />
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">
        $("#HiddenTD").after($("#HiddenInfo").html());
        var Lodop;
        function printWindow() {
            LODOP = getLodop();
            var strheadStyle = "<head>" + document.getElementById("headcss").innerHTML + "</head>";
            var strFormHtml = strheadStyle + "<body>" + document.getElementById("printdiv").innerHTML + "</body>";
            strFormHtml = strFormHtml.replace(/<div class="printtab2">/g, '<div style="margin-left: 3%;margin-bottom:10px;" class="printtab2">');
            LODOP.PRINT_INIT("MyCMP打印");
            LODOP.SET_SHOW_MODE("NP_NO_RESULT", true);
            LODOP.ADD_PRINT_TEXT(0, 0, 0, 0, "");
            LODOP.SET_PRINT_TEXT_STYLE(1, "宋体", 18, 1, 0, 0, 1);
            LODOP.ADD_PRINT_HTM("0%", "0%", "100%", "100%", strFormHtml);
            LODOP.PREVIEW();
        }

        function mapInited() {
            setTimeout(function () {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                var Geometry = $("#GEOMETRY").val();
                mapCtrl.AddPolygon("Green", Geometry);
            }, 1000)
        }

        function mapDraw(s) {
            var a = $("#GEOMETRY").val();
            a = s;
            $("#GEOMETRY").val(a);
        }

        function mapClear() {
            var a = "";
            $("#GEOMETRY").val(a);
        }

        function goback() {
            location.href = '/GCGL/FinishList';
        }
    </script>
</body>
</html>
