@model Web.ViewModels.CaseViewModels.ViewModel6
@using Taizhou.PLE.Model.CaseWorkflowModels

@{
    Taizhou.PLE.Model.CaseWorkflowModels.CaseForm wmCaseForm = ViewBag.CaseForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form105 wmForm5 = wmCaseForm.FinalForm.Form105;
    Taizhou.PLE.Model.CaseWorkflowModels.Form102 wmForm2 = wmCaseForm.FinalForm.Form102;
}

<form id="workflow6Form" class="workflowForm" name="workflow6Form" method="post" enctype="multipart/form-data"
    action="/Workflow106/Commit">
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">主办队员意见</th>
            <td colspan="9">
                <textarea id="dcqzsm" name="dcqzsm" disabled="disabled">@wmForm5.Description</textarea>
            </td>
        </tr>

        <tr>
            <th colspan="2">协办队员确认<br />
                意见</th>
            <td colspan="9">
                @Html.TextAreaFor(t => t.QRYJ)
            </td>
        </tr>
        <tr>
            <th colspan="2">短信提醒</th>
            <td colspan="10">
                <input type="checkbox" id="FSDX" name="FSDX" value="" />
                <label id="SMSNameAndSMSNum">@wmForm2.ZBDY.UserName 手机号：</label>
                <label id="SMSUserNameAndNum"></label>
                @Html.Hidden("ZBDYID", wmForm2.ZBDY.UserID)
                @Html.Hidden("ZBDYNAME", wmForm2.ZBDY.UserName)
            </td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("Approved", true)
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
</form>
