@model  Taizhou.PLE.Model.RCDCEVENT

@{
    Layout = null;
}

<style>
    table th {
        width: 10%;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=FXSJ]").datetimepicker();

        $("#veto").click(function () {
            $("#bc").val("1");
            $("#EventReport")[0].submit();
        });
        //打开语音文件路径（参数：url路径）
        $("#openSpeechFile").click(function () {
            window.open($(this).attr("url"), 'newwindow', 'height=100,width=460,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
        })
    });


    function goback() {
        window.location.href = "/EnforceTheLawManagement/ProcessTaskList/";
    }

    function FormSubmit() {
        $("#btn-success").attr("disabled", "disabled");
        return true;
    }

    //初始化地图
    function mapInited() {
        setTimeout(function () {
            var DTMD = $("#GEOMETRY").val();
            if (DTMD) {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                mapCtrl.AddMarker(DTMD);
            }
        }, 1000)
    }

    function changeEventSourceID() {
        var EventSourceID = $("#EventSourceID").val();
        if (EventSourceID == 4) {
            $("#EventSource").css("display", "none");
        } else {
            $("#EventSource").css("display", "");
        }
    }

    //根据执法大队获取对应执法大队下边的综合科队员
    function GetZFDDUserList() {
        var ZFDDList = $("#ZFDDList").val();
        if (ZFDDList == 0) {
            $("#UserListZHK").html("<option value='0'>直接归档</option>")
        } else {
            $.ajax({
                url: "/EnforceTheLawManagement/ZFDSUserMes?randam=" + Math.random(),
                type: "GET",
                cache: false,
                data: { ZFDDList: ZFDDList },
                success: function (data) {
                    $("#UserListZHK").html(data);
                },
                error: function () { alert("网络忙,请刷新重试") }
            });
        }
    }

</script>
<div class="row-fluid">
    <div class="span12" id="tabledata" style="margin-left: 0px;">
        <div class="tab-content">
            <div class="tab-pane active" id="detail">
                <form method="post" enctype="multipart/form-data" action="/EnforceTheLawManagement/CommitWorkFlow" id="ZFSJWorkflow2">
                    @Html.HiddenFor(a => a.EVENTID)
                    @if (Request["type"] == "sel")
                    {
                        <div class="title" style="margin-bottom: 30px;">事件处理</div>
                    }
                    else
                    {
                        <div class="title" style="margin-bottom: 30px;">事件详情</div>    
                    }
                    <table class="table table-bordered">
                        <tr>
                            <th style="text-align: center; width: 10%">事件标题</th>
                            <td colspan="3">@Model.EVENTTITLE</td>
                        </tr>

                        <tr>
                            <th style="text-align: center;">问题大类
                            </th>
                            <td>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@ViewBag.ClassBID</div>
                                </div>
                            </td>
                            <th style="padding-left: 30px!important;">问题小类
                            </th>
                            <td>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@ViewBag.ClassSID</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">分数</th>
                            <td>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@Model.GRADE</div>
                                </div>
                            </td>
                            <th style="text-align: center;">地址</th>
                            <td>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@Model.EVENTADDRESS</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">事件内容
                            </th>
                            <td colspan="3">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@Model.EVENTCONTENT</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; width: 10%">地图位置</th>
                            <td colspan="3">
                                <input type="hidden"  id="GEOMETRY" value="@Model.GEOMETRY" />
                                <div id="silverlightControlHost" style="width: 100%; height: 350px;">
                                    <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="350px" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://tmap.tzsjs.gov.cn/services/tilecache/chinaemap,X1=121.409266152472,Y1=28.6559834674633,X2=121.423424005508,Y2=28.6614766315258,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                    <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px; width: 10%">指派大队</th>
                            <td colspan="3" id="lasttd">
                                @{
                                    List<Taizhou.PLE.Model.USER> list = ViewBag.listrcdctozfzd as List<Taizhou.PLE.Model.USER>;
                                    foreach (var item in list)
                                    {
                                    <div>
                                        @item.UNIT.UNIT1.UNITNAME <span>&nbsp&nbsp
                                   指派人员&nbsp&nbsp</span>
                                        @item.USERNAME
                                    </div>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                    <div class="form-group" style="margin-bottom: 5px; margin-left: 130px;">
                        <div class="col-sm-9 col-lg-10 controls">
                            @if (Request["type"] == "sel")
                            {
                                <input type="submit" class="btn btn-success" value="提　交" onsubmit="return FormSubmit();">
                                <a style="margin-left: 5px;" href="javascript:void(0)" class="btn goBack" onclick="goback();">返　回</a>
                            }
                            else
                            {
                                <a style="margin-left: 5px;" href="javascript:history.go(-1)" class="btn goBack">返　回</a>
                            }
                        </div>
                    </div>
                    @Html.Hidden("bc")
                    <input type="hidden" id="PICTURES" value="@Model.PICTURES" />
                </form>
            </div>
        </div>
    </div>
</div>

