@model Taizhou.PLE.Model.XZSPNewModels.Workflow4
@using Taizhou.PLE.Model.XZSPNewModels
@{
    Layout = null;
}
<style>
    table th {
        width: 10%;
    }

    table td {
        width: 40%;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }

    table tr td .form-group div {
        width: 94%;
        line-height: 30px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {


    });
</script>
<form method="post" enctype="multipart/form-data" action="/NewXZSPWorkflow4/Commit" id="NewXZSPWorkflow4">
    <div class="title" style="margin-bottom: 30px;">
        队员处理
    </div>
    <table class="table table-bordered" id="ContentTable">
    </table>

    <table class="table table-bordered">
      <tr>
            <th style="text-align: center; line-height: 30px;">选择中队长</th>
            <td colspan="3" style="line-height: 30px; width: 40%">
                @Html.DropDownList("DYCLR", ViewBag.DYCLR as IEnumerable<SelectListItem>, new { @style = "width:20%;" })
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">队员意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <textarea class="input-xlarge" style="height: 80px; width: 98.5%;" name="DYYJ" id="DYYJ"></textarea>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">附件上传</th>
            <td colspan="3">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" id="explainInfo">
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <div>
                                        <span>&nbsp;&nbsp;附件1<input type="text" name="pic1Text" style="width: 200px; margin-left: 10px;" value="图片一" /></span>
                                        <span>
                                            <input type="file" name="pic1" id="pic1" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" /></span>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <span>&nbsp;&nbsp;附件2<input type="text" name="pic2Text" style="width: 200px; margin-left: 10px;" value="图片二" /></span>
                                        <span>
                                            <input type="file" name="pic2" id="pic2" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" /></span>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <span>&nbsp;&nbsp;附件3<input type="text" name="pic3Text" style="width: 200px; margin-left: 10px;" value="图片三" /></span>
                                        <span>
                                            <input type="file" name="pic3" id="pic3" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" /></span>
                                    </div>

                                </div>
                            </div>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="3" style="border-left: none;">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <input id="btnSubmit" type="submit" class="btn btn-success" value="提　交">
                        <a style="margin-left: 5px;" href="/NewApproval/NewApproval" class="btn goBack">返　回</a>
                    </div>
                </div>
            </td>
        </tr>
         <tr style="height:0px; border:none">
            <th></th>
            <td></td>
            <th></th>
            <td></td>
        </tr>
    </table>
    @Html.Hidden("ID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("DYCLR")
    @Html.Hidden("DYYJ")
</form>

