@model Taizhou.PLE.Model.XZSPNewModels.Workflow2
@using Taizhou.PLE.Model.XZSPNewModels
@{
    Layout = null;
}

<style>
    table th {
        width: 100px;
    }

    table td {
        width: 250px;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }

    table tr td .form-group div {
        width: 94%;
        line-height: 30px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //大队下拉列表改变
        $("#ZFZD").change(function () {
            $.ajax({
                type: "POST",
                url: "/NewXZSPWorkflow2/GetZDry",
                data: { ZDID: $(this).val() },
                cache: false,
                success: function (data) {
                    $("#ZFZDRY").empty();
                    $("#ZFZDRY").append("<option value=''>请选择</option>");
                    $.each(data, function (i, item) {
                        $("#ZFZDRY").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });
                }
            });
        })

    });
</script>
<form method="post" enctype="multipart/form-data" action="/NewXZSPWorkflow2/Commit" id="NewXZSPWorkflow2">
    <div class="title" style="margin-bottom: 30px;">
        指派中队
    </div>
    <table class="table table-bordered" id="ContentTable">
    </table>
    <table class="table table-bordered">
        <tr>
            <th style="text-align: center; line-height: 30px;">辖区中队</th>
            <td style="line-height: 30px; width: 40%">
              @Html.DropDownList("ZFZD", ViewBag.ZSYDDYZD as IEnumerable<SelectListItem>,new { @style = "width:60%;" })
            </td>
            <th style="text-align: center; line-height: 30px;">请选择队员</th>
            <td style="line-height: 30px; width: 40%;">
                 <div class="form-group">
                    <div class="col-sm-9 col-lg-10 controls">
                        <select id="ZFZDRY" name="ZFZDRY" style="width: 60%">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">派遣意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <textarea class="input-xlarge" style="height: 80px; width: 98.5%;" name="ZDSHYJ" id="ZDSHYJ"></textarea>
                    </div>
                </div>
            </td>
        </tr>

    </table>


    <table class="table table-bordered">
        <tr>
            <th></th>
            <td colspan="3" style="border-left: none;">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <input id="btnSubmit" type="submit" class="btn btn-success" value="提　交">
                        <a style="margin-left: 5px;" href="/NewApproval/NewApproval" class="btn goBack">返　回</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    @Html.Hidden("ID")
    @Html.Hidden("ZDSHYJ")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("ZFZDRY")


</form>

