@model Taizhou.PLE.Model.XZSPNewModels.Workflow1
@{
    
}

<style>
    table th {
        width: 100px;
    }

    table td {
        width: 250px;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }

    table tr td .form-group div {
        width: 94%;
        line-height: 30px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //大队下拉列表改变
        $("#ZSDD").change(function () {
            $.ajax({
                type: "POST",
                url: "/NewXZSPWorkflow1/GetDDry",
                data: { DDID: $(this).val() },
                cache: false,
                success: function (data) {
                    $("#PQR").empty();
                    $("#PQR").append("<option value=''>请选择</option>");
                    $.each(data, function (i, item) {
                        $("#PQR").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });
                }
            });
        })
    });


</script>
<form method="post" enctype="multipart/form-data" action="/NewXZSPWorkflow1/Commit" id="NewXZSPWorkflow1">
    <div class="title" style="margin-bottom: 30px;">
        大队综合
    </div>
    <table class="table table-bordered">
        <tr>
            <th style="text-align: center;">执法大队综合科
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @Html.DropDownList("ZSDD", ViewBag.ZSYDD as IEnumerable<SelectListItem>, new { style = "width:60%" })
                    </div>
                </div>
            </td>
            <th style="text-align: center; line-height: 30px;">综合科人员
            </th>
            <td style="line-height: 30px; width: 40%">
                <div class="form-group">
                    <div class="col-sm-9 col-lg-10 controls">
                        <select id="PQR" name="PQR" style="width: 60%">
                            <option value="">请选择队员</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; line-height: 80px">派遣意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <div>
                            <textarea class="input-xlarge" style="height: 80px; width: 98.5%;" name="DDSHYJ" id="DDSHYJ"></textarea>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="3" style="border-left: none;">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <input id="btnSubmit" type="submit" class="btn btn-success" value="提　交">
                        <a style="margin-left: 5px;" href="/NewApproval/NewApproval" class="btn goBack">返　回</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    @Html.Hidden("ID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("PQR")
    @Html.Hidden("DDSHYJ")
</form>

