<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>台州市城市管理阳光执法平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="~/Scripts/assets/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/assets/bootstrap/bootstrap-responsive.min.css">

    <link href="~/Scripts/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Scripts/assets/normalize/normalize.css">
    <link rel="stylesheet" href="~/Content/flaty.css">
    <link rel="stylesheet" href="~/Content/flaty-responsive.css">
    <link href="~/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @RenderSection("HeadStyles", required: false)

</head>
<body>
    <!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
    <div id="navbar" class="navbar">
        <div class="navbar-inner head-color height80">
            <div class="container-fluid" style="padding-left: 0px;">
                <a href="#">
                    <img class="nav-user-photo height80" src="~/Images/logo2.png" />
                </a>
                <a href="#" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="icon-reorder"></i>
                </a>
                <ul class="nav flaty-nav pull-right" style="padding-top: 20px;">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-tasks"></i>
                            <span class="badge badge-warning">4</span>
                        </a>
                        <ul class="pull-right dropdown-navbar dropdown-menu">
                            <li class="nav-header">
                                <i class="icon-ok"></i>
                                4 条任务等待处理
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Software Update</span>
                                        <span class="pull-right">75%</span>
                                    </div>
                                    <div class="progress progress-mini progress-warning">
                                        <div style="width: 75%" class="bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Transfer To New Server</span>
                                        <span class="pull-right">45%</span>
                                    </div>
                                    <div class="progress progress-mini progress-danger">
                                        <div style="width: 45%" class="bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Bug Fixes</span>
                                        <span class="pull-right">20%</span>
                                    </div>
                                    <div class="progress progress-mini">
                                        <div style="width: 20%" class="bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Writing Documentation</span>
                                        <span class="pull-right">85%</span>
                                    </div>
                                    <div class="progress progress-mini progress-success progress-striped active">
                                        <div style="width: 85%" class="bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li class="more">
                                <a href="#">See tasks with details</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-alt"></i>
                            <span class="badge badge-important">5</span>
                        </a>
                        <ul class="dropdown-navbar dropdown-menu">
                            <li class="nav-header">
                                <i class="icon-warning-sign"></i>
                                5 Notifications
                            </li>
                            <li class="notify">
                                <a href="#">
                                    <i class="icon-comment orange"></i>
                                    <p>New Comments</p>
                                    <span class="badge badge-warning">4</span>
                                </a>
                            </li>
                            <li class="notify">
                                <a href="#">
                                    <i class="icon-twitter blue"></i>
                                    <p>New Twitter followers</p>
                                    <span class="badge badge-info">7</span>
                                </a>
                            </li>
                            <li class="notify">
                                <a href="#">
                                    <img src="~/Images/demo/avatar/avatar2.jpg" alt="Alex" />
                                    <p>David would like to become moderator.</p>
                                </a>
                            </li>
                            <li class="notify">
                                <a href="#">
                                    <i class="icon-bug pink"></i>
                                    <p>New bug in program!</p>
                                </a>
                            </li>
                            <li class="notify">
                                <a href="#">
                                    <i class="icon-shopping-cart green"></i>
                                    <p>You have some new orders</p>
                                    <span class="badge badge-success">+10</span>
                                </a>
                            </li>
                            <li class="more">
                                <a href="#">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope"></i>
                            <span class="badge badge-success">3</span>
                        </a>
                        <ul class="dropdown-navbar dropdown-menu">
                            <li class="nav-header">
                                <i class="icon-comments"></i>
                                3 Messages
                            </li>
                            <li class="msg">
                                <a href="#">
                                    <img src="~/Images/demo/avatar/avatar3.jpg" alt="Sarah's Avatar" />
                                    <div>
                                        <span class="msg-title">Sarah</span>
                                        <span class="msg-time">
                                            <i class="icon-time"></i>
                                            <span>a moment ago</span>
                                        </span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </a>
                            </li>
                            <li class="msg">
                                <a href="#">
                                    <img src="~/Images/demo/avatar/avatar4.jpg" alt="Emma's Avatar" />
                                    <div>
                                        <span class="msg-title">Emma</span>
                                        <span class="msg-time">
                                            <i class="icon-time"></i>
                                            <span>2 Days ago</span>
                                        </span>
                                    </div>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ...</p>
                                </a>
                            </li>
                            <li class="msg">
                                <a href="#">
                                    <img src="~/Images/demo/avatar/avatar5.jpg" alt="John's Avatar" />
                                    <div>
                                        <span class="msg-title">John</span>
                                        <span class="msg-time">
                                            <i class="icon-time"></i>
                                            <span>8:24 PM</span>
                                        </span>
                                    </div>
                                    <p>Duis aute irure dolor in reprehenderit in ...</p>
                                </a>
                            </li>
                            <li class="more">
                                <a href="#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="user-profile">
                        <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                            <img class="nav-user-photo" src="~/Images/demo/avatar/avatar1.jpg" alt="Penny's Photo" />
                            <span class="hidden-phone" id="user_info">Penny
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                            <li class="nav-header"><i class="icon-time"></i>Logined From 20:45</li>
                            <li><a href="#"><i class="icon-cog"></i>Account Settings</a></li>
                            <li><a href="#"><i class="icon-user"></i>Edit Profile</a></li>
                            <li><a href="#"><i class="icon-question"></i>Help</a></li>
                            <li class="divider visible-phone"></li>
                            <li class="visible-phone"><a href="#"><i class="icon-tasks"></i>Tasks<span class="badge badge-warning">4</span></a></li>
                            <li class="visible-phone"><a href="#"><i class="icon-bell-alt"></i>Notifications<span class="badge badge-important">8</span></a></li>
                            <li class="visible-phone"><a href="#"><i class="icon-envelope"></i>Messages<span class="badge badge-success">5</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#" id="icon_logout"><i class="icon-off"></i>注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.navbar-inner-->
        <div class="head-color" style="height: 10px; background: url('/Images/yinying.png') repeat-x;"></div>
        <div class="navbar-inner head-color" style="height: 30px; min-height: 30px;">
            <div class="container-fluid">
                <ul class="nav flaty-nav menu-first">
                    @{
                        List<Taizhou.PLE.Model.FUNCTION> functions =
                            Web.SessionManager.UserFunctions;
                        foreach (var firstFun in functions.Where(t => t.PARENTID == null))
                        {
                        <li>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="@firstFun.ICONPATH"></i>
                                @firstFun.NAME
                            </a>
                            @{
                            if (functions.Where(t => t.PARENTID == firstFun.FUNCTIONID).Count() <= 0)
                            {
                                continue;
                            }
                            }
                            <ul class="dropdown-menu dropdown-navbar menu-second">
                                <li class="social-sm-content">
                                    <div class="row-fluid">
                                        @{
                            foreach (var secondFun in functions.Where(t => t.PARENTID == firstFun.FUNCTIONID))
                            {
                                            <a class="icon-btn" href="@secondFun.URL">
                                                <i class="@secondFun.ICONPATH icon-2x"></i>
                                                <div class="second-title">@secondFun.NAME</div>
                                            </a>
                            }
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        }
                    }
                </ul>
            </div>
            <!--/.container-fluid-->
        </div>
    </div>
    <div class="container-fluid" id="main-container">
        @RenderBody()
    </div>
    <script src="~/Scripts/assets/jquery/jquery.min.js"></script>
    <script src="~/Scripts/assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/assets/modernizr/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/assets/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Scripts/assets/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Scripts/assets/jquery-validation/dist/messages_zh.js"></script>
    <script src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/js/flaty.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#icon_logout").click(function () {
                    window.location.href = "/Login/LogOut";
                });
            });
      </script>
    @RenderSection("HeadScripts", required: false)
</body>
</html>
