@using Web.Controls;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .primaryMenuItem
        {
            float: left;
            width: 100px;
            color: white;
        }
    </style>
</head>

<body>
    <div id="headDiv" style="background-color: blue; height: 40px; line-height: 40px;">
        <ul style="list-style-type: none;">
            @FunctionControl.PrimaryMenuItem("", "", "个人中心")
            @FunctionControl.PrimaryMenuItem("", "", "协同中心")
            @FunctionControl.PrimaryMenuItem("", "", "综合业务")
            @FunctionControl.PrimaryMenuItem("", "", "辅助决策")
            @FunctionControl.PrimaryMenuItem("", "", "公共服务")
            @FunctionControl.PrimaryMenuItem("", "", "系统管理")
        </ul>
    </div>
    <div id="bodyDiv">
        @RenderBody()
    </div>
</body>
</html>
