@model Taizhou.PLE.Model.CaseDocModels.AJJTTLJL
<script type="text/javascript">
    $(document).ready(function () {
        $("#KSSJYMD").datepicker();

        if (jQuery().timepicker) {
            $(".timepicker-24").timepicker({
                minuteStep: 1,
                showSeconds: true,
                showMeridian: false
            })
        }

        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });
    });

    function ValidateDocForm() {
        var flag = true;
        if ($("input[name=bulidDocType]:checked").val() == "1") {
            flag = true;
        }
        else {
            $(".error").remove();
            //验证上传的图片
            var files = $(".file");

            var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

            var fileIsEmpty = true;

            $.each(files, function (i, n) {
                if (n.value != null && n.value != "") {
                    fileIsEmpty = false;
                    var filePath = n.value;

                    //截取最后一个点之后的字符串
                    var su = filePath.substring(filePath.lastIndexOf("."));

                    if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                        flag = false;
                        $(n).parent().append($("<label class='error' style='margin-left:5px;display:inline-block;'>图片格式不正确.</label>"));
                    }
                }
            });

            if (fileIsEmpty) {
                flag = false;
                $(".uploadFileTD").append("<Label class='error' generated='true'>请至少选择一张图片.</Label>");
            }
        }
        return flag;
    }
</script>
<form method="post" class="docForm" action="/DocAJJTTLJL/CommitDocumentAJJTTLJL" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        案件集体讨论记录
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr class="notHideTD">
            <th colspan="2">新增方式</th>
            <td colspan="9">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="1" checked="checked" id="bdlr" />表单录入
                </label>
                <label for="scsmj" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="2" id="scsmj" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th colspan="2">上传<br />
                文书
            </th>
            <td colspan="10" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2">案件名称</th>
            <td colspan="9">@Html.TextBoxFor(model => model.AJMC)</td>
        </tr>
        <tr>
            <th colspan="2">案号</th>
            <td colspan="9">@Html.TextBoxFor(model => model.AH)</td>
        </tr>
        <tr>
            <th colspan="2">开始日期</th>
            <td colspan="2">@Html.TextBox("KSSJYMD", DateTime.Now.ToString("yyyy-MM-dd"))</td>
            <th>时间</th>
            <td colspan="2">
                @Html.TextBox("KSSJ", DateTime.Now.ToString("HH:mm"), new { @class = "timepicker-24" })
            </td>
            <th>至
            </th>
            <td colspan="3">
                @Html.TextBox("JSSJ", DateTime.Now.ToString("HH:mm"), new { @class = "timepicker-24" })
            </td>
        </tr>
        <tr>
            <th colspan="2">地点</th>
            <td colspan="9">@Html.TextBoxFor(model => model.DD)</td>
        </tr>
        <tr>
            <th colspan="2">集体讨论原因</th>
            <td colspan="9">@Html.TextAreaFor(midel => Model.JTTLYY, new { style = "height:120px" })</td>
        </tr>
        <tr>
            <th colspan="2">主持人</th>
            <td colspan="4">@Html.TextBoxFor(model => model.ZCR)</td>
            <th colspan="2">记录人</th>
            <td colspan="3">@Html.TextBoxFor(model => model.JLR)</td>
        </tr>
        <tr>
            <th colspan="2">参加人员</th>
            <td colspan="9">@Html.TextAreaFor(model => model.CJRY, new { style = "height:120px" })</td>
        </tr>
        <tr>
            <th colspan="2">列席人员</th>
            <td colspan="9">@Html.TextAreaFor(model => model.LXRY, new { style = "height:120px" })</td>
        </tr>
        <tr>
            <td colspan="11">
                @Html.TextAreaFor(model => model.ZWNR, new { style = "height:210px" })
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 42px; border: none;"></td>
            <td colspan="10" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保  存" />
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 22px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 72px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
    @Html.Hidden("DocID")
</form>




