@model Taizhou.PLE.Model.CaseDocModels.CFKYJDS
<script type="text/javascript">
    $(document).ready(function () {
        $("#CFKYJDS_StartTime").datepicker();
        $("#CFKYJDS_EndTime").datepicker();
        $("#CFKYJDS_JSDCCLSJ").datepicker();
        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("table tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });
    });

    function ValidateDocForm() {
        function ValidateDocForm() {
            var flag = true;
            //1为表单录入
            if ($("input[name=bulidDocType]:checked").val() == "1") {
                var CFKYPWQD = "[";
                $("form")[0].isCommited = true;

                $("#CFKYJDStable_id tr").each(function (i) {

                    if (i > 0) {
                        var XH = $(this).find("td textarea[name=XH]").val();

                        if (XH == null || XH == "") {
                            XH = "";
                        }

                        var WPMC = $(this).find("td textarea[name=WPMC]").val();

                        if (WPMC == "" || WPMC == null) {
                            WPMC = "";
                        }

                        var GG = $(this).find("td textarea[name=GG]").val();

                        if (GG == "" || GG == null) {
                            GG = "";
                        }

                        var Count = $(this).find("td textarea[name=Count]").val();

                        if (Count == null || Count == "") {
                            Count = "";
                        }


                        var SCRQ = $(this).find("td textarea[name=SCRQ]").val();

                        if (SCRQ == "" || SCRQ == null) {
                            SCRQ = "";
                        }

                        var SCDW = $(this).find("td textarea[name=SCDW]").val();

                        if (SCDW == "" || SCDW == null) {
                            SCDW = "";
                        }

                        var TZ = $(this).find("td textarea[name=TZ]").val();

                        if (TZ == "" || TZ == null) {
                            TZ = "";
                        }

                        var BZ = $(this).find("td textarea[name=BZ]").val();

                        if (BZ == "" || BZ == null) {
                            BZ = "";
                        }

                        CFKYPWQD += '{\"XH\":\"' + XH + '\",\"WPMC\":\"' + WPMC + '\",\"GG\":\"' + GG + '\",\"Count\":\"' + Count + '\",\"SCRQ\":\"' + SCRQ + '\",\"SCDW\":\"' + SCDW + '\",\"TZ\":\"' + TZ + '\",\"BZ\":\"' + BZ + '\"},';
                    }
                });

                CFKYPWQD = CFKYPWQD.substring(0, CFKYPWQD.length - 1) + "]";
                $("#CFKYPWQDJson").val(CFKYPWQD);
            }
            else {
                //验证上传的图片
                var files = $(".file");

                var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

                var fileIsEmpty = true;

                $.each(files, function (i, n) {
                    if (n.value != null && n.value != "") {
                        fileIsEmpty = false;
                        var filePath = n.value;

                        //截取最后一个点之后的字符串
                        var su = filePath.substring(filePath.lastIndexOf("."));

                        if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                            flag = false;
                            $(n).parent().append($("<label class='formErrorMsg picFormatError' style='display:inline-block;'>图片格式不正确.</label>"));
                        }
                    }
                });

                if (fileIsEmpty) {
                    flag = false;
                    $(".uploadFileTD").append("<label class='formErrorMsg picFormatError' style='display:inline-block;'>请至少选择一张图片.</label>");
                }
            }
            return flag;
        }
    }

    function add() {
        var oTable = document.all["CFKYJDStable_id"];
        var newTr = oTable.insertRow();
        //添加7列        
        var newTd0 = newTr.insertCell();
        var newTd1 = newTr.insertCell();
        var newTd2 = newTr.insertCell();
        var newTd3 = newTr.insertCell();
        var newTd4 = newTr.insertCell();
        var newTd5 = newTr.insertCell();
        var newTd6 = newTr.insertCell();
        var newTd7 = newTr.insertCell();
        var newTd8 = newTr.insertCell();
        newTd0.innerHTML = '<textarea  name="XH" style="height:40px;"></textarea>';
        newTd1.innerHTML = '<textarea name="WPMC" style="height:40px;"></textarea>';
        newTd2.innerHTML = '<textarea name="GG" style="height:40px;"></textarea>';
        newTd3.innerHTML = '<textarea name="Count" style="height:40px;"></textarea>';
        newTd4.innerHTML = '<textarea name="SCRQ" style="height:40px;"></textarea>';
        newTd5.innerHTML = '<textarea name="SCDW" style="height:40px;"></textarea>';
        newTd6.innerHTML = '<textarea name="TZ" style="height:40px;"></textarea>';
        newTd7.innerHTML = '<textarea name="BZ" style="height:40px;"></textarea>';
        newTd8.innerHTML = '<a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)"  onclick="deleteCurrentRow(this);">删除</a>';
    };

    function deleteCurrentRow(obj) {
        var tr = obj.parentNode.parentNode;
        var tbody = tr.parentNode;
        tbody.removeChild(tr);
    };

</script>
<div class="title">
    查封(扣押)决定书
</div>
<div>
</div>
<table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
    <tr class="notHideTD">
        <th colspan="1">新增方式</th>
        <td colspan="10">
            <label for="bdlr" style="display: inline-block; cursor: pointer;">
                <input type="radio" name="bulidDocType" id="bdlr" value="1" checked="checked" />表单录入</label>
            <label for="scsmj" style="display: inline-block; cursor: pointer;">
                <input type="radio" id="scsmj" name="bulidDocType" value="2" />上传扫描件
            </label>
        </td>
    </tr>
    <tr id="uploadFile" style="display: none;">
        <th colspan="1">上传文书
        </th>
        <td colspan="10" class="uploadFileTD">
            <ul style="list-style: none; margin-left: 0px;">
                <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th colspan="1">编号</th>
        <td colspan="10">
            @Html.TextBox("CFKYJDS.BH", Model.BH)
        </td>
    </tr>
    <tr>
        <th colspan="1">当事人</th>
        <td colspan="4">
            @Html.TextBox("CFKYJDS.DSR", Model.DSR)</td>
        <th colspan="1">地址</th>
        <td colspan="5">
            <input name="DZ" type="text" id="DZ" /></td>
    </tr>
    <tr>
        <th colspan="1">违法行为</th>
        <td colspan="10">
            @Html.TextArea("CFKYJDS.WFXW", Model.WFXW)</td>
    </tr>
    <tr>
        <th>接受调查处理时间</th>
        <td colspan="4">
            @Html.TextBox("CFKYJDS.JSDCCLSJ", DateTime.Now.ToString("yyyy-MM-dd"))</td>
        <th>接受调查处理地点</th>
        <td colspan="5">
            @Html.TextBox("CFKYJDS.JSDCCLDD", Model.JSDCCLDD)</td>
    </tr>

    <tr>
        <th colspan="1">扣押期限(天数)</th>
        <td>
            @Html.TextBox("CFKYJDS.KYQXTS", Model.KYQXTS)</td>
        <th>扣押时间</th>
        <td colspan="3">
            @Html.TextBox("CFKYJDS.StartTime", DateTime.Now.ToString("yyyy-MM-dd"))</td>
        <th>至</th>
        <td colspan="4">
            @Html.TextBox("CFKYJDS.EndTime", DateTime.Now.ToString("yyyy-MM-dd"))</td>
    </tr>
    <tr>
        <th>查封物品存放地点</th>
        <td colspan="10">
            @Html.TextBox("CFKYJDS.CFKYWPCFDD", Model.CFKYWPCFDD)</td>
    </tr>
    <tr>
        <th colspan="1">联系人</th>
        <td colspan="4">
            @Html.TextBox("CFKYJDS.LXR", Model.LXR)</td>
        <th colspan="1">联系电话</th>
        <td colspan="5">
            @Html.TextBox("CFKYJDS.LXDH", Model.LXDH)</td>
    </tr>
    <tr>
        <th colspan="1">执法人员1</th>
        <td colspan="4">
            @Html.DropDownList("CFKYJDS.ZFRY1", ViewBag.ZFRY1 as IEnumerable<SelectListItem>, "请选择")</td>
        <th colspan="1">执法人员2</th>
        <td colspan="5">
            @Html.DropDownList("CFKYJDS.ZFRY2", ViewBag.ZFRY2 as IEnumerable<SelectListItem>, "请选择")</td>
    </tr>
    <tr>
        <th colspan="1">查封扣押<br />
            物品清单</th>
        <td colspan="10">
            <table id="CFKYJDStable_id">
                <tr>
                    <th>序号</th>
                    <th>物品名称</th>
                    <th>规格</th>
                    <th>数量</th>
                    <th>生产日期</th>
                    <th>生产单位</th>
                    <th>特征</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>
                        <textarea name="XH" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="WPMC" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="GG" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="Count" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="SCRQ" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="SCDW" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="TZ" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="BZ" style="height: 40px;"></textarea>
                    </td>
                    <td style="width: 60px;"><a href="javascript:void(0)" onclick="add();">添加</a></td>
                </tr>
                <tr>
                    <td>
                        <textarea name="XH" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="WPMC" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="GG" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="Count" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="SCRQ" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="SCDW" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="TZ" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="BZ" style="height: 40px;"></textarea>
                    </td>
                    <td style="width: 60px;"><a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)" onclick="deleteCurrentRow(this);">删除</a></td>
                </tr>
                <tr>
                    <td>
                        <textarea name="XH" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="WPMC" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="GG" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="Count" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="SCRQ" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="SCDW" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="TZ" style="height: 40px;"></textarea>
                    </td>
                    <td>
                        <textarea name="BZ" style="height: 40px;"></textarea>
                    </td>
                    <td style="width: 60px;"><a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)" onclick="deleteCurrentRow(this);">删除</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>查封扣押决定时间</th>
        <td colspan="10">@Html.TextBox("CFKYJDS.CFKYJDSJ", DateTime.Now.ToString("yyyy-MM-dd"))</td>
    </tr>
    <tr>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="width: 52px; border: none;"></td>
        <td style="border: none;">&nbsp;</td>
    </tr>
</table>
@Html.Hidden("WIID")
@Html.Hidden("DDID")
@Html.Hidden("AIID")
@Html.Hidden("ADID")
@Html.Hidden("WICode")
@Html.Hidden("CFKYPWQDJson")




