@model Taizhou.PLE.Model.CaseDocModels.DCXWBL
<script type="text/javascript">
    $(document).ready(function () {

        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("table tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });

        $("#StartDCXWYMD").datepicker();
        if (jQuery().timepicker) {
            $(".timepicker-24").timepicker({
                minuteStep: 1,
                showSeconds: true,
                showMeridian: false
            })
        }
    });

    function ValidateDocForm() {
        var flag = true;

        if ($("input[name=bulidDocType]:checked").val() == "1") {
            flag = true;
        }
        else {
            $(".error").remove();
            //验证上传的图片
            var files = $(".file");

            var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

            var fileIsEmpty = true;

            $.each(files, function (i, n) {
                if (n.value != null && n.value != "") {
                    fileIsEmpty = false;
                    var filePath = n.value;

                    //截取最后一个点之后的字符串
                    var su = filePath.substring(filePath.lastIndexOf("."));

                    if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                        flag = false;
                        $(n).parent().append($("<label class='error' style='margin-left:5px;display:inline-block;'>图片格式不正确.</label>"));
                    }
                }
            });

            if (fileIsEmpty) {
                flag = false;
                $(".uploadFileTD").append("<Label class='error' generated='true'>请至少选择一张图片.</Label>");
            }
        }

        return flag;
    }
</script>
<form class="docForm" method="post" action="/DocDCXWBL/CommitDocumetDCXWBL" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        调查（询问）笔录
    </div>

    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr class="notHideTD">
            <th colspan="2">新增方式</th>
            <td colspan="9">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="1" checked="checked" id="bdlr" />表单录入
                </label>
                <label for="scsmj" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="2" id="scsmj" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th colspan="2">上传文书
            </th>
            <td colspan="9" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2">案由</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.AY)</td>
        </tr>
        <tr>
            <th colspan="2">调查(询问)日期</th>
            <td colspan="2">
                @Html.TextBox("StartDCXWYMD", DateTime.Now.ToString("yyyy-MM-dd"))
            </td>
            <th>开始时间</th>
            <td colspan="2">
                @Html.TextBox("StartDCXWSJ", DateTime.Now.ToString("HH:mm"), new { @class = "timepicker-24" })
            </td>
            <th>结束时间</th>
            <td colspan="3">
                @Html.TextBox("EndDCXWSJ", Model.EndDCXWSJ, new { @class = "timepicker-24" })
            </td>
        </tr>
        <tr>
            <th colspan="2">调查（询问）地点</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.DCXWDD)
            </td>
        </tr>
        <tr>
            <th colspan="2" style="width: 130px;">被调查（询问）人</th>
            <td style="width: 92px;">
                @Html.TextBoxFor(model => model.BDCXWR)
            </td>
            <th>性别</th>
            <td style="width: 62px;">
                @Html.DropDownListFor(model => model.XB, ViewBag.XB as IEnumerable<SelectListItem>, new { @style = "width: 60px;height:30px;" })
            </td>
            <th>名族</th>
            <td>
                @Html.TextBoxFor(model => model.MZ)
            </td>
            <th>身份证<br />
                号码</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.SFZHM)
            </td>
        </tr>
        <tr>
            <th colspan="2">工作单位</th>
            <td colspan="4">
                @Html.TextBoxFor(model => model.GZDW)
            </td>
            <th colspan="2">职务或职业</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.ZW)
            </td>
        </tr>
        <tr>
            <th colspan="2">邮编</th>
            <td>
                @Html.TextBoxFor(model => model.YB)
            </td>
            <th style="width: 60px;">与本案<br />
                关系</th>
            <td colspan="2">
                @Html.TextBoxFor(model => model.YBAGX)
            </td>
            <th>电话</th>
            <td colspan="4">
                @Html.TextBoxFor(model => model.DH)
            </td>
        </tr>
        <tr>
            <th colspan="2">住址</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.ZZ)
            </td>
        </tr>
        <tr>
            <th colspan="2">调查(询问)人1</th>
            <td colspan="2">
                @Html.DropDownListFor(model => model.DCXWR1, ViewBag.DCR1 as IEnumerable<SelectListItem>)
            </td>
            <th colspan="2">调查(询问)人2</th>
            <td colspan="2">
                @Html.DropDownListFor(model => model.DCXWR2, ViewBag.DCR2 as IEnumerable<SelectListItem>)
            </td>
            <th>记录人</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.JLR)
            </td>
        </tr>
        <tr>
            <th colspan="2">工作单位</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.GZDW2)
            </td>
        </tr>
        <tr>
            <th colspan="2">笔录内容</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.Content, new { style = "height:350px" })
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td colspan="9" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
</form>



