@model Taizhou.PLE.Model.CaseDocModels.QTSXNBSPB
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=LARQ]").datetimepicker();
        //案件录入时提供案件编号
        $("input[name=CODE]").val($(".code").html());

        //防止表单重复提交
        $("form")[0].isCommited = false;
        $("form").submit(function () {
            if (!$("form")[0].isCommited) {
                //判断表单是否通过验证
                if (true) {
                    $("form")[0].isCommited = true;
                    return true;
                } else {
                    $("form")[0].isCommited = false;
                    return false;
                }

            } else {
                return false;
            }
        });

        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });
    });
    function ValidateFormXCJCKYBL() {
        var flag = true;

        if ($("input[name=bulidDocType]:checked").val() == "1") {
            flag = true;
        }
        else {
            $(".error").remove();
            //验证上传的图片
            var files = $(".file");

            var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

            var fileIsEmpty = true;

            $.each(files, function (i, n) {
                if (n.value != null && n.value != "") {
                    fileIsEmpty = false;
                    var filePath = n.value;

                    //截取最后一个点之后的字符串
                    var su = filePath.substring(filePath.lastIndexOf("."));

                    if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                        flag = false;
                        $(n).parent().append($("<label class='error' style='margin-left:5px;display:inline-block;'>图片格式不正确.</label>"));
                    }
                }
            });

            if (fileIsEmpty) {
                flag = false;
                $(".uploadFileTD").append("<Label class='error' generated='true'>请至少选择一张图片.</Label>");
            }
        }

        return flag;
    }
</script>
<style>
    .table td {
        text-align: center;
    }
</style>
<form method="post" action="/DocQTSXNBSPB/CommitEditDocumentQTSXNBSPB" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        其他事项内部审批表
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr class="notHideTD">
            <th>新增方式</th>
            <td colspan="12">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="1" checked="checked" id="bdlr" />表单录入
                </label>
                <label for="scsmj" style="display: inline-block; cursor: pointer">
                    <input type="radio" name="bulidDocType" value="2" id="scsmj" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th>上传文书
            </th>
            <td colspan="1" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="1">申请事项</td>
            <td colspan="8">@Html.TextBoxFor(model=>model.SQSX)</td>
            <td>文书编号</td>
            <td colspan="3">@Html.TextBoxFor(model=>model.WSBH)</td>
        </tr>
        <tr>
            <td>案  由</td>
            <td colspan="8">@Html.TextBoxFor(model=>model.AY)</td>
            <td>立案日期</td>
            <td colspan="3">@Html.TextBoxFor(model=>model.LARQ)</td>
        </tr>
        <tr>
            <td rowspan="4">当事人情况</td>
            <td>姓名</td>
            <td>@Html.TextBoxFor(model=>model.XM)</td>
            <td>性别</td>
            <td>
                <select name="XB" id="XB" style="width: 60px;" class="gr">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select></td>
            <td>职业</td>
            <td>@Html.TextBoxFor(model=>model.ZY)</td>
            <td>民族</td>
            <td>@Html.TextBoxFor(model=>model.MZ)</td>
            <td>身份证号码</td>
            <td colspan="3">@Html.TextBoxFor(model=>model.SFZHM)</td>
        </tr>
        <tr>
            <td>名称</td>
            <td colspan="7">@Html.TextBoxFor(model=>model.MC)</td>
            <td>法定代表人<br />
                （负责人）</td>
            <td>@Html.TextBoxFor(model=>model.FDDBR)</td>
            <td>职务</td>
            <td>@Html.TextBoxFor(model=>model.ZW)</td>
        </tr>
        <tr>
            <td>工作<br />
                单位</td>
            <td colspan="7">@Html.TextBoxFor(model=>model.GZDW)</td>
            <td>电  话</td>
            <td colspan="3">@Html.TextBoxFor(model=>model.DH)</td>
        </tr>
        <tr>
            <td>住址<br />
                （住所）</td>
            <td colspan="7">@Html.TextBoxFor(model=>model.ZZ)</td>
            <td>邮政编码</td>
            <td colspan="3">@Html.TextBoxFor(model=>model.YZBM)</td>
        </tr>
        <tr>
            <td>简要案情及申请理由依据和内容</td>
            <td colspan="12">@Html.TextAreaFor(model=>model.JYAQ)</td>
        </tr>
        <tr>
            <td>承办人意见</td>
            <td colspan="12">@Html.TextAreaFor(model=>model.CBRYJ)</td>
        </tr>
        <tr>
            <td>承办机构审核意见</td>
            <td colspan="12">@Html.TextAreaFor(model=>model.CBJGSHYJ)</td>
        </tr>
        <tr>
            <td>行政机关负责人审批意见</td>
            <td colspan="12">@Html.TextAreaFor(model=>model.XZJGFZRSPYJ)</td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 42px; border: none;"></td>
            <td colspan="9" style="border: none; padding-top: 10px;">
                <input type="submit" class="btn btn-success" value="保   存" />
                <a style="margin-left: 5px;" href="javascript:void(0)" class="btn goBack">取　消</a>
            </td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
</form>
