@model Taizhou.PLE.Model.CaseDocModels.FMWPCLJL
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=CLSJ]").datepicker();
    });

    //表单验证
    function ValidateDocForm() {
        return true;
    }
</script>
<form class="docForm" method="post" action="/DocFMWPCLJL/CommitEditDocumentFMWPCLJL" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        罚没物品处理记录
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="1">处理机关<br />
                名称<br />
                （印章）</th>
            <td colspan="6">
                @Html.TextBoxFor(model => model.CLJGMCHYZ)</td>
            <th colspan="1">处理时间</th>
            <td colspan="3">
                @Html.TextBoxFor(model=>model.CLSJ,"{0:yyyy-MM-dd}")
            </td>
        </tr>
        <tr>
            <th colspan="1">处理地点</th>
            <td colspan="6">
                @Html.TextBoxFor(model => model.CLDD)</td>
            <th colspan="1">处理物品执行人</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.CLWPZXR)</td>
        </tr>
        <tr>
            <th colspan="1">记录人</th>
            <td colspan="2">
                @Html.TextBoxFor(model => model.JLR)</td>
            <th colspan="1">见证人或监销人</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.JZRHJXR)</td>
            <th colspan="1">处理物品原持有人</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.CLWPYCYR)</td>
        </tr>
        <tr>
            <th>处理物品名称、数量和规格</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.CLWPMCSLJGG)</td>
        </tr>
        <tr>
            <th>处理物品的原行政处罚决定书及文号</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.CLWPDYXZCFJDSJWH)</td>
        </tr>
        <tr>
            <th>处理理由及依据</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.CLLYJYJ)</td>
        </tr>
        <tr>
            <th>处理方式及处理结果</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.CLFSJCLJG)</td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td colspan="10" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("DIID");
    @Html.Hidden("WICode")
</form>
