@model Taizhou.PLE.Model.CaseDocModels.XZCFSXGZSHZ
<script type="text/javascript">
    $(document).ready(function () {

    });

    //表单验证
    function ValidateDocForm() {
        var flag = true;
        $(".formErrorMsg").hide();
        $(".formErrorMsg").text("");

        //验证文书编号
        var wsbh = $("#XZCFSXGZSBH").val();
        if ($.trim(wsbh) == "") {
            flag = false;
            $("#error_BH").show();
            $("#error_BH").text("请输入文书编号.");
        }
        //验证文书编号是否存在
        else {
            var ddid = $("#DOCDDID").val();
            var docId = $("thisDIID").val();
            $.ajax({
                type: "post",
                url: "/Document/ValidateEditWSBH",
                data: "DDID=" + ddid + "&WSBH=" + wsbh + "&DocId=" + docId + "",
                async: false,
                cache: false,
                success: function (data)
                {
                    if (data != "True")
                    {
                        flag = false;
                        $("#error_BH").show();
                        $("#error_BH").text("该文书编号已存在.");
                    }
                }
            });
        }
        return flag;
    }

</script>
<form class="docForm" method="post" action="/DocXZCFSXGZSHZ/CommitEditDocumetXZCFSXGZSHZ" style="margin-bottom: 30px;" enctype="multipart/form-data">
    @Html.Hidden("DOCDDID", Taizhou.PLE.Common.DocDefinition.XZCFSXGZSHZ)
    <div class="title">
        <div class="title">
            行政处罚事先告知书回执
        </div>
        <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
            <tr>
                <th colspan="2">当事人</th>
                <td colspan="9">@Html.TextBoxFor(model => model.DSR)</td>
            </tr>
            <tr>
                <th colspan="2">住所地（住址）</th>
                <td colspan="4">
                    @Html.TextBoxFor(model => model.ZSD)
                </td>
                <th colspan="2">邮编</th>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.YB)
                </td>
            </tr>
            <tr>
                <th colspan="2">行政执法事先<br />
                    告知书编号</th>
                <td colspan="9">@Html.TextBoxFor(model => model.XZCFSXGZSBH)
                    <label id="error_BH" class="formErrorMsg" />
                </td>
            </tr>
            <tr>
                <th colspan="2">回执意见</th>
                <td colspan="9">
                    @Html.TextAreaFor(model => model.HZYJ, new { style = "height:300px;" })
                </td>
            </tr>
            <tr class="notHideTD">
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td colspan="9" style="border: none; padding-top: 10px;">
                    <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
                </td>
            </tr>
            <tr class="notHideTD">
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="border: none;">&nbsp;</td>
            </tr>
        </table>
        @Html.Hidden("WIID")
        @Html.Hidden("DDID")
        @Html.Hidden("AIID")
        @Html.Hidden("ADID")
        <input type="hidden" id="thisDIID" name="DIID" value="@ViewBag.DIID" />
    @Html.Hidden("WICode")
</form>

