@model Taizhou.PLE.Model.CaseDocModels.SDGG
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=CFJDSRQ]").datepicker();
        $("input[name=SDGGRQ]").datepicker();
    });

    //表单验证
    function ValidateDocForm() {
        return true;
    }
</script>

<form class="docForm" method="post" action="/DocSDGG/CommitEditDocumentSDGG" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        送达公告
    </div>
    <div>
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">当事人</th>
            <td colspan="9">@Html.TextBoxFor(model => model.DSR)</td>
        </tr>
        <tr>
            <th colspan="2">案由</th>
            <td colspan="9">@Html.TextBoxFor(model => model.AY)</td>
        </tr>
        <tr>
            <th colspan="2">处罚编号</th>
            <td colspan="3">@Html.TextBoxFor(model => model.CFJDSBH)</td>
            <th colspan="2">处罚日期</th>
            <td colspan="4">@Html.TextBoxFor(model => model.CFJDSRQ, "{0:yyyy-MM-dd}")</td>
        </tr>
        <tr>
            <th colspan="2">处理内容</th>
            <td colspan="9">@Html.TextAreaFor(model => model.CFNR, new { style = "height:300px" })</td>
        </tr>
        <tr>
            <th colspan="2">通知时间</th>
            <td colspan="9">@Html.TextBoxFor(model => Model.SDGGRQ, "{0:yyyy-MM-dd}")</td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td colspan="10" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("DIID")
    @Html.Hidden("WICode")
</form>
