@model Taizhou.PLE.Model.CaseDocModels.ZLTZWFZXWTZS
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=TZSJ]").datepicker();
        $("input[name=FASJ]").datetimepicker();

    });

    //表单验证
    function ValidateDocForm() {
        var flag = true;
        $(".formErrorMsg").hide();
        $(".formErrorMsg").text("");

        //验证文书编号
        var wsbh = $("#BH").val();
        if ($.trim(wsbh) == "") {
            flag = false;
            $("#error_BH").show();
            $("#error_BH").text("请输入文书编号.");
        }
            //验证文书编号是否唯一
        else {
            var ddid = $("#DOCDDID").val();
            var docId = $("#thisDIID").val();
            $.ajax({
                type: "post",
                url: "/Document/ValidateEditWSBH",
                data: "DDID=" + ddid + "&WSBH=" + wsbh + "&DocId=" + docId + "",
                cache: false,
                async: false,
                success: function (data) {
                    if (data != "True") {
                        flag = false;
                        $("#error_BH").show();
                        $("#error_BH").text("该文书编号已存在.");
                    }
                }
            });
        }

        return flag;
    }

</script>
<form class="docForm" method="post" action="/DocZLTZWFZXWTZS/CommitEditDocumentZLTZWFZXWTZS" style="margin-bottom: 30px;" enctype="multipart/form-data">
    @Html.Hidden("DOCDDID", Taizhou.PLE.Common.DocDefinition.ZLTZWFXWTZS)
    <div class="title">
        责令停止违法（章）行为通知书
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">编号</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.BH)
                <label class="formErrorMsg" id="error_BH"></label>
            </td>
        </tr>
        <tr>
            <th colspan="2">当事人姓名或名称</th>
            <td colspan="4">
                @Html.TextBoxFor(model => model.DSR)
            </td>
            <th colspan="1">案发时间</th>
            <td colspan="4">
                @Html.TextBoxFor(model => model.FASJ)
            </td>
        </tr>
        <tr>
            <th colspan="2">违法行为</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.WFXWandFADD)
            </td>
        </tr>
        <tr>
            <th colspan="2">违法规定</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.WFDGD)
            </td>
        </tr>
        <tr>
            <th colspan="2">法律根据</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.FLGJ)
            </td>
        </tr>
        <tr>
            <th colspan="2">通知时间</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.TZSJ, "{0:yyyy-MM-dd}")
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td colspan="9" style="border: none; padding-top: 10px;">
                <input type="button" id="btnDocFormSubmit" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 92px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 72px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("DDID")
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
    <input type="hidden" id="thisDIID" name="DIID" value="@ViewBag.DIID" />

</form>





