@model Taizhou.PLE.Model.CaseDocModels.AJJTTLJL

<script type="text/javascript">
    $(document).ready(function () {
        $("#KSSJYMD").datepicker();

        if (jQuery().timepicker) {
            $(".timepicker-24").timepicker({
                minuteStep: 1,
                showSeconds: true,
                showMeridian: false
            })
        }
    });
    //表单验证
    function ValidateDocForm() {
        var flag = true;
        return flag;
    }
</script>

<form method="post" class="docForm" action="/DocAJJTTLJL/CommitEditDocumentAJJTTLJL" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        案件集体讨论记录
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">案件名称</th>
            <td colspan="9">@Html.TextBoxFor(model => model.AJMC)</td>
        </tr>
        <tr>
            <th colspan="2">案号</th>
            <td colspan="9">@Html.TextBoxFor(model => model.AH)</td>
        </tr>
        <tr>
            <th colspan="2">开始日期</th>
            <td colspan="2">
                @Html.TextBoxFor(model => model.KSSJYMD, "{0:yyyy-MM-dd}")
            </td>
            <th>时间</th>
            <td colspan="2">
                @Html.TextBoxFor(model => model.KSSJ, "{0:HH:mm}", new { @class = "timepicker-24" })
            </td>
            <th>至
            </th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.JSSJ, "{0:HH:mm}", new { @class = "timepicker-24" })
            </td>
        </tr>
        <tr>
            <th colspan="2">地点</th>
            <td colspan="9">@Html.TextBoxFor(model => model.DD)</td>
        </tr>
        <tr>
            <th colspan="2">集体讨论原因</th>
            <td colspan="9">@Html.TextAreaFor(midel => Model.JTTLYY, new { style = "height:120px" })</td>
        </tr>
        <tr>
            <th colspan="2">主持人</th>
            <td colspan="4">@Html.TextBoxFor(model => model.ZCR)</td>
            <th colspan="2">记录人</th>
            <td colspan="3">@Html.TextBoxFor(model => model.JLR)</td>
        </tr>
        <tr>
            <th colspan="2">参加人员</th>
            <td colspan="9">@Html.TextAreaFor(model => model.CJRY, new { style = "height:120px" })</td>
        </tr>
        <tr>
            <th colspan="2">列席人员</th>
            <td colspan="9">@Html.TextAreaFor(model => model.LXRY, new { style = "height:120px" })</td>
        </tr>
        <tr>
            <td colspan="11">
                @Html.TextAreaFor(model => model.ZWNR, new { style = "height:210px" })
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 42px; border: none;"></td>
            <td colspan="10" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 22px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 72px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
    @Html.Hidden("DIID")
</form>



