@model Taizhou.PLE.Model.CaseDocModels.CYQZWPCLTZS
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=CYQZTZSJ]").datepicker();
        $("input[name=CYQZWPCLSJ]").datepicker();

        //隐藏物品列表第一行的删除按钮
        $("tbody a[class=delete]").first().hide();

        //抽样取证通编号改变时相应的物品列表改变
        $("#CYQZSBH").change(function () {
            var id = escape($(this).val());
            alert(id);
            $.getJSON("/DocCYQZWPCLTZS/GetCYQZs?DIID=" + id + "", function (data) {
                $(".tbody1").empty();
                $("#CYQZTZSJ").val(data.TZSJ);
                $tr = "";
                $.each(data.CYQZWPQDList, function (i, n) {
                    $tr += "<tr><td><textarea name='Name' style='height: 40px;'>" + n.Name + "</textarea></td>";
                    $tr += "<td><textarea name='Count' style='height: 40px;'>" + n.Count + "</textarea></td>";
                    $tr += "<td><textarea name='PJ' style='height: 40px;'>" + n.PJ + "</textarea></td>";
                    $tr += "<td><textarea name='GG' style='height: 40px;'>" + n.GG + "</textarea></td>";
                    $tr += "<td><textarea name='XH' style='height: 40px;'>" + n.XH + "</textarea></td>";
                    $tr += "<td><textarea name='XT' style='height: 40px;'>" + n.XT + "</textarea></td>";
                    $tr += "<td><textarea name='CLYJ' style='height: 40px;'>" + " " + "</textarea></td>";
                    $tr += "<td style='width: 60px;'><a href='javascript:void(0)' onclick='add();'>添加</a>&nbsp;&nbsp<a href='javascript:void(0)'  onclick='deleteCurrentRow(this);'>删除</a></td></tr>";
                });
                $(".tbody1").html($tr);
            });
        });
    });

    //表单验证
    function ValidateDocForm() {
        //物品列表
        var CYQZBDQD = "[";
        $("#CYQZWPCLTZStable_id tr").each(function (i) {

            if (i > 0) {
                var Name = $(this).find("td textarea[name=Name]").val();

                if (Name == null || Name == "") {
                    Name = "";
                }

                var Count = $(this).find("td textarea[name=Count]").val();

                if (Count == "" || Count == null) {
                    Count = "";
                }

                var PJ = $(this).find("td textarea[name=PJ]").val();

                if (PJ == "" || PJ == null) {
                    PJ = "";
                }

                var GG = $(this).find("td textarea[name=GG]").val();

                if (GG == "" || GG == null) {
                    GG = "";
                }

                var XH = $(this).find("td textarea[name=XH]").val();

                if (XH == "" || XH == null) {
                    XH = "";
                }

                var XT = $(this).find("td textarea[name=XT]").val();

                if (XT == "" || XT == null) {
                    XT = "";
                }

                var CLYJ = $(this).find("td textarea[name=CLYJ]").val();

                if (CLYJ == "" || CLYJ == null) {
                    CLYJ = "";
                }
                CYQZBDQD += '{\"Name\":\"' + Name + '\",\"Count\":\"' + Count + '\",\"PJ\":\"' + PJ + '\",\"GG\":\"' + GG + '\",\"XH\":\"' + XH + '\",\"XT\":\"' + XT + '\",\"CLYJ\":\"' + CLYJ + '\"},';
            }
        });

        CYQZBDQD = CYQZBDQD.substring(0, CYQZBDQD.length - 1) + "]";
        $("#CYQZWPCLQDJson").val(CYQZBDQD);

        var flag = true;
        $(".formErrorMsg").hide();
        $(".formErrorMsg").text("");
        //验证文书编号
        var wsbh = $("#BH").val();
        if ($.trim(wsbh) == "") {
            flag = false;
            $("#error_BH").show();
            $("#error_BH").text("请输入文书编号.");
        }
            //验证文书编号时候唯一
        else {
            var ddid = $("#DOCDDID").val();
            var docId = $("#thisDIID").val();
            $.ajax({
                type: "post",
                url: "/Document/ValidateEditWSBH",
                data: "DDID=" + ddid + "&WSBH=" + wsbh + "&DocId=" + docId + "",
                cache: false,
                async: false,
                success: function (data) {
                    if (data != "True") {
                        flag = false;
                        $("#error_BH").show();
                        $("#error_BH").text("该文书编号已存在.");
                    }
                }
            });
        }
        return flag;

    }



    //添加一行物品列表
    function add() {
        var oTable = document.all["CYQZWPCLTZStable_id"];
        var newTr = oTable.insertRow();
        //添加7列        
        var newTd0 = newTr.insertCell();
        var newTd1 = newTr.insertCell();
        var newTd2 = newTr.insertCell();
        var newTd3 = newTr.insertCell();
        var newTd4 = newTr.insertCell();
        var newTd5 = newTr.insertCell();
        var newTd6 = newTr.insertCell();
        var newTd7 = newTr.insertCell();
        newTd0.innerHTML = '<textarea name="Name" style="height: 40px;"></textarea>';
        newTd1.innerHTML = '<textarea name="Count" style="height: 40px;"></textarea>';
        newTd2.innerHTML = '<textarea name="PJ" style="height: 40px;"></textarea>';
        newTd3.innerHTML = ' <textarea name="GG" style="height: 40px;"></textarea>';
        newTd4.innerHTML = '<textarea name="XH" style="height: 40px;"></textarea>';
        newTd5.innerHTML = '<textarea name="XT" style="height: 40px;"></textarea>';
        newTd6.innerHTML = '<textarea name="CLYJ" style="height: 40px;"></textarea>';
        newTd7.innerHTML = '<a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)"  onclick="deleteCurrentRow(this);">删除</a>';
    };

    //删除一行物品列表
    function deleteCurrentRow(obj) {
        var tr = obj.parentNode.parentNode;
        var tbody = tr.parentNode;
        tbody.removeChild(tr);
    };

</script>
<form class="docForm" method="post" action="/DocCYQZWPCLTZS/CommitEditDocumentCYQZWPCLTZS" style="margin-bottom: 30px;" enctype="multipart/form-data">
    @Html.Hidden("DOCDDID", Taizhou.PLE.Common.DocDefinition.CYQZWPCLTZS)
    <div class="title">
        抽样取证物品处理通知书
    </div>
    <div>
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="1">文号</th>
            <td colspan="10">@Html.TextBoxFor(model => model.BH)
                <label class="formErrorMsg" id="error_BH"></label>
            </td>
        </tr>
        
        <tr>
            <th colspan="1">当事人</th>
            <td colspan="10">
                @Html.TextBoxFor(model => model.DSR)</td>
        </tr>
        <tr>
            <th colspan="1">物品名称</th>
            <td colspan="10">
                @Html.TextBoxFor(model => model.WPMC)</td>
        </tr>
        <tr>
            <th colspan="2">抽样取证通编号</th>
            <td colspan="4">
                @Html.DropDownListFor(model => model.CYQZSBH, ViewBag.CYQZSBH1 as IEnumerable<SelectListItem>)
            </td>
            <th colspan="2">抽样取证通知时间</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.CYQZTZSJ, "{0:yyyy-MM-dd}")</td>
        </tr>
        <tr>
            <th colspan="1">依照的规定</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.FVFGGZYJ)</td>
        </tr>
        <tr>
            <th colspan="1">处理结果</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.CLJG)</td>
        </tr>
        <tr>
            <th colspan="1">抽样取证<br />
                物品清单</th>
            <td colspan="10">
                <table id="CYQZWPCLTZStable_id">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>数量</th>
                            <th>品级</th>
                            <th>规格</th>
                            <th>型号</th>
                            <th>形态</th>
                            <th>处理意见</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="tbody1">
                        @foreach (var item in Model.CYQZWPCLQDList)
                        {
                            <tr>
                                <td>
                                    <textarea name="Name" style="height: 40px;">@item.Name</textarea>
                                </td>
                                <td>
                                    <textarea name="Count" style="height: 40px;">@item.Count</textarea>
                                </td>
                                <td>
                                    <textarea name="PJ" style="height: 40px;">@item.PJ</textarea>
                                </td>
                                <td>
                                    <textarea name="GG" style="height: 40px;">@item.GG</textarea>
                                </td>
                                <td>
                                    <textarea name="XH" style="height: 40px;">@item.XH</textarea>
                                </td>
                                <td>
                                    <textarea name="XT" style="height: 40px;">@item.XT</textarea>
                                </td>
                                <td>
                                    <textarea name="CLYJ" style="height: 40px;">@item.CLYJ</textarea>
                                </td>
                                <td style="width: 60px;"><a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a class="delete" href="javascript:void(0)" onclick="deleteCurrentRow(this);">删除</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th colspan="3">抽样取证物品处理通知时间</th>
            <td colspan="8">
                @Html.TextBoxFor(model => model.CYQZWPCLSJ, "{0:yyyy-MM-dd}")</td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td colspan="10" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
    <input type="hidden" name="DIID" id="thisDIID" value="@ViewBag.DIID" />
    @Html.Hidden("CYQZWPCLQDJson")
</form>




