@model Taizhou.PLE.Model.CaseDocModels.XCJCKYBL

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=StartKCSJ]").datetimepicker();
        $("input[name=EndKCSJ]").datetimepicker();

        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("table tr#uploadFile")).show();
            } else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });

        $("input[name=CODE]").val($(".code").html());

        //防止表单重复提交
        $("form")[0].isCommited = false;
        $("form").submit(function () {

            if (!$(this)[0].isCommited) {
                //判断表单是否通过验证
                var isPassValidate = ValidateFormXCJCKYBL();
                if (isPassValidate) {
                    $("form")[0].isCommited = true;
                    return true;
                } else {
                    $("form")[0].isCommited = false;
                    return false;
                }

            } else {
                return false;
            }
        });

    });

    function ValidateFormXCJCKYBL() {
        var flag = true;

        if ($("input[name=bulidDocType]:checked").val() == "1") {
            flag = true;
        }
        else {
            $(".error").remove();
            //验证上传的图片
            var files = $(".file");

            var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

            var fileIsEmpty = true;

            $.each(files, function (i, n) {
                if (n.value != null && n.value != "") {
                    fileIsEmpty = false;
                    var filePath = n.value;

                    //截取最后一个点之后的字符串
                    var su = filePath.substring(filePath.lastIndexOf("."));

                    if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                        flag = false;
                        $(n).parent().append($("<label class='error' style='margin-left:5px;display:inline-block;'>图片格式不正确.</label>"));
                    }
                }
            });

            if (fileIsEmpty) {
                flag = false;
                $(".uploadFileTD").append("<Label class='error' generated='true'>请至少选择一张图片.</Label>");
            }
        }

        return flag;
    }
</script>
<form method="post" action="/DocXCJCKYBL/CommitEditDocumentXCJCKYBL" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        现场检查(勘验)笔录
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr class="notHideTD">
            <th>新增<br />
                方式</th>
            <td colspan="10">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="1" checked="checked" id="bdlr" />表单录入
                </label>
                <label for="scsmj" style="display: inline-block; cursor: pointer">
                    <input type="radio" name="bulidDocType" value="2" id="scsmj" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th>上传<br />
                文书
            </th>
            <td colspan="10" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="1">勘查<br />
                时间</th>
            <td colspan="4">
                @*<input name="StartKCSJ" type="text" id="StartKCSJ" />*@
                @Html.TextBoxFor(model => model.StartKCSJ,"{0:yyyy-MM-dd HH:mm}")
            </td>
            <th>至</th>
            <td colspan="5">
                @*<input type="text" name="EndKCSJ" id="EndKCSJ" />*@
                @Html.TextBoxFor(model=>model.EndKCSJ,"{0:yyyy:MM:dd HH:mm}")
            </td>
        </tr>
        <tr>
            <th colspan="1">检查<br />
                （勘验）<br />
                地点</th>
            <td colspan="10">
                @*<input type="text" name="JCKYDD" id="JCKYDD" />*@
                @Html.TextBoxFor(model=>model.JCKYDD)
            </td>
        </tr>
        <tr>
            <th>被检查<br/>（勘验）人</th>
                 <th>名称</th>
            <td colspan="3">
                @*<input type="text" id="BJCKYRMC" name="BJCKYRMC" class="dw" />*@
                @Html.TextBoxFor(model => model.BJCKYRMC, new { @class="dw"})
            </td>
            <th>法定代<br />
                表人（<br />
                负责<br />
                人）</th>
            <td colspan="6">
                @*<input type="text" name="FDDBRFZR" id="FDDBRFZR" class="dw" />*@
                @Html.TextBoxFor(model => model.FDDBRFZR, new { @class="dw"})
            </td>
        </tr>       
        <tr>
            <th rowspan="2">现场<br />
                负责人</th>
            <th>姓名</th>
            <td colspan="2">
               @* <input type="text" name="XCFZR" id="XCFZR" class="dw" />*@
                @Html.TextBoxFor(model => model.XCFZR, new { @class="dw"})
            </td>
            <th>本案关系</th>
            <td colspan="7">
                @*<input type="text" name="BAGX" id="BAGX" class="dw" />*@
                @Html.TextBoxFor(model => model.BAGX, new { @class="dw"})
            </td>
        </tr>
        <tr>
            <th>身份<br />
                证号</th>
            <td colspan="4">
                @*<input type="text" name="SFZH" id="SFZH" class="dw" />*@
                @Html.TextBoxFor(model => model.SFZH, new { @class="dw"})
            </td>
            <th>职务</th>
            <td colspan="3">
               @* <input type="text" name="ZW" id="ZW" class="dw" />*@
                @Html.TextBoxFor(model => model.ZW, new { @class="dw"})
            </td>
        </tr>

        <tr>
            <th>其他<br />
                见证人</th>
            <th>姓名</th>
            <td colspan="2">
               @* <input type="text" name="QTJZR" id="QTJZR" />*@
                @Html.TextBoxFor(model=>model.QTJZR)
            </td>
            <th>单位或住址</th>
            <td colspan="6">
                @*<input type="text" name="DWHZZ" id="DWHZZ" />*@
                @Html.TextBoxFor(model=>model.DWHZZ)
            </td>
        </tr>
        <tr>
            <th rowspan="2">检查<br />
                （勘验）<br />
                人</th>
            <th>姓名</th>
            <td colspan="2">
                @*<input type="text" name="JCKYR" id="JCKYR" />*@
                @Html.TextBoxFor(model=>model.JCKYR1)
            </td>
            <th>执法证编号</th>
            <td colspan="3">
                @*<input type="text" name="ZFZBH" id="ZFZBH" />*@
                @Html.TextBoxFor(model=>model.ZFZBH1)
            </td>
            <th>记录人</th>
            <td colspan="3">
                @*<input type="text" name="JLR" id="JLR" />*@
                @Html.TextBoxFor(model=>model.JLR)
            </td>
        </tr>
        <tr>
            <th>工作<br />
                单位</th>
            <td colspan="8">
                @*<input type="text" name="GZDW2" id="GZDW2" />*@
                @Html.TextBoxFor(model=>model.GZDW2)
            </td>
        </tr>
        <tr>
            <th>勘测<br />
                内容<br />
                正文</th>
            <td colspan="9">
                @*<textarea name="Content" id="Content" style="height: 300px;"></textarea>*@
                @Html.TextBoxFor(model => model.Content, new { @style="height:300px;"})
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 42px; border: none;"></td>
            <td colspan="9" style="border: none; padding-top: 10px;">
                <input type="submit" class="btn btn-success" value="保   存" />
                <a style="margin-left: 5px;" href="javascript:void(0)" class="btn goBack">取　消</a>
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 92px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 72px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 92px; border: none;"></td>
            @*<td style="border: none;">&nbsp;</td>*@
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
    @Html.Hidden("DocID")
</form>



