@model Taizhou.PLE.Model.CaseDocModels.XXDJBCZJWPCLTZS
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=StartTime]").datetimepicker();
        $("input[name=EndTime]").datetimepicker();
        $("input[name=XXDJBCZJTZSJ]").datetimepicker();
        $("input[name=XXDJBCZJWPCLSJ]").datetimepicker();
        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("table tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });

        $("input[name=CODE]").val($(".code").html());
        //防止表单重复提交
        $("form")[0].isCommited = false;
        $("form").submit(function () {
            var CYQZBDQD = "[";

            if (!$(this)[0].isCommited) {
                //判断表单是否通过验证
                var isPassValidate = ValidateFormCYQZTZS();
                if (isPassValidate) {
                    $("form")[0].isCommited = true;

                    $("#EditXXDJBCZJWPCLTZStable_id tr").each(function (i) {

                        if (i > 0)
                        {
                            var Name = $(this).find("td textarea[name=Name]").val();

                            if (Name == null || Name == "") {
                                Name = "";
                            }

                            var Count = $(this).find("td textarea[name=Count]").val();

                            if (Count == "" || Count == null) {
                                Count = "";
                            }

                            var PJ = $(this).find("td textarea[name=PJ]").val();

                            if (PJ == "" || PJ == null) {
                                PJ = "";
                            }

                            var GG = $(this).find("td textarea[name=GG]").val();

                            if (GG == "" || GG == null) {
                                GG = "";
                            }

                            var XH = $(this).find("td textarea[name=XH]").val();

                            if (XH == "" || XH == null) {
                                XH = "";
                            }

                            var XT = $(this).find("td textarea[name=XT]").val();

                            if (XT == "" || XT == null) {
                                XT = "";
                            }

                            var BZ = $(this).find("td textarea[name=BZ]").val();

                            if (BZ == "" || BZ == null) {
                                BZ = "";
                            }

                            CYQZBDQD += '{\"Name\":\"' + Name + '\",\"Count\":\"' + Count + '\",\"PJ\":\"' + PJ + '\",\"GG\":\"' + GG + '\",\"XH\":\"' + XH + '\",\"XT\":\"' + XT + '\",\"BZ\":\"' + BZ + '\"},';
                        }
                    });                                                                                                                    
                    
                    CYQZBDQD = CYQZBDQD.substring(0, CYQZBDQD.length - 1) + "]";
                    $("#XXDJBCZJWPCLJson").val(CYQZBDQD);

                    return true;
                }
                else {
                    $("form")[0].isCommited = false;
                    return false;
                }

            } else {
                return false;
            }

        });
    });

    function ValidateFormCYQZTZS()
    {
        var flag = true;
        //待实现
        return flag;
    }

    function add() {
        var oTable = document.all["EditXXDJBCZJWPCLTZStable_id"];
        var newTr = oTable.insertRow();
        //添加8列        
        var newTd0 = newTr.insertCell();
        var newTd1 = newTr.insertCell();
        var newTd2 = newTr.insertCell();
        var newTd3 = newTr.insertCell();
        var newTd4 = newTr.insertCell();
        var newTd5 = newTr.insertCell();
        var newTd6 = newTr.insertCell();
        var newTd7 = newTr.insertCell();
        newTd0.innerHTML = '<textarea name="Name" style="height:40px;"></textarea>';
        newTd1.innerHTML = '<textarea name="Count" style="height:40px;"></textarea>';
        newTd2.innerHTML = '<textarea name="PJ" style="height:40px;"></textarea>';
        newTd3.innerHTML = '<textarea name="GG" style="height:40px;"></textarea>';
        newTd4.innerHTML = '<textarea name="XH" style="height:40px;"></textarea>';
        newTd5.innerHTML = '<textarea name="XT" style="height:40px;"></textarea>';
        newTd6.innerHTML = ' <textarea name="BZ" style="height:40px;"></textarea>';
        newTd7.innerHTML = '<a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)"  onclick="deleteCurrentRow(this);">删除</a>';
    };

    function deleteCurrentRow(obj) {
        var tr = obj.parentNode.parentNode;
        var tbody = tr.parentNode;
        tbody.removeChild(tr);
    };

</script>

<form method="post"  action="/DocXXDJBCZJWPCLTZS/CommitEditDocumentXXDJBCZJWPCLTZS" style="margin-bottom:30px;" enctype="multipart/form-data">
        <div class="title">
           先行登记保存证据物品处理通知书
        </div>
        <div >
           
        </div>
        <table class="workflow"  border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto;margin-top:20px;">
            <tr class="notHideTD">
            <th colspan="1">新增方式</th>
            <td colspan="10">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" id="bdlr" value="1" checked="checked" />表单录入</label>
                <label for="scsmj" style="display: inline-block; cursor: pointer;">
                    <input type="radio" id="scsmj" name="bulidDocType" value="2" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th colspan="1">上传文书
            </th>
            <td colspan="10" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>
         <tr>
                <th colspan="1"> 被先行登<br/>记保存证<br/>据人</th>
                <td colspan="10">
                    <input name="BXXDJBCZJR" type="text" id="BXXDJBCZJR"  value="@Model.BXXDJBCZJR" /></td>
            </tr>
            <tr>
                <th colspan="1">物品名称</th>
                <td colspan="10">
                    <textarea id="WPMC" name="WPMC">@Model.WPMC</textarea></td>
            </tr>
            <tr>
                <th colspan="1">开始保存期限</th>
                 <td colspan="4">
                    <input type="text" id="StartTime" name="StartTime" value="@Model.StartTime.ToString().Replace('/','-')"/></td>
                <th colspan="1">结束保存期限</th>
                 <td colspan="5">
                    <input type="text" id="EndTime" name="EndTime" value="@Model.EndTime.ToString().Replace('/','-')"/></td>
            </tr>
            <tr>
                <th colspan="1">违法的规定</th>
                <td colspan="10">
                    <textarea id="FVFGGZYJ" name="FVFGGZYJ">@Model.FVFGGZYJ</textarea></td>
            </tr>
            <tr>
                <th colspan="1">处理结果</th>
                <td colspan="10">
                    <textarea  name="CLJG" id="CLJG" >@Model.CLJG</textarea></td>
            </tr>
            <tr>
                <th colspan="1">先行登记<br />
                    物品清单</th>
                <td colspan="10">
                    <table id="EditXXDJBCZJWPCLTZStable_id">
                           <tr>
                                <th>名称</th>
                                <th>数量</th>
                                <th>品级</th>
                                <th>规格</th>
                                <th>型号</th>
                                <th>形态</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                           <tr>
                                <td>
                                    <textarea name="Name" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="Count" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="PJ" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="GG" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="XH" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="XT" style="height:40px;"></textarea>
                                </td>
                                <td>                             
                                    <textarea name="BZ" style="height:40px;"></textarea>
                                </td>
                                <td style="width:60px;"><a href="javascript:void(0)" onclick="add();">添加</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea name="Name" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="Count" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="PJ" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="GG" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="XH" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="XT" style="height:40px;"></textarea>
                                </td>
                                <td>                             
                                    <textarea name="BZ" style="height:40px;"></textarea>
                                </td>
                                <td><a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)" onclick="deleteCurrentRow(this);">删除</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea name="Name" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="Count" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="PJ" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="GG" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="XH" style="height:40px;"></textarea>
                                </td>
                                <td>
                                    <textarea name="XT" style="height:40px;"></textarea>
                                </td>
                                <td>                             
                                    <textarea name="BZ" style="height:40px;"></textarea>
                                </td>
                                <td><a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)" onclick="deleteCurrentRow(this);">删除</a></td>
                            </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th colspan="1">先行登记<br/>通知时间</th>
                <td colspan="4">
                    <input name="XXDJBCZJTZSJ" type="text" id="XXDJBCZJTZSJ" value="@Model.XXDJBCZJTZSJ.ToString().Replace('/','-')"/></td>
                <th colspan="1">先行登记<br/>物品处理<br/>时间</th>
                <td colspan="5">
                    <input name="XXDJBCZJWPCLSJ" type="text" id="XXDJBCZJWPCLSJ" value="@Model.XXDJBCZJWPCLSJ.ToString().Replace('/','-')"/></td>
            </tr>
             <tr class="notHideTD">
                @*<td style="width: 52px; border: none;"></td>*@
                <td style="width: 52px; border: none;"></td>
            <td colspan="10" style="border: none; padding-top: 10px;">
                <input type="submit" class="btn btn-success" value="保   存" />
                <a style=" margin-left:5px;" href="javascript:void(0)" class="btn goBack">取　消</a>
            </td>
        </tr>
             <tr>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="width: 52px; border: none;"></td>
                <td style="border: none;">&nbsp;</td>
            </tr>                   
        </table>
        @Html.Hidden("WIID")
        @Html.Hidden("DDID")
        @Html.Hidden("AIID")
        @Html.Hidden("ADID")
        @Html.Hidden("WICode")
        @Html.Hidden("DocID")
        @Html.Hidden("XXDJBCZJWPCLJson")
    </form>
