@model Taizhou.PLE.Model.CaseDocModels.XCJCKYBL

@{
    Taizhou.PLE.Model.CaseWorkflowModels.CaseForm caseForm = ViewBag.CaseForm;
}

<script type="text/javascript">
    $(document).ready(function () {
        if ($(".dsrlxdw").attr("checked") == "checked") {
            $(".BJCKYDW").show();
            $(".BJCKYR").hide();
        } else {
            $(".BJCKYR").show();
            $(".BJCKYDW").hide();
        }

        //时间选择控件
        if (jQuery().timepicker) {
            $(".timepicker-24").timepicker({
                minuteStep: 1,
                showSeconds: true,
                showMeridian: false
            })
        }
        $(".datetime").datepicker();

        //单位和个人的禁用功能
        $(".dsrlxdw").click(function () {
            $(".BJCKYDW").show();
            $(".BJCKYR").hide();
        });
        $(".dsrlxgr").click(function () {
            $(".BJCKYR").show();
            $(".BJCKYDW").hide();
        });

        GetGenerateKCNR();

        $("input").blur(function () {
            GetGenerateKCNR();
        });
        $("select,#StartTimeYMD,#StartKCSJ").change(function () {
            GetGenerateKCNR();
        })

    });

   //勘测内容正文
    function GetGenerateKCNR() {
        var content = "";

        var jcr1 = GetJCKYR($("#JCKYR1 option:selected").val());
        var jcr2 = GetJCKYR($("#JCKYR2 option:selected").val());
        var xcfzr = "";
        var startymd = $("#StartTimeYMD").val();
        var startkcsj = $("#StartKCSJ").val();
        var jclydd = $("#JCKYDD").val();
        //判断个人还是单位
        if ($(".dsrlxdw").attr("checked") == "checked") {
            xcfzr = $("#XCFZR").val();
        } else {
            xcfzr = $("#BJCKYRXM").val();
        }
        content = "　　检查(勘验)人员" + jcr1 + "、" + jcr2 + ",在出示执法证后，在\''" + xcfzr + "\''在场的情况下，对现场进行了检查(勘验)。\r现场情况：" + startymd + "  " + startkcsj + " ," + xcfzr + "在" + jclydd + "进行";
        $("#Content").val(content);

    }

    //表单验证
    function ValidateDocForm() {
        return true;
    }
</script>

<form class="docForm" method="post" action="/DocXCJCKYBL/CommitEditDocmentXCJCKYBL" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        现场检查（勘验）笔录
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="1">勘查<br />
                日期</th>
            <td colspan="2">
                @Html.TextBox("StartTimeYMD", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "datetime" })
            </td>
            <th colspan="2">开始时间</th>
            <td colspan="2">
                @Html.TextBox("StartKCSJ", DateTime.Now.ToString("HH:mm"), new { @class = "timepicker-24" })
            </td>
            <th>结束时间</th>
            <td colspan="2">
                @Html.TextBox("EndKCSJ", DateTime.Now.ToString("HH:mm"), new { @class = "timepicker-24" })
            </td>
        </tr>
        <tr>
            <th colspan="1">检查<br />
                （勘验）<br />
                地点</th>
            <td colspan="10">
                @Html.TextBox("JCKYDD", Model.JCKYDD)
            </td>
        </tr>
        <tr>
            <th>当事人类型</th>
            @if (!string.IsNullOrWhiteSpace(Model.BJCDXTyle))
            {
                <td colspan="10">
                    @Html.RadioButton("BJCDXTyle", "dw", Model.BJCDXTyle == "dw" ? true : false, new { @class = "dsrlxdw" })单位
                    @Html.RadioButton("BJCDXTyle", "gr", Model.BJCDXTyle == "gr" ? true : false, new { @class = "dsrlxgr" })个人
                </td>
            }
            else
            {
                <td colspan="10">
                    @Html.RadioButton("BJCDXTyle", "dw", true, new { @class = "dsrlxdw" })单位
                    @Html.RadioButton("BJCDXTyle", "gr", false, new { @class = "dsrlxgr" })个人
                </td>
            }
        </tr>
        <tr class="BJCKYR">
            <th rowspan="4">被检查（勘验）人</th>
            <th>姓名</th>
            <td>
                @Html.TextBox("BJCKYRXM", Model.BJCKYRXM, new { @class = "gr" })
            </td>
            <th>性别</th>
            <td>
                @Html.DropDownListFor(model => model.XB, ViewBag.XBSelectList as IEnumerable<SelectListItem>, new { @style = "width:60px;height:30px;", @class = "gr" })
            </td>
            <th>民族</th>
            <td>
                @Html.TextBox("MZ", Model.MZ, new { @class = "gr" })
            </td>
            <th>职务<br />
                或职业</th>
            <td colspan="3">
                @Html.TextBox("ZWHZY", Model.ZWHZY, new { @class = "gr" })
            </td>
        </tr>
        <tr class="BJCKYR">
            <th>身份证号码</th>
            <td colspan="4">
                @Html.TextBox("SFZHM", Model.SFZHM, new { @class = "gr" })
            </td>
            <th>电话</th>
            <td colspan="4">
                @Html.TextBox("DH", Model.DH, new { @class = "gr" })
            </td>
        </tr>
        <tr class="BJCKYR">
            <th>工作<br />
                单位</th>
            <td colspan="5">
                @Html.TextBox("GZDW1", Model.GZDW1, new { @class = "gr" })
            </td>
            <th>邮编</th>
            <td colspan="3">
                @Html.TextBox("YB", Model.YB, new { @class = "gr" })
            </td>
        </tr>
        <tr class="BJCKYR">
            <th>住址</th>
            <td colspan="9">
                @Html.TextBox("ZZ", Model.ZZ, new { @class = "gr" })
            </td>
        </tr>

        <tr class="BJCKYDW">
            <th>被检查（勘验）单位</th>
            <th>单位<br />
                名称</th>
            <td colspan="3">
                @Html.TextBox("BJCKYRMC", Model.BJCKYRMC, new { @class = "dw" })
            </td>
            <th colspan="2">
            法定代表人（负责人）
            <td colspan="4">
                @Html.TextBoxFor(model => model.FDDBRFZR, new { @class = "dw" })
            </td>
        </tr>
        <tr class="BJCKYDW">
            <th rowspan="2">现场<br />
                负责人</th>
            <th>姓名</th>
            <td colspan="2">
                @Html.TextBoxFor(model => model.XCFZR, new { @class = "dw" })
            </td>
            <th colspan="2">本案关系</th>
            <td colspan="5">
                @Html.TextBoxFor(model => model.BAGX, new { @class = "dw" })
            </td>
        </tr>
        <tr class="BJCKYDW">
            <th>身份<br />
                证号</th>
            <td colspan="4">
                @Html.TextBoxFor(model => model.SFZH, new { @class = "dw" })
            </td>
            <th>职务</th>
            <td colspan="3">
                @Html.TextBoxFor(model => model.ZW, new { @class = "dw" })
            </td>
        </tr>

        <tr>
            <th>其他<br />
                见证人</th>
            <th>姓名</th>
            <td colspan="2">
                @Html.TextBoxFor(model => model.QTJZR)
            </td>
            <th>单位或住址</th>
            <td colspan="6">
                @Html.TextBoxFor(model => model.DWHZZ)
            </td>
        </tr>
        <tr>
            <th rowspan="2">检查<br />
                （勘验）<br />
                人</th>
            <th>检查<br />
                人一</th>
            <td colspan="2">
                @Html.DropDownListFor(model => model.JCKYR1, ViewBag.JCKYRListOne as IEnumerable<SelectListItem>)
            </td>
            <th>检查<br />
                人二</th>
            <td colspan="3">
                @Html.DropDownListFor(model => model.JCKYR2, ViewBag.JCKYRListTwo as IEnumerable<SelectListItem>)
            </td>
            <th>记录人</th>
            <td colspan="3">
                @Html.TextBox("JLR", Model.JLR)
            </td>
        </tr>
        <tr>
            <th>工作<br />
                单位</th>
            <td colspan="8">
                @Html.TextBox("GZDW2", "台州市城市管理行政执法局")
            </td>
        </tr>
        <tr>
            <th>勘测<br />
                内容<br />
                正文</th>
            <td colspan="9">
                @Html.TextArea("Content", Model.Content, new { style = "height:270px" })
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 42px; border: none;"></td>
            <td colspan="9" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 92px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 72px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 92px; border: none;"></td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("DIID")
    @Html.Hidden("WICode")
</form>



