@model Taizhou.PLE.Model.CaseDocModels.SQWTS

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=WTSJ]").datetimepicker();

        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });


    });

    //表单验证
    function ValidateDocForm() {
        var flag = true;

        $(".formErrorMsg").text("");
        $(".picFormatError").remove();
        $(".formErrorMsg").hide();

        //1为表单录入
        if ($("input[name=bulidDocType]:checked").val() == "1") {
            flag = true;

            //验证委托人
            var wtr = $("#WTR").val();
            if ($.trim(wtr) == "") {
                flag = false;
                $("#error_wtr").show();
                $("#error_wtr").text("请输入委托人.");
            }

            //验证受委托人
            var swtr = $("#SWTR").val();
            if ($.trim(swtr) == "") {
                flag = false;
                $("#error_swtr").show();
                $("#error_swtr").text("请输入受委托人.");
            }

        }
        else {
            //验证上传的图片
            var files = $(".file");

            var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

            var fileIsEmpty = true;

            $.each(files, function (i, n) {
                if (n.value != null && n.value != "") {
                    fileIsEmpty = false;
                    var filePath = n.value;

                    //截取最后一个点之后的字符串
                    var su = filePath.substring(filePath.lastIndexOf("."));

                    if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                        flag = false;
                        $(n).parent().append($("<label class='formErrorMsg picFormatError' style='display:inline-block;'>图片格式不正确.</label>"));
                    }
                }
            });

            if (fileIsEmpty) {
                flag = false;
                $(".uploadFileTD").append("<label class='formErrorMsg picFormatError' style='display:inline-block;'>请至少选择一张图片.</label>");
            }
        }
        return flag;
    }
</script>


<form class="docForm" method="post" action="/DocSQWTS/CommitDocumentSQWTS" style="margin-bottom: 30px;" enctype="multipart/form-data">
    <div class="title">
        授权委托书
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr class="notHideTD">
            <th>新增方式</th>
            <td colspan="3">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="1" checked="checked" id="bdlr" />表单录入
                </label>
                <label for="scsmj" style="display: inline-block; cursor: pointer">
                    <input type="radio" name="bulidDocType" value="2" id="scsmj" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th>上传文书
            </th>
            <td colspan="1" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>委托人</th>
            <td>@Html.TextBox("WTR")
                <label class="formErrorMsg" id="error_wtr"></label>
            </td>
            <th>受委托人</th>
            <td>@Html.TextBox("SWTR")
                <label class="formErrorMsg" id="error_swtr"></label>
            </td>
        </tr>
        <tr>
            <th>工作单位或住址</th>
            <td>@Html.TextBox("GZDWHZZ")</td>
            <th>身份证号码</th>
            <td colspan="2">@Html.TextBox("SFZHM")</td>
        </tr>
        <tr>
            <th>联系电话</th>
            <td>@Html.TextBox("LXDH")</td>
            <th>前往地点</th>
            <td>@Html.TextBox("QWDD")</td>
        </tr>
        <tr>
            <th>委托行为</th>
            <td>@Html.TextBox("WTXW")</td>
            <th>委托时间</th>
            <td>@Html.TextBox("WTSJ", DateTime.Now.ToString("yyyy-MM-dd HH:mm"))</td>
        </tr>
        <tr class="notHideTD">
            <td style=" border: none;"></td>
            <td colspan="3" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
</form>



