@model Taizhou.PLE.Model.CaseDocModels.XCZPTPZJ
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=PSHZSJ]").datetimepicker();

        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });

    });

    function ValidateDocForm() {
        var flag = true;
        $(".formErrorMsg").text("");
        $(".picFormatError").remove();
        $(".formErrorMsg").hide();

        //1为表单录入
        if ($("input[name=bulidDocType]:checked").val() == "1") {
            //验证拍摄地点
            var psdd = $("#PSDD").val();
            if ($.trim(psdd) == "") {
                $("#error_PSDD").show();
                $("#error_PSDD").text("请输入拍摄地点.");
                flag = false;
            }

            //验证拍摄时间
            var pshzsj = $("#PSHZSJ").val();
            if ($.trim(pshzsj) == "") {
                $("#error_PSHZSJ").show();
                $("#error_PSHZSJ").text("请输入拍摄绘制时间.");
                flag = false;
            }

            //验证上传图片
            var filePath = $("#sctp").val();
            //图片不能为空
            if ($.trim(filePath) == "") {
                flag = false;
                $("#error_sctp").show();
                $("#error_sctp").text("请选择一张图片.");
            }
                //验证图片格式
            else {
                var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";
                //截取图片的格式
                var su = filePath.substring(filePath.lastIndexOf("."));
                if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                    flag = false;
                    $("#error_sctp").show();
                    $("#error_sctp").text("图片格式不正确.");
                }
            }
        }
        else {
            //验证上传的图片
            var files = $(".file");

            var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

            var fileIsEmpty = true;

            $.each(files, function (i, n) {
                if (n.value != null && n.value != "") {
                    fileIsEmpty = false;
                    var filePath = n.value;

                    //截取最后一个点之后的字符串
                    var su = filePath.substring(filePath.lastIndexOf("."));

                    if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                        flag = false;
                        $(n).parent().append($("<label class='formErrorMsg picFormatError' style='display:inline-block;'>图片格式不正确.</label>"));
                    }
                }
            });

            if (fileIsEmpty) {
                flag = false;
                $(".uploadFileTD").append("<label class='formErrorMsg picFormatError' style='display:inline-block;'>请至少选择一张图片.</label>");
            }
        }
        return flag;
    }
</script>
<form class="docForm" method="post" enctype="multipart/form-data" action="/DocXCZPTPZJ/CommitDocumentXCZPTPZJ" style="margin-bottom: 30px;">
    <div class="title">
        现场照片（图片）证据
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr class="notHideTD">
            <th colspan="2">新增方式</th>
            <td colspan="9">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" id="bdlr" value="1" checked="checked" />表单录入</label>
                <label for="scsmj" style="display: inline-block; cursor: pointer;">
                    <input type="radio" id="scsmj" name="bulidDocType" value="2" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th colspan="2">上传文书
            </th>
            <td colspan="9" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2">拍摄地点</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.PSDD)
                <label class="formErrorMsg" id="error_PSDD"></label>
            </td>
        </tr>
        <tr>
            <th colspan="2" rowspan="2">拍摄（绘制）人</th>
            <th colspan="2">执法人姓名1</th>
            <td colspan="2">
                @Html.DropDownListFor(model => model.ZFRY1, ViewBag.ZFRMC1 as IEnumerable<SelectListItem>, new { @style = "width:100px;height:30px;", @class = "gr" })
            </td>
            <th colspan="2">执法人姓名2</th>
            <td colspan="3">
                @Html.DropDownListFor(model => model.ZFRY2, ViewBag.ZFRMC2 as IEnumerable<SelectListItem>, new { @style = "width:100px;height:30px;", @class = "gr" })
            </td>
        </tr>
        <tr>
            <th colspan="2">拍摄绘制时间</th>
            <td colspan="7">
                @Html.TextBoxFor(model => model.PSHZSJ, "{0:yyyy-MM-dd HH:mm}")
                <label class="formErrorMsg" id="error_PSHZSJ"></label>
            </td>
        </tr>
        <tr>
            <th colspan="2">拍摄内容</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.PSNR)
            </td>
        </tr>
        <tr>
            <th colspan="2">上传照片</th>
            <td colspan="9">
                <div>
                    <input id="sctp" name="sctp" type="file" value="上传照片" style="width: 400px;" />
                    <label class="formErrorMsg" id="error_sctp"></label>
                </div>
            </td>
        </tr>

        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td colspan="9" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("DDID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
</form>




