@model Taizhou.PLE.Model.CaseDocModels.XXDJBCZJWPCLTZS
<script type="text/javascript">
    $(document).ready(function () {
        $("#XXDJBCZJWPCLTZS_XXDJBCZJTZSJ").datepicker();
        $("#XXDJBCZJWPCLTZS_KSBCSJ").datepicker();
        $("#XXDJBCZJWPCLTZS_JSBCSJ").datepicker();
        $("#XXDJBCZJWPCLTZS_XXDJBCZJWPCLSJ").datepicker();

        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == "1") {
                $("table tr#uploadFile").hide();
                $("table tr").not($("table tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });

        //先行登记保存证据通知书下拉框改变事件
        $("#XXDJBCZJWPCLTZS_XXDJBCZJBH").change(function () {
            var wsbh = escape($(this).val());
            $.getJSON("/DocXXDJBCZJTZS/GetXXDJBCZJTZS?WSBH=" + wsbh + "", function (data) {
                $(".tbody1").empty();
                //登记通知时间（上一环节的文书落款时间）
                $("#XXDJBCZJWPCLTZS_XXDJBCZJTZSJ").val(data.WSLKSJ);
                //开始保存期限
                $("#XXDJBCZJWPCLTZS_KSBCSJ").val(data.BCKSSJ);
                //结束保存期限
                $("#XXDJBCZJWPCLTZS_JSBCSJ").val(data.BCJSSJ);
                $tr = "";
                $.each(data.XXDJBCZJQDList, function (i, n) {
                    $tr += "<tr><td><textarea name='Name' style='height: 40px;'>" + n.Name + "</textarea></td>";
                    $tr += "<td><textarea name='Count' style='height: 40px;'>" + n.Count + "</textarea></td>";
                    $tr += "<td><textarea name='PJ' style='height: 40px;'>" + n.PJ + "</textarea></td>";
                    $tr += "<td><textarea name='GG' style='height: 40px;'>" + n.GG + "</textarea></td>";
                    $tr += "<td><textarea name='XH' style='height: 40px;'>" + n.XH + "</textarea></td>";
                    $tr += "<td><textarea name='XT' style='height: 40px;'>" + n.XT + "</textarea></td>";
                    $tr += "<td><textarea name='BZ' style='height: 40px;'>" + n.BZ + "</textarea></td>";
                    $tr += "<td style='width: 60px;'><a href='javascript:void(0)' onclick='add();'>添加</a>&nbsp;&nbsp<a href='javascript:void(0)'  onclick='deleteCurrentRow(this);'>删除</a></td></tr>";
                });
                $(".tbody1").html($tr);
            });
        });

        //表单验证
        var validateFormXXDJBCZJWPCLTZS = function () {
            var flag = true;

            //文书编号
            var docBH = $("#XXDJBCZJWPCLTZS_BH").val();
            if ($.trim(docBH) == "") {
                $("#error_BH").show()
                $("#error_BH").html("文书编号不能为空");
                flag = false;
            } else {
                $.ajax({
                    type: "POST",
                    url: "/Document/ValidateWSBH",
                    data: "DDID=" + $("#DDID").val() + "&WSBH=" + docBH + "",
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data != "True") {
                            $("#error_BH").show();
                            $("#error_BH").html("文书编号已存在");
                            flag = false;
                        }
                    }
                });
            }
            //查封通知书编号
            var cftzsBH = $("#XXDJBCZJWPCLTZS_XXDJBCZJBH option:selected").val();
            if ($.trim(cftzsBH) == "") {
                flag = false;
                $("#error_XXDJBCZJBH").css({ "display": "block" });
                $("#error_XXDJBCZJBH").html("请选择查封通知书编号");
            }
            else {
                $("#error_XXDJBCZJBH").css({ "display": "none" });
                $("#error_XXDJBCZJBH").html("");
                flag = true;
            }
            return flag;
        };
        $("#hidValidateDocFormFunc").val(validateFormXXDJBCZJWPCLTZS.toString());

        var packingDataFunction = function () {
            var CYQZBDQD = "[";
            $("#XXDJBCZJWPCLTZStable_id tbody tr").each(function (i) {
                var Name = $(this).find("td textarea[name=Name]").val();

                if (Name == null || Name == "") {
                    Name = "";
                }

                var Count = $(this).find("td textarea[name=Count]").val();

                if (Count == "" || Count == null) {
                    Count = "";
                }

                var PJ = $(this).find("td textarea[name=PJ]").val();

                if (PJ == "" || PJ == null) {
                    PJ = "";
                }

                var GG = $(this).find("td textarea[name=GG]").val();

                if (GG == "" || GG == null) {
                    GG = "";
                }

                var XH = $(this).find("td textarea[name=XH]").val();

                if (XH == "" || XH == null) {
                    XH = "";
                }

                var XT = $(this).find("td textarea[name=XT]").val();

                if (XT == "" || XT == null) {
                    XT = "";
                }

                var BZ = $(this).find("td textarea[name=BZ]").val();

                if (BZ == "" || BZ == null) {
                    BZ = "";
                }

                CYQZBDQD += '{\"Name\":\"' + Name + '\",\"Count\":\"' + Count + '\",\"PJ\":\"' + PJ + '\",\"GG\":\"' + GG + '\",\"XH\":\"' + XH + '\",\"XT\":\"' + XT + '\",\"BZ\":\"' + BZ + '\"},';
            });
            CYQZBDQD = CYQZBDQD.substring(0, CYQZBDQD.length - 1) + "]";
            $("#XXDJBCZJWPCLJson").val(CYQZBDQD);
        };
        $("#hidPackingDataFunc").val(packingDataFunction.toString());

        function add() {
            var oTable = document.all["XXDJBCZJWPCLTZStable_id"];
            var newTr = oTable.insertRow();
            //添加8列        
            var newTd0 = newTr.insertCell();
            var newTd1 = newTr.insertCell();
            var newTd2 = newTr.insertCell();
            var newTd3 = newTr.insertCell();
            var newTd4 = newTr.insertCell();
            var newTd5 = newTr.insertCell();
            var newTd6 = newTr.insertCell();
            var newTd7 = newTr.insertCell();
            newTd0.innerHTML = '<textarea name="Name" style="height:40px;"></textarea>';
            newTd1.innerHTML = '<textarea name="Count" style="height:40px;"></textarea>';
            newTd2.innerHTML = '<textarea name="PJ" style="height:40px;"></textarea>';
            newTd3.innerHTML = '<textarea name="GG" style="height:40px;"></textarea>';
            newTd4.innerHTML = '<textarea name="XH" style="height:40px;"></textarea>';
            newTd5.innerHTML = '<textarea name="XT" style="height:40px;"></textarea>';
            newTd6.innerHTML = ' <textarea name="BZ" style="height:40px;"></textarea>';
            newTd7.innerHTML = '<a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)"  onclick="deleteCurrentRow(this);">删除</a>';
        };

        function deleteCurrentRow(obj) {
            var tr = obj.parentNode.parentNode;
            var tbody = tr.parentNode;
            tbody.removeChild(tr);
        };
    });
</script>

<div class="title">
    先行登记保存证据物品处理通知书
</div>
<input type="hidden" id="hidValidateDocFormFunc" value="" />
<input type="hidden" id="hidPackingDataFunc" value="" />
<table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
    <tr class="notHideTD">
        <th colspan="1">新增方式</th>
        <td colspan="10">
            <label for="bdlr" style="display: inline-block; cursor: pointer; color: black">
                <input type="radio" name="bulidDocType" id="bdlr" value="1" checked="checked" />表单录入</label>
            <label for="scsmj" style="display: inline-block; cursor: pointer; color: black">
                <input type="radio" id="scsmj" name="bulidDocType" value="2" />上传扫描件
            </label>
        </td>
    </tr>
    <tr id="uploadFile" style="display: none;">
        <th colspan="1">上传文书
        </th>
        <td colspan="10" class="uploadFileTD">
            <ul style="list-style: none; margin-left: 0px;">
                <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th colspan="1">文号</th>
        <td colspan="10">@Html.TextBox("XXDJBCZJWPCLTZS.BH", Model.BH)
            <label class="formErrorMsg" id="error_BH"></label>
        </td>
    </tr>
    <tr>
        <th colspan="1">当事人</th>
        <td colspan="10">@Html.TextBox("XXDJBCZJWPCLTZS.DSR", Model.DSR)</td>
    </tr>
    <tr>
        <th colspan="1">先行登记保存证据通知书</th>
        <td colspan="10">
            @Html.DropDownList("XXDJBCZJWPCLTZS.XXDJBCZJBH", ViewBag.XXDJBCZJTZSList as IEnumerable<SelectListItem>, "请选择")
            <label class="formErrorMsg" id="error_XXDJBCZJBH"></label>
        </td>
    </tr>
    <tr>
        <th colspan="1">登记通知时间</th>
        <td colspan="3">
            @Html.TextBox("XXDJBCZJWPCLTZS.XXDJBCZJTZSJ", DateTime.Now.ToString("yyyy-MM-dd"))
        </td>
        <th colspan="1">开始保存期限</th>
        <td colspan="2">
            @Html.TextBox("XXDJBCZJWPCLTZS.KSBCSJ", DateTime.Now.ToString("yyyy-MM-dd"))
        </td>
        <th colspan="1">结束保存期限</th>
        <td colspan="4">
            @Html.TextBox("XXDJBCZJWPCLTZS.JSBCSJ", DateTime.Now.ToString("yyyy-MM-dd"))
        </td>
    </tr>

    <tr>
        <th colspan="1">物品名称</th>
        <td colspan="10">
            @Html.TextArea("XXDJBCZJWPCLTZS.WPMC", Model.WPMC)</td>
    </tr>
    <tr>
        <th colspan="1">违法的规定</th>
        <td colspan="10">
            @Html.TextArea("XXDJBCZJWPCLTZS.WFGD", Model.WFGD)</td>
    </tr>
    <tr>
        <th colspan="1">处理结果</th>
        <td colspan="10">
            @Html.TextArea("XXDJBCZJWPCLTZS.CLJG", Model.CLJG)</td>
    </tr>
    <tr>
        <th colspan="1">先行登记<br />
            物品清单</th>
        <td colspan="10">
            <table id="XXDJBCZJWPCLTZStable_id">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>数量</th>
                        <th>品级</th>
                        <th>规格</th>
                        <th>型号</th>
                        <th>形态</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="tbody1">
                    <tr>
                        <td>
                            <textarea name="Name" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="Count" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="PJ" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="GG" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="XH" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="XT" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="BZ" style="height: 40px;"></textarea>
                        </td>
                        <td style="width: 60px;"><a href="javascript:void(0)" onclick="add();">添加</a></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea name="Name" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="Count" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="PJ" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="GG" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="XH" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="XT" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="BZ" style="height: 40px;"></textarea>
                        </td>
                        <td><a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)" onclick="deleteCurrentRow(this);">删除</a></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea name="Name" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="Count" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="PJ" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="GG" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="XH" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="XT" style="height: 40px;"></textarea>
                        </td>
                        <td>
                            <textarea name="BZ" style="height: 40px;"></textarea>
                        </td>
                        <td><a href="javascript:void(0)" onclick="add();">添加</a>&nbsp;&nbsp<a href="javascript:void(0)" onclick="deleteCurrentRow(this);">删除</a></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <th colspan="1">文书落款时间</th>
        <td colspan="10">
            @Html.TextBox("XXDJBCZJWPCLTZS.XXDJBCZJWPCLSJ", DateTime.Now.ToString("yyyy-MM-dd"))
        </td>
    </tr>
</table>
@Html.Hidden("XXDJBCZJWPCLJson")