@model Taizhou.PLE.Model.CaseDocModels.XZCFJDS

<script type="text/javascript">
    var lx = $("#DSRLX").val();
    $(document).ready(function () {
        changeCONTENT();
        $("input").blur(function () {
            changeCONTENT();
        });
        CFDSRLX();
        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == 1) {
                $("table tr#uploadFile").hide();
                $("table tr").not($("table tr#uploadFile")).show();

            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();

            }
            CFDSRLX();
        });

        $("#XZCFSJ").datepicker();

    });

    function CFDSRLX() {
        if (lx == "gr") {
            $(".dw").hide();
        }
        if (lx == "dw") {
            $(".gr").hide();
        }
    }

    //改变CONTENT文本框的值
    function changeCONTENT() {
        var content = "";
        var dsr = $("#orgForm_MC").val();
        content = "经查明,你公司　　当事人" + dsr + "于2014年06月23日。本机关认为你公司的上述行为违反了违反了《城市市容和环境卫生管理条例》第九条 之规定，已构成违法。具体证据如下：文书送达回证,文书送达回证,调查询问通知书(规划),调查询问通知书(市容),责令停止违法(章)行为通知书,抽样取证通知书,抽样取证通知书,其他事项内部审批表,查封（扣押）通知书,其他事项内部审批表,解除查封（扣押）通知书,现场检查（勘验）笔录,立案审批表,抽样取证物品处理通知书。现依据依据《城市市容和环境卫生管理条例》第三十七条  之规定, 决定对你公司作出如下行政处罚：经调查，建议对当事人" + dsr + "作如下行政处罚1、责令当事人2、处罚人民币     元整（￥    元）罚款。妥否，请领导审批!　　如对本行政处罚决定不服的，可在接到本决定书之日起六十日内，向台州市人民政府申请行政复议也可在接到本决定书之日起三个月内直接向人民法院起诉。逾期不申请行政复议，也不提起行政诉讼，又不履行行政处罚决定的，本机关将申请人民法院强制执行。";
        $("#CONTENT").val(content);
    }

    function ValidateDocForm() {
        var flag = true;
        $(".formErrorMsg").hide();
        $(".formErrorMsg").html("");
        if ($("input[name=bulidDocType]:checked").val() == "1") {
            //文书编号验证
            var docBH = escape($.trim($("#BH").val()));
            if (docBH == "") {
                flag = false;
                $("#error_BH").show();
                $("#error_BH").html("编号不能为空");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Document/ValidateWSBH",
                    data: "DDID=" + $("#DOCDDID").val() + "&WSBH=" + docBH + "",
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data != "True") {
                            $("#error_BH").show();
                            $("#error_BH").html("文书编号已存在");
                            flag = false;
                        }
                    }
                });
            }
        }
        else {
            $(".error").remove();
            //验证上传的图片
            var files = $(".file");

            var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

            var fileIsEmpty = true;

            $.each(files, function (i, n) {
                if (n.value != null && n.value != "") {
                    fileIsEmpty = false;
                    var filePath = n.value;

                    //截取最后一个点之后的字符串
                    var su = filePath.substring(filePath.lastIndexOf("."));

                    if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                        flag = false;
                        $(n).parent().append($("<label class='error' style='margin-left:5px;display:inline-block;'>图片格式不正确.</label>"));
                    }
                }
            });
            if (fileIsEmpty) {
                flag = false;
                $(".uploadFileTD").append("<Label class='error' generated='true'>请至少选择一张图片.</Label>");
            }
        }
        return flag;
    }
</script>

<form class="docForm" method="post" action="/DocXZCFJDS/CommitDocumetDocXZCFJDS" style="margin-bottom: 30px;">
    @Html.Hidden("DOCDDID", Taizhou.PLE.Common.DocDefinition.CFJDS)
    <div class="title">
        行政处罚决定书
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        @Html.Hidden("DSRLX")
        <tr class="notHideTD">
            <th colspan="2">新增方式</th>
            <td colspan="9">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="1" checked="checked" id="bdlr" />表单录入
                </label>
                <label for="scsmj" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="2" id="scsmj" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th colspan="2">上传文书
            </th>
            <td colspan="9" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>


        <tr>
            <th colspan="2">文号</th>
            <td colspan="9">@Html.TextBoxFor(model => model.BH)
                <label class="formErrorMsg" id="error_BH"></label>
            </td>
        </tr>
        <tr class="dw">
            <th colspan="2">当事人</th>
            <td colspan="3">@Html.TextBoxFor(model => model.orgForm.MC)</td>
            <th colspan="3">组织机构
                代码证编号</th>
            <td colspan="3">@Html.TextBoxFor(model => model.orgForm.ZZJGDMZBH)</td>
        </tr>
        @*<tr class="dw">
            <th colspan="2">住所地</th>
            <td colspan="9">@Html.TextBoxFor(model => model.ZSD)</td>
        </tr>*@
        <tr class="dw">
            <th colspan="2">法定代表人</th>
            <td colspan="3">@Html.TextBoxFor(model => model.orgForm.FDDBRXM)</td>
            <th colspan="3">职务</th>
            <td colspan="3">@Html.TextBoxFor(model => model.orgForm.ZW)</td>
            @*<th colspan="2">联系电话</th>
            <td colspan="2">@Html.TextBoxFor(model => model.LXDH)</td>*@
        </tr>
        <tr class="gr">
            <th colspan="2">当事人</th>
            <td colspan="2">@Html.TextBoxFor(model => model.personForm.XM)</td>
            <th>性别</th>
            <td>@Html.TextBoxFor(model => model.personForm.XB)</td>
            <th>出生年月</th>
            <td colspan="2">@Html.TextBoxFor(model => model.personForm.CSNY)</td>
            <th>民族</th>
            <td>@Html.TextBoxFor(model => model.personForm.MZ)</td>
        </tr>
        <tr class="gr">
            <th colspan="2">身份证号</th>
            <td colspan="4">@Html.TextBoxFor(model => model.personForm.SFZH)</td>
            <th colspan="1">职业</th>
            <td colspan="4">@Html.TextBoxFor(model => model.GRZY)</td>
            @*<th colspan="2">联系电话</th>
            <td colspan="2">@Html.TextBoxFor(model => model.LXDH)</td>*@
        </tr>
        <tr>
            <th colspan="2">住址</th>
            <td colspan="4">@Html.TextBoxFor(model => model.ZSD)</td>
            <th colspan="2">联系电话</th>
            <td colspan="3">@Html.TextBoxFor(model => model.LXDH)</td>
        </tr>
        <tr>
            <td colspan="11">@Html.TextAreaFor(model => model.CONTENT, new { style = "height:500px" })</td>
        </tr>
        <tr>
            <th colspan="2">行政处罚时间</th>
            <td colspan="9">@Html.TextBox("XZCFSJ", DateTime.Now.ToString("yyyy-MM-dd"))</td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td colspan="8" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 92px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 72px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="width: 42px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
    @Html.Hidden("DDID")
    @Html.Hidden("ADID")
    @Html.Hidden("DocID")
    @Html.Hidden("WICode")
</form>

