@model Taizhou.PLE.Model.CaseDocModels.ZLXQGZTZS
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=ZLGZQX]").datetimepicker();
        $("input[name=TZSJ]").datetimepicker();
        $("input[name=FASJ]").datetimepicker();

        $("input[name=bulidDocType]").click(function () {
            var buildDocType = $(this).val();
            if (buildDocType == 1) {
                $("table tr#uploadFile").hide();
                $("table tr").not($("table tr#uploadFile")).show();
            }
            else {
                $("table tr").not($(".notHideTD")).hide();
                $("table tr#uploadFile").show();
            }
        });
    });

    function ValidateDocForm() {
        var flag = true;
        $(".formErrorMsg").hide();
        $(".formErrorMsg").text("");
        if ($("input[name=bulidDocType]:checked").val() == "1") {
            //验证文书编号
            var wsbh = $("#WSBH").val();
            if ($.trim(wsbh) == "") {
                flag = false;
                $("#error_BH").show();
                $("#error_BH").text("请输入文书编号.");
            }
                //文书编号是否唯一
            else {
                var ddid = $("#DOCDDID").val();
                $.ajax({
                    type: "POST",
                    url: "/Document/ValidateWSBH",
                    data: "DDID=" + ddid + "&WSBH=" + wsbh + "",
                    cache: false,
                    async: false,
                    success: function (data) {
                        if (data != "True") {
                            $("#error_BH").show();
                            $("#error_BH").html("文书编号已存在.");
                            flag = false;
                        }
                    }
                })
            }
        }
        else {
            $(".error").remove();
            //验证上传的图片
            var files = $(".file");

            var AllImgExt = ".jpg|.jpeg|.gif|.bmp|.png";

            var fileIsEmpty = true;

            $.each(files, function (i, n) {
                if (n.value != null && n.value != "") {
                    fileIsEmpty = false;
                    var filePath = n.value;

                    //截取最后一个点之后的字符串
                    var su = filePath.substring(filePath.lastIndexOf("."));

                    if (AllImgExt.indexOf(su.toLowerCase()) == -1) {
                        flag = false;
                        $(n).parent().append($("<label class='error' style='margin-left:5px;display:inline-block;'>图片格式不正确.</label>"));
                    }
                }
            });

            if (fileIsEmpty) {
                flag = false;
                $(".uploadFileTD").append("<Label class='error' generated='true'>请至少选择一张图片.</Label>");
            }
        }

        return flag;
    }
</script>

<form class="docForm" method="post" action="/DocZLXQGZTZS/CommitDocumentZLXQGZTZS" style="margin-top: 30px;" enctype="multipart/form-data">
    @Html.Hidden("DOCDDID", Taizhou.PLE.Common.DocDefinition.ZLXQGZTZS)
    <div class="title">
        责令限期改正通知书
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr class="notHideTD">
            <th colspan="2">新增方式</th>
            <td colspan="9">
                <label for="bdlr" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="1" checked="checked" id="bdlr" />表单录入
                </label>
                <label for="scsmj" style="display: inline-block; cursor: pointer;">
                    <input type="radio" name="bulidDocType" value="2" id="scsmj" />上传扫描件
                </label>
            </td>
        </tr>
        <tr id="uploadFile" style="display: none;">
            <th colspan="2">上传文书
            </th>
            <td colspan="9" class="uploadFileTD">
                <ul style="list-style: none; margin-left: 0px;">
                    <li style="margin-top: 5px;">第1张：<input type="file" name="file1" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第2张：<input type="file" name="file2" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第3张：<input type="file" name="file3" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第4张：<input type="file" name="file4" style="width: 400px;" class="file" /></li>
                    <li style="margin-top: 5px;">第5张：<input type="file" name="file5" style="width: 400px;" class="file" /></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th colspan="2">编号</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.WSBH)
                <label class="formErrorMsg" id="error_BH"></label>
            </td>
        </tr>
        <tr>
            <th colspan="2">当事人姓名或名称</th>
            <td colspan="9">
                @Html.TextBoxFor(model => model.DSR)
            </td>
        </tr>
        <tr>
            <th colspan="2">案发时间</th>
            <td colspan="2">
                @Html.TextBoxFor(model => model.FASJ)
            </td>
            <th colspan="1">案发地点</th>
            <td colspan="6">
                @Html.TextBoxFor(model => model.FADD)
            </td>
        </tr>
        <tr>
            <th colspan="2">违法行为</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.WFXW)
            </td>
        </tr>
        <tr>
            <th colspan="2">违反的规定</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.WFDEGD)
            </td>
        </tr>
        <tr>
            <th colspan="2">责令改正依据</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.ZLGZYJ)
            </td>
        </tr>
        <tr>
            <th colspan="2">改正内容</th>
            <td colspan="9">
                @Html.TextAreaFor(model => model.GZNR)
            </td>
        </tr>
        <tr>
            <th colspan="2">责令改正期限</th>
            <td colspan="3">
                <input type="text" name="ZLGZQX" id="ZLGZQX">
                @*  @Html.TextBoxFor(model => model.ZLGZQX, "{0:yyyy-MM-dd HH:mm}")*@
            </td>
            <th colspan="2">通知时间</th>
            <td colspan="4">
                <input type="text" name="TZSJ" id="TZSJ">
                @*  @Html.TextBoxFor(model => model.TZSJ, "{0:yyyy-MM-dd HH:mm}")*@
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td colspan="9" style="border: none; padding-top: 10px;">
                <input id="btnDocFormSubmit" type="button" class="btn btn-success" value="保   存" />
            </td>
        </tr>
        <tr class="notHideTD">
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="width: 52px; border: none;"></td>
            <td style="border: none;">&nbsp;</td>
        </tr>
    </table>
    @Html.Hidden("DDID")
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("WICode")
</form>




