@model Web.ViewModels.VMArea
@{
    Layout = "~/Views/IntegratedService/ScheduleManagement/_LayoutScheduleManagement.cshtml";
}

@section FootScripts_ScheduleManage{
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[readOnly]").keydown(function (e) {
                e.preventDefault();
            });
            $("textarea[readOnly]").keydown(function (e) {
                e.preventDefault();
            });
            $("#AreaName").click(function () {
                $("#areaNameDiv").removeClass("error").addClass("success");
                $("#areaName").text("");
            });

            $("form").submit(function () {
                var areaName = $("#AreaName").val();

                if (areaName == null || areaName == "") {
                    $("#areaNameDiv").removeClass("success").addClass("error");
                    $("#areaName").text("必填字段");
                    return false;
                }
            });
        });
        function mapDraw(s) {
            var a = $("#Geometry").val();
            a = s;
            $("#Geometry").val(a);
        }
        function mapClear() {
            var a = "";
            $("#Geometry").val(a);
        }
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">巡查监管</a></li>
            <li>></li>
            <li class="active">车辆巡查区域管理</li>
        </ul>
    </div>
}

<div class="box box-black" style="margin-top: 0px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>新增区域
    </div>
    <div class="box-content">
        <form id="AddAreaForm" name="AddAreaForm" class="validation-form form-horizontal form-bordered form-row-stripped" method="post" action="/CarPatrolArea/CommitAddArea" enctype="multipart/form-data">

            <table class="table table-bordered">
                 <tr>
                    <th style="text-align: center; width:10%">所属大队
                    </th>
                    <td style="width:40%;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div>
                                @ViewBag.SSDD
                            </div>
                        </div>
                    </td>
                    <th style="text-align: center; width:10%">所属中队
                    </th>
                    <td style="width:40%;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div>
                                @ViewBag.unitName
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; padding-top:15px; width:10%">区域名称
                    </th>
                    <td colspan="3">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="line-height:0px;">
                       <input type="text" name="AreaName" id="AreaName" class="input-xlarge" style="width:98.5%;">
                    <label class="help-inline" for="AreaName" id="areaName"></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">区域说明
                    </th>
                    <td colspan="3">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div>
                                 <textarea class="input-xlarge" style="height: 80px; width:98.5%;" name="AreaDescription" id="AreaDescription"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">地理位置
                    </th>
                    <td colspan="3">
                        <input type="hidden" name="Geometry" id="Geometry">
                        <div class="form-group" style="margin-bottom: 5px;">
                     
                    <div id="silverlightControlHost" style="height:322px;">
                        <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                            <param name="source" value="/ClientBin/MapCtrl.xap" />
                            <param name="background" value="white" />
                            <param name="minRuntimeVersion" value="5.0.61118.0" />
                            <param name="autoUpgrade" value="true" />
                            <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://tmap.tzsjs.gov.cn/services/tilecache/chinaemap,X1=121.224811199991,Y1=28.6877265156077,X2=121.626806691116,Y2=28.6114504480609,Mode=4,PinUrl=/Images/pin.png,OffsetX=24,OffsetY=48" />
                            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                            </a>
                        </object>
                        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                    </div>
                        </div>
                    </td>
                </tr>
                
               <tr>
                    <td colspan="4" style="height: 80px;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="margin-left:10%;">
                               <button type="submit" class="btn btn-primary">确定</button>
                <a style=" margin-left:2px;" href="@Url.Content("~/CarPatrolArea/Index")" class="btn">返 回</a>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>


@*            <div class="control-group">
                <label class="control-label">所属大队</label>
                <div class="controls">*@
                   @* <input type="text" value="@ViewBag.SSDD" class="input-xlarge" disabled="disabled">*@
                   @* <label style="margin-top:4px;">@ViewBag.SSDD</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">所属中队</label>
                <div class="controls">*@
              @*      <input type="text" value="@ViewBag.unitName" class="input-xlarge" disabled="disabled">*@
                    @*<label style="margin-top:4px;">@ViewBag.unitName</label>
                </div>
            </div>
            <div class="control-group" id="areaNameDiv">
                <label for="AreaName" class="control-label">区域名称</label>
                <div class="controls">
                    <input type="text" name="AreaName" id="AreaName" class="input-xlarge">
                    <label class="help-inline" for="AreaName" id="areaName"></label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">区域说明</label>
                <div class="controls">
                    <textarea class="input-xlarge" style="height: 80px;" name="AreaDescription" id="AreaDescription"></textarea>
                </div>
            </div>
            <input type="hidden" name="Geometry" id="Geometry">
            <div class="control-group">
                <label class="control-label">地理位置</label>
                <div class="controls">
                    <div id="silverlightControlHost">
                        <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                            <param name="source" value="/ClientBin/MapCtrl.xap" />
                            <param name="background" value="white" />
                            <param name="minRuntimeVersion" value="5.0.61118.0" />
                            <param name="autoUpgrade" value="true" />*@


                            @*<param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://www.arcgisonline.cn/ArcGIS/rest/services/ChinaOnlineCommunity/MapServer,X1=13502913,Y1=3343116,X2=13526409,Y2=3326048,Mode=3,PinUrl=/Images/pin.png,OffsetX=24,OffsetY=48" />*@
                           @* <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://tmap.tzsjs.gov.cn/services/tilecache/chinaemap,X1=121.224811199991,Y1=28.6877265156077,X2=121.626806691116,Y2=28.6114504480609,Mode=3,PinUrl=/Images/pin.png,OffsetX=24,OffsetY=48" />
                            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                            </a>
                        </object>
                        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">确定</button>
                <a style=" margin-left:2px;" href="@Url.Content("~/CarPatrolArea/Index")" class="btn">返 回</a>
            </div>*@
        </form>
    </div>
</div>
