@model  Taizhou.PLE.Model.XZSPWorkflowModels.XZSPWorkflow.XZSPForm
@using Taizhou.PLE.Model.XZSPWorkflowModels.XZSPWorkflow
@using Taizhou.PLE.BLL.XZSPBLLs
@using Taizhou.PLE.Model
@using Taizhou.PLE.BLL.UnitBLLs
@using Taizhou.PLE.BLL.UserBLLs
@using Taizhou.PLE.Common.Enums
@{
    Layout = null;
    Form101 form101 = Model.FinalForm.Form101;
    Form102 form102 = Model.FinalForm.Form102;
    Form103 form103 = Model.FinalForm.Form103;
    Form104 form104 = Model.FinalForm.Form104;
    Form105 form105 = Model.FinalForm.Form105;
    Form106 form106 = Model.FinalForm.Form106;
    Form107 form107 = Model.FinalForm.Form107;
    Form108 form108 = Model.FinalForm.Form108;
}
<style type="text/css">
    table th {
        width: 100px;
    }

    table td {
        width: 250px;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        GetExpandInforForm101($("#APID").val());
        GetLocateCkeckInform103($("#APID").val());
        $("#btngoBack").click(function () {
            window.history.go(-1);
        })
    })
    function GetExpandInforForm101(APID) {
        $.get("/Approval/GetExpandInforForm101?random=" + Math.random(), { apid: APID, wiid: $("#WIID").val() },
             function (data) {
                 if (data != null) {
                     $.each(data, function (i, item) {
                         $tr = $("<tr class='beforeTR'></tr>");
                         $th = $("<th style='text-align: center;'>" + item.NAME + "</th>");
                         $td = $("<td colspan='3'></td>");
                         $div1 = $("<div class='form-group' style='margin-bottom: 5px;'></div>");
                         $div2 = $("<div class='col-sm-9 col-lg-10 controls'></div>");

                         $input = null;

                         if (item.TYPE == "text") {
                             $input = $("<label>" + item.VALUE + "</label>");
                         }
                         else {
                             $input = $("<label>" + item.VALUE + "</label>");
                         }

                         $div2.append($input);
                         $div1.append($div2);
                         $td.append($div1);
                         $tr.append($th);
                         $tr.append($td);
                         $(".brothorid").after($tr);
                     });
                 }
             });
    };
    function GetLocateCkeckInform103(APID) {
        $.get("/Approval/GetLocateCkeckInform103?Ran=" + Math.random(), { apid: APID, wiid: $("#WIID").val() }, function (data) {
            $tr1 = $("<tr></tr>");
            $th11 = $("<th style='text-align: center;'>现场核查<br/>情况</th>")
            $td11 = $("<td colspan='3'></td>");

            if (data != null) {
                $table111 = $("<table class='table table-bordered'></table>")
                $.each(data, function (i, item) {
                    $tr1111 = $("<tr class='xchcTR'></tr>");
                    $td11111 = $("<td></td>")
                    $div111111 = $("<div class='form-group' style='margin-bottom: 5px;'></div>")
                    $div1111111 = $("<div class='col-sm-9 col-lg-10 controls'></div>")
                    if (item.CHECK == "false") {
                        $div11111111 = $("<input type='radio' name='xchcqk' seqno='" + item.ID + "' LX='" + item.TYPE + "' id='" + item.KEY + "' disabled='disabled'/>");
                    }
                    else {
                        $div11111111 = $("<input type='radio' name='xchcqk' seqno='" + item.ID + "' LX='" + item.TYPE + "' id='" + item.KEY + "' checked disabled='disabled'/>");
                    }
                    $label11111111 = $("<span>&nbsp;&nbsp;&nbsp;" + item.NAME + "</span>");
                    $div1111111.append($div11111111);
                    $div1111111.append($label11111111);
                    $div111111.append($div1111111)
                    $td11111.append($div111111);
                    $tr1111.append($td11111);

                    $table111.append($tr1111);
                });
            }
            $td11.append($table111);
            $tr1.append($th11);
            $tr1.append($td11);
            $(".brothor2").after($tr1);

        });
    }
</script>
<table class="table table-bordered">
    @if (ViewBag.ADID == "1")
    {
        <tr>
            <th style="text-align: center;">审批项目
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ProjectName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">申请事项
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        XZSPAPPROVALPROJECT ap = ApprovalProjectBLL.GetApprovalProjectByAPID(form101.APID);
                        }

                        @ap.APNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">申请单位
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">受理时间
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">联系人
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">联系电话
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>        
        <tr class="brothorid">
            <th style="text-align: center;">申报内容
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitDDID = form101.ZFDDID;
        UNIT unitDD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitDDID)).First();
                        }
                        @unitDD.UNITNAME
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitZDID = form101.ZFZDID;
        UNIT unitZD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitZDID)).First();
                        }
                        @unitZD.UNITNAME
                    </div>
                </div>
            </td>
        </tr>      
    }

    @if (ViewBag.ADID == "2")
    {
        <tr>
            <th style="text-align: center;">审批项目
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ProjectName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">申请事项
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        XZSPAPPROVALPROJECT ap = ApprovalProjectBLL.GetApprovalProjectByAPID(form101.APID);
                        }

                        @ap.APNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">申请单位
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">受理时间
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">联系人
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">联系电话
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>        
        <tr class="brothorid">
            <th style="text-align: center;">申报内容
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitDDID = form101.ZFDDID;
        UNIT unitDD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitDDID)).First();
                        }
                        @unitDD.UNITNAME
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitZDID = form101.ZFZDID;
        UNIT unitZD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitZDID)).First();
                        }
                        @unitZD.UNITNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">现场核查人员
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string zbdyName = "";
        string xbdyName = "";
        string form2ProcessTime = "";
        if (form102 != null)
        {
            decimal zbdyID = form102.PQDYID;
            decimal xbdyID = form102.PQDYID2;
            zbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(zbdyID).UserName;
            xbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(xbdyID).UserName;
            form2ProcessTime = form102.ProcessTime.Value.ToString().Replace('/', '-');
        }
      
                        }
                        主办队员 : @zbdyName
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协办队员 : @xbdyName
                    </div>
                </div>
            </td>
        </tr>     
    }

    @if (ViewBag.ADID == "3")
    {
        <tr>
            <th style="text-align: center;">审批项目
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ProjectName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">申请事项
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        XZSPAPPROVALPROJECT ap = ApprovalProjectBLL.GetApprovalProjectByAPID(form101.APID);
                        }

                        @ap.APNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">申请单位
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">受理时间
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">联系人
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">联系电话
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>        
        <tr class="brothorid">
            <th style="text-align: center;">申报内容
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitDDID = form101.ZFDDID;
        UNIT unitDD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitDDID)).First();
                        }
                        @unitDD.UNITNAME
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitZDID = form101.ZFZDID;
        UNIT unitZD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitZDID)).First();
                        }
                        @unitZD.UNITNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr class="brothor2">
            <th style="text-align: center;">现场核查人员
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        decimal zbdyID = form102.PQDYID;
        decimal xbdyID = form102.PQDYID2;
        string zbdyName = UserBLL.GetUserByID(zbdyID).UserName;
        string xbdyName = UserBLL.GetUserByID(xbdyID).UserName;
                        }
                        主办队员 : @zbdyName
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协办队员 : @xbdyName
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">执法队员意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @if (form103 != null)
                        {
                            @form103.description
                        }
                    </div>
                </div>
            </td>
        </tr>           
    }
    @if (ViewBag.ADID == "4")
    {
        <tr>
            <th style="text-align: center;">审批项目
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ProjectName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">申请事项
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        XZSPAPPROVALPROJECT ap = ApprovalProjectBLL.GetApprovalProjectByAPID(form101.APID);
                        }

                        @ap.APNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">申请单位
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">受理时间
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">联系人
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">联系电话
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>        
        <tr class="brothorid">
            <th style="text-align: center;">申报内容
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitDDID = form101.ZFDDID;
        UNIT unitDD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitDDID)).First();
                        }
                        @unitDD.UNITNAME
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitZDID = form101.ZFZDID;
        UNIT unitZD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitZDID)).First();
                        }
                        @unitZD.UNITNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr class="brothor2">
            <th style="text-align: center;">现场核查人员
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        decimal zbdyID = form102.PQDYID;
        decimal xbdyID = form102.PQDYID2;
        string zbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(zbdyID).UserName;
        string xbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(xbdyID).UserName;
                        }
                        主办队员 : @zbdyName
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协办队员 : @xbdyName
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">执法队员意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form103.description
                    </div>
                </div>
            </td>
        </tr>                           
        <tr>
            <th style="text-align: center;">执法中队<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @if (form104 != null)
                        {
                            @form104.description
                        }
                    </div>
                </div>
            </td>
        </tr>
    }
    @if (ViewBag.ADID == "5")
    {
        <tr>
            <th style="text-align: center;">审批项目
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ProjectName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">申请事项
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        XZSPAPPROVALPROJECT ap = ApprovalProjectBLL.GetApprovalProjectByAPID(form101.APID);
                        }

                        @ap.APNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">申请单位
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">受理时间
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">联系人
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">联系电话
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>        
        <tr class="brothorid">
            <th style="text-align: center;">申报内容
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitDDID = form101.ZFDDID;
        UNIT unitDD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitDDID)).First();
                        }
                        @unitDD.UNITNAME
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitZDID = form101.ZFZDID;
        UNIT unitZD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitZDID)).First();
                        }
                        @unitZD.UNITNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr class="brothor2">
            <th style="text-align: center;">现场核查人员
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        decimal zbdyID = form102.PQDYID;
        decimal xbdyID = form102.PQDYID2;
        string zbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(zbdyID).UserName;
        string xbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(xbdyID).UserName;
                        }
                        主办队员 : @zbdyName
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协办队员 : @xbdyName
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">执法队员意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form103.description
                    </div>
                </div>
            </td>
        </tr>                            
        <tr>
            <th style="text-align: center;">执法中队<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form104.description
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">承办人<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form105.description
                    </div>
                </div>
            </td>
        </tr>  
    }
    @if (ViewBag.ADID == "6")
    {
        <tr>
            <th style="text-align: center;">审批项目
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ProjectName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">申请事项
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        XZSPAPPROVALPROJECT ap = ApprovalProjectBLL.GetApprovalProjectByAPID(form101.APID);
                        }

                        @ap.APNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">申请单位
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">受理时间
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">联系人
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">联系电话
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>        
        <tr class="brothorid">
            <th style="text-align: center;">申报内容
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitDDID = form101.ZFDDID;
        UNIT unitDD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitDDID)).First();
                        }
                        @unitDD.UNITNAME
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitZDID = form101.ZFZDID;
        UNIT unitZD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitZDID)).First();
                        }
                        @unitZD.UNITNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr class="brothor2">
            <th style="text-align: center;">现场核查人员
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        decimal zbdyID = form102.PQDYID;
        decimal xbdyID = form102.PQDYID2;
        string zbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(zbdyID).UserName;
        string xbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(xbdyID).UserName;
                        }
                        主办队员 : @zbdyName
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协办队员 : @xbdyName
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法队员意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form103.description
                    </div>
                </div>
            </td>
        </tr>                          
        <tr>
            <th style="text-align: center;">执法中队<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form104.description
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">承办人<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form105.description
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">承办机构<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form106.description
                    </div>
                </div>
            </td>
        </tr> 
    }
    @if (ViewBag.ADID == "7")
    {
        <tr>
            <th style="text-align: center;">审批项目
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ProjectName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">申请事项
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        XZSPAPPROVALPROJECT ap = ApprovalProjectBLL.GetApprovalProjectByAPID(form101.APID);
                        }

                        @ap.APNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">申请单位
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">受理时间
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">联系人
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">联系电话
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>        
        <tr class="brothorid">
            <th style="text-align: center;">申报内容
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitDDID = form101.ZFDDID;
        UNIT unitDD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitDDID)).First();
                        }
                        @unitDD.UNITNAME
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitZDID = form101.ZFZDID;
        UNIT unitZD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitZDID)).First();
                        }
                        @unitZD.UNITNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr class="brothor2">
            <th style="text-align: center;">现场核查人员
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        decimal zbdyID = form102.PQDYID;
        decimal xbdyID = form102.PQDYID2;
        string zbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(zbdyID).UserName;
        string xbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(xbdyID).UserName;
                        }
                        主办队员 : @zbdyName
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协办队员 : @xbdyName
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法队员意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form103.description
                    </div>
                </div>
            </td>
        </tr>                          
        <tr>
            <th style="text-align: center;">执法中队<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form104.description
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">承办人<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form106.description
                    </div>
                </div>
            </td>
        </tr>  
        <tr>
            <th style="text-align: center;">承办机构<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form106.description
                    </div>
                </div>
            </td>
        </tr>
    }
    @if (ViewBag.ADID == "8")
    {
        <tr>
            <th style="text-align: center;">审批项目
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ProjectName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">申请事项
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        XZSPAPPROVALPROJECT ap = ApprovalProjectBLL.GetApprovalProjectByAPID(form101.APID);
                        }

                        @ap.APNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">申请单位
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important;">受理时间
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">联系人
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">联系电话
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>        
        <tr class="brothorid">
            <th style="text-align: center;">申报内容
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitDDID = form101.ZFDDID;
        UNIT unitDD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitDDID)).First();
                        }
                        @unitDD.UNITNAME
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        string unitZDID = form101.ZFZDID;
        UNIT unitZD = UnitBLL.GetUnitByUnitID(decimal.Parse(unitZDID)).First();
                        }
                        @unitZD.UNITNAME
                    </div>
                </div>
            </td>
        </tr>
        <tr class="brothor2">
            <th style="text-align: center;">现场核查人员
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @{
        decimal zbdyID = form102.PQDYID;
        decimal xbdyID = form102.PQDYID2;
        string zbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(zbdyID).UserName;
        string xbdyName = Taizhou.PLE.BLL.UserBLLs.UserBLL.GetUserByID(xbdyID).UserName;
                        }
                        主办队员 : @zbdyName
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协办队员 : @xbdyName
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法队员意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form103.description
                    </div>
                </div>
            </td>
        </tr>                          
        <tr>
            <th style="text-align: center;">执法中队<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form104.description
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">承办人<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form106.description
                    </div>
                </div>
            </td>
        </tr>  
        <tr>
            <th style="text-align: center;">承办机构<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form106.description
                    </div>
                </div>
            </td>
        </tr> 
        <tr>
            <th style="text-align: center;">执法大队<br />
                审核意见
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form107.description
                    </div>
                </div>
            </td>
        </tr>
        if (form108 != null)
        {
        <tr>
            <th style="text-align: center;">承办人<br />
                确认时间
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form108.CBRQRSJ
                    </div>
                </div>
            </td>
        </tr>
        }
    }
</table>

<table class="table table-bordered">
    <tr>
        <th style="text-align: center;">完成时间</th>
        <th>流程环节</th>
        <th>操作人</th>
        <th>流程状态</th>
    </tr>
    @{
        
        for (int i = 0; i < Model.ProcessForms.Count; i++)
        {
            if (Model.ProcessForms[i].CurrentForm.ADID == 8)
            {
        <tr>
            <td style="text-align: center;">@Model.ProcessForms[i].CurrentForm.ProcessTime.Value.ToString().Replace('/', '-')</td>
            <td>@Model.ProcessForms[i].CurrentForm.ADName </td>
            <td>
                @{
                string cbrqrName = UserBLL.GetUserByID(decimal.Parse(Model.ProcessForms[i].CurrentForm.ProcessUserID)).UserName;
                }
                @cbrqrName
            </td>
            <td>流程已结束</td>
        </tr>
            }
            else
            {   <tr>
                <td style="text-align: center;">@Model.ProcessForms[i].CurrentForm.ProcessTime.Value.ToString().Replace('/', '-')</td>
                <td>@Model.ProcessForms[i].CurrentForm.ADName </td>
                <td>
                    @{
                string cbrqrName = UserBLL.GetUserByID(decimal.Parse(Model.ProcessForms[i].CurrentForm.ProcessUserID)).UserName;
                    }
                    @cbrqrName
                </td>
                <td>已处理</td>
            </tr>
                
            }
        }
    }
    <tr>
        <th></th>
        <td colspan="3" style="border-left: none;">
            <div class="form-group" style="margin-bottom: 5px;">
                <div class="col-sm-9 col-lg-10 controls">
                    <a style="float: right;" id="btngoBack" class="btn goBack">返　回</a>
                </div>
            </div>
        </td>
    </tr>
    @Html.Hidden("APID")
    @Html.Hidden("WIID")
</table>
