@model Taizhou.PLE.Model.XZSPWorkflowModels.XZSPWorkflow.Form102
@using Taizhou.PLE.Model.XZSPWorkflowModels.XZSPWorkflow

@{
    Layout = null;
    Form101 form101 = (Form101)ViewBag.Form101;
}

<style>
    table th {
        width: 100px;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }

    table tr td .form-group div {
        line-height: 30px;
    }
</style>
<script src="~/Scripts/js/ApprovalManagement/XZSPWorkflow.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#veto").click(function () {
            $("#bc").val("1");
            $("#XZSPWorkflow2")[0].submit()
        });
        //页面加载完执行
        GetExpandInforForm101disabled($("#APID").val());
    });
    function FormSubmit() {
        $(".btn-success").attr("disabled", "disabled");
        return true;
    }
    function mapInited() {
        setTimeout(function () {
            var DTMD = $("#DTWZ").val().split("|");
            if (DTMD) {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                mapCtrl.AddMarker(DTMD[0] + "," + DTMD[1]);
            }
        }, 1000)
    }
</script>
<form method="post" enctype="multipart/form-data" action="/XZSPWorkflow2/Commit" id="XZSPWorkflow2">
    <div class="title" style="margin-bottom: 30px;">
        执法中队派遣核查
    </div>
    <table class="table table-bordered">
        <tr>
            <th style="text-align: center; line-height: 30px">审批项目
            </th>
            <td style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.APList
                    </div>
                </div>
            </td>
            <th style="text-align: center; line-height: 30px">申请事项
            </th>
            <td colspan="3" style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.APSXList
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; line-height: 30px">文书编号
            </th>
            <td colspan="3" style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.WSBH
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; line-height: 30px">申请单位
            </th>
            <td style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.ApplicantUnitName
                    </div>
                </div>
            </td>
            <th style="text-align: center; line-height: 30px">受理时间
            </th>
            <td style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.AcceptanceTime
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; line-height: 30px">联系人
            </th>
            <td style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.LinkMan
                    </div>
                </div>
            </td>
            <th style="text-align: center; line-height: 30px">联系电话
            </th>
            <td style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Telephone
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; line-height: 30px">联系人地址
            </th>
            <td colspan="3" style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.Address
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; line-height: 30px">地理位置</th>
            <td colspan="4" style="padding: 8px">
                <div class="form-group">
                    @Html.Hidden("DTWZ", form101.DTWZ)
                    <div id="silverlightControlHost" style="width: 100%; height: 350px;">
                        <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="350px" width="100%">
                            <param name="source" value="/ClientBin/MapCtrl.xap" />
                            <param name="background" value="white" />
                            <param name="minRuntimeVersion" value="5.0.61118.0" />
                            <param name="autoUpgrade" value="true" />
                            <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://tmap.tzsjs.gov.cn/services/tilecache/chinaemap,X1=121.409266152472,Y1=28.6559834674633,X2=121.423424005508,Y2=28.6614766315258,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />
                            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                            </a>
                        </object>
                        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; line-height: 30px">执法大队
            </th>
            <td style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ZSYDD
                    </div>
                </div>
            </td>
            <th style="text-align: center; line-height: 30px">辖区中队
            </th>
            <td style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @ViewBag.ZSYDDYZD
                    </div>
                </div>
            </td>
        </tr>
        <tr id="brothorid">
            <th style="text-align: center; line-height: 30px">申报内容
            </th>
            <td colspan="3" style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @form101.description
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center; line-height: 30px">执法中队<br />
                派遣队员
            </th>
            <td colspan="3" style="width: 40%">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        主办队员 @Html.DropDownListFor(model => model.PQDYID, ViewBag.PQDY as IEnumerable<SelectListItem>, new { @style = "width:38.5%" })
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;协办队员 @Html.DropDownListFor(model => model.PQDYID2, ViewBag.PQDY2 as IEnumerable<SelectListItem>, new { @style = "width:38.5%" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="3" style="border-left: none;">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <input type="button" id="btnSubmit" class="btn btn-success" value="提　交" onsubmit="return FormSubmit();">
                        <input id="veto" type="button" class="btn btn-primary" value="暂　存">
                        <input id="refuse" type="button" class="btn btn-danger" value="拒　绝" />
                        <a style="margin-left: 5px;" href="/Approval/Approval" class="btn goBack">返　回</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("APID")
    @Html.Hidden("WDID")
    @Html.Hidden("bc")
    @Html.Hidden("APName")
</form>



