@model Taizhou.PLE.Model.XZSPWorkflowModels.XZSPWorkflow.Form101
@{
    Layout = null;
}

<style>
    table th {
        width: 100px;
    }

    table td {
        width: 250px;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }

    table tr td .form-group div {
        width: 94%;
        line-height: 30px;
    }
</style>
<script src="~/Scripts/js/ApprovalManagement/XZSPWorkflow.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //大队下拉列表改变
        $("#ZFDDID").change(function () {
            $.ajax({
                type: "POST",
                url: "/Approval/GetZD",
                data: { DDID: $(this).val() },
                cache: false,
                success: function (data) {
                    $("#ZFZDID").empty();
                    $("#ZFZDID").append("<option value=''>请选择</option>");
                    $.each(data, function (i, item) {
                        $("#ZFZDID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });
                }
            });
        })

        //执法中队下拉框改变
        $("#ZFZDID").change(function () {
            var zfzdname = $("#ZFZDID option:selected").text()
            alert(zfzdname);
            $("#ZFZDName").val(zfzdname)
        })
    });
</script>
<form method="post" enctype="multipart/form-data" action="/XZSPWorkflow1/Commit" id="XZSPWorkflow1">
    <div class="title" style="margin-bottom: 30px;">
        大队综合
    </div>
    <table class="table table-bordered">


        <tr>
            <th style="text-align: center;">联系人地址
            </th>
            <td colspan="3">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <input type="text" value="@Model.Address" id="Address" name="Address" class="large"/>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">执法大队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @Html.DropDownListFor(model => model.ZFDDID, ViewBag.ZSYDD as IEnumerable<SelectListItem>, "请选择")
                    </div>
                </div>
            </td>
            <th style="padding-left: 30px!important">辖区中队
            </th>
            <td>
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        @Html.DropDownListFor(model => model.ZFZDID, ViewBag.ZSYDDYZD as IEnumerable<SelectListItem>, "请选择")
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">综合意见</th>
            <td colspan="3">
                <textarea>

                </textarea>
            </td>
        </tr>
        <tr>
            <th style="text-align: center;">附件上传</th>
            <td colspan="3">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls" id="explainInfo">
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <div>
                                        <span>&nbsp;&nbsp;附件1<input type="text" name="material1Text" style="width: 200px; margin-left: 10px;" value="申请单位工商执照" /></span>
                                        <span>
                                            <input type="file" name="material1" id="material1" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" /></span>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <span>&nbsp;&nbsp;附件2<input type="text" name="material2Text" style="width: 200px; margin-left: 10px;" value="施工单位营业执照" /></span>
                                        <span>
                                            <input type="file" name="material2" id="material2" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" /></span>
                                    </div>
                                    <div style="margin-top: 5px;">
                                        <span>&nbsp;&nbsp;附件3<input type="text" name="material3Text" style="width: 200px; margin-left: 10px;" value="现场原貌图" /></span>
                                        <span>
                                            <input type="file" name="material3" id="material3" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" /></span>
                                    </div>

                                </div>
                            </div>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="3" style="border-left: none;">
                <div class="form-group" style="margin-bottom: 5px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <input id="btnSubmit" type="button" class="btn btn-success" value="提　交">
                        <input id="veto" type="button" class="btn btn-primary" value="暂　存">
                        <a style="margin-left: 5px;" href="/Approval/Approval" class="btn goBack">返　回</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    @Html.Hidden("ZFZDName");
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
    @Html.Hidden("ADID")
    @Html.Hidden("APID")
    @Html.Hidden("WDID")
    @Html.Hidden("bc")
    @Html.Hidden("jsonKZXX")
    @Html.Hidden("APName")
</form>

