@{
    Layout = null;
}
@using ZGM.Model
@model ZGM.Model.ZDGC.ZDGCModels
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新建重大工程</title>

    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>

    <script src="~/Scripts/js/PageNotBack.js"></script>



    <link href="/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: '/skin/seaning/style.css'
        });

    </script>

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            text-align: center;
            font: 75% Verdana, Arial, Helvetica, sans-serif;
        }

        h1 {
            font: 125% Arial, Helvetica, sans-serif;
            text-align: left;
            font-weight: bolder;
            background: url(/Images/images/btnbg1.png) repeat-x;
            padding: 3px;
            display: block;
            color: white;
        }

        .class1 {
            width: 95%;
            position: relative;
            margin: 0 auto;
            padding: 5px;
        }

        .CQAddspan {
            position: absolute;
            right: 10px;
            top: 8px;
            cursor: pointer;
            color: white;
        }

        #class1content, #class2content, #class3content, #class4content, #class5content {
            margin-top: 5px;
            height: 50px;
            overflow: hidden;
            display: none;
        }

        .div_content {
            float: left;
            margin: 20px 20px 0px 20px;
        }

        b {
            color: red;
        }

        .select2 {
            width: 79%;
            height: 32px;
            line-height: 32px;
            border-top: solid 1px #a7b5bc;
            border-left: solid 1px #a7b5bc;
            border-right: solid 1px #ced9df;
            border-bottom: solid 1px #ced9df;
            background: url(../images/inputbg.gif) repeat-x;
            text-indent: 10px;
            float: left;
            margin: 5px;
        }

        .zdgc_table {
            width: 100%;
        }
    </style>
    <style type="text/css">
        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 70%;
            height: 60%;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }

        #contentclass1, #contentclass2, #contentclass3, #contentclass4, #contentclass5 {
            margin-top: 5px;
            height: 50px;
            overflow: hidden;
            display: none;
        }

        .addfilebtn {
            width: 40px;
            height: 22px;
            line-height: 22px;
            /*display: inline-block;*/
            margin-top: 6px;
            color: rgb(255, 255, 255);
            background: transparent url("/Images/images/btnbg1.png") repeat-x scroll 0% 0%;
            font-size: 15px;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }

        $(function () {
            $("input[name='JHKGRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='JHJGRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='ZBRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='HTQDRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='TBSJ']").datetimepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='HBRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='FXRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='BFRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='KGRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='JGRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='SSSJ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='SJKSRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='SJJSRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name='WHRQ']").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
        });
        $(document).ready(function () {

            var pathName = getQueryString('pathName');
            if (pathName == 1) {
                $("#DHXX").after("<ul class='placeul'><li><a href='/MajorProjectsList/Index'>重大工程列表</a></li><li>编辑重大工程</li></ul>");
            } else {
                $("#DHXX").after("<ul class='placeul'><li>新建重大工程</li></ul>");
            }


            var h = $(document).height();
            $("body").height(h);
            var gcgk = parseInt(@Model.GCGK);
            var gczb = parseInt(@Model.GCZB);
            var gcsg = parseInt(@Model.GCSG);
            var gcjg = parseInt(@Model.GCJG);
            var bzqwh = parseInt(@Model.BZQWH);
            var GCGCZT_ID = parseInt(@Model.GKXXModel.GCGCZT_ID);//工程流程步骤
            if (GCGCZT_ID == 5) {
                for (var i = 1; i <= GCGCZT_ID; i++) {
                    document.getElementById("OpenDiv" + i).innerHTML = '<img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png" />';
                }//leftblue1
                for (var i = GCGCZT_ID; i >= 1; i--) {
                    document.getElementById("leftblue" + i).innerHTML = '<img src="/Images/MajorProjects/left-green.png" />';
                }
                document.getElementById("mp1").style.backgroundColor = "#fff"
                document.getElementById("mp2").style.backgroundColor = "#fff"
                document.getElementById("mp3").style.backgroundColor = "#fff"
                document.getElementById("mp4").style.backgroundColor = "#fff"
                document.getElementById("mp5").style.backgroundColor = "#fff"
            } else if (GCGCZT_ID == 4) {
                for (var i = 1; i <= GCGCZT_ID; i++) {
                    document.getElementById("OpenDiv" + i).innerHTML = '<img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png" />';
                }
                for (var i = GCGCZT_ID; i >= 1; i--) {
                    document.getElementById("leftblue" + i).innerHTML = '<img src="/Images/MajorProjects/left-green.png" />';
                }
                document.getElementById("mp1").style.backgroundColor = "#fff"
                document.getElementById("mp2").style.backgroundColor = "#fff"
                document.getElementById("mp3").style.backgroundColor = "#fff"
                document.getElementById("mp4").style.backgroundColor="#fff"
                document.getElementById("mp5").style.pointerEvents = "none";
            } else if (GCGCZT_ID == 3) {
                for (var i = 1; i <= GCGCZT_ID; i++) {
                    document.getElementById("OpenDiv" + i).innerHTML = '<img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png" />';
                }
                for (var i = GCGCZT_ID; i >= 1; i--) {
                    document.getElementById("leftblue" + i).innerHTML = '<img src="/Images/MajorProjects/left-green.png" />';
                }
                document.getElementById("mp1").style.backgroundColor = "#fff"
                document.getElementById("mp2").style.backgroundColor = "#fff"
                document.getElementById("mp3").style.backgroundColor = "#fff"
                document.getElementById("mp4").style.pointerEvents = "none";
                document.getElementById("mp5").style.pointerEvents = "none";
            } else if (GCGCZT_ID == 2) {
                for (var i = 1; i <= GCGCZT_ID; i++) {
                    document.getElementById("OpenDiv" + i).innerHTML = '<img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png" />';
                }
                for (var i = GCGCZT_ID; i >= 1; i--) {
                    document.getElementById("leftblue" + i).innerHTML = '<img src="/Images/MajorProjects/left-green.png" />';
                }
                document.getElementById("mp1").style.backgroundColor = "#fff"
                document.getElementById("mp2").style.backgroundColor = "#fff"
                document.getElementById("mp3").style.pointerEvents = "none";
                document.getElementById("mp4").style.pointerEvents = "none";
                document.getElementById("mp5").style.pointerEvents = "none";
            } else if (GCGCZT_ID == 1) {
                for (var i = 1; i <= GCGCZT_ID; i++) {
                    document.getElementById("OpenDiv" + i).innerHTML = '<img style="width:17px;height:17px;margin-top:2px" src="/Images/MajorProjects/mp-02-v3.png" />';
                }
                for (var i = GCGCZT_ID; i >= 1; i--) {
                    document.getElementById("leftblue" + i).innerHTML = '<img src="/Images/MajorProjects/left-green.png" />';
                }
                document.getElementById("mp1").style.backgroundColor = "#fff"
                document.getElementById("mp2").style.pointerEvents = "none";
                document.getElementById("mp3").style.pointerEvents = "none";
                document.getElementById("mp4").style.pointerEvents = "none";
                document.getElementById("mp5").style.pointerEvents = "none";
            } else {
                for (var i = 1; i >= 1; i--) {
                    document.getElementById("leftblue" + i).innerHTML = '<img src="/Images/MajorProjects/left-green.png" />';
                }
                document.getElementById("mp1").style.backgroundColor = "#fff"
                document.getElementById("mp2").style.pointerEvents = "none";
                document.getElementById("mp3").style.pointerEvents = "none";
                document.getElementById("mp4").style.pointerEvents = "none";
                document.getElementById("mp5").style.pointerEvents = "none";
            }

            if ((gcgk == 1 || gcgk == 2) || ((gczb == 1 || gcsg == 1 || gcjg == 1 || bzqwh == 1) && gcgk == 3)) {
                layer.alert("操作成功!", {
                    icon: 1,
                    skin: 'layer-ext-seaning'
                });
            }

            //查看
            if (gcgk != 0) {
                HideShow(1);
                HideShow(2);
                HideShow(3);
                HideShow(4);
            }

            $("select[name='SFKK']").change(function () {
                if ($("select[name='SFKK']").val() == 1)
                    $("input[name='KKJE']").removeAttr("disabled");
                else
                    $("input[name='KKJE']").attr("disabled", "disabled").val(0);
            })

            GetGCSGJDDataTable();
            GetGCSGWTDataTable();
            GetGCZJBFDataTable();
            GetBZQWHDataTable();
        });

        function SubmitRemove() {
            $("input[name='KKJE']").removeAttr("disabled");
        }

        function HideShow(i) {
            $("#SaveBtn" + i).hide();
            $("#divshowedit" + i).show();
            $("#zdgc_table" + i + " input").attr("disabled", "disabled");
            $("#zdgc_table" + i + " textarea").attr("disabled", "disabled");
            $("#zdgc_table" + i + " select").attr("disabled", "disabled");
        }


        function GetGCSGJDDataTable() {
            var oTable = null;
            var url = "/MajorProjects/GCSGJDtablelist?GCID=@Model.GKXXModel.GC_ID&a=" + Math.random();
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#GCSGJDtablelists').dataTable({
                    sAjaxSource: url,

                    aoColumns: [
                       { mDataProp: "HBRQ" },
                         { mDataProp: "GCJD" },
                          { mDataProp: "GCJDSM" },
                            { mDataProp: "TBSJ" },
                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }

        }


        function GetGCSGWTDataTable() {
            var oTable = null;
            var url = "/MajorProjects/GCSGWTtablelist?GCID=@Model.GKXXModel.GC_ID&a=" + Math.random();
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#GCSGWTtablelists').dataTable({
                    sAjaxSource: url,

                    aoColumns: [
                       { mDataProp: "FXRQ" },
                         { mDataProp: "SFKK" },
                          { mDataProp: "KKJE" },
                            { mDataProp: "WTSM" },
                              { mDataProp: "TBR_ID" },
                                { mDataProp: "TBSJ" },
                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }

        }

        function GetGCZJBFDataTable() {
            var oTable = null;
            var url = "/MajorProjects/GCZJBFtablelist?GCID=@Model.GKXXModel.GC_ID&a=" + Math.random();
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#GCZJBFtablelists').dataTable({
                    sAjaxSource: url,

                    aoColumns: [
                       { mDataProp: "BFRQ" },
                         { mDataProp: "BFZE" },
                          { mDataProp: "BFSM" },
                          { mDataProp: "TBR" },
                            { mDataProp: "TJSJ" },
                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }

        }


        function GetBZQWHDataTable() {
            var oTable = null;
            var url = "/MajorProjects/GCBZQWHtablelist?GCID=@Model.GKXXModel.GC_ID&a=" + Math.random();
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#GCBZQWHtablelists').dataTable({
                    sAjaxSource: url,

                    aoColumns: [
                       { mDataProp: "WHRQ" },
                         { mDataProp: "WHLX_TYPE" },
                          { mDataProp: "WHSM" },
                          { mDataProp: "TBSJ" }
                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }

        }


        function DivShowEdits_click(id) {
            var i = parseInt(id);
            $("#divshowedit" + id).hide();
            $("#SaveBtn" + id).show();
            $("#zdgc_table" + i + " input").removeAttr("disabled");
            $("#zdgc_table" + i + " textarea").removeAttr("disabled");
            $("#zdgc_table" + i + " select").removeAttr("disabled");
        }

        //弹出隐藏层
        function ShowDiv(show_div, bg_div) {
            var h = $(document).height();
            $("body").height(h);
            document.getElementById(show_div).style.display = 'block';
            document.getElementById(bg_div).style.display = 'block';
            var bgdiv = document.getElementById(bg_div);
            bgdiv.style.width = document.body.scrollWidth;
            $("#" + bg_div).height($("body").height());
            $("#" + show_div).css("top", ($(document).scrollTop() + 130));    //$(document).scrollTop() 获取滚动条到顶部的垂直高度 (即网页被卷上去的高度)  
        };
        //关闭弹出层
        function CloseDiv(show_div, bg_div) {
            document.getElementById(show_div).style.display = 'none';
            document.getElementById(bg_div).style.display = 'none';
        };

        //收缩展开
        function OpenDiv(id) {
            if ($("#contentclass" + id).css("display") == "block") {
                var h = $("#contentclass" + id).outerHeight();
                var maxh = 100;
                function dmove() {
                    if (h <= 0) {
                        $("#contentclass" + id).css("display", "none");
                        clearInterval(iIntervalId);
                    } else {
                        h -= 50;//设置层收缩的速度
                        $("#contentclass" + id).css("height", h + "px");
                    }
                }
                iIntervalId = setInterval(dmove, 2);
                $("#contentclass" + id).css("display", "none");
                $("#stateBut" + id).text("展开");
              

            } else {
                var p = document.getElementsByName("div_p");
                var span = document.getElementsByName("div_span");
                var h = $("#contentclass" + id).outerHeight();
                var maxh = 100;
                function dmove() {
                    if (h >= maxh) {
                        $("#contentclass" + id).css("height", "auto");
                        clearInterval(iIntervalId);
                    } else {
                        h += 50; //设置层展开的速度
                        $("#contentclass" + id).css("display", "block");
                        $("#contentclass" + id).css("height", h + "px");
                    }
                }
                iIntervalId = setInterval(dmove, 2);
                $("#contentclass" + id).css("display", "block");
                $("#stateBut" + id).text("收缩");
            }

        }
        //添加文件
        function AddAfterFile(i) {
            $("#AddAfterFile" + i).after("<div style='margin: 20px 0px;'><input name='AddFile" + Math.random(10000, 99999) + "' type='file'  value='' /><a style='color: red;' style='color: red;' onclick='DeleteFile(this);'>删除</a></div>");
        }

        //删除文件
        function DeleteFile(obj) {
            $(obj).parent().remove();
        }
        function validate_form(thisform, i) {
            if (i == 1) {
                with (thisform) {
                    if (FKvalidate_required(GC_NAME, "工程名称不能为空!") == false)
                    { GC_NAME.focus(); return false }
                    if (FKvalidate_required(JHKGRQ, "计划开工日期不能为空!") == false)
                    { JHKGRQ.focus(); return false }
                    if (FKvalidate_required(JHJGRQ, "计划竣工日期不能为空!") == false)
                    { JHJGRQ.focus(); return false }
                    if (validate_required(YSZJ, "预算资金只能输入数字!") == false)
                    { YSZJ.focus(); return false }
                    if (validate_requireds(SGGQ, "施工工期只能输入数字!") == false)
                    { SGGQ.focus(); return false }
                    else { return true }
                }
            } else if (i == 2) {
                if (parseInt(@Model.GKXXModel.GC_ID) == 0) {
                    $("#silverlightControlHost").css("visibility", "hidden");
                    layer.alert('请先添加工程概况!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    }, function (index) {
                        layer.close(index);
                        $("#silverlightControlHost").css("visibility", "visible");
                    });
                    return false;
                }
                with (thisform) {
                    if (validate_required(ZBJE, "中标金额只能输入数字!") == false)
                    { ZBJE.focus(); return false }
                    if (validate_required(HTJE, "合同金额只能输入数字!") == false)
                    { HTJE.focus(); return false }
                    if (validate_requireds(BXQX, "保修期限只能输入数字!") == false)
                    { BXQX.focus(); return false }
                    else { return true }
                }
            } else if (i == 3) {
                if (parseInt(@Model.GKXXModel.GC_ID) == 0) {
                    $("#silverlightControlHost").css("visibility", "hidden");
                    layer.alert('请先添加工程概况!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    }, function (index) {
                        layer.close(index);
                        $("#silverlightControlHost").css("visibility", "visible");
                    });
                    return false;
                }
                with (thisform) {
                    if (validate_requireds(JHGQ, "计划工期只能输入数字!") == false)
                    { JHGQ.focus(); return false }
                    if (validate_requireds(SJGQ, "实际工期只能输入数字!") == false)
                    { SJGQ.focus(); return false }
                    if (validate_requireds(CQTS, "超期天数只能输入数字!") == false)
                    { CQTS.focus(); return false }
                    else { return true }
                }
            } else if (i == 5) {
                if (parseInt(@Model.GKXXModel.GC_ID) == 0) {
                    $("#silverlightControlHost").css("visibility", "hidden");
                    layer.alert('请先添加工程概况!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    }, function (index) {
                        layer.close(index);
                        $("#silverlightControlHost").css("visibility", "visible");
                    });
                    return false;
                }
                with (thisform) {
                    if (validate_requireds(SJGCJE, "审计工程金额只能输入数字!") == false)
                    { SJGCJE.focus(); return false }
                    if (validate_requireds(SJKKJE, "审计扣款金额金额只能输入数字!") == false)
                    { SJKKJE.focus(); return false }
                    else { return true }
                }
            } else if (i == 6) {
                if (parseInt(@Model.GKXXModel.GC_ID) == 0) {
                    $("#silverlightControlHost").css("visibility", "hidden");
                    layer.alert('请先添加工程概况!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    }, function (index) {
                        layer.close(index);
                        $("#silverlightControlHost").css("visibility", "visible");
                    });
                    return false;
                }
                with (thisform) {
                    if (FKvalidate_required(HBRQ, "汇报日期不能为空!") == false)
                    { HBRQ.focus(); return false }
                    if (FKvalidate_required(GCJD, "工程进度不能为空!") == false)
                    { GCJD.focus(); return false }
                    if (validate_requireds(GCJD, "保修期限只能输入数字!") == false)
                    { GCJD.focus(); return false }
                    else {
                        CloseDiv('XZGCSG', 'fade');
                        return true
                    }
                }

            } else if (i == 7) {
                if (parseInt(@Model.GKXXModel.GC_ID) == 0) {
                    $("#silverlightControlHost").css("visibility", "hidden");
                    layer.alert('请先添加工程概况!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    }, function (index) {
                        layer.close(index);
                        $("#silverlightControlHost").css("visibility", "visible");
                    });
                    return false;
                }
                with (thisform) {
                    if (FKvalidate_required(FXRQ, "发现日期不能为空!") == false)
                    { FXRQ.focus(); return false }
                    if (FKvalidate_required(KKJE, "扣款金额不能为空!") == false)
                    { KKJE.focus(); return false }
                    if (validate_requireds(KKJE, "扣款金额只能输入数字!") == false)
                    { KKJE.focus(); return false }
                    else {
                        CloseDiv('XZGCWT', 'fade');
                        return true
                    }
                }
            } else if (i == 8) {
                if (parseInt(@Model.GKXXModel.GC_ID) == 0) {
                    $("#silverlightControlHost").css("visibility", "hidden");
                    layer.alert('请先添加工程概况!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    }, function (index) {
                        layer.close(index);
                        $("#silverlightControlHost").css("visibility", "visible");
                    });
                    return false;
                }
                with (thisform) {
                    if (FKvalidate_required(BFRQ, "日期不能为空!") == false)
                    { BFRQ.focus(); return false }
                    if (FKvalidate_required(BFZE, "金额不能为空!") == false)
                    { BFZE.focus(); return false }
                    if (validate_requireds(BFZE, "金额只能输入数字!") == false)
                    { BFZE.focus(); return false }
                    else {
                        CloseDiv('XZGCZIBF', 'fade');
                        return true
                    }
                }
            } else if (i == 9) {
                if (parseInt(@Model.GKXXModel.GC_ID) == 0) {
                        $("#silverlightControlHost").css("visibility", "hidden");
                        layer.alert('请先添加工程概况!', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        }, function (index) {
                            layer.close(index);
                            $("#silverlightControlHost").css("visibility", "visible");
                        });
                        return false;
                    }
                    with (thisform) {
                        if (FKvalidate_required(WHRQ, "维护日期不能为空!") == false)
                        { WHRQ.focus(); return false }
                        else {
                            CloseDiv('MyDiv3', 'fade1');
                            return true
                        }
                    }
                }
}
function FKvalidate_required(field, alerttxt) {
    with (field) {
        if (value == null || value == "") {
            $("#silverlightControlHost").css("visibility", "hidden");
            layer.alert(alerttxt, {
                icon: 0,
                skin: 'layer-ext-seaning'
            }, function (index) {
                layer.close(index);
                $("#silverlightControlHost").css("visibility", "visible");
            });
            return false
        }
        else { return true }
    }
}

function validate_requireds(field, alerttxt) {
    with (field) {
        if (/^\d+$/.test(value) == false && value != "") {
            $("#silverlightControlHost").css("visibility", "hidden");
            layer.alert(alerttxt, {
                icon: 0,
                skin: 'layer-ext-seaning'
            }, function (index) {
                layer.close(index);
                $("#silverlightControlHost").css("visibility", "visible");
            });
            return false
        }
        else { return true }
    }
}
function validate_required(field, alerttxt) {
    with (field) {
        if (/^\d+(?=\.{0,1}\d+$|$)/.test(value) == false && value != "") {
            layer.alert(alerttxt, {
                icon: 0,
                skin: 'layer-ext-seaning'
            });
            return false
        }
        else { return true }
    }
}

//显示隐藏地图
function GetShowOrHide(o, otype) {
    if (otype == "show") {
        o.value = "隐藏地图";
        o.setAttribute("onclick", "GetShowOrHide(this,'hide')");
        document.getElementById("ShowOrHide").style.display = 'block';

    } else if (otype == 'hide') {
        o.value = "显示地图";
        o.setAttribute("onclick", "GetShowOrHide(this,'show')");
        document.getElementById("ShowOrHide").style.display = 'none';
    }
}

function mapInited() {
    setTimeout(function () {
        var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
        var Geometry = $("#GEOMETRY").val();
        mapCtrl.AddPolygon("Green", Geometry);
    }, 1000)
}

function mapDraw(color, s) {
    var a = $("#GEOMETRY").val();
    a = s;
    $("#GEOMETRY").val(a);
}

function mapClear() {
    var a = "";
    $("#GEOMETRY").val(a);
}
    </script>
</head>

<body>
    <div class="place">
        <span id="DHXX">位置：</span>
        @*<ul class="placeul">
            <li>首页</li>
            <li>新建重大工程</li>
        </ul>*@
    </div>

      <div style="float: none; margin-top: 20px; margin:0 auto; width: 1000px; height: 160px; ">@*position:absolute; bottom:0;绝对定位*@
        <div style="width: 100%;">
            <div id="leftblue1" class="leftblue" style="display:none">
               <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp1" class="mp">
                <a  onclick='aaa(1)'>
                <img src="~/Images/MajorProjects/mp-02-v4.png" /><br />
                <span>工程概况</span>

                </a>
            </div>
            <div id="leftblue2" class="leftblue">
               <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp2" class="mp">
                 <a onclick="aaa(2)">
                <img src="~/Images/MajorProjects/mp-05-v4.png" /><br />
                <span>工程招标</span>
                     </a>
            </div>
            <div id="leftblue3" class="leftblue">
                 <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp3" class="mp">
                 <a onclick="aaa(3)">
                <img src="~/Images/MajorProjects/mp-07-v4.png" /><br />
                <span>工程施工</span>
                     </a>
            </div>
            <div id="leftblue4" class="leftblue">
                <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp4" class="mp">
                <a onclick="aaa(4)">
                    <img src="~/Images/MajorProjects/mp-06-v4.png" /><br />
                    <span>工程竣工</span></a>
            </div>
            <div id="leftblue5" class="leftblue">
                <img src="~/Images/MajorProjects/left-blue.png" />
            </div>
            <div id="mp5" class="mp" >@*style="pointer-events: none;"禁用点击事件*@
                <a onclick="aaa(5)">
                    <img src="~/Images/MajorProjects/mp-04-v4.png" /><br />
                    <span>保质期维护</span></a>
            </div>
        </div>

    </div>

    <div class="class1">
        <h1 id="hh1">工程概况</h1><div class="CQAddspan" style="margin-right: 30px;" id="OpenDiv1"></div>
        <span name="div_span" class="CQAddspan" id="stateBut1" onclick="OpenDiv(1);">展开</span>
        <div name="div_p" id="contentclass1">
            <form method="post" enctype="multipart/form-data" action="/MajorProjects/CommitGCGK" onsubmit="return validate_form(this,1)" id="EventReport">
                <input type="hidden" id="GC_ID" name="GC_ID" value="@Model.GKXXModel.GC_ID" />
                <table class="zdgc_table" id="zdgc_table1">
                    <tr>
                        <td colspan="8">
                            <span id="divshowedit1" class="sure" style="float: right; display: none; text-align: center;" onclick="DivShowEdits_click('1');">编  辑</span>
                            <input type="submit" id="SaveBtn1" class="btn sure" value="保 存" style="float: right; margin-right: 2%;" />


                        </td>
                    </tr>
                    <tr>
                        <td>工程名称:<b>*</b></td>
                        <td colspan="7">
                            <input type="text" id="GC_NAME" name="GC_NAME" class="dtablefinputs" value="@Model.GKXXModel.GC_NAME" /></td>
                    </tr>
                    <tr>
                        <td>工程编号:</td>
                        <td>
                            <input type="text" id="GCBH" name="GCBH" class="dtablefinputs" value="@Model.GKXXModel.GCBH" /></td>
                        <td>立项依据/立项批文号:</td>
                        <td>
                            <input type="text" id="LXYJ" name="LXYJ" class="dtablefinputs" value="@Model.GKXXModel.LXYJ" /></td>
                        <td>立项批准机关:</td>
                        <td>
                            <input type="text" id="LXPZJG" name="LXPZJG" class="dtablefinputs" value="@Model.GKXXModel.LXPZJG" /></td>
                        <td>限额标准:</td>
                        <td>
                            @Html.DropDownListFor(a => a.GKXXModel.XEBZ, ViewBag.XEBZ as IEnumerable<SelectListItem>, new { @name = "XEBZ", @class = "dtablefinputs", @style = "width:83%;" })
                            @*@Html.DropDownList("SOURCEID", ViewBag.EventSource as IEnumerable<SelectListItem>, "请选择来源", new { onchange = "changeEventSourceID()", @style = "width:98%;" })*@
                        </td>
                    </tr>
                    <tr>
                        <td>工程类型:</td>
                        <td>
                            @Html.DropDownListFor(a => a.GKXXModel.GCLX_TYPE, ViewBag.GCLX_TYPE as IEnumerable<SelectListItem>, new { @name = "GCLX_TYPE", @class = "dtablefinputs" })

                        </td>
                        <td>工程性质:</td>
                        <td>
                            @Html.DropDownListFor(a => a.GKXXModel.GCXZ_TYPE, ViewBag.GCXZ_TYPE as IEnumerable<SelectListItem>, new { @name = "GCXZ_TYPE", @class = "dtablefinputs" })

                        </td>
                        <td>预算资金(元):</td>
                        <td>
                            <input type="text" id="YSZJ" name="YSZJ" class="dtablefinputs" value="@Model.GKXXModel.YSZJ" /></td>
                        <td>计划开工日期:<b>*</b></td>
                        <td>
                            @*<input type="text"  id="JHKGRQ" readonly="readonly" name="JHKGRQ" data-date-format="yyyy-mm-dd" style="width:83%;" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="dtablefinputs" />*@

                            @if (Model.GKXXModel.JHKGRQ == null)
                            {
                                <input type="text" id="JHKGRQ" readonly="readonly" name="JHKGRQ" style="width: 83%;" class="dtablefinputs" />
                            }
                            else
                            {
                                <input type="text"  id="JHKGRQ" readonly="readonly" name="JHKGRQ"  style="width:83%;" value="@Model.GKXXModel.JHKGRQ.Value.ToString("yyyy-MM-dd")"  class="dtablefinputs" />  
                            }






                        </td>
                    </tr>
                    <tr>
                        <td>计划竣工日期:<b>*</b></td>
                        <td>
                            @if (Model.GKXXModel.JHJGRQ == null)
                            {
                                <input type="text" id="JHJGRQ" readonly="readonly" name="JHJGRQ" class="dtablefinputs" />
                            }
                            else
                            {
                                <input type="text"  id="JHJGRQ" readonly="readonly" name="JHJGRQ"   class="dtablefinputs" value="@Model.GKXXModel.JHJGRQ.Value.ToString("yyyy-MM-dd")"/>  
                            }
                            @*<input type="text"  id="JHJGRQ" readonly="readonly" name="JHJGRQ" data-date-format="yyyy-mm-dd" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="dtablefinputs" />*@
                        </td>
                        <td>施工工期(天):</td>
                        <td>
                            <input type="text" id="SGGQ" name="SGGQ" class="dtablefinputs" value="@Model.GKXXModel.SGGQ" /></td>
                        @*<td>工程内容类型:</td>
                        <td>
                            @Html.DropDownListFor(a => a.GKXXModel.GCNRLX_ID, ViewBag.GCNRLX_ID as IEnumerable<SelectListItem>, new { @name = "GCNRLX_ID", @class = "dtablefinputs" })
                        </td>*@
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>工程地址:</td>
                        <td colspan="7">
                            <input type="text" id="GCDZ" name="GCDZ" class="dtablefinputs" value="@Model.GKXXModel.GCDZ"/></td>
                    </tr>
                    <tr>
                        <td style="line-height: 30px;">地图位置 </td>

                        <td colspan="7" style="text-align: left;">
                            <input type="button" id="XSDT" value="显示地图" onclick="GetShowOrHide(this, 'show')" style="margin-left: 10px;" />
                            <div class="form-group" id="ShowOrHide" style="margin-bottom: 5px; display: none; margin-left: 5px;">
                                <div class="col-sm-9 col-lg-10 controls">
                                </div>
                                @Html.HiddenFor(model => @Model.GCNRXXModel.GEOMETRY, new { @id = "GEOMETRY" })
                                <div class="form-group" style="width: 97%; height: 350px; margin-left: 5px;">
                                    <div id="silverlightControlHost" style="height: 340px;">
                                        <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                                            <param name="source" value="/ClientBin/MapCtrl.xap" />
                                            <param name="background" value="white" />
                                            <param name="minRuntimeVersion" value="5.0.61118.0" />
                                            <param name="autoUpgrade" value="true" />
                                            <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=@ZGM.Web.ConfigManager.MapUrl,X1=@ZGM.Web.ConfigManager.MapLonX1,Y1=@ZGM.Web.ConfigManager.MapLatY1,X2=@ZGM.Web.ConfigManager.MapLonX2,Y2=@ZGM.Web.ConfigManager.MapLatY2,Mode=4,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48,fileUrl=" />
                                            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                            </a>
                                        </object>
                                        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>建设内容:</td>
                        <td colspan="7">
                            <textarea class="dtablefinputs" id="JSNR" name="JSNR" style="resize: none; height: 95px">@Model.GKXXModel.JSNR</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <label style="color: red">
                                备注-- 可选择上传的文件：《项目建议书兼可行性研究报告批复》《初步设计概算批复》《概算及概算调查资料》《用地、规划、拆迁、环保等批文》《施工许可证》《地质勘测资料》《扩初设计会审资料》</label></td>
                    </tr>
                    <tr>
                        <td>上传附件:</td>
                        <td colspan="7" style="text-align: left;">
                            <input id="AddAfterFile1" class="addfilebtn" type="button" onclick="AddAfterFile(1);" style="" value="添加" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            @if (Model.ListGCFJModel != null && Model.ListGCFJModel.Count() > 0)
                            {
                                var list = Model.ListGCFJModel.Where(t => t.GCGCZT_ID == 1).ToList();

                                for (var i = 0; i < list.Count(); i++)
                                {
                                    var url = System.Configuration.ConfigurationManager.AppSettings["GCGLZDGCFile"].Replace("\\", "/") + list[i].FJLJ;
                               
                                <div style="text-align: left"><a href='/DownFile/DownLoadOAWorkFlow?path=@url&&fileName=@list[i].FJ_NAME'>@list[i].FJ_NAME</a></div>
                               
                                }
                            }

                        </td>
                    </tr>
                </table>

            </form>

        </div>
    </div>

    <div class="class1">
        <h1>工程招标</h1><div class="CQAddspan" style="margin-right: 30px;" id="OpenDiv2"></div>
        <span name="div_span" class="CQAddspan" id="stateBut2" onclick="OpenDiv(2);">展开</span>
        <form method="post" enctype="multipart/form-data" action="/MajorProjects/CommitGCZB" onsubmit="return validate_form(this,2)">
            <input type="hidden" id="GC_ID" name="GC_ID" value="@Model.GKXXModel.GC_ID" />

            <div name="div_p" id="contentclass2">
                <table class="zdgc_table" id="zdgc_table2">
                    <tr>
                        <td colspan="8">
                            <span id="divshowedit2" class="sure" style="float: right; display: none; text-align: center;" onclick="DivShowEdits_click('2');">编  辑</span>
                            <input type="submit" id="SaveBtn2" class="btn sure" value="保 存" style="float: right;" />
                        </td>
                    </tr>
                    <tr>
                        <td>招标日期:</td>
                        <td>

                            @if (Model.ZBXXModel.ZBRQ == null)
                            {
                                <input type="text" id="ZBRQ" readonly="readonly" name="ZBRQ" class="dtablefinputs" />
                            }
                            else
                            {
                                <input type="text"  id="ZBRQ" readonly="readonly" name="ZBRQ"  class="dtablefinputs" value="@Model.ZBXXModel.ZBRQ.Value.ToString("yyyy-MM-dd")"/>  
                            }
                        </td>
                        <td>招标方式:</td>
                        <td>
                            @* <input type="text" id="ZBFS_TYPE" name="ZBFS_TYPE" class="dtablefinputs" value="@Model.ZBXXModel.ZBFS_TYPE" />*@
                            @Html.DropDownListFor(a => a.ZBXXModel.ZBFS_TYPE, ViewBag.ZBFS_ID as IEnumerable<SelectListItem>, new { @name = "ZBFS_ID", @class = "dtablefinputs" })
                        </td>
                        <td>招标负责人:</td>
                        <td>
                            <input type="text" id="ZBFZR" name="ZBFZR" class="dtablefinputs" value="@Model.ZBXXModel.ZBFZR"/></td>
                        <td>招标联系人:</td>
                        <td>
                            <input type="text" id="ZBLXR" name="ZBLXR" class="dtablefinputs" style="width:94%"  value="@Model.ZBXXModel.ZBLXR"/></td>
                    </tr>
                    <tr>
                        <td>招标联系电话:</td>
                        <td>
                            <input type="text" id="ZBLXDH" name="ZBLXDH" class="dtablefinputs"  value="@Model.ZBXXModel.ZBLXDH"/></td>
                        <td>招标代理人:</td>
                        <td>
                            <input type="text" id="ZBDLR" name="ZBDLR" class="dtablefinputs"  value="@Model.ZBXXModel.ZBDLR"/></td>
                        <td>中标金额(元):</td>
                        <td>
                            <input type="text" id="ZBJE" name="ZBJE" class="dtablefinputs" value="@Model.ZBXXModel.ZBJE" /></td>
                        <td>合同金额(元):</td>
                        <td>
                            <input type="text" id="HTJE" name="HTJE" class="dtablefinputs" style="width:94%"  value="@Model.ZBXXModel.HTJE"/></td>
                    </tr>
                    <tr>
                        <td>中标施工单位:</td>
                        <td colspan="3">
                            <input type="text" id="ZBGS" name="ZBGS" class="dtablefinputs" style="width: 99%"  value="@Model.ZBXXModel.ZBGS"/></td>
                        <td>中标施工单位负责人:</td>
                        <td>
                            <input type="text" id="ZBGSFZR" name="ZBGSFZR" class="dtablefinputs" value="@Model.ZBXXModel.ZBGSFZR" /></td>
                        <td>中标施工单位联系电话:</td>
                        <td>
                            <input type="text" id="ZBGSLXDH" name="ZBGSLXDH" class="dtablefinputs" style="width:94%" value="@Model.ZBXXModel.ZBGSLXDH"/></td>
                    </tr>
                    <tr>
                        <td>监理公司:</td>
                        <td colspan="3">
                            <input type="text" id="JLGS" name="JLGS" class="dtablefinputs" style="width: 99%"  value="@Model.ZBXXModel.JLGS"/></td>
                        <td>监理公司负责人:</td>
                        <td>
                            <input type="text" id="JLGSFZR" name="JLGSFZR" class="dtablefinputs"  value="@Model.ZBXXModel.JLGSFZR"/></td>
                        <td>监理公司联系电话:</td>
                        <td>
                            <input type="text" id="JLGSLXDH" name="JLGSLXDH" class="dtablefinputs" style="width:94%" value="@Model.ZBXXModel.JLGSLXDH"/></td>
                    </tr>
                    <tr>
                        <td>设计公司:</td>
                        <td colspan="3">
                            <input type="text" id="SJGS" name="SJGS" class="dtablefinputs" style="width: 99%"  value="@Model.ZBXXModel.SJGS"/></td>
                        <td>设计公司负责人:</td>
                        <td>
                            <input type="text" id="SJGSFZR" name="SJGSFZR" class="dtablefinputs" value="@Model.ZBXXModel.SJGSFZR" /></td>
                        <td>设计公司联系电话:</td>
                        <td>
                            <input type="text" id="SJGSLXDH" name="SJGSLXDH" class="dtablefinputs" style="width:94%"  value="@Model.ZBXXModel.SJGSLXDH"/></td>
                    </tr>
                    <tr>
                        <td>合同签订日期:</td>
                        <td>
                            @if (Model.ZBXXModel.HTQDRQ == null)
                            {
                                <input type="text" id="HTQDRQ" readonly="readonly" name="HTQDRQ" class="dtablefinputs" />
                            }
                            else
                            {
                                <input type="text"  id="HTQDRQ" readonly="readonly" name="HTQDRQ"   class="dtablefinputs" value="@Model.ZBXXModel.HTQDRQ.Value.ToString("yyyy-MM-dd")" />  
                            }
                        </td>
                        <td>保修期限(月):</td>
                        <td>
                            <input type="text" id="BXQX" name="BXQX" class="dtablefinputs"  value="@Model.ZBXXModel.BXQX"/></td>
                        <td>填报人:</td>
                        <td>
                            <input type="text" id="TBR_ID" name="TBR_ID" class="dtablefinputs"  value="@Model.ZBXXModel.TBR_ID" /></td>
                        <td>填报时间:</td>
                        <td>

                            @if (Model.ZBXXModel.TBSJ == null)
                            {
                                <input type="text" id="TBSJ" readonly="readonly" name="TBSJ" style="width: 94%" class="dtablefinputs" />
                            }
                            else
                            {
                                <input type="text"  id="TBSJ" readonly="readonly" name="TBSJ" style="width:94%" class="dtablefinputs" value="@Model.ZBXXModel.TBSJ.Value.ToString("yyyy-MM-dd")"/>  
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>质量要求:</td>
                        <td colspan="7">
                            @* <input type="text" id="ZLYQ" name="ZLYQ" class="dtablefinputs" style="width: 99%"  value="@Model.ZBXXModel.ZLYQ"/>*@
                            @Html.DropDownListFor(a => a.ZBXXModel.ZLYQ, ViewBag.ZLYQ_TYPE as IEnumerable<SelectListItem>, new { @class = "dtablefinputs" })

                        </td>
                    </tr>
                    <tr>
                        <td>工程特殊要求:</td>
                        <td colspan="7">
                            <textarea class="dtablefinputs" id="GCTSYQ" name="GCTSYQ" style="resize: none; width: 99%; height: 95px"> @Model.ZBXXModel.GCTSYQ</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <label style="color: red">
                                备注--可选上传的文件：《招标文件》《评标报告》《中标通知书》《投标文件》《设计合同》《监理合同》《施工合同》
              可选择上传的文件：《招标答疑书》《代建合同》《勘察合同》《采购合同》《其他相关合同》</label></td>
                    </tr>
                    <tr>
                        <td>上传附件:</td>
                        <td colspan="7" style="text-align: left;">
                            <input id="AddAfterFile2" class="addfilebtn" type="button" onclick="AddAfterFile(2);" style="" value="添加" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            @if (Model.ListGCFJModel != null && Model.ListGCFJModel.Count() > 0)
                            {
                                var list = Model.ListGCFJModel.Where(t => t.GCGCZT_ID == 2).ToList();

                                for (var i = 0; i < list.Count(); i++)
                                {
                                    var url = System.Configuration.ConfigurationManager.AppSettings["GCGLZDGCFile"].Replace("\\", "/") + list[i].FJLJ;
                               
                                <div style="text-align: left"><a href='/DownFile/DownLoadOAWorkFlow?path=@url&&fileName=@list[i].FJ_NAME'>@list[i].FJ_NAME</a></div>
                               
                                }
                            }

                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <div class="class1">
        <h1>工程施工</h1><div class="CQAddspan" style="margin-right: 30px;" id="OpenDiv3"></div>
        <span name="div_span" class="CQAddspan" id="stateBut3" onclick="OpenDiv(3);">展开</span>
        <div name="div_p" id="contentclass3">

            <div id="usual1" class="usual">
                <div class="itab">
                    <ul>
                        <li><a href="#tab1" class="selected">工程施工进度</a></li>
                        <li><a href="#tab2">工程施工问题</a></li>
                        <li><a href="#tab3">工程施工资金拨付</a></li>
                    </ul>
                    <div style="float: right">
                        <input type="button" onclick="ShowDiv('XZGCSG', 'fade')" class="btn sure" style="width: 120px" value="新增施工进度" />
                        <input type="button" onclick="ShowDiv('XZGCWT', 'fade')" class="btn sure" style="width: 140px" value="新增工程施工问题" />
                        <input type="button" onclick="ShowDiv('XZGCZIBF', 'fade')" id="addmoney" style="width: 155px" class="btn sure" value="新增工程施工资金拨付" />
                    </div>
                </div>
                <div id="tab1" class="tabson">
                    <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                        <table class="tablelist" id="GCSGJDtablelists">
                            <thead>
                                <tr>
                                    <th>汇报日期</th>
                                    <th>工程进度</th>
                                    <th>工程进度说明</th>
                                    <th>填报时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tab2" class="tabson" style="display: none">
                    <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                        <table class="tablelist" id="GCSGWTtablelists">
                            <thead>
                                <tr>
                                    <th>发现日期</th>
                                    <th>是否扣款</th>
                                    <th>扣款金额(元)</th>
                                    <th>问题说明</th>
                                    <th>填报人姓名</th>
                                    <th>填报时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tab3" class="tabson" style="display: none">
                    <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                        <table class="tablelist" id="GCZJBFtablelists">
                            <thead>
                                <tr>
                                    <th>拨付日期</th>
                                    <th>拨付金额(元)</th>
                                    <th>拨付说明</th>
                                    <th>填报人姓名</th>
                                    <th>填报时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $("#usual1 ul").idTabs();

            </script>
            <script type="text/javascript">
                $('.tablelist tbody tr:odd').addClass('odd');
            </script>

        </div>
    </div>

    <div class="class1">
        <h1>工程竣工</h1><div class="CQAddspan" style="margin-right: 30px;" id="OpenDiv4"></div>
        <span name="div_span" class="CQAddspan" id="stateBut4" onclick="OpenDiv(4);">展开</span>
        <div name="div_p" id="contentclass4">
            <form method="post" enctype="multipart/form-data" action="/MajorProjects/CommitGCJG" onsubmit="return validate_form(this,3)">
                <input type="hidden" id="GC_ID" name="GC_ID" value="@Model.GKXXModel.GC_ID" />
                <table class="zdgc_table" id="zdgc_table3">
                    <tr>
                        <td colspan="8">
                            <span id="divshowedit3" class="sure" style="float: right; display: none; text-align: center;" onclick="DivShowEdits_click('3');">编  辑</span>
                            <input type="submit" id="SaveBtn3" class="btn sure" value="保 存" style="float: right;" />

                        </td>
                    </tr>
                    <tr>
                        <td>计划工期(天):</td>
                        <td>
                            <input type="text" name="JHGQ" class="dtablefinputs" value="@Model.GCJGXXModel.JHGQ"/></td>
                        <td>实际工期(天):</td>
                        <td>
                            <input type="text" name="SJGQ" class="dtablefinputs" value="@Model.GCJGXXModel.SJGQ"/></td>
                        <td>开工日期:</td>
                        <td>

                            @if (Model.GCJGXXModel.KGRQ == null)
                            {
                                <input type="text" name="KGRQ" readonly="readonly" class="dtablefinputs" />
                            }
                            else
                            {
                                <input type="text"  readonly="readonly" name="KGRQ"  class="dtablefinputs" value="@Model.GCJGXXModel.KGRQ.Value.ToString("yyyy-MM-dd")"/>
                            }
                        </td>
                        <td>竣工日期:</td>
                        <td>
                            @if (Model.GCJGXXModel.JGRQ == null)
                            {
                                <input type="text" name="JGRQ" readonly="readonly" class="dtablefinputs" style="width: 95%" />
                            }
                            else
                            {
                                <input type="text"  readonly="readonly" name="JGRQ"   class="dtablefinputs" value="@Model.GCJGXXModel.JGRQ.Value.ToString("yyyy-MM-dd")"/>  
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>是否按期竣工:</td>
                        <td>
                            <input type="text" name="SFAQJG" class="dtablefinputs" value="@Model.GCJGXXModel.SFAQJG"/></td>
                        <td>超期天数:</td>
                        <td>
                            <input type="text" name="CQTS" class="dtablefinputs" value="@Model.GCJGXXModel.CQTS"/></td>
                        <td>填报人:</td>
                        <td>
                            <input type="text" name="TBR_ID" class="dtablefinputs" value="@Model.GCJGXXModel.TBR_ID" /></td>
                    </tr>
                    <tr>
                        <td>质量结果:</td>
                        <td colspan="7">
                            <input type="text" name="ZLJG" class="dtablefinputs" style="width: 99%"  value="@Model.GCJGXXModel.ZLJG"/></td>
                    </tr>

                    <tr>
                        <td>竣工说明:</td>
                        <td colspan="7">
                            <textarea class="dtablefinputs" name="JGSM" style="height: 100px; width: 99%">@Model.GCJGXXModel.JGSM</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <label style="color: red">
                                备注--可选上传的文件：《开竣工报告》《图纸会审》《隐蔽工程竣工图》《质量验收及备案》等资料（或写《竣工资料》）</label></td>
                    </tr>
                    <tr>
                        <td>上传附件:</td>
                        <td colspan="7" style="text-align: left;">
                            <input id="AddAfterFile3" class="addfilebtn" type="button" onclick="AddAfterFile(3);" style="" value="添加" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            @if (Model.ListGCFJModel != null && Model.ListGCFJModel.Count() > 0)
                            {
                                var list = Model.ListGCFJModel.Where(t => t.GCGCZT_ID == 4).ToList();

                                for (var i = 0; i < list.Count(); i++)
                                {
                                    var url = System.Configuration.ConfigurationManager.AppSettings["GCGLZDGCFile"].Replace("\\", "/") + list[i].FJLJ;
                               
                                <div style="text-align: left"><a href='/DownFile/DownLoadOAWorkFlow?path=@url&&fileName=@list[i].FJ_NAME'>@list[i].FJ_NAME</a></div>
                               
                                }
                            }

                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div class="class1">
        <h1>保质期维护</h1><div class="CQAddspan" style="margin-right: 30px;" id="OpenDiv5"></div>
        <span name="div_span" class="CQAddspan" id="stateBut5" onclick="OpenDiv(5);">展开</span>
        <div name="div_p" id="contentclass5">
            <div id="usual2" class="usual">
                <div class="itab">
                    <ul>
                        <li><a href="#tab_gcsj" class="selected">工程审计</a></li>
                        <li><a href="#tab_bzqwh">保质期维护</a></li>
                    </ul>

                </div>
                <div id="tab_gcsj" class="tabson">
                    <form method="post" enctype="multipart/form-data" action="/MajorProjects/CommitGCSJ" onsubmit="return validate_form(this,5)">
                        <input type="hidden" id="GC_ID" name="GC_ID" value="@Model.GKXXModel.GC_ID" />
                        <table class="zdgc_table" id="zdgc_table4">
                            <tr>
                                <td colspan="8">
                                    <span id="divshowedit4" class="sure" style="float: right; display: none; text-align: center;" onclick="DivShowEdits_click('4');">编  辑</span>
                                    <input type="submit" id="SaveBtn4" class="btn sure" value="保 存" style="float: right;" />

                                </td>
                            </tr>
                            <tr>
                                <td>送审时间:</td>
                                <td>

                                    @if (Model.GCSJXXModel.SSSJ == null)
                                    {
                                        <input type="text" name="SSSJ" readonly="readonly" class="dtablefinputs" />
                                    }
                                    else
                                    {
                                        <input type="text"  id="SSSJ" readonly="readonly" name="SSSJ"   class="dtablefinputs"  value="@Model.GCSJXXModel.SSSJ.Value.ToString("yyyy-MM-dd")"/>  
                                    }
                                </td>
                                <td>审计开始日期:</td>
                                <td>
                                    @if (Model.GCSJXXModel.SJKSRQ == null)
                                    {
                                        <input type="text" name="SJKSRQ" readonly="readonly" class="dtablefinputs" />
                                    }
                                    else
                                    {
                                        <input type="text"  id="SJKSRQ" readonly="readonly" name="SJKSRQ"   class="dtablefinputs" value="@Model.GCSJXXModel.SJKSRQ.Value.ToString("yyyy-MM-dd")" />  
                                    }

                                </td>
                                <td>审计结束日期:</td>
                                <td>

                                    @if (Model.GCSJXXModel.SJJSRQ == null)
                                    {
                                        <input type="text" name="SJJSRQ" readonly="readonly" class="dtablefinputs" />
                                    }
                                    else
                                    {
                                        <input type="text"  id="SJJSRQ" readonly="readonly" name="SJJSRQ"   class="dtablefinputs"  value="@Model.GCSJXXModel.SJJSRQ.Value.ToString("yyyy-MM-dd")"/>  
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>审计工程金额(元):</td>
                                <td>
                                    <input type="text" name="SJGCJE" class="dtablefinputs"  value="@Model.GCSJXXModel.SJGCJE"/></td>
                                <td>审计扣款金额(元):</td>
                                <td>
                                    <input type="text" name="SJKKJE" class="dtablefinputs" value="@Model.GCSJXXModel.SJKKJE"/></td>
                                <td>填报人:</td>
                                <td>
                                    <input type="text" name="TBR_ID" class="dtablefinputs" value="@Model.GCSJXXModel.TBR_ID"/></td>
                            </tr>
                            <tr>
                                <td>审计单位:</td>
                                <td colspan="5">
                                    <input type="text" name="SJDW" class="dtablefinputs" style="width: 99%" value="@Model.GCSJXXModel.SJDW"/></td>
                            </tr>

                            <tr>
                                <td>审计说明:</td>
                                <td colspan="7">
                                    <textarea class="dtablefinputs" name="SJSM" style="height: 100px; width: 99%">@Model.GCSJXXModel.SJSM</textarea></td>
                            </tr>
                            <tr>
                                <td>上传附件:</td>
                                <td colspan="7" style="text-align: left;">
                                    <input id="AddAfterFile4" class="addfilebtn" type="button" onclick="AddAfterFile(4);" style="" value="添加" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    @if (Model.ListGCFJModel != null && Model.ListGCFJModel.Count() > 0)
                                    {
                                        var list = Model.ListGCFJModel.Where(t => t.GCGCZT_ID == 5).ToList();

                                        for (var i = 0; i < list.Count(); i++)
                                        {
                                            var url = System.Configuration.ConfigurationManager.AppSettings["GCGLZDGCFile"].Replace("\\", "/") + list[i].FJLJ;
                               
                                        <div style="text-align: left"><a href='/DownFile/DownLoadOAWorkFlow?path=@url&&fileName=@list[i].FJ_NAME'>@list[i].FJ_NAME</a></div>
                               
                                        }
                                    }

                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="tab_bzqwh" class="tabson" style="display: none">
                    <div style="float: right">
                        <input type="button" onclick="ShowDiv('MyDiv3', 'fade1')" class="btn sure" style="width: 140px" value="新增工程施工问题" />
                    </div>
                    <table class="tablelist" id="GCBZQWHtablelists">
                        <thead>
                            <tr>
                                <th>维护日期</th>
                                <th>维护类型</th>
                                <th>维护说明</th>
                                <th>填报时间</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>

            </div>
            <script type="text/javascript">
                $("#usual2 ul").idTabs();

            </script>
            <script type="text/javascript">
                $('.tablelist tbody tr:odd').addClass('odd');
            </script>
        </div>
    </div>
  


    <!--弹出层时背景层DIV-->
    <div id="fade" class="black_overlay">
    </div>

    <div id="XZGCSG" class="white_content" style="height: 250px; width: 50%;">
        <div class="tiptop"><span>工程施工进度</span><a onclick="CloseDiv('XZGCSG','fade')"></a></div>
        <form method="post" enctype="multipart/form-data" action="/MajorProjects/CommitSGJD" onsubmit="return validate_form(this,6)">
            <input type="hidden" id="GC_ID" name="GC_ID" value="@Model.GKXXModel.GC_ID" />
            <div>
                <table width="90%" style="margin: 10px">
                    <tr>
                        <td>汇报日期<b>*</b></td>
                        <td>
                            <input type="text" class="dtablefinputs" id="HBRQ" name="HBRQ" readonly="readonly" /></td>
                        <td>工程进度(%)<b>*</b></td>
                        <td>
                            <input type="text" class="dtablefinputs" id="GCJD" name="GCJD" /></td>
                        @* <td>扣款金额(元)<b>*</b></td>
                    <td>
                        <input type="text" class="dtablefinputs" /></td>*@
                    </tr>
                    <tr>
                        <td>工程进度说明</td>
                        <td colspan="3">
                            <textarea style="width: 100%; height: 60px" class="dtablefinputs" name="GCJDSM"></textarea></td>
                    </tr>
                    @*<tr>
                        <td>上传附件:</td>
                        <td colspan="3">
                            <div id="AddAfterFile5" class="addfilebtn" onclick="AddAfterFile(5);">
                                添加
                            </div>
                        </td>
                    </tr>*@
                </table>


            </div>

            <div>
                <div class="tipbtn">
                    <input name="" type="submit" style="float: right; margin-right: 20px" class="sure" value="确定" />
                </div>
            </div>
        </form>
    </div>


    <div id="XZGCWT" class="white_content" style="height: 250px; width: 50%;">
        <div class="tiptop"><span>工程施工问题</span><a onclick="CloseDiv('XZGCWT','fade')"></a></div>
        <form method="post" enctype="multipart/form-data" action="/MajorProjects/CommitSGWT" onsubmit="return validate_form(this,7)">
            <input type="hidden" id="GC_ID" name="GC_ID" value="@Model.GKXXModel.GC_ID" />
            <div>
                <table width="90%" style="margin: 10px">
                    <tr>
                        <td>发现日期<b>*</b></td>
                        <td>
                            <input type="text" class="dtablefinputs" name="FXRQ" readonly="readonly" /></td>
                        <td style="padding-left: 10px;">是否扣款<b>*</b></td>
                        <td>
                            <select class="dtablefinputs" name="SFKK">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select></td>
                        <td style="padding-left: 10px;">扣款金额(元)<b>*</b></td>
                        <td>
                            <input type="text" class="dtablefinputs" name="KKJE" value="0" /></td>
                    </tr>
                    <tr>
                        <td>问题说明</td>
                        <td colspan="5">
                            <textarea style="width: 100%; height: 60px" class="dtablefinputs" name="WTSM"></textarea></td>
                    </tr>
                    @* <tr>
                        <td>上传附件:</td>
                        <td colspan="5">
                            <div id="AddAfterFile6" class="addfilebtn" onclick="AddAfterFile(6);">
                                添加
                            </div>
                        </td>
                    </tr>*@
                </table>


            </div>

            <div>
                <div class="tipbtn">
                    <input name="" type="submit" style="float: right; margin-right: 20px" onclick="SubmitRemove();" class="sure" value="确定" />
                </div>
            </div>
        </form>
    </div>
    <div id="XZGCZIBF" class="white_content" style="height: 250px; width: 50%;">
        <div class="tiptop"><span>工程施工资金拨付</span><a onclick="CloseDiv('XZGCZIBF','fade')"></a></div>
        <form method="post" enctype="multipart/form-data" action="/MajorProjects/CommitGCZJBF" onsubmit="return validate_form(this,8)">
            <input type="hidden" id="GC_ID" name="GC_ID" value="@Model.GKXXModel.GC_ID" />
            <div>
                <table width="90%" style="margin: 10px">
                    <tr>
                        <td>日期<b>*</b></td>
                        <td>
                            <input type="text" class="dtablefinputs" name="BFRQ" readonly="readonly" /></td>
                        <td style="width: 40px;">金额<b>*</b></td>
                        <td>
                            <input type="text" class="dtablefinputs" name="BFZE" /></td>
                        <td style="width: 50px;">填报人</td>
                        <td>
                            <input type="text" class="dtablefinputs" name="TBR" /></td>
                    </tr>
                    <tr>
                        <td style="width: 60px;">拨付说明</td>
                        <td colspan="5">
                            <textarea style="width: 100%; height: 60px" class="dtablefinputs" name="BFSM"></textarea></td>
                    </tr>
                    @* <tr>
                        <td>上传附件:</td>
                        <td colspan="5">
                            <div id="AddAfterFile7" class="addfilebtn" onclick="AddAfterFile(7);">
                                添加
                            </div>
                        </td>
                    </tr>*@
                </table>
            </div>

            <div>
                <div class="tipbtn">
                    <input name="" type="submit" style="float: right; margin-right: 20px" class="sure" value="确定" />
                </div>
            </div>
        </form>
    </div>
    <!--弹出层时背景层DIV-->
    <div id="fade1" class="black_overlay">
    </div>
    <div id="MyDiv3" class="white_content" style="height: 250px; width: 50%;">
        <div class="tiptop"><span>工程施工问题</span><a onclick="CloseDiv('MyDiv3','fade1')"></a></div>
        <form method="post" enctype="multipart/form-data" action="/MajorProjects/CommitGCWH" onsubmit="return validate_form(this,9)">
            <input type="hidden" id="GC_ID" name="GC_ID" value="@Model.GKXXModel.GC_ID" />
            <div>
                <table width="90%" style="margin: 10px">
                    <tr>
                        <td>维护日期<b>*</b></td>
                        <td>
                            <input type="text" name="WHRQ" class="dtablefinputs" readonly="readonly" /></td>
                        <td>维护类型<b>*</b></td>
                        <td>
                            @Html.DropDownListFor(a => a.GCWHXXModel.WHLX_TYPE, ViewBag.WHLX_TYPE as IEnumerable<SelectListItem>, new { @class = "dtablefinputs" })
                        </td>
                    </tr>
                    <tr>
                        <td>问题说明</td>
                        <td colspan="5">
                            <textarea style="width: 100%; height: 60px" name="WHSM" class="dtablefinputs"></textarea></td>
                    </tr>
                    @* <tr>
                        <td>上传附件:</td>
                        <td colspan="5">
                            <div id="AddAfterFile8" class="addfilebtn" onclick="AddAfterFile(8);">
                                添加
                            </div>
                        </td>
                    </tr>*@
                </table>


            </div>

            <div>
                <div class="tipbtn">
                    <input name="" type="submit" style="float: right; margin-right: 20px" class="btn sure" value="确定" />
                </div>
            </div>
        </form>
    </div>



</body>
</html>
<style type="text/css">
    .leftblue {
        width: 100px;
        float: left;
        margin-top: 60px;
    }
    .mp {
        width: 100px; float: left; margin-top: 20px;
        background-color:#d1dde4;
    }
</style>
<script>
    function aaa(a) {
        OpenDiv(a);
    }
</script>
