@model  Taizhou.PLE.Model.RCDCEVENT

@{
    Layout = null;
}

<style>
    table th {
        width: 10%;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=FXSJ]").datetimepicker();

        $("#veto").click(function () {
            $("#bc").val("1");
            $("#EventReport")[0].submit();
        });
        //打开语音文件路径（参数：url路径）
        $("#openSpeechFile").click(function () {
            window.open($(this).attr("url"), 'newwindow', 'height=100,width=460,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
        })

        if ($("#SSQJTYPEID").val() != 4) {
            $(".zd").css({ "display": "none" });
            $(".dd").attr("colspan", "3");
        }

    });

    function goback() {
        window.location.href = "/GGFWEvent/Index/";
    }

    function FormSubmit() {
        var SSQJID = $("#SSQJID").val();
        var SSDD = $("#SSDD").val();
        if ($("#SSQJTYPEID").val() == 4 && (SSDD == 0 || SSQJID == 0)) {
            alert("请选择派遣的中队");
            return false;
        }

        $("#btn-success").attr("disabled", "disabled");
        //alert("aaa");
        document.ZFSJWorkflow2.submit();
    }
    //拒绝
    function FormRest() {
        var eventId = $("#EVENTID").val();
        var refuseContent = $("#refuseContent").val();
        $.ajax({
            type: "POST",
            url: "/RCDCEvent/CommitWorkflowRest?ran=" + Math.random(),
            async: false,
            data: { EVENTID: eventId, refuseContent: refuseContent },
            success: function (data) {
                //alert(data);
                location = "/RCDCEvent/Index";
            },
            error: function () { alert('服务器繁忙,请刷新重试') }
        });
    }


    //初始化地图
    function mapInited() {
        setTimeout(function () {
            var DTMD = $("#GEOMETRY").val();
            if (DTMD) {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                mapCtrl.AddMarker(DTMD);
            }
        }, 1000)
    }

    function changeEventSourceID() {
        var EventSourceID = $("#EventSourceID").val();
        if (EventSourceID == 4) {
            $("#EventSource").css("display", "none");
        } else {
            $("#EventSource").css("display", "");
        }
    }


</script>
<div class="row-fluid">
    <div class="span12" id="tabledata" style="margin-left: 0px;">
        <div class="tab-content">
            <div class="tab-pane active" id="detail">
                <form method="post" enctype="multipart/form-data" action="/RCDCEvent/CommitWorkflow" id="ZFSJWorkflow2" name="ZFSJWorkflow2">
                    @Html.HiddenFor(a => a.EVENTID)
                    @Html.Hidden("TOZFZDID");
                    <table class="table table-bordered">
                        <tr>
                            <th style="text-align: center; width: 10%">事件标题</th>
                            <td colspan="3">@Model.EVENTTITLE</td>
                        </tr>
                        <tr>
                            <th style="text-align: center">事件来源</th>
                            <td>@ViewBag.EventSource</td>
                            <th style="text-align: center;">分数</th>
                            <td>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@Model.GRADE</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">事件地址</th>
                            <td colspan="3">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@Model.EVENTADDRESS</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">问题大类
                            </th>
                            <td>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@ViewBag.ClassBID</div>
                                </div>
                            </td>
                            <th style="padding-left: 30px!important;">问题小类
                            </th>
                            <td>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@ViewBag.ClassSID</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;">事件内容
                            </th>
                            <td colspan="3">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@Model.EVENTCONTENT</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; width: 10%">地图位置</th>
                            <td colspan="3">
                                <input type="hidden"  id="GEOMETRY" value="@Model.GEOMETRY" />
                                <div id="silverlightControlHost" style="width: 100%; height: 350px;">
                                    <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="350px" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://tmap.tzsjs.gov.cn/services/tilecache/chinaemap,X1=121.409266152472,Y1=28.6559834674633,X2=121.423424005508,Y2=28.6614766315258,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                    <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!--案件指派的内容-->
                    <table class="table table-bordered" style="width: 100%">
                        <tr>
                            <th colspan="4" style="font-size: 14px; padding-left: 20px;">指派案件</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">指派意见</th>
                            <td colspan="3">@ViewBag.COMMENTS</td>
                        </tr>
                        <tr>
                            <th style="text-align: center">指派时间</th>
                            <td style="width: 40%">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@ViewBag.CREATETIME</div>
                                </div>
                            </td>
                            <th style="text-align: center">操作人</th>
                            <td>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">@ViewBag.USERID</div>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!--派遣任务的内容-->
                    <table class="table table-bordered" style="width: 100%">
                        <tr>
                            <th colspan="4" style="font-size: 14px; padding-left: 20px;">派遣任务</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px">所属区局</th>
                            <td class="dd" style="line-height: 30px;">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @ViewBag.ZSYDDNAME
                                        @Html.Hidden("SSQJID")
                                        @Html.Hidden("SSQJTYPEID")
                                    </div>
                                </div>
                            </td>
                            <th class="zd" style="text-align: center; line-height: 30px;">所属中队</th>
                            <td class="zd" style="line-height: 30px; width: 40%">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @Html.DropDownList("SSDD", ViewBag.ZSYDDYZD as IEnumerable<SelectListItem>)
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px; width: 10%">派遣意见</th>
                            <td style="line-height: 30px;" colspan="3">
                                <textarea id="refuseContent" name="refuseContent" style="width: 98%" class="large"></textarea>
                            </td>
                        </tr>
                    </table>

                    <div class="form-group" style="margin-bottom: 5px; margin-left: 130px;">
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="hidden" id="typeSubmit" name="typeSubmit" value="" />
                            <input type="button" class="btn btn-success" value="提　交" onclick="FormSubmit();">
                            <input type="button" class="btn btn-danger" value="拒  绝" onclick="FormRest()">
                            <a style="margin-left: 5px;" href="javascript:history.go(-1)" class="btn goBack">返　回</a>
                        </div>
                    </div>
                    <input type="hidden" id="PICTURES" value="@Model.PICTURES" />
                </form>
            </div>
        </div>
    </div>
</div>

