@{
    Layout = null;
}
@model ZGM.Model.WWBMDModels.WWBMDModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>白名单登记</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/bootstrap/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>

    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: '/skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        table tr input.large {
            /*width: 98%;*/
            height: 30px;
        }

        table tr input.small {
            /*width: 94%;*/
            height: 30px;
        }

        .fontStyle * {
            font-family: 宋体 !important;
        }

        .docBtn {
            /*font-weight: bold;*/
            font-size: 13px;
            width: 150px;
            margin: 5px 0px;
            text-align: left;
        }

        .inf_link {
            margin-left: -16px;
            margin-top: -4px;
        }

        .ui-xbox {
            position: absolute;
            z-index: 998;
            width: 220px;
            height: 100px;
            visibility: visible;
            text-align: center;
        }

        .leftbar-search {
            width: 250px;
            float: left;
            border: 1px solid gray;
        }

        .content-search {
            border: 1px solid gray;
        }

        .mapspanstyle {
            border:none;
            margin-right: 20px;
            background:white;
        }
        #EventReport tr th {
            vertical-align:middle;
        }
        select {
            width: 206px;
        }
    </style>


    <script type="text/javascript">

        $(document).ready(function () {
            $("#material1").hide();
            $("#CORRECTDATE").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#BIRTHDAY").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#SENTENCEDATE").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#SENTENCESTATRTIME").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#SENTENCEENDTIME").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#CORRECTSTARTTIME").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("#CORRECTENDTIME").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });

            var PICPATH = $("#FILEPATH").val();
            var Path = $("#Path").val();
            var picPath = "/Images/bmd.bmp";

            if (PICPATH != "" && PICPATH != undefined) {

                picPath = "/GetPictureFile.ashx?PicPath=" + Path + "" + PICPATH + "";
            }
            $("#ShowMapBtn").val("隐藏地图");
            $("#ShowMapBtn").attr("onclick", "GetShowOrHide(this,'hide')");
            if ($(".mapspanstyle").length > 0) {                
                setTimeout(function () {
                    $(".MapClass:eq(0)").click();
                    $(".mapspanstyle:eq(0)").css("background", "rgb(237, 236, 222) none repeat scroll 0%");
                }, 1000)                
                $("#GEOMETRY").val($(".mapspanstyle:eq(0) .MapClass").attr("geometry"));
            }
            // picPath = "/GetPictureFile.ashx?PicPath=" + Path + "" + PICPATH + "";
            $("#preview").attr("src", picPath);

            if ($("#CheckedSex").val() == 0) {
                $("input[name=SEX][value=0]").attr("checked", "checked");
            } else {
                $("input[name=SEX][value=1]").attr("checked", "checked");
            }

            $("#EventReport").submit(function () {
                if ($("#NUMBER").val() == "") {
                    layer.alert('请填写编号!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                }

                if ($("#CheckedNumber").val() != $("#NUMBER").val()) {
                    var ispass = true;
                    $.ajax({
                        type: "POST",
                        url: "/WWBMD/CheckNumber",
                        data: {
                            NUMBER: $("#NUMBER").val()
                        },
                        async: false,
                        success: function (data) {
                            if (data == "1") {
                                ispass = false;
                                layer.alert('编号已存在!', {
                                    icon: 0,
                                    skin: 'layer-ext-seaning'
                                }, function (index) {
                                    layer.close(index);
                                });
                            }
                        }
                    })
                    if (!ispass) {
                        return false;
                    }
                }

                if ($("#CORRECTUNIT").val() == "") {
                    layer.alert('请填写矫正单位!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                }
                if ($("#NAME").val() == "") {
                    layer.alert('请填写姓名!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                }

                if ($("#TYPEID").val() == 0) {
                    layer.alert('请选择类型!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                }
                var DATE_FORMAT = /^[0-9]{4}-[0-1]?[0-9]{1}-[0-3]?[0-9]{1}$/;
                var CORRECTDATE = $("#CORRECTDATE").val();
                if (CORRECTDATE != "" && !DATE_FORMAT.test(CORRECTDATE)) {
                    layer.alert("入矫日期格式错误，应该为XXXX-XX-XX", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                }

                var birthday = $("#BIRTHDAY").val();
                if (birthday != "" && !DATE_FORMAT.test(birthday)) {
                    layer.alert("出生日期格式错误，应该为XXXX-XX-XX", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                }
                if ($("#MARRIAGE").val() == 0) {
                    layer.alert('请选择婚姻状况!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                }
                var SENTENCEDATE = $("#SENTENCEDATE").val();
                if (SENTENCEDATE != "" && !DATE_FORMAT.test(SENTENCEDATE)) {
                    layer.alert("判决时间格式错误，应该为XXXX-XX-XX", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                } 
                var SENTENCESTATRTIME = $("#SENTENCESTATRTIME").val();
                if (SENTENCESTATRTIME != "" && !DATE_FORMAT.test(SENTENCESTATRTIME)) {
                    layer.alert("刑期开始时间格式错误，应该为XXXX-XX-XX", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                } 
                var SENTENCEENDTIME = $("#SENTENCEENDTIME").val();
                if (SENTENCEENDTIME != "" && !DATE_FORMAT.test(SENTENCEENDTIME)) {
                    layer.alert("刑期结束时间格式错误，应该为XXXX-XX-XX", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                } 
                var CORRECTSTARTTIME = $("#CORRECTSTARTTIME").val();
                if (CORRECTSTARTTIME != "" && !DATE_FORMAT.test(CORRECTSTARTTIME)) {
                    layer.alert("矫正开始时间格式错误，应该为XXXX-XX-XX", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                } 
                var CORRECTENDTIME = $("#CORRECTENDTIME").val();
                if (CORRECTENDTIME != "" && !DATE_FORMAT.test(CORRECTENDTIME)) {
                    layer.alert("矫正结束时间格式错误，应该为XXXX-XX-XX", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                }
               
                if ($("#CHARGE").val() == "") {
                    layer.alert('请填写罪名!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                }

                if ($("#SENTENCETERM").val().match(/^(?!\d*$)/)) {
                    layer.alert('原判刑期请填写数字!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                }

                var pic1 = $("input[name='material1']").val();
                if (!isPicture(pic1)) {
                    layer.alert('文件图片类型不合法,只能是jpg、gif、bmp、png、jpeg类型!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                }

                $("#ShowMap .MapClass").each(function (i, t) {



                    $("#ShowMap").append($("<input name=MapAddress[" + i + "].MapAddressName type='hidden' value=" + $(t).attr("ADDRESSNAME") + ">"));
                    $("#ShowMap").append($("<input name=MapAddress[" + i + "].MapAddressID type='hidden' value=" + $(t).attr("GEOMETRY") + ">"));
                });
                $("#Go_OK").attr("disabled", "disabled");
                return true;
            });
        });

        $(function () {
            $("#upload").click(function () {
                $("#material1").click();
            })
        })

        $(function () {
            $("#material1").change(function () {
                var $file = $(this);
                var fileObj = $file[0];
                var windowURL = window.URL || window.webkitURL;
                var dataURL;
                var $img = $("#preview");

                if (fileObj && fileObj.files && fileObj.files[0]) {
                    dataURL = windowURL.createObjectURL(fileObj.files[0]);
                    $img.attr('src', dataURL);
                } else {
                    dataURL = $file.val();
                    var imgObj = document.getElementById("preview");
                    // 两个坑:
                    // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
                    // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                    imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

                }
            });
        });





        //判断上传文件格式是否满足条件
        function isPicture(fileName) {
            if (fileName != null && fileName != "") {
                //lastIndexOf如果没有搜索到则返回为-1
                if (fileName.lastIndexOf(".") != -1) {
                    var fileType = (fileName.substring(fileName.lastIndexOf(".") + 1, fileName.length)).toLowerCase();
                    var suppotFile = new Array();
                    suppotFile[0] = "jpg";
                    suppotFile[1] = "gif";
                    suppotFile[2] = "bmp";
                    suppotFile[3] = "png";
                    suppotFile[4] = "jpeg";
                    for (var i = 0; i < suppotFile.length; i++) {
                        if (suppotFile[i] == fileType) {
                            return true;
                        } else {
                            continue;
                        }
                    }
                    //alert("文件类型不合法,只能是jpg、gif、bmp、png、jpeg类型！");
                    return false;
                } else {
                    //alert("文件类型不合法,只能是 jpg、gif、bmp、png、jpeg 类型！");
                    return false;
                }
            }
            return true;
        }

        //显示隐藏地图
        function GetShowOrHide(o, otype) {
            if (otype == "show") {
                setTimeout(function () {
                    $("a[geometry='" + $("#GEOMETRY").val() + "']").click();
                    $("a[geometry='" + $("#GEOMETRY").val() + "']").parent().css("background", "rgb(237, 236, 222) none repeat scroll 0%");
                }, 1000)
                o.value = "隐藏地图";
                o.setAttribute("onclick", "GetShowOrHide(this,'hide')");
                document.getElementById("ShowOrHide").style.display = 'block';

            } else if (otype == 'hide') {
                o.value = "显示地图";
                o.setAttribute("onclick", "GetShowOrHide(this,'show')");
                document.getElementById("ShowOrHide").style.display = 'none';
            }
        }

        function Remove(obj) {

            $(obj).parent().remove();
            var sb = $(obj).attr("id");

            $(".hidfuck" + sb).remove();

        }

        var Thtml = "";
        function mapInited(obj) {
            $(".mapspanstyle").css("background", "white");
            $(obj).parent().css("background", "rgb(237, 236, 222) none repeat scroll 0%");
            setTimeout(function () {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                mapCtrl.Clears();
                var DTMD = $(obj).attr("geometry");
                mapCtrl.AddPolygon("Green", DTMD);
                $("#GEOMETRY").val(DTMD);
                Thtml = obj;
            }, 1000)
        }

        //地图坐标点
        function mapDraw(color,s) {
            $("#GEOMETRY").val(s);
            $(Thtml).attr("value", document.getElementById("GEOMETRY").value);
        }
        $("#confirm").click(function () {
            $(Thtml).attr("value", document.getElementById("GEOMETRY").value);;
            $("#mapDepicting").modal('hide');
        });

        $(function () {
            $("#AddMap").click(function () {
                var Geometry = $("#GEOMETRY").val();
                var Commonplace = $("#COMMONPLACE").val();

                if (Commonplace == "") {
                    layer.alert('请输入常用居住地!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });

                    return false;
                } else {

                    $("#MapTable").append($("<span class='mapspanstyle'><a class='MapClass' style='margin-right:10px; font-size:14px;' value='" + Geometry + "' onclick='javascript:mapInited(this)' GEOMETRY='" + Geometry + "' ADDRESSNAME='" + Commonplace + "'>" + Commonplace + "</a><a onclick=Remove(this);>删除</a></span>"));

                    //$("#ShowMapList").append($("<span  style='margin-right:15px; font-size:14px' ondblclick=Remove(this);>" + Commonplace + "</span>"));
                    //$("#ShowMapList").append($("<input name=MapAddress[" + Num + "].MapAddressName type='hidden' value=" + Commonplace + ">"));
                    //$("#ShowMapList").append($("<input name=MapAddress[" + Num + "].MapAddressID type='hidden' value=" + Geometry + ">"));
                    $("#COMMONPLACE").val("");
                }
            })

        });

    </script>
</head>

<body>
    <div class="place" style="background-image: url(/Images/images/righttop.gif)">
        <span>位置：</span>
        <ul class="placeul">
            <li>白名单编辑</li>
        </ul>
    </div>
    <div class="formbody">
        <div style="margin: 10px">
            <h6 style="font-size: 32px; text-align: center">白名单编辑</h6>
        </div>
        <form method="post" enctype="multipart/form-data" action="/WWBMD/EditSave" id="EventReport">
            <div>
                <table class="table table-bordered" style="font-size: 13px; margin-bottom: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0">


                    <tr>
                        <th style="text-align: center; line-height: 20px;">矫正单位 </th>
                        <td style="width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.CORRECTUNIT, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">编号
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.NUMBER, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">入矫日期
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="text" value="@ViewBag.CORRECTDATE" class="large" name="CORRECTDATE" id="CORRECTDATE" />
                                    @*@Html.TextBoxFor(t => Model.CORRECTDATE, new { @class = "large" })*@
                                </div>
                            </div>
                        </td>
                        <td rowspan="5" style="line-height: 20px; width: 15%">
                            <div class="form-group" style="width: 98%">
                                <div class="col-sm-9 col-lg-10 controls" style="width: 98%; height: 100%; text-align: center">
                                    @Html.HiddenFor(t => Model.FILEPATH)
                                    <img id="preview" style="width: 100%; height: 200px; margin-top: 5px; margin-bottom: 5px" />
                                    <input type="button" class="btn btn-success" id="upload" value="上　传" style="">
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">姓名
                        </th>
                        <td style="width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.NAME, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">别名
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.OTHERNAME, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">性别
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    男<input type="radio" name="SEX" checked="checked" class="large" value="0" style="margin-right: 10px;margin-top:-2px;margin-left:5px;">
                                    女<input type="radio" name="SEX" class="large" value="1" style="margin-top:-2px;margin-left:5px;" />
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">民族 </th>
                        <td style="width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.NATION, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">出生日期
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="text" value="@ViewBag.BIRTHDAY" class="large" name="BIRTHDAY"  id="BIRTHDAY"/>
                                    @*@Html.TextBoxFor(t => Model.BIRTHDAY, new { @class = "large" })*@
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">文化程度
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.EDU, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">职业 </th>
                        <td style="width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.JOB, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">原政治面貌
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.POLITICAL, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">类型
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.DropDownList("TYPEID", ViewBag.BMDType as IEnumerable<SelectListItem>, new { @id = "TYPEID" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">身份证号 </th>
                        <td style="width: 15%" colspan="1">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.IDCARD, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">婚姻状况
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.DropDownList("MARRIAGE", ViewBag.Marriage as IEnumerable<SelectListItem>, new { @id = "TYPEID" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">籍贯
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.BIRTHPLACE, new { @class = "large" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">户籍所在地 </th>
                        <td style="width: 15%" colspan="6">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.DOMICILEPLACE, new { @class = "large", @style = "width: 98%" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">固定居住地 </th>
                        <td style="width: 15%" colspan="6">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.FIXEDPLACE, new { @class = "large", @style = "width: 98%" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    @*  <tr>
                        <th style="text-align: center; line-height: 20px;">常用居住地 </th>
                        <td style="width: 15%" colspan="6">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.COMMONPLACE, new { @class = "large", @style = "width: 98%" })
                                </div>
                            </div>
                        </td>
                    </tr>*@

                    <tr>
                        <th style="text-align: center; line-height: 30px">常用居住地
                        </th>
                        <td colspan="6">
                            <div id="ShowMap">
                                <input type="button" id="ShowMapBtn" style="margin-left: 20px; margin-right: 20px;" value="显示地图" onclick="GetShowOrHide(this, 'show')" />
                                <label id="MapTable" style="display: -moz-inline-box;">
                                    @foreach (var item in ViewBag.MapList)
                                    {
                                        <span class='mapspanstyle'><a class='MapClass' style='margin-right:10px; font-size:14px;' value='" + @item.GEOMETRY + "' onclick='javascript:mapInited(this)' GEOMETRY='@item.GEOMETRY' ADDRESSNAME=' @item.ADDRESSNAME '>@item.ADDRESSNAME </a><a onclick=Remove(this);>删除</a></span>
                                    }
                                </label>
                            </div>

                            <div class="form-group" id="ShowOrHide" style="margin-bottom: 5px;">
                                <div class="col-sm-9 col-lg-10 controls">
                                </div>
                                <input type="hidden" id="GEOMETRY" />
                                <div id="silverlightControlHost" style="width: 100%; height: 350px;">
                                    <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="350px" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=@ZGM.Web.ConfigManager.MapUrl,X1=@ZGM.Web.ConfigManager.MapLonX1,Y1=@ZGM.Web.ConfigManager.MapLatY1,X2=@ZGM.Web.ConfigManager.MapLonX2,Y2=@ZGM.Web.ConfigManager.MapLatY2,Mode=4,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48,fileUrl=" />
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                    <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>

                                </div>
                                <div class="form-group" style="margin-top: 5px">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <label style="float: left; margin-right: 5px">常用居住地名称:</label>
                                        @Html.TextBoxFor(t => Model.COMMONPLACE, new { @class = "large", @style = "width: 40%" })
                                    </div>
                                </div>
                                <input type="button" class="btn btn-success" value="添　加" id="AddMap" style="margin-top: 5px;" />
                            </div>
                        </td>
                    </tr>

                </table>

                <table class="table table-bordered" style="font-size: 13px; border-top: 0; border-top-left-radius: 0; border-top-right-radius: 0">
                    <tr>
                        <th style="text-align: center; line-height: 20px; width: 11%">判决书号 </th>
                        <td style="width: 20%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.SENTENCENUMBER, new { @class = "large", @style = "width: 93.5%" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">判决机关
                        </th>
                        <td style="line-height: 20px; width: 20%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.SENTENCEUNIT, new { @class = "large", @style = "width: 93.5%" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">判决时间
                        </th>
                        <td style="line-height: 20px; width: 20%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="text" value="@ViewBag.SENTENCEDATE" class="large" id="SENTENCEDATE" name="SENTENCEDATE" style = "width: 90.5%"/>
                                    @*@Html.TextBoxFor(t => Model.SENTENCEDATE, new { @class = "large", @style = "width: 90.5%" })*@
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">罪名 </th>
                        <td style="width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.CHARGE, new { @class = "large", @style = "width: 93.5%" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">原判刑期
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.SENTENCETERM, new { @class = "large", @style = "width: 93.5%" })
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">附加刑
                        </th>
                        <td style="line-height: 20px; width: 15%">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.SENTENCEADD, new { @class = "large", @style = "width: 90.5%" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">刑期起始 </th>
                        <th style="text-align: center; line-height: 20px;">开始时间 </th>
                        <td style="width: 15%" colspan="2">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="text" value="@ViewBag.SENTENCESTATRTIME" class="large" id="SENTENCESTATRTIME" name="SENTENCESTATRTIME" style = "width: 97%"/>
                                    @*@Html.TextBoxFor(t => Model.SENTENCESTATRTIME, new { @class = "large", @style = "width: 97%" })*@
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">结束时间 </th>
                        <td style="width: 15%" colspan="2">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="text" value="@ViewBag.SENTENCEENDTIME" class="large" id="SENTENCEENDTIME" name="SENTENCEENDTIME" style = "width: 90.5%"/>
                                    @*@Html.TextBoxFor(t => Model.SENTENCEENDTIME, new { @class = "large", @style = "width: 90.5%" })*@
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">刑期变动情况 </th>
                        <td style="width: 15%" colspan="6">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.SENTENCECHANG, new { @class = "large", @style = "width: 98%" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">奖罚情况 </th>
                        <td style="width: 15%" colspan="6">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.REWARD, new { @class = "large", @style = "width: 98%" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;" rowspan="2">社区矫正期限 </th>
                        <th style="text-align: center; line-height: 20px;">开始时间 </th>
                        <td style="width: 15%" colspan="2">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="text" value="@ViewBag.CORRECTSTARTTIME" class="large" id="CORRECTSTARTTIME" name="CORRECTSTARTTIME" style = "width: 97%"/>
                                    @*@Html.TextBoxFor(t => Model.CORRECTSTARTTIME, new { @class = "large", @style = "width: 97%" })*@
                                </div>
                            </div>
                        </td>
                        <th style="text-align: center; line-height: 20px;">结束时间 </th>
                        <td style="width: 15%" colspan="2">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    <input type="text" value="@ViewBag.CORRECTENDTIME" class="large" id="CORRECTENDTIME" name="CORRECTENDTIME" style = "width: 90.5%"/>
                                    @*@Html.TextBoxFor(t => Model.CORRECTENDTIME, new { @class = "large", @style = "width: 90.5%" })*@
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">刑法执行类别 </th>
                        <td style="width: 15%" colspan="4">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.SENTENCETYPE, new { @class = "large", @style = "width: 97.5%" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="text-align: center; line-height: 20px;">主要犯罪事实 </th>
                        <td style="width: 15%;" colspan="6">
                            <div class="form-group">
                                <div class="col-sm-9 col-lg-10 controls">
                                    @Html.TextBoxFor(t => Model.CONTENT, new { @class = "large", @style = "width: 98%" })
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="form-group" style="margin-bottom: 5px; margin-left: 130px;">
                    <div class="col-sm-9 col-lg-10 controls">
                        <input type="submit" class="btn btn-success" value="提　交" id="Go_OK">
                    </div>
                </div>
                <input type="file" name="material1" id="material1" class="input-xlarge attachfile" />
                <input type="hidden" name="BMDID" id="BMDID" value="@Model.BMDID" />
                <input type="hidden" value="@ViewBag.Path" id="Path"/>
                <input type="hidden" value="@Model.SEX" id="CheckedSex" />
                <input type="hidden" value="@ViewBag.MapListCount" id="hid_MapCount" />
                <input type="hidden" value="@Model.NUMBER" id="CheckedNumber" />
            </div>
        </form>
    </div>
</body>
</html>
