@{
    ViewBag.Title = "Index";
    Layout = "~/Views/IntegratedService/CaseManagement/_LayoutCaseManagement.cshtml";
}

@section HeadStyles_CaseManage{
    <link href="~/Scripts/assets/bootstrap-timepicker/compiled/timepicker.css" rel="stylesheet" />
    <link href="~/Scripts/assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <style type="text/css">
        .table td.left {
            text-align: left;
        }

        .table td.center {
            text-align: center;
        }

        .overflow {
            width: 255px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}

@section FootScripts_CaseManage{
    <script src="~/Scripts/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/assets/bootstrap-datepicker/js/bootstrap-datepicker-zh_CN.js"></script>
    <script type="text/javascript">
        var oTable;
        $(document).ready(function () {
            //激活菜单
            $("#menuCase").addClass("active");
            $("#startTime").datepicker();
            $("#endTime").datepicker();

            $("#btnQuery").click(function () {
                var url = "/ParkingCase/GetParkingCases";
                var strStartTime = $("#startTime").val();
                var strEndTime = $("#endTime").val();
                var carNo = encodeURI($("#carNo").val());
                var cjdw = $("#cjdw").val();
                var cldw = $("#cldw").val();
                var clzt = $("#clzt").val();
                var csbj = $("#csbj").val();
                var wtcs = $("#wtcs").val();

                var startTime = new Date(strStartTime.replace(/-/g, "/"));
                var endTime = new Date(strEndTime.replace(/-/g, "/"));

                if (startTime > endTime) {
                    alert("开始时间不能大于结束时间");
                }
                else {
                    url += "?startTime=" + $("#startTime").val();
                    url += "&endTime=" + $("#endTime").val();
                    url += "&carNo=" + carNo;
                    url += "&cjdw=" + cjdw;
                    url += "&cldw=" + cldw;
                    url += "&clzt=" + clzt;
                    url += "&csbj=" + csbj;
                    url += "&wtcs=" + wtcs;
                    BindDataTable(url);
                }
            });

            $("#btnQuery").click();

            //当点击采集单位时
            //1.当前单位标识不做处理
            //2.不是当前标识处理单位显示当前用户标识
            $("#cjdw").change(function () {
                var cjdwID = $("#cldw").val();
                //当前单位标识
                var unitID = "@ViewBag.cjdw";
                if (cjdwID == unitID) {
                    return;
                }
                else {
                    $("#cldw")[0].value = unitID;
                }

            });


            //点击处理单位时
            //1.当前单位标识不做处理
            //2.不是当前标识处理单位显示当前用户标识
            $("#cldw").change(function () {
                var cldwID = $("#cldw").val();
                //当前单位标识
                var unitID = "@ViewBag.cjdw";
                if (cldwID == unitID) {
                    return;
                }
                else {
                    $("#cjdw")[0].value = unitID;
                }
            });
        });

        //获取案件列表数据
        function BindDataTable(url) {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = url;
                oTable.fnDraw(true);
            } else {
                oTable = $('#dataTableList').dataTable({
                    sAjaxSource: url,
                    aoColumns: [
                        { "mDataProp": "carNo", "sClass": "center", sWidth: "80px" },
                        { "mDataProp": "carType", "sClass": "left", sWidth: "70px" },
                        {
                            "mDataProp": function (data) {
                                var caseTimeYY = "<span title='" + data.caseTimeYY + "'>" + data.caseTime + "</span>";
                                return caseTimeYY;
                            }, "sClass": "center", sWidth: "100px"
                        },
                        {
                            "mDataProp": function (data) {
                                var view = "<div class='overflow' title='" + data.caseAddress + "'>" + data.caseAddress + "</div>"
                                return view;
                            }, "sClass": "left"
                        },
                        { "mDataProp": "clztName", "sClass": "center", sWidth: "60px" },
                        { "mDataProp": "csbjName", "sClass": "left", sWidth: "60px" },
                        {
                            "mDataProp": function (data) {
                                var view = "<a class='btn btn-primary btn-small' href='/ParkingCase/ShowParkingCase?XLH=" + data.XLH + "'\"><i class='padding-null'></i> 详情 </a>";
                                return view;
                            }, "sClass": "center", sWidth: "50px"
                        }
                    ],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }



    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">案件管理</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">违停案件</a></li>
            <li>></li>
            <li class="active">查询中心</li>
        </ul>
    </div>
}
<div class="row-fluid">
    <div class="span12" id="tabledata">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>违停案件列表
            </div>
            <div class="box-content" id="">
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">车牌号</label>
                <input type="text" id="carNo" style="margin-top: 10px; width: 175px;" />
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">开始时间</label>
                <input type="text" id="startTime" style="margin-top:10px; width:175px" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" class="datepicker" data-date-format="yyyy-mm-dd"/>
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">结束时间</label>
                <input type="text" id="endTime" style="margin-top:10px; width:175px" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)"class="datepicker" data-date-format="yyyy-mm-dd"/>
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">违停次数</label>
                <input type="text" id="wtcs" style="margin-top: 10px; width: 175px;" />
                <br />
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">采集单位</label>
                @Html.DropDownList("cjdw", ViewBag.SSQY as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "margin-top: 10px; width: 189px;" })
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">处理单位</label>
                @Html.DropDownList("cldw", ViewBag.SSCL as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "margin-top: 10px; width: 189px;" })
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">数据状态</label>
                <select id="csbj" style="margin-top: 10px; width: 189px;">
                    <option value="">全部</option>
                    <option value="0">未上传</option>
                    <option value="1">已上传</option>
                    <option value="2">上传失败</option>
                    <option value="3">交警处理成功</option>
                    <option value="4">交警解锁成功</option>
                    <option value="5">交警处理失败</option>
                </select>
                <label style="width: 70px; text-align: left; display: inline-block; margin-left: 10px;">处理状态</label>
                <select id="clzt" style="margin-top: 10px; width: 189px">
                    <option value="">全部</option>
                    <option value="1">未处理</option>
                    <option value="2">审核通过</option>
                    <option value="3">审核作废</option>
                    <option value="4">已处理</option>
                </select>
                <input id="btnQuery" type="button" class="btn btn-primary" title="查询" value="查 询" style="float: right; margin-right: 20px; margin-top: 10px;">
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-hover fill-head" id="dataTableList">
                    <thead>
                        <tr>
                            <th style="text-align: center;">车牌号</th>
                            <th style="text-align: left;">车辆类型</th>
                            <th style="text-align: center;">违法时间</th>
                            <th style="text-align: left;">违法地点</th>
                            <th style="text-align: center;">处理状态</th>
                            <th style="text-align: left;">数据状态</th>
                            <th style="text-align: center;">操作</th>
                        </tr>
                    </thead>
                </table>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>




