@model Web.ViewModels.VMRole
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/SysManagement/BasicManagement/_LayoutBasicManagement.cshtml";
}


@section FootScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sysRoleManagement").addClass("active");

            var setting = {
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                }
            };

            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/RoleManagement/GetFunctionTreeData?RoleID=' +@Model.RoleID +'&random=' + Math.random(),
                success: function (data) {
                    if (data != null && data != "") {
                        var zNodes = data;
                        $.fn.zTree.init($("#tree"), setting, zNodes);
                    }
                }
            });
        });

        function SetCheckedNodes() {
            var treeObj = $.fn.zTree.getZTreeObj("tree");
            var nodes = treeObj.getCheckedNodes(true);

            var functionIDs = "";
            for (var i = 0; i < nodes.length; i++) {
                if (i == 0) {
                    functionIDs += nodes[i].id;
                    continue;
                }
                functionIDs += "," + nodes[i].id;
            }
            $("#CheckedFunctionIDs").val(functionIDs);

            return true;
        }
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">

            <li><a href="#"><i class="icon-home"></i>系统管理</a></li>
            <li>></li>
            <li><a href="#">基础管理</a></li>
            <li>></li>
            <li><a href="#">角色管理</a></li>
            <li class="active">>编辑角色</li>
        </ul>
    </div>
}

<div class="row-fluid">
    <div class="span12">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white;">
                <i class="icon-table" style="margin-right: 5px;"></i>新增角色
            </div>
            <div class="box-content">
                <form id="AddRoleForm" name="AddRoleForm"
                    class="validation-form form-horizontal form-bordered form-row-stripped"
                    method="post" action="/RoleManagement/CommitEditRole">
                    <div class="control-group">
                        <label for="RoleName" class="control-label">角色名称</label>
                        <div class="controls">
                            <input type="text" value="@Model.RoleName" name="RoleName" id="RoleName" placeholder="Text input" data-rule-required="true" class="input-xlarge" />
                            <span class="help-inline" for="RoleName"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">配置功能项</label>
                        <div class="controls">
                            <div id="tree" class="ztree">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="SeqNo" class="control-label">角色排序号</label>
                        <div class="controls">
                            <input name="SeqNo" id="SeqNo" value="@Model.SeqNo" class="input-xlarge" type="text" placeholder="Text input" data-rule-required="false" data-rule-number="true" />
                            <span class="help-inline" for="SeqNo"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="Description" class="control-label">角色说明</label>
                        <div class="controls">
                            <textarea id="Description" name="Description" class="input-block-level"
                                rows="5">@Model.Description</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" onclick="return SetCheckedNodes();" class="btn btn-primary">
                            <i class="icon-ok"></i>确定</button>
                        <a class="btn" href="/RoleManagement/Index">返 回</a>
                    </div>
                    @Html.Hidden("RoleID")
                    @Html.Hidden("CheckedFunctionIDs")
                </form>
            </div>

        </div>
    </div>
</div>
