@{
    ViewBag.FunctionName = "空间地理信息管理";
    Layout = "~/Views/SysManagement/BasicManagement/_LayoutGeographicalSpace.cshtml";
}
@model Taizhou.PLE.Model.MAPINFO

@section FootScripts{

     <script type="text/javascript">

    $(document).ready(function () {
             var num = $(".MAPTYPE").val();
             ChangeMap(num);
         })
    function ChangeMap(num){
        $.ajax({
            url: "/GeographicalSpace/getMap?num=" + num + "&newtime=" + Math.random(),
            type: "get",
            success: function (returnData) {
                $("#Geometry").html(returnData);
            },
            error: function (mes) {
                alert("操作失败");
            }
        });
    }

    $("#LAYERID").change(function () {
        $.ajax({
            type: "POST",
            url: "/GeographicalSpace/getTypeValue",
            data: { LAYERID: $(this).val() },
            cache: false,
            success: function (data) {
                if (data == "") {
                 
                    $("#layerChangeHtml").css('display','none'); 

                } else {
                    $("#layerChangeHtml").css('display', 'block');
                GetHtmlByLayer(data);
                $("#TypeValueStrs").val(data);
            }
            }
        });
    })

    //解析json
    function GetHtmlByLayer(resultJsonLaye) {

        var LAYERID = $("#LAYERID").val();
        var resultJsonLayeNew = eval('(' + resultJsonLaye + ')');
        $("#layerChangeHtml").html(getJsonTable(resultJsonLayeNew));
    }

    function getJsonTable(resultJsonLayeNew) {
        var htmlBody = "";
        htmlBody += "  <table class='table table-bordered'>";
        for (var i = 0; i < resultJsonLayeNew.html.length; i++) {
            var name = resultJsonLayeNew.html[i]["name"];
            var type = resultJsonLayeNew.html[i]["type"];
            var Id = resultJsonLayeNew.html[i]["Id"];
            var value = resultJsonLayeNew.html[i]["value"];
            var childs = resultJsonLayeNew.html[i]["childs"];
            if (type == "text") {//文本框
                htmlBody += "<tr><th style='text-align: center;width:98px;'>" + name + "：</th> <td colspan='3'><input class = 'input-xlarge' name='" + Id + "' type='text'  id='" + Id + "' value='" + value + "' /></td></tr>";
            } else if (type == "checkbox") {//复选框   
                htmlBody += "<tr><th style='text-align: center; '>" + name + "：</th><td colspan='3'>";
                var childsNew = childs;
                if (childsNew.length > 0) {
                   
                    for (var vc = 0; vc < childsNew.length; vc++) {
                       
                        var checkedValueT = value;
                        var checkedValueSplit = checkedValueT.split(',');
                        var checkedValue = "";
                        for (var ci = 0; ci < checkedValueSplit.length; ci++) {
                            if (checkedValueSplit[ci] == childsNew[vc]["value"]) {
                                checkedValue = " checked='checked' ";
                                break;
                            }
                        }
                        htmlBody += "<div style='float:left;'>";
                        htmlBody += "<input " + checkedValue + " type='checkbox' id='" + Id + "_" + vc + "' name='" + Id + "' value='" + childsNew[vc]["value"] + "'class = 'input-xlarge' /></div><div style='margin-left:5px; float:left; margin-top:2px;margin-right:5px;'>" + childsNew[vc]["text"] + "</div> ";
                         
                       
                    }
                }
                htmlBody += "</td></tr>";
            } else if (type == "select") {//下拉框
                htmlBody += "<tr><th style='text-align: center;'>" + name + "：</th><td colspan='3'>";
                htmlBody += "<select  class = 'input-xlarge' name='" + Id + "' id='"+Id+"'>";
                htmlBody += "<option value='0'>请选择</option>";
                var childsNew = childs;
                if (childsNew.length > 0) {
                    for (var vc = 0; vc < childsNew.length; vc++) {
                        var checkedValue = "";
                        if (value == childsNew[vc]["value"]) {
                            checkedValue = " selected='selected' ";
                        }
                        htmlBody += "<option " + checkedValue + " value='" + childsNew[vc]["value"] + "'>" + childsNew[vc]["text"] + "</option>";
                    }
                }
                htmlBody += "</select>";
                htmlBody += "</td></tr>";
            } else if (type == "radio") {//单选框
                htmlBody += "<tr><th style='text-align: center;'>" + name + "：</th><td colspan='3'>";
                var childsNew = childs;
                if (childsNew.length > 0) {
                
                    for (var vc = 0; vc < childsNew.length; vc++) {
                        var checkedValue = "";
                        if (value == childsNew[vc]["value"]) {
                            checkedValue = " checked='checked' ";
                        }
                        htmlBody += "<div style='float:left;'>";
                        htmlBody += "<input  " + checkedValue + " type='radio' id='" + Id + "_" + vc + "' name='" + Id + "' value='" + childsNew[vc]["value"] + "' class = 'input-xlarge' /></div><div style='margin-left:5px; float:left; margin-top:2px;margin-right:5px;'>" + childsNew[vc]["text"] + "</div> ";
                      
                    }
                }
                htmlBody += "</td></tr>";
               
            }
          
        }
        htmlBody += "</table>";
        return htmlBody;
    }

  
    function mapDraw(s) {
        $("#getGeometry").val(s);
    }

    function mapClear() {
       
    }

    function submitMapin() {
        var TypeValues = "";
        var LayerID = $("#LAYERID").val();
        if (LayerID == "" || ElementID == 0) {
            $("#LayerIDMes").text("请选择");
            return false;
        }
        var ElementID = $("#ELEMENTID").val();
        if (ElementID == null || ElementID == "") {
            $("#ElemntIDMes").text("元素编号必填");
            return false;
        }
        var ElementAddress = $("#ELEMENTADDRESS").val();
        if (ElementAddress == null || ElementAddress == "") {
            $("#ElementAddressIDMes").text("元素地址必填");
            return false;
        }
        var CONTAIN = $("#CONTAIN").val();
        var MapType = 0;
        var a = $("input[name=MAPTYPE]");
        for (var i = 0; i < a.length; i++) {
            if (a[i].checked) {
               MapType = a[i].value;
            }
        }
        
        var Geometry = $("#getGeometry").val();
        var TypeValueStrs = $("#TypeValueStrs").val();
        var typeValueNew = eval('(' + TypeValueStrs + ')');

        var returnJson = "{";

        returnJson += "\"layerId\": \"" + typeValueNew.layerId + "\","
        returnJson += "\"layerName\": \"" + typeValueNew.layerName + "\","
        returnJson += "\"html\": ["
        var htmlNew = typeValueNew.html;
        for (var vk = 0; vk < typeValueNew.html.length; vk++) {
            var Id = htmlNew[vk]["Id"];
           // var pageValue = $("#" + Id + "").val();
            if (vk > 0) {
                returnJson += ",";
            }

            //获取页面的值--所属图层特殊的标签值 Start
            var pageValue = 0;
            var q=htmlNew[vk]["type"];
            if (htmlNew[vk]["type"] == "radio" || htmlNew[vk]["type"] == "checkbox") {
                var pageValues = document.getElementsByName(htmlNew[vk]["Id"]);
                for (var ik = 0; ik < pageValues.length; ik++) {
                    if (pageValues[ik].checked) {
                        if (pageValue == 0) {
                            pageValue = pageValues[ik].value;
                         
                        } else {
                            if (pageValue != 0) {
                                pageValue += ",";
                            }
                            pageValue += pageValues[ik].value;
                           
                        }
                    }
                }
            } else {
                pageValue = $("#" + Id + "").val();
            }
            
            //获取页面的值--所属图层特殊的标签值 End

            returnJson += "{";
            returnJson += "\"name\": \"" + htmlNew[vk]["name"] + "\","
            returnJson += "\"Id\": \"" + htmlNew[vk]["Id"] + "\","
            returnJson += "\"type\": \"" + htmlNew[vk]["type"] + "\","
            returnJson += "\"value\": \"" + pageValue + "\","
            returnJson += "\"childs\": ["
            //下拉框、单选框、复选框
            if (htmlNew[vk]["type"] == "select" || htmlNew[vk]["type"] == "radio" || htmlNew[vk]["type"] == "checkbox") {
                var childsNew = htmlNew[vk]["childs"];
                if (childsNew.length > 0) {
                    for (var vc = 0; vc < childsNew.length; vc++) {
                        if (vc > 0) {
                            returnJson += ",";
                        }
                        returnJson += "{";
                        returnJson += "\"value\": \"" + childsNew[vc]["value"] + "\","
                        returnJson += "\"text\": \"" + childsNew[vc]["text"] + "\""
                        returnJson += "}";
                    }
                }
            }
            returnJson += "]";
            returnJson += "}";
        }

        returnJson += "]";
        returnJson += "}";
        $.ajax({
            type: "POST",
            url: "/GeographicalSpace/CommitCreate",
            data: { LayerID: LayerID, ElementID: ElementID, ElementAddress: ElementAddress, MapType: MapType, Geometry: Geometry, returnJson: returnJson, CONTAIN: CONTAIN },
            cache: false,
            success: function (data) {
                top.location = "/GeographicalSpace/Index"
            }
        });
    }

  
    </script>
}
<div class="box box-black" style="margin-top: 0px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>地图元素上报
    </div>
    <div class="box-content">
        <form id="AddRouteForm" name="AddRouteForm" class="validation-form form-horizontal form-bordered form-row-stripped" method="post"  enctype="multipart/form-data">

               <table class="table table-bordered">
                 <tr>
                    <th style="text-align: center; width:10%">所属图层
                    </th>
                    <td style="width:40%">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="width:300px;float:left">
                               @Html.DropDownListFor(model=>model.LAYERID, ViewBag.LAYERTYPEList as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "width:284px;" })
                            </div>
                            
                              <label id="LayerIDMes"  style="color: red;width:100px;float:left;"></label>
                        </div>
                    </td>
                    <th style="text-align: center; width:10%">元素编号
                    </th>
                    <td style="width:40%;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="width:220px;float:left">
                             @Html.TextBoxFor(model=>model.ELEMENTID) 
                               
                            </div>
                             <label id="ElemntIDMes"  style="color: red;width:100px;float:left;"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; padding-top:15px; padding-top:15px;">元素地址
                    </th>
                    <td colspan="3">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="line-height:0px;">
                                
                     @Html.TextBoxFor(model=>model.ELEMENTADDRESS ,new { @class = "input-xlarge", style = "width:98.5%;" })
                            </div>
                             <label id="ElementAddressIDMes"  style="color: red;width:100px;float:left;"></label>
                        </div>
                    </td>
                </tr>
                    <tr>
                    <th style="text-align: center; padding-top:15px; padding-top:15px;">元素内容
                    </th>
                    <td colspan="3">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="line-height:0px;">
                                
                     @Html.TextAreaFor(model=>model.CONTAIN ,new { @class = "input-xlarge", style = "width:98.5%;" })
                            </div>
                           
                        </div>
                    </td>
                </tr>
               <tr>
                    <th style="text-align: center; padding-top:15px; padding-top:15px;">地图类型
                    </th>
                    <td colspan="3">
                        <div style="line-height:27px;">
                            <div style="float:left;">
                                <input type="radio" checked="checked" class="MAPTYPE" name="MAPTYPE" id="radio" value="1" onclick="ChangeMap(1)"/>
                            </div>
                            <div style="margin-left:5px; float:left; margin-top:3px;">点</div>
                            <div style="float:left;margin-left:10px;">
                                <input type="radio" class="MAPTYPE" name="MAPTYPE" id="radio1" value="2" onclick="ChangeMap(2)"/>
                            </div>
                            <div style="margin-left:5px; float:left;margin-top:3px;">线</div> 
                            <div style="float:left;margin-left:10px;">
                                <input type="radio" class="MAPTYPE" name="MAPTYPE" id="radio2" value="3" onclick="ChangeMap(3)"/>
                            </div>
                            <div style="margin-left:5px;float:left;margin-top:3px;">面</div>  
                        </div>
                    </td>
                </tr>

                <tr>
                    <th style="text-align: center;">地理位置
                    </th>
                    <td colspan="3">
                        <input type="hidden" id="getGeometry"/>
                        <div class="form-group" style="margin-bottom: 5px;" id="Geometry">
                     
                        </div>
                    </td>
                </tr>
                  
              </table>  

        
                 <div  id="layerChangeHtml">
               
                  </div>
            <table class="table table-bordered">
                  <tr >
                    <td colspan="4" >
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="margin-left:10%;">
                               <button type="button" class="btn btn-primary" onclick="submitMapin()">确定</button>
                               <a style=" margin-left:2px;" href="@Url.Content("~/GeographicalSpace/Index")" class="btn">返 回</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>          
            <input type="hidden" id="TypeValueStrs" name="TypeValueStrs"/>
        </form>
        
    </div>
</div>


