@{
    Layout = null;
}



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>任务待办列表</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />
    @*<link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />*@
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>

    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/js/PageNotBack.js"></script>

    <link href="~/Scripts/assets/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.core.js"></script>
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.excheck.js"></script>
    <script src="~/Scripts/assets/zTree/js/jquery.ztree.exedit.js"></script>

    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>


    @*    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />*@

    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        .forminfo li label {
            width: 110px;
            margin-top: 5px;
        }

        .seachform li label {
            width: 80px;
        }

        .addfilebtn {
            width: 40px;
            height: 22px;
            line-height: 22px;
            display: inline-block;
            margin-top: 6px;
            color: rgb(255, 255, 255);
            background: transparent url("/Images/images/btnbg1.png") repeat-x scroll 0% 0%;
            font-size: 15px;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        
        var setting = {
            check: {
                enable: true
            },
            view: {
                dblClickExpand: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {//该事件在节点被单击后触发
                onCheck: function (e, treeId, zNodes2) {
                    var zTree = $.fn.zTree.getZTreeObj("chkboxTree");
                    nodes = zTree.getCheckedNodes(true);
                    //定义用户组变量
                    var childrenobj = "";
                    var phone = "";
                    for (var i = 0, l = nodes.length; i < l; i++) {
                        if (nodes[i].type != "组织") {
                            childrenobj += nodes[i].value + ",";
                            phone += nodes[i].smsNumber + ",";
                        }
                    }
                    if (childrenobj.length > 0)
                        childrenobj = childrenobj.substring(0, childrenobj.length - 1);
                    $("#SelectUserIds").val(childrenobj);
                    $("#phones").val(phone);

                    //定义用户号码变量
                    var userNames = "";
                    for (var i = 0, l = nodes.length; i < l; i++) {
                        if (nodes[i].type != "组织") {
                            userNames += nodes[i].name + ",";
                        }
                    }

                    if (userNames.length > 0)
                        userNames = userNames.substring(0, userNames.length - 1);

                    $("#SelectUserNames").val(userNames);
                },
                beforeClick: function (treeId, zNodes2) {
                    var zTree = $.fn.zTree.getZTreeObj("chkboxTree");
                    zTree.checkNode(zNodes2, !zNodes2.checked, null, true);
                    return false;
                }
            },
        };
      

        function showMenu() {
            var cityObj = $("#SelectUserNames");
            var cityOffset = $("#SelectUserNames").offset();
            var divWidth = $("#SelectUserNames").width();

            //加载用户结构树
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/Contacts/GetCameraTrees?random=' + Math.random(),
                success: function (data) {
                    if (data != null && data != "") {
                        var zNodes = data;
                        $.fn.zTree.init($("#chkboxTree"), setting, zNodes);
                        var treeObj = $.fn.zTree.getZTreeObj("chkboxTree");
                        treeObj.expandAll(false);
                    }
                }
            });

            $("#menuContent").css({ left: cityOffset.left + "px", top: cityOffset.top + cityObj.outerHeight() + "px", width: 290 }).slideDown("fast");
            $("body").bind("mousedown", onBodyDown);
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //alert(readCookie("RoleName"));
            if (readCookie("RoleName").indexOf("党工委书记") != -1 || readCookie("RoleName").indexOf("办事处主任") != -1 || readCookie("RoleName").indexOf("人大工委主任") != -1 || readCookie("RoleName").indexOf("党工委秘书") != -1 || readCookie("RoleName").indexOf("党政办副主任") != -1) {
                document.getElementById("ZY_radio").style.display = "";
                document.getElementById("ZY_span").style.display = "";
                document.getElementById("TJ_radio").style.display = "";
                document.getElementById("TJ_span").style.display = "";
            } else if (readCookie("RoleName").indexOf("副书记") != -1 || readCookie("RoleName").indexOf("政法委员") != -1 || readCookie("RoleName").indexOf("纪工委书记") != -1 || readCookie("RoleName").indexOf("组织委员") != -1 || readCookie("RoleName").indexOf("宣传委员") != -1 || readCookie("RoleName").indexOf("武装部长") != -1 || readCookie("RoleName").indexOf("人大工委副主任") != -1 || readCookie("RoleName").indexOf("副主任（经济发展）") != -1 || readCookie("RoleName").indexOf("副主任（社会事务）") != -1 || readCookie("RoleName").indexOf("副主任（房屋拆迁）") != -1 || readCookie("RoleName").indexOf("副主任（城市建设）") != -1 || readCookie("RoleName").indexOf("总工会主席") != -1) {
                document.getElementById("ZY_radio").style.display = "";
                document.getElementById("ZY_span").style.display = "";
            }
        });

        function readCookie(name) {
            var cookieValue = "";
            var search = name + "=";
            if (document.cookie.length > 0) {
                offset = document.cookie.indexOf(search);
                if (offset != -1) {
                    offset += search.length;
                    end = document.cookie.indexOf(";", offset);
                    if (end == -1)
                        end = document.cookie.length;
                    cookieValue = unescape(document.cookie.substring(offset, end))
                }
            }
            return cookieValue;
        }

        $(function () {
            //$("input[name='ISsatisfied']").click(function () {
            //    var id = $(this).attr("value");
            //    // alert(id);
            //    if (id == "是") {
            //        document.getElementById("SendMessages").value = id;
            //    } else {
            //        document.getElementById("SendMessages").value = id;

            //    }
            //});

            $("input[name='type_LX']").click(function () {
                var id = $(this).attr("value");
                // alert(id);
                if (id == "是") {
                    document.getElementById("IMPORTANT").value = id;
                } else {
                    document.getElementById("IMPORTANT").value = id;

                }
            });
            var pagenum = getQueryString("PageNum");
            if (pagenum != null && pagenum != "" && pagenum != undefined) {
                $(".itab a:eq(" + pagenum + ")").click();
            }
        });
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        }

        //后台回调js函数
        function AddCallBack(flag) {
            if (flag == 13) {
                layer.alert("操作成功!", {
                    icon: 1,
                    skin: 'layer-ext-seaning'
                }, function (index) {
                    layer.close(index);
                    location.href = "/Task/Index?PageNum=1";
                });
            }
        }


        $(document).ready(function () {
            var Isdefault = getQueryString("Isdefault");
            if (Isdefault != null && Isdefault != "" && Isdefault != undefined) {
                $("#hid_default").val(Isdefault);
            }


            $("#All_STIME").datepicker();
            $("#All_ETIME").datepicker();
            $("#STIME").datepicker();
            $("#ETIME").datepicker();
            $("#FINISHTIME").datetimepicker();

            TasktableList();
            AllTasktableList();
        });

        
        var oTable;
        function TasktableList() {
            if (oTable != null) {
                oTable.fnSettings().sAjaxSource = "/Task/TaskTableList";
                oTable.fnDraw(true);
            } else {
                oTable = $('#TaskTableList').dataTable({
                    sAjaxSource: "/Task/TaskTableList",
                    fnServerParams: function (aoData) {
                        aoData.push(
                              { "name": "Name", "value": $("#Name").val() },
                               { "name": "STIME", "value": $("#STIME").val() },
                               { "name": "ETIME", "value": $("#ETIME").val() },
                               { "name": "Link", "value": $("#Link").val() },
                               { "name": "TaskStatus", "value": $("#TaskStatus").val() }
                            );
                    },
                    aoColumns: [
                        //{ mDataProp: "TASKID" },
                        { mDataProp: "TASKTITLE" },
                        { mDataProp: "createtime" },
                        { mDataProp: "FINISHTIME" },
                        { mDataProp: "wfdname" },
                        {
                            mDataProp: function (data) {
                                var value;
                                if (data.status == "2") {
                                    value = '已完成';
                                } else {
                                    value = '进行中';
                                }
                                return value;
                            }
                        },
                        { mDataProp: "USERNAME" },
                           {
                               mDataProp: function (data) {
                                   var value = "";
                                   var wfdid = data.wfdid;

                                   if (wfdid == "20160517094110007" && data.nextuserid == $("#hid_userid").val()) {
                                       value += '<a class="btn_ico_a_edit" href="/Task/DispatchDepartment?hid_default=1&ID=' + data.TASKID + '&WFSAID=' + data.wfsaid + '&WFSID=' + data.wfsid + '&WFDID=' + data.wfdid + '"><img src="/Images/btnimage/pq.png" class="btn_ico_image" />派遣</a>';
                                   } else if (wfdid == "20160517094110002" && data.nextuserid == $("#hid_userid").val()) {
                                       value += '<a class="btn_ico_a_edit" href="/Task/TaskDispatch?hid_default=1&ID=' + data.TASKID + '&WFSAID=' + data.wfsaid + '&WFSID=' + data.wfsid + '&WFDID=' + data.wfdid + '"><img src="/Images/btnimage/pq.png" class="btn_ico_image" />派遣</a>';
                                   } else if (wfdid == "20160517094110004" && data.nextuserid == $("#hid_userid").val()) {
                                       value += '<a class="btn_ico_a_edit" href="/Task/LeadAuditor?hid_default=1&ID=' + data.TASKID + '&WFSAID=' + data.wfsaid + '&WFSID=' + data.wfsid + '&WFDID=' + data.wfdid + '"><img src="/Images/btnimage/pq.png" class="btn_ico_image" />审核</a>';
                                   } else if (wfdid == "20160517094110005" && data.nextuserid == $("#hid_userid").val()) {
                                       value += '<a class="btn_ico_a_edit" href="/Task/AuditTask?hid_default=1&ID=' + data.TASKID + '&WFSAID=' + data.wfsaid + '&WFSID=' + data.wfsid + '&WFDID=' + data.wfdid + '"><img src="/Images/btnimage/pq.png" class="btn_ico_image" />审核</a>';
                                   } else if (wfdid == "20160517094110008" && data.nextuserid == $("#hid_userid").val()) {
                                       value += '<a class="btn_ico_a_edit" href="/Task/PartyOfficeAudit?hid_default=1&ID=' + data.TASKID + '&WFSAID=' + data.wfsaid + '&WFSID=' + data.wfsid + '&WFDID=' + data.wfdid + '"><img src="/Images/btnimage/pq.png" class="btn_ico_image" />审核</a>';
                                   }

                                   var edit = "<a class='btn_ico_a_look' href='/Task/TaskDetail?ID=" + data.TASKID + "&WFSAID=" + data.wfsaid + "&WFSID=" + data.wfsid + "&WFDID=" + data.wfdid + "&pathName=1'><img src='/Images/btnimage/look.png' class='btn_ico_image' />查看</a>";

                                   return value + " " + edit;
                               }, "sClass": "center"
                           }

                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }
        function Search() {
            oTable.fnPageChange('first', true);
            oTable.fnClearTable(false);
        }
        var userid = @ZGM.Web.SessionManager.User.UserID;
        var oTable1;
        function AllTasktableList() {
            if (oTable1 != null) {
                oTable1.fnSettings().sAjaxSource = "/Task/AllTaskTableList";
                oTable1.fnDraw(true);
            } else {
                oTable1 = $('#All_TaskTableList').dataTable({
                    sAjaxSource: "/Task/AllTaskTableList",
                    fnServerParams: function (aoData) {
                        aoData.push(
                              { "name": "Name", "value": $("#All_Name").val() },
                               { "name": "STIME", "value": $("#All_STIME").val() },
                               { "name": "ETIME", "value": $("#All_ETIME").val() },
                               { "name": "Link", "value": $("#All_Link").val() },
                               { "name": "TaskStatus", "value": $("#All_TaskStatus").val() }
                            );
                    },
                    aoColumns: [
                        //{ mDataProp: "TASKID" },
                        { mDataProp: "TASKTITLE" },
                        { mDataProp: "createtime" },
                        { mDataProp: "FINISHTIME" },
                        { mDataProp: "wfdname" },
                        {
                            mDataProp: function (data) {
                                var value;
                                if (data.status == "2") {
                                    value = '已完成';
                                } else {
                                    value = '进行中';
                                }
                                return value;
                            }
                        },
                        { mDataProp: "USERNAME" },
                           {
                               mDataProp: function (data) {
                                   var del = "<a class='btn_ico_a_delete' href='#' onclick=\"DeleteShow('" + data.TASKID + "')\"><img src='/Images/btnimage/edit.png' class='btn_ico_image' />删除</a>";
                                   var edit = "<a class='btn_ico_a_look' href='/Task/TaskDetail?ID=" + data.TASKID + "&WFSAID=" + data.wfsaid + "&WFSID=" + data.wfsid + "&WFDID=" + data.wfdid + "&pathName=2'><img src='/Images/btnimage/look.png' class='btn_ico_image' />查看</a>";
                                   if (data.userid==userid) {
                                       return edit+"  "+del;
                                   }else {
                                       return edit;
                                   }
                                 

                                   
                               }, "sClass": "center"
                           }

                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }
        }
        function DeleteShow(id){
            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                $.ajax({
                    type: 'GET',
                    url: '/Task/DeleteOATask?random=' + Math.random(),
                    data: { TASKID: id },
                    success: function (data) {
                        if (data == "删除成功") {
                            layer.alert(data, {
                                icon: 1,
                                skin: 'layer-ext-seaning'
                            }, function (layer) {
                                location.href = "/Task/Index";
                            });
                        } else {
                            layer.alert(data, {
                                icon: 0,
                                skin: 'layer-ext-seaning'
                            });
                        }
                    }
                })
            }, function () {
                layer.close();
            });
        
        }

        function All_Search() {
            oTable1.fnPageChange('first', true);
            oTable1.fnClearTable(false);
        }

     
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "SelectUserNames" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
                hideMenu();
            }
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("#menuCheck").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }

        //添加公告文件
        function AddAfterFile() {
            $("#AddAfterFile").after("<div style='margin: 20px 0px;'><input name='AddFile" + Math.random(10000, 99999) + "' type='file'  value='' /><a style='color: red;' onclick='DeleteFile(this);'>删除</a></div>");
        }

        //删除公告文件
        function DeleteFile(obj) {
            $(obj).parent().remove();
        }

        function validate_form(thisform) {
            with (thisform) {
                if (validate_required(SelectUserIds, "任务人员不能为空!") == false)
                { SelectUserIds.focus(); return false }
                if (validate_required(TASKTITLE, "任务名称不能为空!") == false)
                { TASKTITLE.focus(); return false }
                if (validate_required(TASKCONTENT, "任务内容不能为空!") == false)
                { TASKCONTENT.focus(); return false }
                if ($("#radiovalue").val() == "manual" && $("#manualcontent").val() == "") {
                    layer.alert("发送内容不能为空!", {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                }
                else { return true }
            }
        }
        function validate_required(field, alerttxt) {
            with (field) {
                if (value == null || value == "") {
                    layer.alert(alerttxt, {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false
                }
                else { return true }
            }
        }
        function validate_select(fieId, alerttxt) {
            with (fieId) {
                if (value == IndexStr(value)) {
                    layer.alert(alerttxt, {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    }); return false
                }
                else { return true }
            }
        }
        function redio_onclick(id) {
            if (id == "default") {
                $("#manualcontent").val("");
                document.getElementById("manualcontent").style.display = "none";
                document.getElementById("defaulttemplate").style.display = "";
            } else if (id == "manual") {
                document.getElementById("manualcontent").style.display = "";
                document.getElementById("defaulttemplate").style.display = "none";
            }
            $("#radiovalue").val(id);
        }

        function goback() {
            var hid = $("#hid_default").val();
            if (hid != null && hid != "" && hid != undefined) {
                location.href = '/OA_Default/Index';
            }
            else {
                location.href = '/Task/Index?PageNum=1';
            }
        }
    </script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>任务</li>
        </ul>
    </div>
    <div class="formbody">
        <div id="usual1" class="usual">
            <div class="itab">
                <ul>
                    <li><a href="#tab2" class="selected">添加任务</a></li>
                    <li><a href="#tab1" >待办列表</a></li>
                    <li><a href="#tab3">全部任务</a></li>
                    
                </ul>
            </div>

            <div id="tab1" class="tabson">
                <ul class="seachform">
                    <li>
                        <label>任务标题：</label>
                        <input name="Name" id="Name" type="text" class="dfinputs" style="width: 130px; height: 32px;" />
                    </li>
                    <li>
                        <label style="width: 105px;">任务发布时间：</label>
                        <input id="STIME" type="text" readonly="readonly" class="dfinputs" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1))" style="width: 110px;height:32px;" />
                        <label style="width: 10px;">至</label><input id="ETIME" type="text" readonly="readonly" class="dfinputs" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddDays(-1))" style="width: 100px;height:32px;" />
                    </li>
                    <li>
                        <label>任务环节：</label>
                        <select id="Link" class="dfinputs" style="width: 132px; height: 35px;">
                            <option selected="selected">请选择</option>
                            <option value="20160517094110007">科室派遣</option>
                            <option value="20160517094110002">社区主任派遣</option>
                            <option value="20160517094110003">队员处理</option>
                            <option value="20160517094110004">社区主任审核</option>
                            <option value="20160517094110005">科室审核</option>
                            <option value="20160517094110008">党政办审核</option>
                            @*<option value="20160517094110006">结束</option>*@
                        </select>
                    </li>
                    <li>
                        <label>任务状态：</label>
                        <select id="TaskStatus" class="dfinputs" style="width: 132px; height: 35px;">
                            <option selected="selected">请选择</option>
                            <option value="2">已完成</option>
                            <option value="1">进行中</option>
                        </select>
                    </li>
                    <li>
                        <input name="" type="button" class="sure" onclick="Search()" value="查询" />
                    </li>
                </ul>
                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="TaskTableList">
                        <thead>
                            <tr>
                                @*<th>任务编号</th>*@
                                <th>任务标题</th>
                                <th>发布时间</th>
                                <th>完成期限</th>
                                <th>环节名称</th>
                                <th>是否完成</th>
                                <th>发起人</th>
                                <th style="width: 150px;">操作</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

            <div id="tab3" class="tabson">
                <ul class="seachform">
                    <li>
                        <label>任务标题：</label>
                        <input name="All_Name" id="All_Name" type="text" class="dfinputs" style="width: 130px; height: 32px;" />
                    </li>
                    <li>
                        <label style="width: 105px;">任务发布时间：</label>
                        <input id="All_STIME" type="text" readonly="readonly" class="dfinputs" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1))" style="width: 110px;height:32px;" />
                        <label style="width: 10px;">至</label><input id="All_ETIME" type="text" readonly="readonly" class="dfinputs" data-date-format="yyyy-mm-dd" value="@string.Format("{0:yyyy-MM-dd}", new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddMonths(1).AddDays(-1))" style="width: 100px;height:32px;" />
                    </li>
                    <li>
                        <label>任务环节：</label>
                        <select id="All_Link" class="dfinputs" style="width: 132px; height: 35px;">
                            <option selected="selected">请选择</option>
                            <option value="20160517094110007">科室派遣</option>
                            <option value="20160517094110002">社区主任派遣</option>
                            <option value="20160517094110003">社工处理</option>
                            <option value="20160517094110004">社区主任审核</option>
                            <option value="20160517094110005">科室审核</option>
                            <option value="20160517094110008">党政办审核</option>
                            <option value="20160517094110006">结束</option>
                        </select>
                    </li>
                    <li>
                        <label>任务状态：</label>
                        <select id="All_TaskStatus" class="dfinputs" style="width: 132px; height: 35px;">
                            <option selected="selected">请选择</option>
                            <option value="2">已完成</option>
                            <option value="1">进行中</option>
                        </select>
                    </li>
                    <li>
                        <input name="" type="button" class="sure" onclick="All_Search()" value="查询" />
                    </li>
                </ul>
                <div style="clear: both; margin-top: 10px;" class="tableListDiv">
                    <table class="tablelist" id="All_TaskTableList">
                        <thead>
                            <tr>
                                @*<th>任务编号</th>*@
                                <th>任务标题</th>
                                <th>发布时间</th>
                                <th>完成期限</th>
                                <th>环节名称</th>
                                <th>是否完成</th>
                                <th>发起人</th>
                                <th style="width: 150px;">操作</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>


            <div id="tab2" class="tabson">
                <form method="post" enctype="multipart/form-data" action="/Task/Add" onsubmit="return validate_form(this)" target="hidden_frame" id="EventReport">
                    <ul class="forminfo">
                        <li>
                            <label>任务人员<b>*</b></label>
                            <div class="col-sm-9 col-lg-10 controls" style="margin-left: 100px;">
                                 <textarea name="SelectUserNames" id="SelectUserNames" style="height: 64px; width: 700px;" rows="10" cols="10" type="text" class="dfinputs" placeholder="请选择人员" onclick="showMenu();" onfocus="this.blur();"></textarea>
                              @*  <input name="SelectUserNames" id="SelectUserNames" class="dfinputs" type="text" placeholder="请选择任务人员" onclick="showMenu();" onfocus="this.blur();" />*@@*<label  style="text-align:center;">手工输入号码</label>*@<input name="manualphones" id="manualphones" type="hidden" class="dfinputs" value="" placeholder="每个手机号码之间用“,”逗号隔开" />
                                <br />
                                <span class="error_FromUserName"></span>
                            </div>
                            <input type="hidden" id="SelectUserIds" name="SelectUserIds" value="" />
                             <input type="hidden" id="phones" name="phones" value="" />
                        </li>
                        <li>
                            <label>任务名称<b>*</b></label>
                            <input name="TASKTITLE" id="TASKTITLE" type="text" class="dfinputs" value="" placeholder="请输入任务名称" />
                        </li>


                        <li>
                            <label>完成期限<b>*</b></label>
                            <input type="text"  id="FINISHTIME" readonly="readonly" name="FINISHTIME" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" class="dfinputs" />
                        </li>
                        <li>
                            <label>任务内容<b>*</b></label>
                            <textarea id="TASKCONTENT" name="TASKCONTENT" class="dfinputs" style="width: 700px; height: 130px;" placeholder="请输入任务内容"></textarea>
                        </li>
                        <li>
                            <label style="float:left">重要程度<b>*</b></label>
                            <div style="float:left;margin-top:10px;">
                                <input type="radio" name="type_LX" value="1" checked="checked" /><span style="margin-left: 5px;">一般</span>
                                <input type="radio" name="type_LX" value="2" id="ZY_radio" style="display: none" /><span id="ZY_span" style="margin-left: 5px; display: none">重要</span>
                                <input type="radio" name="type_LX" value="3" id="TJ_radio" style="display: none" /><span id="TJ_span" style="margin-left: 5px; display: none">特急</span>
                            </div>
                        </li>
                        <li>
                            <label>上传附件</label>
                            <div id="showfile" style="margin-left: 90px;">
                                <div id="AddAfterFile" class="addfilebtn" onclick="AddAfterFile();">添加</div>
                            </div>
                        </li>
                         <li>
                            <label>短信提示</label>
                            <label style="width: 80px">
                                <input id="default" name="radio" type="radio" class="dcheckbox" style="margin-top: 10px;" value="default" checked onclick="redio_onclick('default')" /><span>默认模板</span></label>
                            <label style="width: 80px">
                                <input id="manual" name="radio" type="radio" class="dcheckbox" style="margin-top: 10px;" value="manual" onclick="redio_onclick('manual')" /><span>手工输入</span></label>@* <input id="manualcontent" name="manualcontent" type="text" class="dfinputs" style="display: none" placeholder="请输入发送内容" />*@
                           

                        </li>
                        <li id="template_li" >
                            <label>&nbsp;</label>
                             <textarea id="manualcontent" name="manualcontent" class="dfinputs" placeholder="请输入模板内容" style="display:none;width: 700px; height: 80px"></textarea>
                             <textarea id="defaulttemplate" name="defaulttemplate"  class="dfinputs" readonly="readonly" style="width: 700px; height: 80px;color: #8e8e8e;">您有一个任务【XXXX】已发送至您的OA系统，完成期限是【XXXX-XX-XX XX:XX】，请注意查看  【发送人：XXX】</textarea>
                             <input type="hidden" name="radiovalue" id="radiovalue" value="default"/>
                        </li>
                        <li>
                            <input type="hidden" id="SendMessages" name="SendMessages" value="2" />
                            <input type="hidden" id="IMPORTANT" name="IMPORTANT" value="1" />
                            <label>&nbsp;</label>
                            <input name="" type="submit" class="sure" value="确  认" />
                            <input type="button" class="sure" value="返  回" onclick="goback()" />
                        </li>

                    </ul>
                </form>
            </div>
        </div>
    </div>
    <iframe name='hidden_frame' id="hidden_frame" style="display: none"></iframe>
    <div id="menuContent" class="menuContent" style="display: none; position: absolute; z-index: 99999999;">
        <ul id="chkboxTree" class="ztree" style="margin-top: 0; width: 300px; height: 300px; border: 1px solid #cdcdcd; background-color: rgb(255, 255, 255); color: #393939; overflow-y: scroll;"></ul>
    </div>
      <input type="hidden" id="hid_default" />
    @Html.Hidden("UnitID")
    <input type="hidden" value="@ZGM.Web.SessionManager.User.UserID" id="hid_userid"/>

    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>
</html>
