@model Web.ViewModels.CaseViewModels.ViewModel133
@using Taizhou.PLE.Model.CaseWorkflowModels

@{
    Taizhou.PLE.Model.CaseWorkflowModels.CaseForm wmCaseForm = ViewBag.CaseForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form101 wmForm1 = wmCaseForm.FinalForm.Form101;
    Taizhou.PLE.Model.CaseWorkflowModels.Form102 wmForm2 = wmCaseForm.FinalForm.Form102;
    Taizhou.PLE.Model.CaseWorkflowModels.Form107 wmForm7 = wmCaseForm.FinalForm.Form107;
    Taizhou.PLE.Model.CaseWorkflowModels.Form116 wmForm16 = wmCaseForm.FinalForm.Form116;
    Taizhou.PLE.Model.CaseWorkflowModels.Form117 wmForm17 = wmCaseForm.FinalForm.Form117;
    Taizhou.PLE.Model.CaseWorkflowModels.Form118 wmForm18 = wmCaseForm.FinalForm.Form118;
    Taizhou.PLE.Model.CaseWorkflowModels.Form119 wmForm19 = wmCaseForm.FinalForm.Form119;
    Taizhou.PLE.Model.CaseWorkflowModels.Form120 wmForm20 = wmCaseForm.FinalForm.Form120;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=GZRQ]").datetimepicker();
    });
</script>
<form id="workflow33Form" class="workflowForm" method="post" enctype="multipart/form-data" action="/Workflow133/Commit">
    <div class="title">
        制作处罚决定书  
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto;">
        <tr>
            <th colspan="2">主办队员意见</th>
            <td colspan="9">@Html.TextAreaFor(model => wmForm16.ZBDYYJ, new { style = "height:60px", disabled = "disabled" })</td>
        </tr>
        <tr>
            <th colspan="2">协办队员意见</th>
            <td colspan="9">@Html.TextAreaFor(model => wmForm17.XBDYYJ, new { style = "height:60px", disabled = "disabled" })</td>
        </tr>
        <tr>
            <th colspan="2">办案单位意见</th>
            <td colspan="9">@Html.TextAreaFor(model => wmForm18.BADWYJ, new { style = "height:60px", disabled = "disabled" })</td>
        </tr>
        <tr>
            <th colspan="2">法制部门意见</th>
            <td colspan="9">@Html.TextAreaFor(model => wmForm19.FZBMYJ, new { style = "height:60px", disabled = "disabled" })</td>
        </tr>
        <tr>
            <th colspan="2">分管领导意见</th>
            <td colspan="9">@Html.TextAreaFor(model => wmForm20.FGLDYJ, new { style = "height:60px", disabled = "disabled" })</td>
        </tr>
        <tr>
            <th colspan="2">文书意见</th>
            <td colspan="9">@Html.TextAreaFor(model => model.BZSM, new { style = "height:60px" })</td>
        </tr>
         <tr>
            <th colspan="2">短信提醒</th>
            <td colspan="10">
                <input type="checkbox" id="FSDX" name="FSDX" value="" />
                <label id="SMSNameAndSMSNum">@wmForm2.ZBDY.UserName 手机号：</label>
                <label id="SMSUserNameAndNum"></label>
                @Html.Hidden("ZBDYID", wmForm2.ZBDY.UserID)
                @Html.Hidden("ZBDYNAME", wmForm2.ZBDY.UserName)
            </td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <div class="clear"></div>
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
</form>
