@{
    
    Layout = null;
}
@using ZGM.Model
@model ZGM.Model.QWGL_CARTASKS


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditUserTask</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/bootstrap/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/assets/zTree/jquery.ztree.core-3.5.js"></script>
    <script src="~/Scripts/js/IntegratedService/CaseManagement/Workflow/workflow.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>

    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="~/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        .btn_AddandSubtract {
            width: 30px;
            float: left;
            height: 30px;
            border: 1px solid #BFBFBF;
            font-size: 15px;
            font-family: 'Microsoft Himalaya';
            cursor: pointer;
            color: #E5312A;
            font-weight: bold;
        }

        .text_Style {
            width: 50px;
            height: 25px;
            border-radius: 5px;
            float: left;
            background-color: #0093DB;
            color: white;
        }

        .btn_ShowOrHide {
            background: #555;
            border: 0px;
            color: white;
            float: left;
        }
        a, a:focus {
            text-decoration: none;
            color: #000;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            var Areaminvalue = document.getElementById("areaId1");
            
            var url = window.location.href;
            var type = url.substring(url.length - 4, url.length)
            $("input[name=StartDate]").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });
            $("input[name=EndDate]").datepicker({ changeMonth: true, changeYear: true, showMonthAfterYear: true, showButtonPanel: true });

            $("input[readOnly]").keydown(function (e) {
                e.preventDefault();
            });
            $("textarea[readOnly]").keydown(function (e) {
                e.preventDefault();
            });

            $("#goback").click(function () {
                var unitID = $("#UnitID").val();
                location.href = '/QWGLCar/VehicleTask';
            });

            var id = $("#id").val();
            var date = $("#date").val();
       
            $.ajax({
                url: "/QWGLCar/getZDMember",
                type: "post",
                data: { id: id, date: date, isEdit: 1 },
                success: function (data) {
                    $("#getZDMember").html(data);
                },
                error: function (mes) {
                    layer.alert('操作失败!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    // alert("操作失败");
                }
            });
            $.ajax({
                url: "/QWGLCar/getWeek",
                type: "post",
                data: { id: id, date: date ,isEdit:1},
                success: function (data) {
                    $("#WEEK").html(data);
                },
                error: function (mes) {
                    layer.alert('操作失败!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //alert("操作失败");
                }
            });
            var chkXCQY = document.getElementsByName("AREAID");
            var chkValue = document.getElementById("areaId1").value;
            var chkValueof = chkValue.split(",");
            for (var i = 0; i < chkValueof.length; i++) {
                for (var j = 0; j < chkXCQY.length; j++) {
                    if (chkXCQY[j].value == chkValueof[i]) {
                        chkXCQY[j].checked = true;
                    }
                }
            }

       

        
            var valueok = document.getElementById("IsOrNo").value;
            if (valueok == "1") {
                document.getElementById("Issure").style.display = "none";
            } else {
                document.getElementById("Issure").style.display = "block";
            }
            $("form").submit(function () {
                document.getElementById("XCQYDT").value = "显示地图";
                $("#XCQYDT").attr("onclick", "GetShowOrHide(this,'show','showmap')");
                document.getElementById("showmap").style.display = 'none';
                var StartDate = document.getElementById("SDATE").value;
                if (StartDate != null && StartDate != "") {
                    document.getElementById("strTime").value = StartDate;
                } else {
                    layer.alert('请选择开始时间!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //alert("请选择开始时间!");
                    return false;
                }
                var endTime = document.getElementById("EDATE").value
                if (endTime != null && endTime != "") {
                    document.getElementById("EdTime").value = endTime;
                } else {
                    layer.alert('请选择开始时间!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //  alert("请选择开始时间!");
                    return false;
                }
                var checkboxAreaArrayCL = new Array();
                var checkboxArea = document.getElementsByName("ZDMemberIDs");
                var checkedDY = 0;
                for (var i = 0; i < checkboxArea.length; i++) {
                    if (checkboxArea[i].checked == true) {
                        checkedDY = 1
                        checkboxAreaArrayCL.push(checkboxArea[i].value);
                    }
                }
                if (checkedDY == 0) {
                    layer.alert('请选择车辆!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //alert("请选择车辆!");
                    return false;
                }
                var checkboxAreaArrayXQ = new Array();
                var checkboxArea = document.getElementsByName("weeks");
                var checkedXQ = 0;
                for (var i = 0; i < checkboxArea.length; i++) {
                    if (checkboxArea[i].checked == true) {
                        checkedXQ = 1
                        checkboxAreaArrayXQ.push(checkboxArea[i].value);
                    }
                }
                if (checkedXQ == 0) {
                    layer.alert('请选择星期!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    // alert("请选择星期!");
                    return false;
                }
                var checkboxAreaArray = new Array();
                var checkboxArea = document.getElementsByName("AREAID");
                var checkedflag = 0;
                for (var i = 0; i < checkboxArea.length; i++) {
                    if (checkboxArea[i].checked == true) {
                        checkedflag=1
                        checkboxAreaArray.push(checkboxArea[i].value);
                    }
                }
                if (checkedflag==0) {
                    layer.alert('请选择区域!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    //alert("请选择区域!");
                    return false;
                }
                document.getElementById("AreaAddressArray").value = checkboxAreaArray;
              
                var JobContent = $("#TASKCONTENT").val();

                if (JobContent == null || JobContent == "") {
                    layer.alert('工作内容不能为空!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                    return false;
                }
            });
        });
      
        function changeAreaMap(AREAID) {
            document.getElementById("showmap").style.display = 'block';
            $("#AreaAddressArray").val(AREAID.id);
            setTimeout(function () {
                var mapCtrl = document.getElementById("mapCtrl1").content.MapCtrl;
                mapCtrl.Clears();
                var Geometry =AREAID.value;
                mapCtrl.AddPolygon("Green", Geometry);
            }, 1000)

        }

        function mapInited() {
            setTimeout(function () { 
               
                var mapCtrl1 = document.getElementById("mapCtrl1").content.MapCtrl;
                var Geometry1 = $("#listoneGEOMETRY").val();
                mapCtrl1.AddPolygon("Green", Geometry1);
            }, 1000)
        }

        function DeleteUserTask(id) {

            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                var date = $("#date").val();
                $.ajax({
                    url: "/QWGLCar/DeleteUserTask?id=" + id + "&date=" + date,
                    type: "get",
                    success: function (data) {
                        layer.alert("删除成功!", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                            layer.close(index);
                            location.href = "/QWGLCar/VehicleTask";
                        });
                       
                        
                    },
                    error: function (mes) {
                        layer.alert('操作失败!', {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        });
                    }
                });
            }, function () {
                layer.close();
            });
        }
    </script>

    @*显示隐藏地图*@
    <script type="text/javascript">
        function GetShowOrHide(o, otype, displayitem) {
            if (otype == "show") {
                o.value = "隐藏地图";
                o.setAttribute("onclick", "GetShowOrHide(this,'hide','" + displayitem + "')");
                document.getElementById(displayitem).style.display = 'block';

            } else if (otype == 'hide') {
                o.value = "显示地图";
                o.setAttribute("onclick", "GetShowOrHide(this,'show','" + displayitem + "')");
                document.getElementById(displayitem).style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <div class="place" style="background-image: url(/Images/images/righttop.gif)">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/QWGL/TeamTask">车辆任务</a></li>
            <li>车辆巡查任务管理</li>
        </ul>
    </div>
    <div class="box box-black  formbody" style="margin-top: 0px;">
        <div style="margin-bottom: 10px">
            <h2 style="font-size: 32px; text-align: center">修改任务</h2>
        </div>
    </div>
    <form id="AddRouteForm" name="AddRouteForm" class="validation-form form-horizontal form-bordered form-row-stripped" method="post" action="/QWGLCar/CommitEditUserTask" enctype="multipart/form-data">
        <input type="hidden" id="id" name="id" value="@Request["id"]" />
        <input type="hidden" id="date" name="date" value="@Request["date"]" />
        <input type="hidden" name="AreaAddressArray" id="AreaAddressArray"  value="@ViewBag.listoneid"/>
        <input type="hidden" name="StrTime" id="strTime" value="@Model.SDATE" />
        <input type="hidden" name="EdTime" id="EdTime"  value=" @Model.EDATE" />
        <input type="hidden" name="Areaminvalue" id="Areaminvalue" value="@ViewBag.minAREAID" />
        <input type="hidden" name="IsOrNo" id="IsOrNo" value="@ViewBag.trueUpdate" />
        <table class="table table-bordered">
            <tr>
                <th style="text-align: center;">车辆选择
                </th>
                <td colspan="3">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <div id="getZDMember">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="text-align: center; padding-top: 15px;">开始日期
                </th>
                <td>
                    <div class="form-group" style="margin-bottom: 5px;">
                        <div>
                            <input type="text" disabled="disabled" id="SDATE" name="SDATE" class="small" value=" @Model.SDATE" />
                        </div>
                    </div>
                </td>
                <th style="padding-left: 30px; padding-top: 15px;">结束日期
                </th>
                <td colspan="3">
                    <div>
                        <div>
                            <input type="text" disabled="disabled" id="EDATE" name="EDATE" class="small" value=" @Model.EDATE" />

                            <label class="help-inline" for="date" id="dateMsg" style="color: red"></label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="text-align: center;">选择星期
                </th>
                <td colspan="3">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <div id="WEEK">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="text-align: center;">巡查区域
                </th>
                <td colspan="3">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <div>

                               @foreach (var i in @ViewBag.areaList)
                            {
                                if (i.AREAID == ViewBag.listoneid)
                                {
                                <input type="radio" style="vertical-align: -2px;" name="AREAID" value="@(i.GEOMETRY)" onclick="changeAreaMap(this)" id="@(i.AREAID)" checked="checked"/><strong>@(i.AREANAME)</strong>
                                    
                                }
                                else
                                {
                                <input type="radio" style="vertical-align: -2px;" name="AREAID" value="@(i.GEOMETRY)" onclick="changeAreaMap(this)" id="@(i.AREAID)"/><strong>@(i.AREANAME)</strong>
                                }


                            }

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="text-align: center;">区域位置
                </th>
                <td colspan="3">
                    <input type="button" id="XCQYDT" class="btn_ShowOrHide" value="隐藏地图" onclick="GetShowOrHide(this, 'hide', 'showmap')" />
                    <div id="showmap" class="form-group" style="margin-bottom: 5px;">
                       <div style="margin-bottom: 45px"> 
                                     <input type="hidden" value="@ViewBag.listoneGEOMETRY" name="listoneGEOMETRY" id="listoneGEOMETRY" />
                                    <div id="silverlightControlHost" style="height: 322px;">
                                         <object id="mapCtrl1" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="350px" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=@ZGM.Web.ConfigManager.MapUrl,X1=@ZGM.Web.ConfigManager.MapLonX1,Y1=@ZGM.Web.ConfigManager.MapLatY1,X2=@ZGM.Web.ConfigManager.MapLonX2,Y2=@ZGM.Web.ConfigManager.MapLatY2,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48,fileUrl=" />
                                        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                    </div>
                                </div>
                    </div>
                </td>
            </tr>
            <tr style="line-height: 80px;">
                <th style="text-align: center;">工作内容
                </th>
                <td colspan="3" style="height: 80px;">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <div>
                            <textarea class="input-xlarge" style="height: 80px; width: 99%" name="TASKCONTENT" id="TASKCONTENT">@Model.TASKCONTENT</textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="height: 80px;">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <div style="margin-left: 10%;" id="AppendReturn">
                            <input type="submit" class="btn btn-primary" id="Issure" style="float: left;" value="确定" />
                            <input type="button" class="btn btn-primary" style="float:left; background:red;" onclick    ="DeleteUserTask('@Model.CARID    ')" style="background-color:red;" value="删除"/>

                            <input type="button" style="margin-left: 2px; background: #555" class="btn btn-primary" id="goback" value="返回" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </form>
</body>
</html>
