@model Web.ViewModels.VMRoute
@{
    Layout = "~/Views/IntegratedService/ScheduleManagement/_LayoutScheduleManagement.cshtml";
}

@section FootScripts_ScheduleManage{
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[readOnly]").keydown(function (e) {
                e.preventDefault();
            });
            $("textarea[readOnly]").keydown(function (e) {
                e.preventDefault();
            });
            $("#RouteName").click(function () {
                $("#routeNameDiv").removeClass("error").addClass("success");
                $("#routeName").text("");
            });

            $("form").submit(function () {
                var routeName = $("#RouteName").val();

                if (routeName == null || routeName == "") {
                    $("#routeNameDiv").removeClass("success").addClass("error");
                    $("#routeName").text("必填字段");
                    return false;
                }
            });
        });

        function mapInited() {
            setTimeout(function () {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                var Geometry = $("#Geometry").val();
                mapCtrl.AddPolyline("" + Geometry + "");
            }, 1000)
        }

        function mapDraw(s) {
            var a = $("#Geometry").val();
            a = s;
            $("#Geometry").val(a);
        }

        function mapClear() {
            var a = "";
            $("#Geometry").val(a);
        }
    </script>
}

@section BreadcrumbSection{
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li><a href="javascript:void(0)"><i class="icon-home"></i>综合业务</a></li>
            <li>></li>
            <li><a href="javascript:void(0)">巡查监管</a></li>
            <li>></li>
            <li class="active">车辆巡查路线管理</li>
        </ul>
    </div>
}

<div class="box box-black" style="margin-top: 0px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>修改路线
    </div>
    <div class="box-content">
        <form id="EditRouteForm" name="EditRouteForm" class="validation-form form-horizontal form-bordered form-row-stripped" method="post" action="/CarPatrolRoute/CommitEditRoute" enctype="multipart/form-data">

             <table class="table table-bordered">
                 <tr>
                    <th style="text-align: center; width:10%;">所属大队
                    </th>
                    <td style="width:40%;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div>
                               @ViewBag.unitList
                            </div>
                        </div>
                    </td>
                    <th style="text-align: center; width:10%;">所属中队
                    </th>
                    <td style="width:40%;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div>
                                @ViewBag.unitName
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center; padding-top:15px;">路线名称
                    </th>
                    <td colspan="3">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="line-height:0px;">
                                 <input type="text" name="RouteName" id="RouteName" placeholder="Text input" style="width:98.5%;" class="input-xlarge"   value="@Model.RouteName">
                    <label class="help-inline" for="RouteName" id="routeName"></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">路线说明
                    </th>
                    <td colspan="3">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div>
                                 <textarea class="input-xlarge" style="height: 80px; width:98.5%;" name="RouteDescription" id="RouteDescription">@Model.RouteDescription</textarea>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: center;">地理位置
                    </th>
                    <td colspan="3">
                        <input type="hidden" name="Geometry" id="Geometry" value="@Model.Geometry">
                        <div class="form-group" style="margin-bottom: 5px;">
                          <div id="silverlightControlHost" style="height:332px;">
                                    <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                       
                                       
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://tmap.tzsjs.gov.cn/services/tilecache/chinaemap,X1=121.224811199991,Y1=28.6877265156077,X2=121.626806691116,Y2=28.6114504480609,Mode=3,PinUrl=/Images/pin.png,OffsetX=24,OffsetY=48" />
                                        a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                    <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                </div>
                        </div>
                    </td>
                </tr>
                
               <tr>
                    <td colspan="4" style="height: 80px;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div style="margin-left:10%;">
                              <button type="submit" class="btn btn-primary">确定</button>
                <a style=" margin-left:2px;" href="@Url.Content("~/CarPatrolRoute/Index")" class="btn">返 回</a>
                            </div>
                        </div>
                        <input type="hidden" id="RouteID" name="RouteID" value="@Model.RouteID" />
                    </td>
                </tr>

            </table>

           @* <div class="control-group">
                <label class="control-label">所属大队</label>
                <div class="controls">*@
           @*         @Html.DropDownListFor(model => model.SSDDID, ViewBag.unitList as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "width:284px;", disabled = "disabled" })*@
                   @* <label style="margin-top:4px;">@ViewBag.unitList</label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">所属中队</label>
                <div class="controls">*@
                  @*  @Html.DropDownListFor(model => model.SSZDID, ViewBag.unitList as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "width:284px;", disabled = "disabled" })*@
                     @* <label style="margin-top:4px;">@ViewBag.unitName</label>
                </div>
            </div>
            <div class="control-group" id="routeNameDiv">
                <label for="RouteName" class="control-label">路线名称</label>
                <div class="controls">
                    <input type="text" name="RouteName" id="RouteName" placeholder="Text input" class="input-xlarge" value="@Model.RouteName">
                    <label class="help-inline" for="RouteName" id="routeName"></label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">路线说明</label>
                <div class="controls">
                    <textarea class="input-xlarge" style="height: 80px;" name="RouteDescription" id="RouteDescription">@Model.RouteDescription</textarea>
                </div>
            </div>
             <input type="hidden" name="Geometry" id="Geometry" value="@Model.Geometry">
            <div class="control-group">
                <label class="control-label">地理位置</label>
                <div class="controls">
                  <div id="silverlightControlHost">
                                    <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="100%" width="100%">
                                        <param name="source" value="/ClientBin/MapCtrl.xap" />
                                        <param name="background" value="white" />
                                        <param name="minRuntimeVersion" value="5.0.61118.0" />
                                        <param name="autoUpgrade" value="true" />
                                       
                                       
                                        <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://www.arcgisonline.cn/ArcGIS/rest/services/ChinaOnlineCommunity/MapServer,X1=13521477,Y1=3481516,X2=13543503,Y2=3491300,Mode=4,PinUrl=/Images/pin.png,OffsetX=24,OffsetY=48" />*@
                                      @*<param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://tmap.tzsjs.gov.cn/services/tilecache/chinaemap,X1=121.224811199991,Y1=28.6877265156077,X2=121.626806691116,Y2=28.6114504480609,Mode=4,PinUrl=/Images/pin.png,OffsetX=24,OffsetY=48" />*@

                                        @*<a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                            <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                        </a>
                                    </object>
                                    <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                </div>
              </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">确定</button>
                <a style=" margin-left:2px;" href="@Url.Content("~/CarPatrolRoute/Index")" class="btn">返 回</a>
            </div>
            <input type="hidden" id="RouteID" name="RouteID" value="@Model.RouteID" />*@
        </form>
    </div>
</div>
