@model Web.ViewModels.VMFuntion

<div class="box box-black" style="margin-top: 0px;">
    <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
        <i class="icon-reorder" style="margin-right: 5px;"></i>修改功能项
    </div>
    <div class="box-content">
        <form id="EditUnitForm" name="EditFunctionForm" class="form-horizontal form-bordered form-row-stripped" method="post" action="/FunItemManagement/CommitEditFunction">
            <div class="control-group">
                <label for="UnitName" class="control-label">功能项名称</label>
                <div class="controls">
                   @Model.Name
                </div>
            </div>
            <div class="control-group">
                <label for="UnitTypeID" class="control-label">代码</label>
                <div class="controls">
                   @Model.Code
                </div>
            </div>

            <div class="control-group">
                <label for="SeqNO" class="control-label">单位排序号</label>
                <div class="controls">
                    @Model.SeqNO
                </div>
            </div>

            <div class="control-group">
                <label for="URL" class="control-label">功能项URL:</label>
                <div class="controls">
                   @Model.URL
                </div>
            </div>

            <div class="control-group">
                <label for="URL" class="control-label">状态:</label>
                <div class="controls">
                    @Html.DropDownListFor(model => model.StatusID, ViewBag.FunctionStatusList as IEnumerable<SelectListItem>, new { @class = "input-xlarge", style = "width:284px;",disabled="disabled" })
                </div>
            </div>

            <div class="control-group">
                <label for="URL" class="control-label">功能项图标(路径):</label>
                <div class="controls">
                    @Model.IconPath
                </div>
            </div>

            <div class="form-actions">
               
                <a class="btn" href="/FunItemManagement/Index?ParentFunctionID=@Model.ParentID">返 回</a>
            </div>
            @Html.Hidden("ParentID", Model.ParentID)
            @Html.Hidden("FunctionID", Model.FunctionID)
        </form>
    </div>
</div>


