@using Taizhou.PLE.Model.ZFSJWorkflowModel.ZFSJWorkflow
@model Taizhou.PLE.Model.ZFSJWorkflowModel.ZFSJWorkflow.Form104

@{
    Layout = null;
    Form101 form101 = (Form101)ViewBag.form101;
    Form102 form102 = (Form102)ViewBag.form102;
    Form103 form103 = (Form103)ViewBag.form103;
}
<style>
    table th {
        width: 10%;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }

    table tr td .form-group div {
        line-height: 30px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //CheckboxZSYDD();
        $("input[value='" + $("#FKYJ").val() + "']").prop("checked", "checked");
        $("#refuse").click(function () {
            $("#bc").val("2");
        });
        $("#QuestionDLID").change(function () {
            var questionDLID = $(this).val();
            $.get("/EnforceLaw/GetQuestionXL", { questionDLID: questionDLID },
                function (data) {
                    $("#QuestionXLID").empty();
                    $("#QuestionXLID").append("<option value=''>请选择小类</option>");
                    $.each(data, function (i, item) {
                        $("#QuestionXLID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });
                });
        });

        $("#ZFDD").change(function () {
            $.ajax({
                type: "POST",
                data: { UserID: $(this).val() },
                cache: false,
                async: false,
                url: "/ZFSJWorkflow4/GetUserPhoneByUserID",
                success: function (data) {
                    $("#PhoneNum").text(data);
                    $("#smsusernum").val(data);
                },
                error: function () {
                    alert("网络繁忙无法加载电话号码，请重试");
                    $("#PhoneNum").text("无");
                }
            });
        })
        $("#ZFDD").change();
        $.get("/EnforceLaw/GetQuestionXL", { questionDLID: $("#QuestionDLID").val() },
              function (data) {
                  $("#QuestionXLID").empty();
                  $("#QuestionXLID").append("<option value=''>请选择小类</option>");
                  $.each(data, function (i, item) {
                      if (item.Value == $("#strQuestionXLID").val()) {
                          $("#QuestionXLID").append("<option value='" + item.Value + "'  selected='selected'>" + item.Text + "</option>");
                      } else {
                          $("#QuestionXLID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                      }
                  });
              });

        $("#CLFSID").change(function () {
            var CLFSID = $(this).val();

            if (CLFSID == "2") {
                $("#anjuanBH").show();
            }
            else {
                $("#anjuanBH").hide();
            }
            $.get("/EnforceLaw/GetCCFS", { CLFSID: CLFSID },
                function (data) {
                    $("#CCFSID").empty();
                    $("#CCFSID").append("<option value=''>请选择</option>");
                    $.each(data, function (i, item) {
                        $("#CCFSID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });
                });
        });
        $.get("/EnforceLaw/GetCCFS", { CLFSID: $("#CLFSID").val() },
               function (data) {
                   $("#CCFSID").empty();
                   $("#CCFSID").append("<option value=''>请选择</option>");
                   $.each(data, function (i, item) {
                       if (item.Value == $("#BCCCFSID").val()) {
                           $("#CCFSID").append("<option value='" + item.Value + "' selected='selected'>" + item.Text + "</option>");
                       }
                       else {
                           $("#CCFSID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                       }
                   });
               });

        if ($("#CLFSID").val() == "2") {
            $("#anjuanBH").show();
        }
    });

    function goback() {
        window.history.go(-1);
    }

    function FormSubmit() {
        $("#btn-success").attr("disabled", "disabled");

        return true;
    }

    function mapInited() {
        setTimeout(function () {
            var DTMD = "@form101.DTWZ";
            if (DTMD) {
                DTMD = DTMD.replace('|', ',');
                var mapCtrl = document.getElementById("mapCom").content.MapCtrl;
                mapCtrl.AddMarker(DTMD);
            }
        }, 1000)
    }

</script>
<div class="row-fluid">
    <div class="span12" id="tabledata">
        <div class="tab-content">
            <div class="tab-pane active" id="detail">
                <form method="post" enctype="multipart/form-data" action="/ZFSJWorkflow4/Commit" id="ZFSJWorkflow4">
                    <div class="title" style="margin-bottom: 30px;">
                        指挥中心审核
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th style="text-align: center; line-height: 30px;">事件标题
                            </th>
                            <td style="line-height: 30px; width: 40%;">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @form101.EventTitle
                                    </div>
                                </div>
                            </td>
                            <th style="text-align: center; line-height: 30px;">事件来源
                            </th>
                            <td style="line-height: 30px; width: 40%;">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @ViewBag.EventSource
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px">相关联系人
                            </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @form101.XGLXR
                                    </div>
                                </div>
                            </td>
                            <th style="text-align: center; line-height: 30px">相关联系人电话
                            </th>
                            <td style="line-height: 30px; width: 40%">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @form101.XGLXRDH
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">事件地址
                            </th>
                            <td colspan="3">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @form101.EventAddress
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">事件内容
                            </th>
                            <td colspan="3">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @form101.Content
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">问题大类
                            </th>
                            <td style="line-height: 30px">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @ViewBag.QuestionDL
                                    </div>
                                </div>
                            </td>
                            <th style="text-align: center; line-height: 30px;">问题小类
                            </th>
                            <td style="line-height: 30px">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @ViewBag.QuestionXL
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">发现时间
                            </th>
                            <td style="line-height: 30px">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @form101.FXSJ
                                    </div>
                                </div>
                            </td>
                            <th style="text-align: center; line-height: 30px;">上报人员
                            </th>
                            <td style="line-height: 30px">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @form101.ProcessUserName
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">地理位置</th>
                            <td colspan="4" style="line-height: 30px; padding: 8px">
                                <div class="form-group">
                                    <div id="silverlightControlHost" style="width: 100%; height: 320px;">
                                        <object id="mapCom" data="data:application/x-silverlight-2," type="application/x-silverlight-2" style="width: 100%; height: 320px; margin-bottom: -5px;">
                                            <param name="source" value="/ClientBin/MapCtrl.xap" />
                                            <param name="onError" value="onSilverlightError" />
                                            <param name="background" value="white" />
                                            <param name="minRuntimeVersion" value="5.0.61118.0" />
                                            <param name="autoUpgrade" value="true" />
                                            @*<param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://www.arcgisonline.cn/ArcGIS/rest/services/ChinaOnlineCommunity/MapServer,X1=13518954.8851951,Y1=3485438.4251543,X2=13541927.6179195,Y2=3475859.38899982,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />*@
                                            <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://172.16.2.118/arcgis/rest/services/zhcg/MapServer,X1=354726.449142387,Y1=3304158.51172767,X2=362321.356817933,Y2=3301334.4558673,Mode=1,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />
                                            <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                                <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                            </a>
                                        </object>
                                        <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    @{
                        string form103ProcessUserName = "";
                        string form103CLSJ = "";
                        string form103ZFDYCLYJ = "";
                        string form103FKYJ = "";
                        if (form103 != null)
                        {
                            form103ProcessUserName = form103.ProcessUserName;
                            form103CLSJ = form103.CLSJ;
                            form103ZFDYCLYJ = form103.ZFDYCLYJ;

                            form103FKYJ = form103.FKYJ;

                            if (form103FKYJ == "my")
                            {
                                form103FKYJ = "满意";
                            }
                            if (form103FKYJ == "bmy")
                            {
                                form103FKYJ = "不满意";
                            }
                            if (form103FKYJ == "wflx")
                            {
                                form103FKYJ = "无法联系";
                            }
                        }
                    }

                    @if (form102 != null)
                    {
                        <table class="table table-bordered">
                            <tr>
                                <th colspan="4" style="font-weight: bold; height: 25px; font-size: 16px">指挥中心派遣</th>
                            </tr>
                            <tr>
                                <th style="text-align: center; line-height: 30px;">派遣意见</th>
                                <td colspan="3" style="height: 40px;">
                                    @form102.PQYJ
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: center; line-height: 30px;">派遣人</th>
                                <td style="line-height: 30px; width: 40%">
                                    @form102.ProcessUserName</td>
                                <th style="text-align: center; line-height: 30px;">派遣时间</th>
                                <td style="line-height: 30px; width: 40%;">
                                    @form102.PQSJ</td>
                            </tr>
                            @if (form102.THYJ != null)
                            { 
                                <tr>
                                    <th style="text-align: center;">执法队员<br />
                                        回退意见
                                    </th>
                                    <td colspan="3">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @form102.THYJ
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    }

                    <table class="table table-bordered">
                        <tr>
                            <th colspan="4" style="font-weight: bold; height: 25px; font-size: 16px">队员处理</th>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">处理意见</th>
                            <td colspan="3" style="height: 40px; width: 40%;">
                                @form103ZFDYCLYJ</td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">处理人</th>
                            <td style="line-height: 30px; width: 40%">
                                @form103ProcessUserName</td>
                            <th style="text-align: center; line-height: 30px;">处理时间</th>
                            <td style="line-height: 30px; width: 40%;">
                                @form103CLSJ</td>
                        </tr>
                        <tr>
                            <th style="text-align: center; line-height: 30px;">反馈意见
                            </th>
                            <td style="line-height: 30px" colspan="3">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    @form103FKYJ
                                </div>
                            </td>
                        </tr>
                        @if (!string.IsNullOrWhiteSpace(form103.THYJ))
                        { 
                            <tr>
                                <th style="text-align: center;">执法中队<br />
                                    回退意见
                                </th>
                                <td colspan="3">
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <div class="col-sm-9 col-lg-10 controls">
                                            @form103.THYJ
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                    <table class="table table-bordered">
                        <tr>
                            <th style="text-align: center; line-height: 30px;">审核意见</th>
                            <td colspan="3" style="height: 40px;">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        @Html.TextAreaFor(model => model.ZFZDZYJ, new { @style = "width: 98%; height: 100px;" })
                                    </div>
                                </div>

                            </td>
                        </tr>
                        @if (!string.IsNullOrWhiteSpace((string)ViewBag.THYJ))
                        { 
                            <tr>
                                <th style="text-align: center;">执法大队<br />
                                    回退意见
                                </th>
                                <td colspan="3">
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <div class="col-sm-9 col-lg-10 controls">
                                            @ViewBag.THYJ
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <th style="text-align: center; line-height: 30px;"></th>
                            <td colspan="3">
                                @Html.Hidden("bc")
                                @Html.Hidden("WIID")
                                @Html.Hidden("AIID")
                                @Html.Hidden("ADID")
                                @Html.Hidden("THYJ")
                                <div class="form-group" style="margin-bottom: 5px; margin-left: 10px;">
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <input id="refuse" type="submit" class="btn btn-error" value="回  退">
                                        <input type="submit" class="btn btn-success" value="提　交" onsubmit="return FormSubmit();">
                                        <input type="button" onclick="goback();" value="返回" style="margin-left: 5px;" class="btn goBack" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 0px; line-height: 0px">
                            <th style="border: none; padding: 0px;"></th>
                            <td style="border: none; padding: 0px;"></td>
                            <th style="border: none; padding: 0px;"></th>
                            <td style="border: none; padding: 0px;"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("strQuestionXLID")
@Html.Hidden("BCCCFSID")



