@model Taizhou.PLE.Model.ZFSJWorkflowModel.ZFSJWorkflow.Form101
@using Taizhou.PLE.Model.ZFSJWorkflowModel.ZFSJWorkflow

@{
    Layout = null;
    FeedBackForm feedbackForm = (FeedBackForm)ViewBag.FeedBackForm;
    
}

<style>
    table th {
        width: 80px;
    }

    table tr input.large {
        width: 98%;
    }

    table tr input.small {
        width: 94%;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#veto").click(function () {
            $("#bc").val("1");
            $("#ZFSJWorkflow1")[0].submit();

        });
        $("#refuse").click(function () {
            $("#bc").val("2");
            // alert($("#bc").val);
            $("#ZFSJWorkflow1")[0].submit();
        });

        $("#QuestionDLID").change(function () {
            var questionDLID = $(this).val();

            $.get("/EnforceLaw/GetQuestionXL", { questionDLID: questionDLID },
                function (data) {
                    $("#QuestionXLID").empty();
                    $("#QuestionXLID").append("<option value=''>请选择小类</option>");
                    $.each(data, function (i, item) {
                        $("#QuestionXLID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                    });
                });
        });

        $.get("/EnforceLaw/GetQuestionXL", { questionDLID: $("#QuestionDLID").val() },
              function (data) {
                  $("#QuestionXLID").empty();
                  $("#QuestionXLID").append("<option value=''>请选择小类</option>");
                  $.each(data, function (i, item) {
                      if (item.Value == $("#strQuestionXLID").val()) {
                          $("#QuestionXLID").append("<option value='" + item.Value + "'  selected='selected'>" + item.Text + "</option>");
                      } else {
                          $("#QuestionXLID").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                      }
                  });
              });
    });

    //地图描点
    var geometry = "";
    function mapInited() {
        setTimeout(function () {
            var DTMD = $("input[name=DTWZ]")[0].value;
            DTMD = DTMD.toString().split("|")[0] + "," + DTMD.toString().split("|")[1];
            if (DTMD) {
                var mapCtrl = document.getElementById("mapCtrl").content.MapCtrl;
                mapCtrl.AddMarker(DTMD);
            }
        }, 1000)
    }
    //地图坐标点
    function mapDraw(s) {
        geometry = s;
        document.getElementById("DTWZ").value = geometry;
    }


    function goback() {
        window.history.go(-1);
    }

    function FormSubmit() {
        $("#btn-success").attr("disabled", "disabled");

        return true;
    }

</script>
<div class="row-fluid">
    <div class="span12" id="tabledata">
        <div class="box box-black" style="margin-top: 0px;">
            <div class="box-title" style="color: white; height: 36px; line-height: 36px; padding-bottom: 0px; padding-top: 0px;">
                <i class="icon-reorder" style="margin-right: 5px;"></i>事件上报               
            </div>
            <div class="box-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="detail">
                        <form method="post" enctype="multipart/form-data" action="/ZFSJWorkflow1/Commit" id="ZFSJWorkflow1">
                            <div class="title" style="margin-bottom: 30px;">
                                事件上报
                            </div>
                            <table class="table table-bordered">
                                <tr>
                                    <th style="text-align: center; line-height: 30px">事件标题
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <input type="text" name="EventTitle" id="EventTitle" class="small" value="@Model.EventTitle"/>
                                            </div>
                                        </div>
                                    </td>
                                    <th style="text-align: center; line-height: 30px">事件来源
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.DropDownList("EventSourceID", ViewBag.EventSource as IEnumerable<SelectListItem>)
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px">相关联系人
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.TextBoxFor(model => model.XGLXR, new { @class = "small" })
                                            </div>
                                        </div>
                                    </td>
                                    <th style="text-align: center; line-height: 30px">相关联系人电话
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.TextBoxFor(model => model.XGLXRDH, new { @class = "small" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px">事件地址
                                    </th>
                                    <td colspan="3">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <input type="text" id="EventAddress" name="EventAddress" class="large" value="@Model.EventAddress"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px">事件内容
                                    </th>
                                    <td colspan="3" style="line-height: 30px">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.TextArea("Content", new { @style = "width:98%" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px">问题大类
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.DropDownList("QuestionDLID", ViewBag.QuestionDL as IEnumerable<SelectListItem>)
                                            </div>
                                        </div>
                                    </td>
                                    <th style="text-align: center; line-height: 30px">问题小类
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <select id="QuestionXLID" name="QuestionXLID">
                                                    <option value="">请选择小类</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="EventSource">
                                    <th style="text-align: center; line-height: 30px;">指挥中心
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @Html.DropDownList("SSQJID", ViewBag.ZSYDD as IEnumerable<SelectListItem>)
                                            </div>
                                        </div>
                                    </td>

                                    <th style="text-align: center; line-height: 30px;">发现时间
                                    </th>
                                    <td style="line-height: 30px; width: 40%">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <input type="text" id="FXSJ" name="FXSJ" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" class="small"/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px;">地理位置</th>
                                    <td colspan="4" style="line-height: 30px; padding: 8px">
                                        <div class="form-group">
                                            @Html.HiddenFor(model => model.DTWZ)
                                            <div id="silverlightControlHost" style="width: 100%; height: 320px;">
                                                <object id="mapCtrl" data="data:application/x-silverlight-2," type="application/x-silverlight-2" height="320px" width="100%">
                                                    <param name="source" value="/ClientBin/MapCtrl.xap" />
                                                    <param name="background" value="white" />
                                                    <param name="minRuntimeVersion" value="5.0.61118.0" />
                                                    <param name="autoUpgrade" value="true" />
                                                    @*<param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://www.arcgisonline.cn/ArcGIS/rest/services/ChinaOnlineCommunity/MapServer,X1=13518954.8851951,Y1=3485438.4251543,X2=13541927.6179195,Y2=3475859.38899982,Mode=2,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />*@
                                                    <param id="initParams" name="initParams" value="IsGoogleMap=false,MapUrl=http://172.16.2.118/arcgis/rest/services/zhcg/MapServer,X1=354726.449142387,Y1=3304158.51172767,X2=362321.356817933,Y2=3301334.4558673,Mode=2,PinUrl=./Images/pin.png,OffsetX=24,OffsetY=48" />
                                                    <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=5.0.61118.0" style="text-decoration: none">
                                                        <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
                                                    </a>
                                                </object>
                                                <iframe id="_sl_historyFrame" style="visibility: hidden; height: 0px; width: 0px; border: 0px"></iframe>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: center; line-height: 30px">附件上传</th>
                                    <td style="line-height: 30px" colspan="3">
                                        <div class="form-group">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                <div>
                                                    <input type="text" name="material1Text" style="width: 200px;" value="事件照片一">
                                                    <input type="file" name="material1" id="material1" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" />
                                                </div>
                                                <div style="margin-top: 5px; width: 100%">
                                                    <input type="text" name="material2Text" style="width: 200px;" value="事件照片二" />
                                                    <input type="file" name="material2" id="material2" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" />
                                                </div>
                                                <div style="margin-top: 5px;">
                                                    <input type="text" name="material3Text" style="width: 200px;" value="事件照片三" />
                                                    <input type="file" name="material3" id="material3" class="input-xlarge attachfile" style="width: 285px; margin-left: 10px; line-height: 20px; height: 24px;" />
                                                </div>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                @if (!string.IsNullOrWhiteSpace((string)ViewBag.THYJ))
                                {
                                    <tr>
                                        <th style="text-align: center; line-height: 30px">回退信息
                                        </th>
                                        <td colspan="3">
                                            <div class="form-group" style="margin-bottom: 5px;">
                                                <div class="col-sm-9 col-lg-10 controls">
                                                    @ViewBag.THYJ
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <th></th>
                                    <td colspan="3" style="border-left: none;">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="col-sm-9 col-lg-10 controls">
                                                @*  @if (!string.IsNullOrWhiteSpace((string)ViewBag.THYJ))
                                                {
                                                    <input id="refuse" type="submit" class="btn btn-error" value="删 除">
                                                }*@
                                                @if (Model != null && Model.EventSourceID != null && Model.EventSourceID != 0)
                                                {
                                                    <input id="refuse" type="submit" class="btn btn-error" value="删 除">
                                                }
                                                <input type="submit" class="btn btn-success" value="提　交" onsubmit="return FormSubmit();">
                                                <input type="button" value="返回" onclick="goback();" style="margin-left: 5px;" class="btn goBack" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            @Html.Hidden("bc")
                            @Html.Hidden("WIID")
                            @Html.Hidden("AIID")
                            @Html.Hidden("ADID")
                            @Html.Hidden("strEventCode")
                            @Html.Hidden("strSbsj")
                            @Html.Hidden("THYJ")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("strQuestionXLID")
