@model Web.ViewModels.CaseViewModels.ViewModel7
@using Taizhou.PLE.Model.CaseWorkflowModels

@{
    Taizhou.PLE.Model.CaseWorkflowModels.CaseForm wmCaseForm = ViewBag.CaseForm;
    Taizhou.PLE.Model.CaseWorkflowModels.Form101 wmForm1 = wmCaseForm.FinalForm.Form101;
    Taizhou.PLE.Model.CaseWorkflowModels.Form102 wmForm2 = wmCaseForm.FinalForm.Form102;
}

<script src="~/Scripts/js/IntegratedService/CaseManagement/Workflow/numToCny.js"></script>
<script src="~/Scripts/assets/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //当事人
        var dsr = "";
        //字符串处罚金额
        var numstr = "";
        //数字处罚金额
        var num = "";
        //调查终结后承办人意见
        $("#CFJE").keyup(function () {
            var res = "";
            num = $.trim($(this).val());
            if (num != "") {
                $("#DCZJDCBRYJ").val(tczjhcbryj());
            }
        });

        $("input[class='zj']").click(function () {
            $("#ZJ").val("");
            var content = "";

            $.each($("input[class='zj']:checked"), function (i, n) {
                //下标不等于0（不是第一项）的时候在前面加","
                if (i != 0) {
                    content += ",";
                }
                content += $(n).val();
            });

            $("#ZJ").val(content);
        });

        if ($("#ZJ").val() == "") {
            //默认第一次加载全部被选中
            $("input[class='zj']").click();
        }
        else {
            var zj = $("#ZJ").val().split(",");

            for (var i = 0; i < zj.length; i++) {
                $("input[class='zj']").each(function (i, item) {
                    if ($(item).val() == zj[i]) {
                        document.getElementById($(item).attr("id")).checked = true;
                    }
                })
            }

        }
    })
    //处理调查后承办人意见
    function tczjhcbryj() {
        if ($.trim($("#fddbrxm").val()) != "") {
            dsr = $("#fddbrxm").val();
        } else if ($.trim($("#xm").val()) != "") {
            dsr = $("#xm").val();
        }
        num = $("#CFJE").val();
        num.replace(/\b(0+)/g, "");
        var numstr = numToCny(num);
        var tczjhcbryj = "　　经调查，建议对当事人" + dsr + "作如下行政处罚\r";
        tczjhcbryj += "　　1、责令当事人\r";
        tczjhcbryj += "　　2、处罚人民币" + numstr + "元整（￥" + num + "元）罚款。\r";
        tczjhcbryj += "　　妥否，请领导审批!";
        return tczjhcbryj;
    }
</script>

<form id="workflow7Form" class="workflowForm" method="post" enctype="multipart/form-data" action="/Workflow107/Commit">
    <div class="title">
        案件处理审批表
    </div>
    <table class="workflow" border="0" cellspacing="0" cellpadding="0" style="width: 700px; border-collapse: collapse; margin: 0 auto; margin-top: 20px;">
        <tr>
            <th colspan="2">案　　由</th>
            <td colspan="3">
                <input type="text" name="ay" id="ay" disabled="disabled" value="@wmForm1.AY"/>
            </td>
            <th colspan="2">案件来源</th>
            <th colspan="4">
                <select name="ajly" id="ajly" disabled="disabled">
                    <option value="@wmForm1.AJLYID">@wmForm1.AJLYName</option>
                </select></th>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="6">当事<br />
                人基<br />
                本情<br />
                况</th>
            <th colspan="2">当事人类型</th>
            <td colspan="8">
                @{
                    string dwChecked = wmForm1.DSRLX == "dw" ? "checked=\"checked\"" : "";
                    string grChecked = wmForm1.DSRLX == "gr" ? "checked=\"checked\"" : "";
                }
                <input type="radio" name="dsrlx" @dwChecked checked="checked" value="dw" id="dsrlxdw" disabled="disabled"/>单位
                <input type="radio" name="dsrlx" @grChecked value="gr" id="dsrlxgr" disabled="disabled"/>个人
            </td>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="2">单位</th>
            <th style="width: 42px;">名称</th>
            <td colspan="4">
                <input type="text" id="mc" name="mc" category="dw" disabled="disabled" value="@wmForm1.OrgForm.MC" />
            </td>
            <th colspan="2">组织机构<br />
                代码证编号</th>
            <td colspan="2">
                <input type="text" id="zzjgdmzbh" name="zzjgdmzbh" category="dw" disabled="disabled" value="@wmForm1.OrgForm.ZZJGDMZBH"/>
            </td>
        </tr>
        <tr>
            <th colspan="2">法定代表人<br />
                （负责人）姓名</th>
            <td colspan="3">
                <input type="text" id="fddbrxm" name="fddbrxm" category="dw" disabled="disabled" value="@wmForm1.OrgForm.FDDBRXM" />
            </td>
            <th colspan="2">职务</th>
            <td colspan="2">
                <input type="text" id="zw" name="zw" category="dw" disabled="disabled" value="@wmForm1.OrgForm.ZW"/>
            </td>
        </tr>
        <tr>
            <th style="width: 42px;" rowspan="2">个人</th>
            <th style="width: 42px;">姓名</th>
            <td style="width: 92px;">
                <input type="text" id="xm" name="xm" category="gr" disabled="disabled" value="@wmForm1.PersonForm.XM"/>
            </td>
            <th style="width: 42px;">性别</th>
            <td style="width: 72px;">
                <select name="xb" id="xb" category="gr" disabled="disabled">
                    <option value="@wmForm1.PersonForm.XB">@wmForm1.PersonForm.XB</option>
                </select></td>
            <th style="width: 52px;">出生<br />
                年月</th>
            <td style="width: 102px;" colspan="2">
                <input type="text" id="csny" name="csny" category="gr" disabled="disabled" value="@wmForm1.PersonForm.CSNY"/>
            </td>
            <th style="width: 42px;">民族</th>
            <td style="width: 92px;">
                <input type="text" id="mz" name="mz" category="gr" disabled="disabled" value="@wmForm1.PersonForm.MZ"/>
            </td>
        </tr>
        <tr>
            <th style="width: 42px;">身份<br />
                证号</th>
            <td colspan="2">
                <input type="text" id="sfzh" name="sfzh" category="gr" disabled="disabled" value="@wmForm1.PersonForm.SFZH"/>
            </td>
            <th style="width: 72px;">工作单位</th>
            <td colspan="5">
                <input type="text" id="gzdw" name="gzdw" category="gr" disabled="disabled" value="@wmForm1.PersonForm.GZDW"/>
            </td>
        </tr>
        <tr>

            <th colspan="2">住所地<br />
                （住址）</th>
            <td colspan="5">
                <input type="text" id="zsd" name="zsd" disabled="disabled" value="@wmForm1.ZSD"/></td>
            <th style="width: 42px;">联系<br />
                电话</th>
            <td colspan="2">
                <input type="text" id="lxdh" name="lxdh" disabled="disabled" value="@wmForm1.LXDH"/>
            </td>
        </tr>
        <tr>
            <th style="width: 42px;">认定<br />
                的违<br />
                法事<br />
                实</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.RDDWFSS)
            </td>
        </tr>
        <tr>
            <th style="width: 42px;">证据</th>
            <td colspan="10">
                @{
                    string[] docs = ViewBag.zj;
                    int count = docs.Length;

                    for (int i = 0; i < count; i++)
                    {
                        var id = "doc" + i;
                    <input name="@id" id="@id" class="zj" style="margin-left: 5px; margin-right:10px;" type="checkbox" value="@docs[i]" />
                    <label style="display: inline-block;" for="@id">@docs[i]</label>
                    }
                }

                @Html.TextAreaFor(model => model.ZJ, new { style = "height:60px;" })
            </td>
        </tr>
        <tr>
            <th style="width: 42px;">违反<br />
                的法律、<br />
                法规<br />
                和规<br />
                章</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.WFDFLFGHGZ)
            </td>
        </tr>
        <tr>
            <th style="width: 42px;">处罚<br />
                依据</th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.CFYJ)
            </td>
        </tr>
        <tr>
            <th>处理<br />
                方式</th>
            @if (Model.CLFS != null)
            {
                <td colspan="4">
                    @Html.RadioButton("CLFS", "xzcf", Model.CLFS == "xzcf")行政处罚
                    @Html.RadioButton("CLFS", "ca", Model.CLFS == "ca")撤案
                    @Html.RadioButton("CLFS", "bycf", Model.CLFS == "bycf")不予处罚
                    @Html.RadioButton("CLFS", "ys", Model.CLFS == "ys")移送
                </td>
            }
            else
            {
                <td colspan="4">
                    @Html.RadioButton("CLFS", "xzcf", true)行政处罚
                    @Html.RadioButton("CLFS", "ca", false)撤案
                    @Html.RadioButton("CLFS", "bycf", false)不予处罚
                    @Html.RadioButton("CLFS", "ys", false)移送
                </td>
            }
            <th colspan="2">处罚金额</th>
            <td colspan="4">
                @Html.TextBoxFor(model => model.CFJE, new { @class = "width_80" })（元） 
                <input type="button" value="自由裁量计算" /></td>
        </tr>
        <tr>
            <th style="width: 42px;">调查<br />
                后承<br />
                办人<br />
                意见
            </th>
            <td colspan="10">
                @Html.TextAreaFor(model => model.DCZJDCBRYJ)
            </td>
        </tr>
        @if (!string.IsNullOrWhiteSpace(Model.THYJ))
        {
            <tr>
                <th style="width: 42px;">退回<br />
                    意见
                </th>
                <td colspan="10">
                    @Html.TextAreaFor(model => model.THYJ, new { disabled = "disabled" })
                </td>
            </tr>   
        }
        <tr>
            <th>短信提醒</th>
            <td colspan="10">
                <input type="checkbox" id="FSDX" name="FSDX" value="" />
                <label id="SMSNameAndSMSNum">@wmForm2.XBDY.UserName 手机号：</label>
                <label id="SMSUserNameAndNum"></label>
                @Html.Hidden("XBDYID", wmForm2.ZBDY.UserID)
                @Html.Hidden("XBDYNAME", wmForm2.ZBDY.UserName)
            </td>
        </tr>
        <tr style="height: 0px; line-height: 0px;">
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 92px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 72px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 52px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="width: 42px; border: none; padding: 0px;"></td>
            <td style="border: none; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <div class="clear"></div>
    @Html.Hidden("WIID")
    @Html.Hidden("AIID")
</form>
