@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>邮件详情</title>
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="/Scripts/assets/data-tables/demo_table.css" rel="stylesheet" />
    <link href="~/Scripts/assets/data-tables/DT_bootstrap.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/assets/data-tables/PLE_DT_bootstrap.js"></script>

    <script type="text/javascript" src="~/Scripts/js/PageNotBack.js"></script>
    <link href="~/Scripts/layer/skin/layer.css" rel="stylesheet" />
    <link href="/Scripts/layer/skin/seaning/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <style type="text/css">
        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 630px;
            height: 270px;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }

        .btn_ico_a_delete {
            margin-left: -10px;
        }

        .tabson td {
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 10px 0px;
            text-align: left;
            line-height: 30px;
            width: 40%;
        }

            .tabson td label {
                margin-left: 20px;
            }

        .tabson th {
            width: 170px;
            border: solid #b9aeae;
            border-width: 0px 1px 1px 0px;
            padding: 8px;
            text-align: center;
            line-height: 30px;
        }

        .tabson tr input.large {
            width: 98%;
            height: 30px;
        }

        .tabson tr input.small {
            width: 94%;
        }

        .tabson {
            width: 100%;
            border: solid #b9aeae;
            border-width: 1px 0px 0px 1px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#usual1 ul").idTabs();
            var Isdefault = GetQueryString("Isdefault");
            var emailid = GetQueryString("EmailId");
            var nocomplete = GetQueryString("NoComplete");
            if (Isdefault != null && Isdefault != "" && Isdefault != undefined) {
                $("#hid_default").val(Isdefault);
            }
            if (emailid != null && emailid != "" && emailid != undefined) {
                $("#hid_emailid").val(emailid);
            }
            if (nocomplete != null && nocomplete != "" && nocomplete != undefined) {
                $("#CompleteBtn").hide();
            }
            function GetQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }

            GetDataTable();

            var oTable;
            //填充邮件列表
            function GetDataTable() {
                oTable = $('#EmailInfoTable').dataTable({
                    sAjaxSource: "/Email/EmailInfo_Grid",
                    fnServerParams: function (aoData) {
                        aoData.push(
                            { "name": "EmailId", "value": location.href.split("EmailId=")[1] });
                    },
                    aoColumns: [
                        {
                            mDataProp: function (data) {
                                return data.IsRead == "1" ? "<img src='/Images/images/NoticeAlread.png' />" :
                                            "<img src='/Images/images/NoticeUnread.png' />";
                            }
                        },
                        { mDataProp: "UserName" },
                        { mDataProp: function (data) { return data.IsResponse == 0 ? "未反馈" : "已反馈"; } },
                        { mDataProp: "Content" },
                        { mDataProp: "NextUserName" }
                    ],
                    aoColumnDefs: [{ sDefaultContent: '', aTargets: ['_all'] }],
                    fnDrawCallback: function (oSettings) {
                        var pagerIndex = oSettings._iDisplayStart / oSettings._iDisplayLength + 1;
                        var $currentPager = $(".dataTables_paginate span a:contains('" + pagerIndex + "')");
                        $currentPager.attr("style", "font-weight :bold;!important");
                    }
                });
            }

        })

        //提交办结
        function Complete() {
            $.ajax({
                type: 'GET',
                url: '/Email/Complete?random=' + Math.random(),
                data: { EmailId: $("#hid_emailid").val() },
                success: function (data) {
                    if (data == "办结成功") {
                        layer.alert(data, {
                            icon: 1,
                            skin: 'layer-ext-seaning'
                        }, function (layer) {
                            location.href = "/Email/Index?PageNum=1";
                        });

                    } else {
                        layer.alert(data, {
                            icon: 0,
                            skin: 'layer-ext-seaning'
                        });
                    }
                }
            });
        }

        //转发邮件
        function Transmit() {
            location.href = "/Email/Index?TransEmailId=" + $("#hid_emailid").val();
        }

        function goback() {
            var hid = $("#hid_default").val();
            if (hid != null && hid != "" && hid != undefined) {
                location.href = '/OA_Default/Index';
            }
            else {
                location.href = '/Email/Index?PageNum=1';
            }
        }
    </script>
</head>
<body>
    
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/Email/Index">邮件</a></li>
            <li>邮件详情</li>
        </ul>
    </div>

    <div class="formbody">
        <div id="usual1" class="usual">
            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected" onclick="$('.tabson').hide();$('#tab1,#tab11').show();">邮件详情</a></li>
                    <li><a href="#tab2" onclick="$('.tabson').show();$('#tab1,#tab11').hide();">转发记录</a></li>
                </ul>
            </div>

            <div id="tab1" class="tabson">
                <table style="margin-bottom: 20px;" class="table table-bordered">
                    <tr>
                        <th>主题 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.EMAILTITLE</label>
                        </td>
                        <th>发布人 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.CreateUserName </label>
                        </td>
                    </tr>
                    <tr>
                        <th>接收人 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.ReciveUserName </label>
                        </td>
                        <th>创建时间 </th>
                        <td>
                            <label class="lablestyle">@ViewBag.CREATETIME</label>

                        </td>
                    </tr>
                    <tr>                        
                        <th>正文 </th>
                        <td colspan="3">
                            <label class="lablestyle">@ViewBag.CONTENT</label>
                        </td>
                    </tr>
                    <tr>
                        <th>附件 </th>
                        <td colspan="3">
                            @if (ViewBag.FILENAME != null && ViewBag.FILENAME != "")
                            {
                                string[] filestring = ViewBag.FILENAME.Split('|');
                                string[] filepath = ViewBag.FILEPATH.Split('|');
                                for (var i = 0; i < filestring.Length; i++)
                                {
                                    <div class="lablestyle" style="margin-left: 20px;"><a href='/DownFile/DownLoadOAWorkFlow?path=@System.Configuration.ConfigurationManager.AppSettings["XTGLEmailFile"].Replace("\\","/")@filepath[i]&&fileName=@filestring[i]'>@filestring[i]</a></div>
                                }
                            }
                        </td>
                    </tr>
                </table>                
            </div>
            <div id="tab11">
                <h1 style="text-align: center;font-size: 20px;">接收方查阅信息</h1>
                <table class="tablelist" id="EmailInfoTable" style="text-align: center">                
                    <thead>
                        <tr>
                            <th style="text-align: center">是否已阅</th>
                            <th style="text-align: center">姓名</th>
                            <th style="text-align: center">是否反馈</th>
                            <th style="text-align: center;">反馈意见</th>
                            <th style="text-align: center;">下步转发接收人</th>
                        </tr>
                    </thead>
                </table>
            </div>


            @if (ViewBag.TList != null)
            {
                foreach (var item in ViewBag.TList)
                {
                    <div id="tab2" class="tabson" style="margin-top:30px;display:none;width: 99%;">
                        <table style="margin-bottom: 20px;" class="table table-bordered">
                        <tr>
                            <th>邮件标题</th>
                            <td>
                                <label class="lablestyle">@item.EMAILTITLE</label>
                            </td>
                            <th>接收人</th>
                            <td>
                                <label class="lablestyle">@item.ReciveUserIdStr</label>
                            </td>
                            
                        </tr>
                        <tr>
                            <th>邮件内容 </th>
                            <td colspan="3">
                                <label class="lablestyle">@item.EMAILCONTENT</label>
                            </td>
                        </tr>
                        <tr>
                            <th>转发人</th>
                            <td>
                                <label class="lablestyle">@item.CreateUserName</label>
                            </td>
                            <th>转发时间</th>
                            <td>
                                <label class="lablestyle">@item.ResponseContent</label>
                            </td>
                        </tr>
                        <tr>
                            <th>邮件附件 </th>
                            <td colspan="3">
                                @if (item.FILENAME != null && item.FILENAME != "")
                                {
                                    string[] filestring = item.FILENAME.Split('|');
                                    string[] filepath = item.FILEPATH.Split('|');
                                    for (var i = 0; i < filestring.Length; i++)
                                    {
                                        <div class="lablestyle" style="margin-left: 20px;"><a href='/DownFile/DownLoadOAWorkFlow?path=C://ZGMFile/XTGLEmail/@filepath[i]&&fileName=@filestring[i]'>@filestring[i]</a></div>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                    </div>
                }
            }
        </div>

        <div style="clear: both"></div>
        <div style="margin-top: 10px; margin-left: 5%">
            <div>
                @if (ViewBag.IsFinish == 1)
                {
                    <input id="CompleteBtn" type="button" class="sure" disabled="disabled" style="background:grey;" value="办  结" onclick="Complete();" />
                }else
                {
                    <input id="CompleteBtn" type="button" class="sure" value="办  结" onclick="Complete();" />
                }
                @if(ViewBag.IsTransmit == true){
                    <input type="button" class="sure" onclick="Transmit();" style="display:none;" value="转  发" />
                }else{
                    <input type="button" class="sure" onclick="Transmit();" value="转  发" />
                }
                <input type="button" class="sure" onclick="goback();" value="返　回" />
            </div>
        </div>
        
    </div>
    <input type="hidden" id="hid_default" />
    <input type="hidden" id="hid_emailid" />
</body>
</html>
