@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>协同办公首页</title>
    @*<link href="~/Content/css/style.css" rel="stylesheet" />*@
    <link href="~/Content/css/OA.css" rel="stylesheet" />
    <link href="~/Scripts/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/bootstrap/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/select-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.idTabs.min.js"></script>
    <script src="~/Scripts/assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/assets/timepicker/jquery-ui-timepicker-zh-CN.js"></script>
    <script src="~/Scripts/js/PageNotBack.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/assets/fullcalendar/fullcalendar/fullcalendar.css" />
    <script type="text/javascript" src="~/Scripts/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>

    <script src="~/Scripts/layer/layer.js"></script>
    <script type="text/javascript">
        layer.config({
            skin: 'layer-ext-seaning',
            offset: ['100px', '33%'],
            title: '提示',
            moveOut: true,
            closeBtn: false,
            extend: 'skin/seaning/style.css'
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#startTime").datetimepicker();
            $("#endTime").datetimepicker();



            $(".tiptop a").click(function () {
                Click_Div("MyDiv", "fade");
            });

            $(".sure").click(function () {
                var title = $("#rctitle").val();
                var startTime = $("#startTime").val();
                var endTime = $("#endTime").val();
                var content = $("#rccontent").val();
                var rtype = $("#rctype").val();
                if (title == "" || title == undefined) {
                    layer.alert('日程标题不能为空!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }
                else if (startTime == "" || startTime == undefined) {
                    layer.alert('开始时间不能为空!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }
                else if (endTime == "" || endTime == undefined) {
                    layer.alert('结束时间不能为空!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }
                else if (rtype == "" || rtype == undefined) {
                    layer.alert('日程类型不能为空!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }
                else if (content == "" || content == undefined) {
                    layer.alert('日程内容不能为空!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }
                else if (!checkEndTime(startTime, endTime)) {
                    layer.alert('结束时间必须晚于开始时间!', {
                        icon: 0,
                        skin: 'layer-ext-seaning'
                    });
                }
                else {
                    var hid_id = $("#hidd_id").val();
                    if (hid_id == "" || hid_id == undefined) {
                        $.ajax({
                            type: 'POST',
                            url: "/OA_Default/AddEvent",
                            data: { rctitle: title, rctype: rtype, start: startTime, end: endTime, rccontent: content },
                            success: function (data) {
                                if (data == 1) {
                                    layer.alert("添加成功!", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                        layer.close(index);
                                        location.href = "/OA_Default/Index";
                                    });
                                    CloseDiv('MyDiv', 'fade');
                                }
                                else {
                                    layer.alert('添加失败!请检查数据!', {
                                        icon: 0,
                                        skin: 'layer-ext-seaning'
                                    });
                                }

                            }
                        });
                    }
                    else {
                        $.ajax({
                            type: 'POST',
                            url: "/OA_Default/EditEvent",
                            data: { id: hid_id, rctitle: title, rctype: rtype, start: startTime, end: endTime, rccontent: content },
                            success: function (data) {
                                if (data == 1) {
                                    layer.alert("修改成功!", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                        layer.close(index);
                                        location.href = "/OA_Default/Index";
                                    });
                                    CloseDiv('MyDiv', 'fade');
                                }
                                else {
                                    layer.alert('修改失败!请检查数据!', {
                                        icon: 0,
                                        skin: 'layer-ext-seaning'
                                    });
                                }

                            }
                        });
                    }

                }
            });

            $(".cancel").click(function () {
                Click_Div("MyDiv", "fade");
            });

            //日历
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    //right: 'month,agendaWeek,agendaDay'
                },
                monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                dayNames: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                today: ["今天"],
                firstDay: 1,
                buttonText: {
                    today: '今天',
                    month: '月',
                    week: '周',
                    day: '日'
                },
                editable: false,
                selectable: true,
                selectHelper: true,
                weekMode: 'liquid',
                events: function (start, end, callback) {
               
                    $("#calendar").fullCalendar('removeEvents');
                    var dt_start = start.getFullYear() + "-" + (start.getMonth() + 1) + "-" + start.getDate();
                    var dt_end = end.getFullYear() + "-" + (end.getMonth() + 1) + "-" + end.getDate();
                    var viewMode = $('#calendar').fullCalendar("getView").name;
                    $.ajax({
                        type: 'POST',
                        url: '/OA_Default/GetEventSources',
                        data: "start=" + dt_start + "&end=" + dt_end + "&viewMode=" + viewMode,
                        success: function (data) {
                            //alert("data:" + data);

                            var events = [];
                            if (data != "") {
                                var info = data;

                                for (var i = 0; i < info.length; i++) {

                                    var ev = info[i];

                                    var title = ev.title;

                                    var id = ev.ID;
                                    var draggable = ev.draggable;

                                    var temp_s = ev.evtStart;
                                    var temp_e = ev.evtEnd;

                                    temp_s = temp_s.replace("/Date(", "");
                                    temp_s = temp_s.replace(")/", "");
                                    temp_e = temp_e.replace("/Date(", "");
                                    temp_e = temp_e.replace(")/", "");

                                    var color = null;
                                    if (ev.type == "会议") {

                                        color = "rgb(0,144,255)";
                                    }
                                    else if (ev.type == "待办") {
                                        color = "#28FF28";
                                    }
                                    else if (ev.type == "重要") {
                                        color = "#E1E100";
                                    }
                                    else if (ev.type == "紧急") {
                                        color = "#FF0000";
                                    }
                                    else if (ev.type == "任务") {
                                        color = "rgb(162,0,255)";
                                    } else {
                                        color = "#4F9D9D";
                                    }

                                    var evtstart = new Date(parseInt(temp_s));
                                    var evtend = new Date(parseInt(temp_e));

                                    events.push({
                                        title: title == null ? "未命名" : title,
                                        allDay: false,
                                        start: evtstart,
                                        end: evtend,
                                        id: id,
                                        backgroundColor: color
                                    });
                                }
                            }
                            callback(events);
                            ChangeBackColor();
                        }
                    });

                },
                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                    revertFunc();
                },
                eventClick: function (event, jsEvent, view) {
                    $("#btn_del").css("display", "block");
                    showEvent(event);
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    $("#span_title").text("添加日程");
                    $("#rctitle").val("");
                    $("#startTime").val("");
                    $("#endTime").val("");
                    $("#rccontent").val("");
                    $("#rctype").val("");
                    $("#hidd_id").val("");
                    $("#btn_del").css("display", "none");
                    ShowDiv("MyDiv", "fade");
                },
                viewDisplay: function (view) {

                },
                eventRender: function (event, element) {
                    element.find('.fc-event-time').remove();
                },
                eventAfterAllRender: function (view) {
                    $('.fc-header .fc-ts').remove();
                    var html_str = "<tr class='fc-ts'><td colspan='3' style='width:100%;'><div class='fc-ts-content'>"

                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:rgb(0,144,255);'></div></div>";
                    html_str += "<div class='ts-text'>会议</div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:#28FF28;'></div></div>";
                    html_str += "<div class='ts-text'>待办 </div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:#E1E100;'></div></div>";
                    html_str += "<div class='ts-text'>重要</div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:#FF0000;'></div></div>";
                    html_str += "<div class='ts-text'>紧急</div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:rgb(162,0,255);'></div></div>";
                    html_str += "<div class='ts-text'>任务</div>";
                    html_str += "<div class='ts-item'><div class='item-both' style='background-color:#4F9D9D;'></div></div>";
                    html_str += "<div class='ts-text'>其他</div>";
                    html_str += "</div></td></tr> ";

                    $('.fc-header tbody').append($(html_str));


                }
            });
           // ChangeBackColor();
        });
        //比较日期
        function checkEndTime(STime, ETime) {
            var startTime = STime;
            var start = new Date(startTime.replace("-", "/").replace("-", "/"));
            var endTime = ETime
            var end = new Date(endTime.replace("-", "/").replace("-", "/"));
            if (end < start) {
                return false;
            }
            return true;
        }


        //时间转换
        function data_string(str) {
            var d = eval('new ' + str.substr(1, str.length - 2));
            var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()];
            for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
            return ar_date.slice(0, 3).join('-') + ' ' + ar_date.slice(3).join(':');

            function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        }

        function showEvent(event) {
            $("#span_title").text("编辑日程");
            var a = new Date().toString("yyyyMMddHHmmssfff");
            $("#hidd_id").val(event.id);
            if (event.id != -1) {
                $.ajax({
                    type: 'GET',
                    url: "/OA_Default/GetEventByID?r=" + a,
                    data: { eventID: event.id },
                    success: function (data) {

                        $("#rctitle").val(data.TITLE);
                        $("#startTime").val(data_string(data.STARTTIME));
                        $("#endTime").val(data_string(data.ENDTIME));
                        $("#rccontent").val(data.CONTENT);
                        var SCHEDULESOURCES = '';
                        if (data.SCHEDULESOURCE == "会议") {
                            SCHEDULESOURCES = "会议";
                        } else if (data.SCHEDULESOURCE == "待办") {
                            SCHEDULESOURCES = "待办";
                        } else if (data.SCHEDULESOURCE == "重要") {
                            SCHEDULESOURCES = "重要";
                        } else if (data.SCHEDULESOURCE == "紧急") {
                            SCHEDULESOURCES = "紧急";
                        } else if (data.SCHEDULESOURCE == "任务") {
                            SCHEDULESOURCES = "任务";
                        } else {
                            SCHEDULESOURCES = "其他";
                        }
                        $("#rctype").val(SCHEDULESOURCES);
                        ShowDiv("MyDiv", "fade");
                    }
                });
            } else {
                $('#calendar').fullCalendar('changeView', "agendaDay");
                $('#calendar').fullCalendar('gotoDate', event.start);
            }
        }
        //删除日程
        function deleteEvent() {
            layer.confirm('是否确认删除?', {
                btn: ['是', '否'],
                icon: 4,
                //按钮
            }, function () {
                var hid_id = $("#hidd_id").val();
                var a = new Date().toString("yyyyMMddHHmmssfff");
                if (hid_id != "" && hid_id != undefined) {
                    $.ajax({
                        type: 'GET',
                        url: "/OA_Default/DeleteEventByID?r=" + a,
                        data: { id: hid_id },
                        success: function (data) {
                            if (data == 1) {
                                layer.alert("删除成功!", { icon: 1, skin: 'layer-ext-seaning' }, function (index) {
                                    layer.close(index);
                                    location.href = "/OA_Default/Index";
                                });
                                CloseDiv('MyDiv', 'fade');
                            }
                            else {
                                layer.alert('删除失败!请检查数据!', {
                                    icon: 0,
                                    skin: 'layer-ext-seaning'
                                });
                            }
                        }
                    });
                } else {
                    $('#calendar').fullCalendar('changeView', "agendaDay");
                    $('#calendar').fullCalendar('gotoDate', event.start);
                }
            }, function () {
                layer.close();

            });
        }
        function ChangeBackColor() {
            var cheight = '353px';
            if (window.screen.height == 1080) {
                cheight = '353px';
            }
            else if (window.screen.height == 1050) {
                cheight = '343px';
            }
            else if (window.screen.height == 900) {
                cheight = '263px';
            }
            else if (window.screen.height == 720) {
                cheight = '250px';
            }
            else if (window.screen.height == 768) {
                cheight = '250px';
            }
            $(".fc-today").css('backgroundColor', '#C1C1C1');
            $("#firstone").css('overflow', '');
            $(".fc-content").css('overflow-y', 'auto');
            $(".fc-content").css('height', cheight);
            $(".fc-content").animate({ scrollTop: $(".fc-today").offset().top-110 }, 1000);
            //if ($(".fc-today").offset().top - 110 > 200)
            //    $(".fc-content").animate({ scrollTop: $(".fc-today").offset().top - 110 }, 1000);
            //if ($(".fc-today").offset().top - 110 < 0)
            //    $(".fc-content").animate({ scrollTop: $(".fc-today").offset().top + 250 }, 1000);
        }

        //弹出隐藏层
        function ShowDiv(show_div, bg_div) {
            document.getElementById(show_div).style.display = 'block';
            document.getElementById(bg_div).style.display = 'block';
            var bgdiv = document.getElementById(bg_div);
            bgdiv.style.width = document.body.scrollWidth;
            $("#" + bg_div).height($(document).height());
        };
        function Click_Div(show_div, bg_div) {
            document.getElementById(show_div).style.display = 'none';
            document.getElementById(bg_div).style.display = 'none';
        }
        $(document).ready(function () {
            var h = $(document).height();
            var a = (h / 100);
            var first = a * 49;
            var firstone = a * 37;
            $("#firstone").height(first);
            $("#firsttwo").height(firstone);
            $("#firstthree").height(first);
            $("#firstfour").height(firstone);
        })
    </script>

    <style type="text/css">
        #calendar table span {
            margin: 2px;
            padding: 2px;
            display: initial;
        }

        #calendar table h2 {
            line-height: 0px;
        }
        /*事项*/

        .wdrcRow {
            margin-left: 8px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

            .wdrcRow > span {
                padding-right: 8px;
                float: left;
                height: 30px;
                line-height: 30px;
                font-weight: bold;
            }


        /*图示*/
        .fc-ts-content {
            text-align: right;
            float: right;
            height: 25px;
        }

            .fc-ts-content .ts-item {
                float: left;
                width: 30px;
                height: 15px;
                border: 1px solid #ddd;
                padding: 1px;
            }

                .fc-ts-content .ts-item .item-both {
                    width: 30px;
                    height: 15px;
                }

            .fc-ts-content .ts-text {
                float: left;
                margin-left: 5px;
                margin-right: 5px;
            }

        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .30;
            filter: alpha(opacity=80);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 460px;
            height: 385px;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }

        .zhanwei {
            width: 100%;
            height: 10px;
            float: left;
        }
    </style>

</head>


<body id="bodyContent">

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>首页</li>
        </ul>
    </div>


    <div class="mainbox" style="margin: 8px">

        <div class="mainleft">
            <div class="leftinfo" id="firstone" style="overflow: auto;">
                <div class="maintj" style="width: 100%; height: 2px;">
                    <div id="calendar"></div>
                </div>

            </div>
            <div class="zhanwei"></div>
            <div class="leftinfo" id="firsttwo" style="border: 0px;">


                <div class="infoleft1" style="overflow: auto">
                    <div style="overflow: auto; border: 0px solid">
                        <div class="listtitle"><a href="/Meeting/Index?Isdefault=1" class="more1">更多</a>待参与会议</div>
                        <ul class="newlist">
                            @{ List<ZGM.Model.XTBGModels.ConferenceList> list_meeting = (List<ZGM.Model.XTBGModels.ConferenceList>)ViewBag.list_Meetings;
                               for (int i = 0; i < list_meeting.Count(); i++)
                               {
                                   if (list_meeting[i].ISREAD == 1)
                                   {
                                <li><a href="/Meeting/ViewMeeting?Isdefault=1&MeetingID=@list_meeting[i].MEETINGID" style="color: black;">@list_meeting[i].MEETINGTITLE</a><b>@list_meeting[i].STIME.Value.ToString("yyyy-MM-dd")</b></li>
                     
                                   }
                                   else
                                   {
                                <li><a href="/Meeting/ViewMeeting?Isdefault=1&MeetingID=@list_meeting[i].MEETINGID" style="font-weight: bold; color: rgb(0, 137, 209);">@list_meeting[i].MEETINGTITLE</a><b>@list_meeting[i].STIME.Value.ToString("yyyy-MM-dd")</b></li>
                                   }
                               }
                            }
                        </ul>

                    </div>
                </div>
                <div class="inforight1" style="overflow: auto">
                    <div style="overflow: auto; border: 0px solid">
                        <div class="listtitle"><a href="/File/Index?Isdefault=1" class="more1">更多</a>待阅文件</div>
                        <ul class="newlist">
                            @{ List<ZGM.Model.ViewModels.VMOAFile> list_Files = (List<ZGM.Model.ViewModels.VMOAFile>)ViewBag.list_Files;
                               for (int i = 0; i < list_Files.Count(); i++)
                               {
                                   if (list_Files[i].IsRead == 0)
                                   {
                                <li><a href="/File/Look?Isdefault=1&FileId=@list_Files[i].FILEID" style="font-weight: bold; color: rgb(0, 137, 209);">@list_Files[i].FILETITLE</a><b>@list_Files[i].CREATETIME.Value.ToString("yyyy-MM-dd")</b></li>
                                   }
                                   else
                                   {
                                <li><a href="/File/Look?Isdefault=1&FileId=@list_Files[i].FILEID" style="color: black;">@list_Files[i].FILETITLE</a><b>@list_Files[i].CREATETIME.Value.ToString("yyyy-MM-dd")</b></li>
                                   }
                               }
                            }
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="mainright">


            <div class="dflist" id="firstthree" style="overflow: auto;">
                <div style="overflow: auto; border: 0px solid">
                    <div class="listtitle"><a href="/Announcement/Index?Isdefault=1" class="more1">更多</a>通知公告</div>
                    <ul class="newlist">
                        @{ List<ZGM.Model.PhoneModel.PHAnnouncement> list = (List<ZGM.Model.PhoneModel.PHAnnouncement>)ViewBag.list_Notice;
                           for (int i = 0; i < list.Count(); i++)
                           {
                               if (list[i].IsRead == 0)
                               {
                            <li><a href="/Announcement/Look?Isdefault=1&NoticeId=@list[i].NOTICEID" style="font-weight: bold; color:rgb(0, 137, 209);">@list[i].NOTICETITLE</a><b>@list[i].CREATEDTIME.Value.ToString("yyyy-MM-dd")</b></li>
                               }
                               else
                               {
                            <li><a href="/Announcement/Look?Isdefault=1&NoticeId=@list[i].NOTICEID" style="color: black;">@list[i].NOTICETITLE</a><b>@list[i].CREATEDTIME.Value.ToString("yyyy-MM-dd")</b></li>
                               }
                           }
                        }

                    </ul>
                </div>
            </div>


            <div class="dflist1" id="firstfour">
                <div style="overflow: auto; border: 0px solid;">

                    <div class="listtitle"><a href="/Task/Index/?Isdefault=1" class="more1">更多</a>待办任务</div>
                    <ul class="newlist">
                        @{ List<ZGM.Model.XTBGModels.TasksListModel> list_Task = (List<ZGM.Model.XTBGModels.TasksListModel>)ViewBag.list_Task;
                           for (int i = 0; i < list_Task.Count(); i++)
                           {
                               if (list_Task[i].wfdid == "20160517094110007")
                               {
                            <li><a href="/Task/DispatchDepartment?ID=@list_Task[i].TASKID&WFSAID=@list_Task[i].wfsaid&WFSID=@list_Task[i].wfsid&WFDID=@list_Task[i].wfdid" style="color: black;">@list_Task[i].TASKTITLE</a><b>@list_Task[i].createtime.Value.ToString("yyyy-MM-dd")</b></li>
                               }
                               else if (list_Task[i].wfdid == "20160517094110002")
                               {
                            <li><a href="/Task/TaskDispatch?ID=@list_Task[i].TASKID&WFSAID=@list_Task[i].wfsaid&WFSID=@list_Task[i].wfsid&WFDID=@list_Task[i].wfdid" style="color: black;">@list_Task[i].TASKTITLE</a><b>@list_Task[i].createtime.Value.ToString("yyyy-MM-dd")</b></li>
                               }
                               else if (list_Task[i].wfdid == "20160517094110004")
                               {
                            <li><a href="/Task/LeadAuditor?ID=@list_Task[i].TASKID&WFSAID=@list_Task[i].wfsaid&WFSID=@list_Task[i].wfsid&WFDID=@list_Task[i].wfdid" style="color: black;">@list_Task[i].TASKTITLE</a><b>@list_Task[i].createtime.Value.ToString("yyyy-MM-dd")</b></li>
                                      
                               }
                               else if (list_Task[i].wfdid == "20160517094110005")
                               {
                            <li><a href="/Task/AuditTask?ID=@list_Task[i].TASKID&WFSAID=@list_Task[i].wfsaid&WFSID=@list_Task[i].wfsid&WFDID=@list_Task[i].wfdid" style="color: black;">@list_Task[i].TASKTITLE</a><b>@list_Task[i].createtime.Value.ToString("yyyy-MM-dd")</b></li>           
                               }
                               else if (list_Task[i].wfdid == "20160517094110008")
                               {
                                     <li><a href="/Task/PartyOfficeAudit?ID=@list_Task[i].TASKID&WFSAID=@list_Task[i].wfsaid&WFSID=@list_Task[i].wfsid&WFDID=@list_Task[i].wfdid" style="color: black;">@list_Task[i].TASKTITLE</a><b>@list_Task[i].createtime.Value.ToString("yyyy-MM-dd")</b></li>           
                               }
                           }
                        }
                    </ul>

                </div>
            </div>

            <!--leftinfo end-->
        </div>
        <!--mainleft end-->








    </div>
    <!--mainright end-->

    <!--弹出层时背景层DIV-->
    <div id="fade" class="black_overlay"></div>
    <div id="MyDiv" class="white_content">
        <div class="tiptop"><span id="span_title">添加日程</span><a></a></div>
        <ul class="forminfo">
            <li>
                <label>日程标题<b>*</b></label>
                <input type="text" class="dfinputs" id="rctitle" />
            </li>
            <li>
                <label>日程类型<b>*</b></label>
                @* <input type="text" class="dfinputs" id="rctype" />*@
                <select id="rctype" class="dfinputs" style="width: 295px;">
                    <option value="会议">会议</option>
                    <option value="待办">待办</option>
                    <option value="重要">重要</option>
                    <option value="紧急">紧急</option>
                    <option value="任务">任务</option>
                    <option value="其他">其他</option>
                </select>
            </li>
            <li>
                <label>开始时间<b>*</b></label>
                <input type="text"  id="startTime" readonly="readonly" name="startTime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" class="dfinputs" />
            </li>
            <li>
                <label>结束时间<b>*</b></label>
                <input type="text"  id="endTime" readonly="readonly" name="endTime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" class="dfinputs" />
            </li>

            <li>
                <label>日程内容<b>*</b></label>
                <textarea class="dfinputs" style="resize: none; height: 100px" id="rccontent"></textarea>
            </li>
            <li>

                <div class="tipbtn">
                    <input name="" type="button" class="sure" value="确定" style="float: left; margin-right: 10px; width: 80px" />
                    <input id="btn_del" type="button" class="btndelete" value="删除" onclick="deleteEvent()" style="background-color: red; float: left; display: none; margin-right: 10px; width: 80px;" />
                    <input id="btn_cancel" type="button" class="cancel" value="返回" style="float: left; width: 80px;" />
                </div>
            </li>
        </ul>
    </div>
    <input type="hidden" id="hidd_id" />
</body>

<script type="text/javascript">
    setWidth();
    $(window).resize(function () {
        setWidth();
    });
    function setWidth() {
        var width = ($('.leftinfos').width() - 12) / 2;
        $('.infoleft,.inforight').width(width);
    }
</script>
</html>
