@using NBZGM.XTBG.Models;
@{
    Layout = null;
    decimal? typeid = ViewBag.typeid;
    XTBG_SCHEDULE schedule = ViewBag.schedule as XTBG_SCHEDULE;
    XTBG_MEETING meeting = ViewBag.meeting as XTBG_MEETING;
}
<style type="text/css">
    .form-control {
        display: inline-block;
    }
</style>
<div class="modal-header bg-primary">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">更新日程</h4>
</div>

<div class="modal-body">
    <form id="ScheduleAdd_Form" action="/MySchedule/Add">
        @if (typeid == 0 || typeid == null)
        {
            <input type="hidden" id="ScheduleID" name="ScheduleID" value="@schedule.SCHEDULEID" />
            <div class="form-group">
                <label for="ScheduleTitle">日程标题：</label><span class="required">*</span>
                <input type="text" class="form-control" id="ScheduleTitle" name="ScheduleTitle" placeholder="日程标题" value="@schedule.SCHEDULETITLE"  required="required" >
            </div>
            <div class="form-group">
                <label for="ScheduleTime">日程时间：</label><span class="required">*</span>
                <div>
                    <input type="text" class="form-control datetimepicker  calc50-1" id="ScheduleStartTime" name="ScheduleStartTime" placeholder="开始时间" value="@schedule.STARTTIME.Value.ToString("yyyy-MM-dd HH:mm:ss")"  required="required" >
                    至
                <input type="text" class="form-control datetimepicker  calc50-1" id="ScheduleEndTime" name="ScheduleEndTime" placeholder="结束时间" value="@schedule.ENDTIME.Value.ToString("yyyy-MM-dd HH:mm:ss")"  required="required" >
                </div>
            </div>
            <div class="form-group">
                <label for="ScheduleContent">日程内容：</label><span class="required">*</span>
                <textarea class="form-control" id="ScheduleContent" name="ScheduleContent" placeholder="日程内容" rows="5" required="required">@schedule.SCHEDULECONTENT</textarea>
            </div>
            <div class="row text-center">
                <input id="ScheduleUpdate" type="submit" class="btn btn-default" value="更新" />
                <input id="ScheduleRemove" type="submit" class="btn btn-default" value="删除" />
                <input type="reset" class="btn btn-default" value="重置" />
            </div>
        }
        else
        {
            <div class="form-group">
                <label for="ScheduleTitle">会议标题：</label><span class="required">*</span>
                <input type="text" class="form-control" id="ScheduleTitle" name="ScheduleTitle" placeholder="日程标题" value="@meeting.MEETINGTITLE"  required="required" >
            </div>
            <div class="form-group">
                <label for="ScheduleTime">会议时间：</label><span class="required">*</span>
                <div>
                    <input type="text" class="form-control datetimepicker  calc50-1" id="ScheduleStartTime" name="ScheduleStartTime" placeholder="开始时间" value="@meeting.STARTTIME.Value.ToString("yyyy-MM-dd HH:mm:ss")"  required="required" >
                    至
                <input type="text" class="form-control datetimepicker  calc50-1" id="ScheduleEndTime" name="ScheduleEndTime" placeholder="结束时间" value="@meeting.ENDTIME.Value.ToString("yyyy-MM-dd HH:mm:ss")"  required="required" >
                </div>
            </div>
            <div class="form-group">
                <label for="ScheduleContent">会议内容：</label><span class="required">*</span>
                <textarea class="form-control" id="ScheduleContent" name="ScheduleContent" placeholder="日程内容" rows="5" required="required">@meeting.MEETINGCONTENT</textarea>
            </div>
        }
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //无刷新提交表单
        $('#ScheduleAdd_Form').on('submit', submitForm);
        $('#ScheduleAdd_Form').on('submit', function () {
            document.getElementById("ifrMySchedule").contentWindow.$('#calendar').fullCalendar('refetchEvents');
            $(this).parents('.modal').modal('toggle');
        });
        $(".datetimepicker").datetimepicker({ format: 'yyyy-mm-dd hh:ii', language: 'zh-CN', autoclose: true, })
        .on('changeDate', function () { $('#ScheduleEndTime').datetimepicker('setStartDate', $('#ScheduleStartTime').val()) });
        $('#ScheduleAdd_Form').on('click', 'input[type=submit]', function () {
            if ($('#ScheduleEndTime').val() < $('#ScheduleStartTime').val()) { errorTimeMsg(); return false; }
        });
        $('#ScheduleUpdate').on('click', function () {
            $('#ScheduleAdd_Form').attr('action', '/MySchedule/Update');
        });
        $('#ScheduleRemove').on('click', function () {
            $('#ScheduleAdd_Form').attr('action', '/MySchedule/Remove');
        });
    });
</script>
